In [1]:
import numpy as np

In [2]:
arr = np.array([[1,2,3], [4,5,6]])
print(f"Array: \n {arr}")
print(f"length of array: - {len(arr)}")
print(f"dimensions of array: {np.ndim(arr)}")
print(f"shape of a array: {arr.shape}")
print(f"size of an array: {arr.size}")

Array:
 [[1 2 3]
 [4 5 6]]
length of array: - 2
dimensions of array: 2
shape of a array: (2, 3)
size of an array: 6

In [3]:
arr3 = np.array([[[1,2,3,2.5], [4,5,6,8.5]], [[7,8,9,9.5], [10,11,12,4]]])
print(f"Array: \n {arr3}")
# print(f"length of array: - {len(arr3)}")
# print(f"dimensions of array: {np.ndim(arr3)}")
print(f"\nshape of a array: {arr3.shape}")
# print(f"size of an array: {arr3.size}")

Array:
 [[[ 1.   2.   3.   2.5]
  [ 4.   5.   6.   8.5]]

 [[ 7.   8.   9.   9.5]
  [10.  11.  12.   4. ]]]

shape of a array: (2, 2, 4)

In [4]:
arr = np.array([[1,2,3], [4,5,6]])

In [5]:
100

100

In [6]:
[100]   # 1-d

[100]

In [7]:
[[1,2,3],[4,5,6]]  # 2-d     2x3

[[1, 2, 3], [4, 5, 6]]

In [8]:
[[[1,2,3],[4,5,6]], [[1,2,3],[4,5,6]]] # 3-d     (2 x 2 x 3)

[[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]]

In [9]:
arr = np.array([[1,2,3], [4,5,6]])
print(arr[0][0])
print(arr[0][1])
print(arr[0][2])

1
2
3

In [10]:
print(arr[0,0])
print(arr[0,1])
print(arr[0,2])

1
2
3

In [11]:
arr[1]

array([4, 5, 6])

In [12]:
arr3 = np.array([[[1,2,3,12.5], [4,5,6,8.5]], [[7,8,9,9.5], [10,11,12,4]]],int)
print(arr3[0][0][0])
print(arr3[0][0][-1])
print(arr3[1][0][0])
print(arr3[1][1][0])
print(arr3[1][1][-1])

1
12
7
10
4

In [13]:
print(arr3[0,0,0])
print(arr3[0,0,-1])
print(arr3[1,0,0])
print(arr3[1,1,0])
print(arr3[1,1,-1])

1
12
7
10
4

### single to double

In [14]:
ar = np.array(100)
print(f"Array: {ar}")
print(f"Dimension of arry: {ar.ndim}")

Array: 100
Dimension of arry: 0

In [15]:
ar = np.array(100,ndmin=1)
print(f"Array: {ar}")
print(f"Dimension of arry: {ar.ndim}")

Array: [100]
Dimension of arry: 1

In [16]:
ar = np.array(100,ndmin=2)
print(f"Array: {ar}")
print(f"Dimension of arry: {ar.ndim}")

Array: [[100]]
Dimension of arry: 2

In [17]:
ar = np.array(100,ndmin=3)
print(f"Array: {ar}")
print(f"Dimension of arry: {ar.ndim}")

Array: [[[100]]]
Dimension of arry: 3

In [18]:
ar = np.array(100,ndmin=32)
print(f"Array: {ar}")
print(f"Dimension of arry: {ar.ndim}")

Array: [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[100]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]
Dimension of arry: 32

In [19]:
re_ar = np.array([[[1,2,3,12.5], [4,5,6,8.5]], [[7,8,9,9.5], [10,11,12,4]]],int)
print(f"Array: \n {re_ar}")
print(f"length of array: {len(re_ar)}")
print(f"dimensions of array: {np.ndim(re_ar)}")
print(f"shape of a array: {re_ar.shape}")
print(f"size of an array: {re_ar.size}")

Array:
 [[[ 1  2  3 12]
  [ 4  5  6  8]]

 [[ 7  8  9  9]
  [10 11 12  4]]]
length of array: 2
dimensions of array: 3
shape of a array: (2, 2, 4)
size of an array: 16

In [20]:
# 4,4  - (2,2,2)
# 8,2  - (4,2,2), (2,4,2), (2,2,2,2)
#

In [21]:
r_shaped = np.reshape(re_ar,[4,4])
r_shaped

array([[ 1,  2,  3, 12],
       [ 4,  5,  6,  8],
       [ 7,  8,  9,  9],
       [10, 11, 12,  4]])

In [22]:
r_shaped = np.reshape(re_ar,[8,2])
r_shaped

array([[ 1,  2],
       [ 3, 12],
       [ 4,  5],
       [ 6,  8],
       [ 7,  8],
       [ 9,  9],
       [10, 11],
       [12,  4]])

In [23]:
r_shaped = np.reshape(re_ar,[4,2,2])
r_shaped

array([[[ 1,  2],
        [ 3, 12]],

       [[ 4,  5],
        [ 6,  8]],

       [[ 7,  8],
        [ 9,  9]],

       [[10, 11],
        [12,  4]]])

In [24]:
r_shaped = np.reshape(re_ar,[2,2,2,2])
r_shaped

array([[[[ 1,  2],
         [ 3, 12]],

        [[ 4,  5],
         [ 6,  8]]],


       [[[ 7,  8],
         [ 9,  9]],

        [[10, 11],
         [12,  4]]]])

In [25]:
for i in re_ar:
    for j in i:
        for k in j:
            print(k)

1
2
3
12
4
5
6
8
7
8
9
9
10
11
12
4

In [26]:
for i in np.nditer(re_ar):
    print(i)

1
2
3
12
4
5
6
8
7
8
9
9
10
11
12
4

In [27]:
x = np.nditer(re_ar)
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

1
2
3
12
4

In [28]:
re_ar = np.array([[[1,2,3,12.5], [4,5,6,8.5]], [[7,8,9,9.5], [10,11,12,4]]],int)

for i,j in enumerate(re_ar):
    print(i,j)

0 [[ 1  2  3 12]
 [ 4  5  6  8]]
1 [[ 7  8  9  9]
 [10 11 12  4]]

In [29]:
for i, j in np.ndenumerate(re_ar):
    print(i,j)

(0, 0, 0) 1
(0, 0, 1) 2
(0, 0, 2) 3
(0, 0, 3) 12
(0, 1, 0) 4
(0, 1, 1) 5
(0, 1, 2) 6
(0, 1, 3) 8
(1, 0, 0) 7
(1, 0, 1) 8
(1, 0, 2) 9
(1, 0, 3) 9
(1, 1, 0) 10
(1, 1, 1) 11
(1, 1, 2) 12
(1, 1, 3) 4

## zeros

In [30]:
x = np.zeros([3,3],int)
x

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

# ones

In [31]:
y = np.ones([3,3],int)
y

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [32]:
h = np.pad(x,pad_width=1, mode="constant", constant_values = 1)
h

array([[1, 1, 1, 1, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 1, 1, 1, 1]])

In [33]:
import pandas as pd

df = pd.DataFrame(h)
df

   0  1  2  3  4
0  1  1  1  1  1
1  1  0  0  0  1
2  1  0  0  0  1
3  1  0  0  0  1
4  1  1  1  1  1