### pd.cut():-  
cut() methods allows us to bins the values into intervels means it allows us to cut the values into 
categories

In [1]:
import pandas as pd
import numpy as np

In [22]:
arr = np.arange(0,30) + 1

In [23]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

In [31]:
cats = ["Light", "Moderat", "Heavy"]

In [32]:
Weights = pd.cut(arr, bins=3, labels=cats)
Weights

['Light', 'Light', 'Light', 'Light', 'Light', ..., 'Heavy', 'Heavy', 'Heavy', 'Heavy', 'Heavy']
Length: 30
Categories (3, object): ['Light' < 'Moderat' < 'Heavy']

In [36]:
table = pd.DataFrame(Weights)
table

          0
0     Light
1     Light
2     Light
3     Light
4     Light
5     Light
6     Light
7     Light
8     Light
9     Light
10  Moderat
11  Moderat
12  Moderat
13  Moderat
14  Moderat
15  Moderat
16  Moderat
17  Moderat
18  Moderat
19  Moderat
20    Heavy
21    Heavy
22    Heavy
23    Heavy
24    Heavy
25    Heavy
26    Heavy
27    Heavy
28    Heavy
29    Heavy

In [38]:
x = np.arange(1,5)

In [42]:
cats = ["Low", "High"]

y = pd.cut(x,bins=2,labels=cats)
xyz = pd.DataFrame(y)
xyz

      0
0   Low
1   Low
2  High
3  High