## Q1. Convert two lists into a dictionary

In [8]:
new_dict = {}
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dict(map(list(tuple(keys),tuple(values))))

TypeError: list expected at most 1 argument, got 2

In [10]:
dict(map(tuple(keys),tuple(values)))

TypeError: 'tuple' object is not callable

In [25]:
new_dict = {}
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

for i in keys:
    new_dict.update({i:i})
print(new_dict)

for i in values:
    new_dict[i] = i
print(new_dict)

{'Ten': 'Ten', 'Twenty': 'Twenty', 'Thirty': 'Thirty'}
{'Ten': 'Ten', 'Twenty': 'Twenty', 'Thirty': 'Thirty', 10: 10, 20: 20, 30: 30}

In [27]:
dict(zip(keys,values))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Q 2. Merge two Python dictionaries into one

In [32]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [36]:
dict_merge = {}
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [35]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 ={**dict1,**dict2}
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [38]:
(dict1|dict2)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [40]:
(dict1 or dict2)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Q 1. Check if a value exists in a dictionary

In [47]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

In [52]:
num = 100
for key, value in sample_dict.items():
    if num == value:
        print("Value is present in the Dictionary")

Value is present in the Dictionary

In [58]:
num = 100
for value in sample_dict.values():
    if num == value:
        print(f"{value} is present in the Dictionary")

100 is present in the Dictionary

# Q Exercise 3: Print the value of key ‘history’ from the below dict

In [59]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [73]:
sampleDict["class"]["student"]["marks"]["history"]

80

# Q Exercise 4: Initialize dictionary with default values

In Python, we can initialize the keys with the same values.

In [93]:
newd = {}
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

In [100]:
newd = {}
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

# newd.update({"kelly":defaults})
# newd

for i in employees:
    newd.update({i:defaults})
print(newd)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [101]:
new_method = {}
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

red = dict.fromkeys(employees,defaults)
print(red)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}