# Frozenset
- The frozenset() function returns an unchangeable frozenset object (which is like a set object, only unchangeable).
- unorderd data type
- it is immutable data type
- syntax 
   - frozenset(iterable_object_name)

In [9]:
f_s1 = frozenset([1,2,3])

print(f_s1)
type(f_s2)

frozenset({1, 2, 3})

NameError: name 'f_s2' is not defined

In [ ]:
f_s1 = frozenset({1,2,3,4,5,6})

print(f_s1)

In [ ]:
f_s2 = frozenset()
print(f_s2)
type(f_s2)

# is frozenset is unorderd - yes

In [ ]:
f_s1 = frozenset({6,5,8,9,1,2,7,4,5,6,3,4})
print(f_s1)

# frozenset on dictionary

In [ ]:
f_dict1 = {"Name": "yash", "age": 22, "designation": "student", "sex": "male" }

new_f_set = frozenset(f_dict1.values())
print(new_f_set)

### while applying frozenset on dictionary it will take only keys as a arguments

In [ ]:

f_dict1 = {"Name": "yash", "age": 22, "designation": "student", "sex": "male" }

new_f_set = frozenset(f_dict1)
print(new_f_set)

In [ ]:
f_dict1 = {"Name": "yash", "age": 22, "designation": "student", "sex": "male" }

new_f_set = frozenset(f_dict1.items())
print(new_f_set)

In [ ]:
new_f_set = frozenset(f_dict1)

for i, v in f_dict1.items():
    print(i,v)

In [ ]:
frozen_1 = {1,2,3,4,5,6}

res = frozenset(frozen_1)
print(res)
print(type(res))

In [ ]:
# what if we try to pass intiger or float value into the frozenset ?
set1 =[1.2,1, 5, 1.5, 6.5, 8.9]

int_can_work = frozenset(set1)
print(int_can_work)

# can we add element in frozenset

In [ ]:
frozen_ele = frozenset([1,2,3,5])

frozen_ele.add(2)

In [ ]:
frozen_ele = set([1,2,3,5])

frozen_ele.add(6)
print(frozen_ele)

In [ ]:
frozen_ele = frozenset([1,2,3,5])
set2 = {7,8,9}
frozen_ele.update(set2)

In [ ]:
frozen_ele = frozenset([1,2,3,5])
set2 = {7,8,9}
print(f"old frozenset: {frozen_ele}")
new_set = frozen_ele.union(set2)
print(f"new frozen set: {new_set}")

In [ ]:
frozen_ele = frozenset([1,2,3,5, "yash","ab"])
set1 = [1,2,3,"yash", "dhakade", "data", "science", "ab"]
set2 = {1,2,'a','ab','c','d',"yash"}

set3 = frozen_ele.intersection(set1,set2)
print(set3)

In [ ]:
diff_set = frozenset((1,2,3,4,5))

diff_set2 = {6,7,8,9}

diff_set3 = (1,2,3,7,8,9)

difference_set = diff_set.difference(diff_set2, diff_set3)
print(difference_set)

In [ ]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = {10,20,6,7,8,9}

symetric = diff_set.symmetric_difference(diff_set2)
print(symetric)

In [10]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = {10,20,6,7,8,9}

result = diff_set.issubset(diff_set2)
print(result)

False

In [11]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = {6,7,8,9} # this set is a part of diff_set

result = diff_set2.issubset(diff_set)
print(result)

True

In [12]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = {6,7,8,9} # this set is a part of diff_set

result = diff_set2 <= diff_set2
print(result)

True

##### proper subset
- in proper subset the elements should precisely identical, it should be shuffled

In [13]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = {9,8,7,6} # this set is a part of diff_set

result = diff_set2 < diff_set # diff_set2 is a proper subset of diff_set
print(result)

True

In [14]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = {9,8,7,6}

diff_set > diff_set2

True

In [15]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = {9,8,7,6}

diff_set >= diff_set2

True

In [16]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = {6,7,8,9}

check = diff_set.issuperset(diff_set2) # diff_set is big brother of diff_set2
print(check)

True

In [17]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = {6,7,8,9}

check = diff_set2.issuperset(diff_set)
print(check)

False

In [18]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = {6,7,8,9}

diff_set.isdisjoint(diff_set2)

False

In [19]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = {6,7,8,9}

diff_set2.isdisjoint(diff_set)

False

In [20]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = {10,11,12,13}

diff_set2.isdisjoint(diff_set)

True

In [21]:
diff_set = frozenset((1,2,3,4,5,6,7,8,9))

diff_set2 = frozenset({10,11,12,13})

diff_set.isdisjoint(diff_set2)

True

# dictionary

In [22]:
dic = {1:"one", 
       2:"two", 
       2.5:"two point five", 
       (1,2,3):"tuple", 
       frozenset((7,8,9)): "frozenset", 
       "python":"data science"
      }

print(dic)

{1: 'one', 2: 'two', 2.5: 'two point five', (1, 2, 3): 'tuple', frozenset({8, 9, 7}): 'frozenset', 'python': 'data science'}

In [23]:
dic = {1:"one", 
       2:"two", 
       2.5:"two point five", 
       [1,2,3]:"tuple", 
       {7,8,9}: "frozenset", 
       "python":"data science"
      }

print(dic)

TypeError: unhashable type: 'list'

In [ ]:
student_info = {
    "F_Name" : "Yash",
    "L_Name" : "Dhakade",
    "Education": "Data scientist",
    "Gender": "Male",
    "Age": 22,
}

print(student_info)

In [ ]:
#

In [ ]:
student_info["Roll Number"] = 18

In [ ]:
student_info

# Access element from dictionary
- dict_name[key_name]

In [ ]:
student_info["F_Name"]

In [ ]:
student_info["f_name"]

In [ ]:
student_info["Education"]

In [ ]:
student_info["Age"] = 22

In [ ]:
student_info["Age"]

In [ ]:
student_info.get("F_Name")

In [ ]:
student_info.get("F_name")

# how to add elements in dictionary

In [ ]:
student_info

In [ ]:
# updating element
student_info["F_Name"] = "monu"

In [ ]:
student_info

In [ ]:
# adding element
student_info["future"] = "persuing"
student_info["Roll Number"] = 81

In [ ]:
student_info

# Accessing items by using loop

In [ ]:
# by default it will return keys 
for i in student_info:
    print(i)

In [ ]:
for key in student_info.keys():
    print(key)

In [ ]:
for val in student_info.values():
    print(val)

In [ ]:
student_info = {
    "F_Name" : "Yash",
    "L_Name" : "Dhakade",
    "Education": "Data scientist",
    "Gender": "Male",
    "Age": 22,
}

In [ ]:
acces = dict(enumerate(student_info.items()))
acces

In [ ]:
in_list = list(enumerate(student_info.items()))
in_list

# unpacking of tuple

In [ ]:
for i in student_info.items():
    print(i)

In [ ]:
for key, value in student_info.items():
    print(f"keys:- {key}  :::::  values:- {value}")

In [ ]:
for  key, value in enumerate(student_info.items()):
    print(f" at keys:- {key}  :::::  values:- {value}")

In [ ]:
list(student_info.items())

In [ ]:
stud_list = [('F_Name', 'monu'), ('L_Name', 'Dhakade'), ('Education', 'Data scientist'), ('Gender', 'Male'), ('Age', 22), ('Roll Number', 81), ('future', 'persuing')]

In [ ]:
print(stud_list)

In [ ]:
for a, b in stud_list:
    print(f"key -> {a}     item -> {b}")

# Accessing key and values from the dictionary

In [ ]:
student_info.keys()

In [ ]:
student_info.values()

In [ ]:
student_info.items()

Question 1.

In [ ]:
{'a': 97,'b':98,'z' :122}
{'A': 65,'B':66,'Z' :90}

In [ ]:
alphabets = ['a',
'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
alphabets

Q. square of values in Dictionary

In [ ]:
square = {}

for i in range(1,11):
    square[i] = i**2
print(square)

In [ ]:
dic_alpha = {}
for i in alphabets:
    alphabets[i] = chr(i)+1
print(dic_alpha)

In [ ]:
list(map(chr, range(65, 91)))

In [ ]:
chr(97)

In [ ]:
small_alphas = {}
for i in range(97, 123):
    small_alphas.update({chr(i):i})
print(small_alphas)

In [ ]:
dic_alpha = {}
n = 97
for i in alphabets:
    dic_alpha.update({i:n})
    n += 1

print(dic_alpha)

In [ ]:
small_alpha = {}
n = 97
for i in alphabets:
    dic_alpha.update({i:n})
    n += 1

print(dic_alpha)

In [ ]:
chr(122)

In [ ]:
{'A': 65,'B':66,'Z' :90}

In [ ]:
list(map(chr, range(65, 91)))

In [ ]:
capital_alpha = ['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [ ]:
capital_alphas = {}
for i in range(65, 91):
    capital_alphas.update({chr(i):i})
print(capital_alphas)

In [ ]:
dict_cap = {}
n = 65
for i in capital_alpha:
    dict_cap.update({i:n})
    n += 1
print(dict_cap)

## adding a new dictionary to current dictionary

In [ ]:
stud_info = {
    "F_Name": "Yash",
    "L_Name": "Dhakade",
    "Place": "Maharashtra"
}
stud_info

In [ ]:
bio_data = {
    "Height": 5.5,
    "Age": 24,
    "Mobial Number": 1234567891
}
bio_data

In [ ]:
stud_info.update(bio_data)
print(stud_info)

In [ ]:
list1 = [1,2,3,4]
list2 = [4,5,6,7]

dict(zip(list1, list2))

In [ ]:
tup = (1,2,3,4,5,6)
tup2 = ("yash", "data", "science")

dict(zip(tup, tup2))

In [ ]:
tup = (1,2,3,4,5,6)
tup2 = ("yash", "data", "science")

dict(zip(tup2, tup))

### Dictionary comprehension

- new_dict = {new_key: new_value for key, value in dictionary.items()}

In [ ]:
bio_data = {
    "Height": 5.5,
    "Age": 24,
    "Mobial Number": 1234567891
}
new_d = {key.upper(): value**2 for key, value in bio_data.items()}

In [ ]:
print(new_d)

In [ ]:
dict1 = {"one": 1, "two":2, "three":3, "four":4, "five": 5, "six": 6, "seven": 7, "eight": 8, "nine": 9}

squired_dict = {key.upper(): value**2 for (key, value) in dict1.items()}
print(squired_dict)

In [ ]:
even_squired_dict = {key.upper(): value**2 for (key, value) in dict1.items() if value%2 == 0}
print(even_squired_dict)

In [ ]:
odd_squired_dict = { key.upper(): value**2 for (key, value) in dict1.items() if value%2 != 0 }
print(odd_squired_dict)

In [ ]:
list1 = ["yash", "dhakade", "python", "and", "data", "science"]
list2 = [11,22,33,44,55,66]

new_pair = {key: value for key, value in zip(list1, list2)}  # zip(1_iter is key, 2_iter is value)
print(new_pair)

In [ ]:
list1 = ["yash", "dhakade", "python", "and", "data", "science"]
list2 = [11,22,33,44,55,66]

new_pair = {key: value for key, value in zip(list1, list2)}  # zip(1_iter is key, 2_iter is value)
print(new_pair)

In [ ]:
new_pair
for key, val in new_pair.items():
    new_pair[key] = val**2
print(new_pair)

In [ ]:
new_pair
for key, val in new_pair.items():
    if new_pair[key] %2 != 0:
        new_pair[key] = val**2
print(new_pair)

# how update function works in dectionary

In [27]:
new_dict = {
    "one": 1, 
            "two": 2, 
            "three": 3, 
            "four": 4, 
            "five": 5
}
new_dict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [29]:
second_dict= {
    "six": 6, 
            "seven": 7, 
            "eight": 8, 
            "nine": 9
}
print(second_dict)

{'six': 6, 'seven': 7, 'eight': 8, 'nine': 9}

In [31]:
new_form = new_dict | second_dict # | is or operator
print(new_form)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9}

In [35]:
new_dict.update(second_dict)
print(new_dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9}

In [39]:
first_dict = {
    "one": 1, 
            "two": 2, 
            "three": 3, 
            "four": 4, 
            "five": 5
}
print(first_dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [40]:
second_dict= {
    "six": 6, 
            "seven": 7, 
            "eight": 8, 
            "nine": 9
}
print(second_dict)

{'six': 6, 'seven': 7, 'eight': 8, 'nine': 9}

In [41]:
dict(zip(first_dict. second_dict))

AttributeError: 'dict' object has no attribute 'second_dict'

# merge or update the following dictionaries

In [74]:
pair = {}
first_list = [1, 2, 3, 4]   # key
second_list = ["Python", "Data", "Science", "ML"]  # value

In [75]:
NEW = dict(zip(first_list, second_list))
print(NEW)

{1: 'Python', 2: 'Data', 3: 'Science', 4: 'ML'}

In [76]:
list(item for item in second_list)

['Python', 'Data', 'Science', 'ML']