# Data Types

str   - Ordered,   Immutable,     Duplicates are allowed,      ""
list  - Ordered,   Mutable  ,     Duplicates are allowed,      []
tuple - Ordered,   Immutable,     Duplicates are allowed,      ()
set   - Unordered, Mutablle,      Duplicates are not allowed,  set()
dict  - Ordered(python version >= 3.7), Mutable , Duplicate keys are not allowed, {},dict()

# Dictionary

dict1 = {key1 : val1, key2 : val2}
1. It is a collection of key & value pair
2. We can not access items by using an index
3. Duplicates keys are not allowed but values can be duplicate
4. dictionaries are comma separated
5. dict can be defined by {}

Ordered    ===> Python version >= 3.7
Unordered  ===> Python version < 3.7


key        ===> Immutable datatypes (int, float, string, tuple, frozenset)
value      ===> Any datatype (int, float, list, set, dict, string, tuple, frozenset, etc...)

In [1]:
# Defining a dictionary

In [2]:
di1 = {}
type(di1)

dict

In [4]:
di2 = dict()
type(di2)

dict

In [3]:
di1 = {"Key1" : "Val1", "Key2" : "Val2", "Key3" : "Val3", "Key4" : "Val4"}
print(di1)

{'Key1': 'Val1', 'Key2': 'Val2', 'Key3': 'Val3', 'Key4': 'Val4'}

int, float, string, tuple, frozenset ----> Keys

In [5]:
di1 = {1:"One",1.5:"One Point Five"}
print(di1)

{1: 'One', 1.5: 'One Point Five'}

In [6]:
di1 = {1:"One",1.5:"One Point Five","Three":3}
print(di1)

{1: 'One', 1.5: 'One Point Five', 'Three': 3}

In [7]:
di1 = {1:"One",1.5:"One Point Five","Three":3,(1,2,3):"Its a tuple"}
print(di1)

{1: 'One', 1.5: 'One Point Five', 'Three': 3, (1, 2, 3): 'Its a tuple'}

In [8]:
di1 = {
    1:"One",
    1.5:"One Point Five",
    "Three":3,
    (1,2,3):"Its a tuple",
    frozenset({1,2,3}) : "It is a frozen set"
}
print(di1)

{1: 'One', 1.5: 'One Point Five', 'Three': 3, (1, 2, 3): 'Its a tuple', frozenset({1, 2, 3}): 'It is a frozen set'}

In [9]:
di1 = {
    1:"One",
    1.5:"One Point Five",
    "Three":3,
    [1,2,3]:"Its a list",
    frozenset({1,2,3}) : "It is a frozen set"
}
print(di1)

TypeError: unhashable type: 'list'

In [12]:
di1 = {
    1:"One",
    1.5:"One Point Five",
    "Three":3,
#     [1,2,3]:"Its a list",
    frozenset({1,2,3}) : "It is a frozen set",
    {1,2,3} : "It is a set"
}
print(di1)

TypeError: unhashable type: 'set'

In [13]:
di1 = {
    1:"One",
    1.5:"One Point Five",
    "Three":3,
#     [1,2,3]:"Its a list",
    frozenset({1,2,3}) : "It is a frozen set",
#     {1,2,3} : "It is a set",
    {1:10,2:20,3:30} : "It is a dictionary"
}
print(di1)

TypeError: unhashable type: 'dict'

int, float, list, set, dict, string, tuple, frozenset ---> Values

In [14]:
di1 = {1:1,1.5:1.5}
print(di1)

{1: 1, 1.5: 1.5}

In [15]:
di1 = {
    1:1,
    1.5:1.5,
    "List" : [1,2,3,4,5],
}
print(di1)

{1: 1, 1.5: 1.5, 'List': [1, 2, 3, 4, 5]}

In [16]:
di1 = {
    1:1,
    1.5:1.5,
    "List" : [1,2,3,4,5],
    "set" : set([1,2,3])
}
print(di1)

{1: 1, 1.5: 1.5, 'List': [1, 2, 3, 4, 5], 'set': {1, 2, 3}}

In [17]:
di1 = {
    1:1,
    1.5:1.5,
    "List" : [1,2,3,4,5],
    "set" : set([1,2,3]),
    "dict" : {1:1,1.5:1.5}
}
print(di1)

{1: 1, 1.5: 1.5, 'List': [1, 2, 3, 4, 5], 'set': {1, 2, 3}, 'dict': {1: 1, 1.5: 1.5}}

In [18]:
di1 = {
    1:1,
    1.5:1.5,
    "List" : [1,2,3,4,5],
    "set" : set([1,2,3]),
    "dict" : {1:1,1.5:1.5},
    "String":"Python"
}
print(di1)

{1: 1, 1.5: 1.5, 'List': [1, 2, 3, 4, 5], 'set': {1, 2, 3}, 'dict': {1: 1, 1.5: 1.5}, 'String': 'Python'}

In [19]:
di1 = {
    1:1,
    1.5:1.5,
    "List" : [1,2,3,4,5],
    "set" : set([1,2,3]),
    "dict" : {1:1,1.5:1.5},
    "String":"Python",
    "Frozenset":frozenset([1,2,3])
}
print(di1)

{1: 1, 1.5: 1.5, 'List': [1, 2, 3, 4, 5], 'set': {1, 2, 3}, 'dict': {1: 1, 1.5: 1.5}, 'String': 'Python', 'Frozenset': frozenset({1, 2, 3})}

In [20]:
student_info = {
    "F_Name" : "Gaurav",
    "L_Name" : "Sharma",
    "Age"    : 24,
    "Marks"  : 96,
    "Place"  : "Maharashtra",
    
}
student_info

{'F_Name': 'Gaurav',
 'L_Name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Maharashtra'}

In [21]:
student_info = {
    "F_Name" : "Gaurav", # Vanished
    "L_Name" : "Sharma",
    "Age"    : 24,
    "Marks"  : 96,
    "Place"  : "Maharashtra",
    "F_Name" : "Saurav"
    
}
student_info

{'F_Name': 'Saurav',
 'L_Name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Maharashtra'}

# Access Dictionary items
- dict_name[Key_Name]

In [22]:
student_info

{'F_Name': 'Saurav',
 'L_Name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Maharashtra'}

In [23]:
student_info["F_Name"]

'Saurav'

In [24]:
student_info['L_Name']

'Sharma'

In [25]:
student_info['Age']

24

In [26]:
student_info["Marks"]

96

In [27]:
student_info['Place']

'Maharashtra'

In [31]:
student_info["Name"]

KeyError: 'Name'

# 1. get()

In [28]:
student_info

{'F_Name': 'Saurav',
 'L_Name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Maharashtra'}

In [29]:
student_info.get('F_Name')

'Saurav'

In [32]:
student_info.get('L_name') # L_name is not present in a dict 
# No Error

In [33]:
student_info.get("Place")

'Maharashtra'

# Accessing items by using loop

In [34]:
student_info

{'F_Name': 'Saurav',
 'L_Name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Maharashtra'}

In [35]:
student_info.keys()

dict_keys(['F_Name', 'L_Name', 'Age', 'Marks', 'Place'])

In [36]:
student_info.values()

dict_values(['Saurav', 'Sharma', 24, 96, 'Maharashtra'])

In [39]:
type(student_info.values())

dict_values

In [40]:
student_info.items()

dict_items([('F_Name', 'Saurav'), ('L_Name', 'Sharma'), ('Age', 24), ('Marks', 96), ('Place', 'Maharashtra')])

In [41]:
type(student_info.items())

dict_items

In [42]:
list(enumerate("Python"))

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [43]:
stud_list = [('F_Name', 'Saurav'), ('L_Name', 'Sharma'), ('Age', 24), ('Marks', 96), ('Place', 'Maharashtra')]

In [45]:
stud_list

[('F_Name', 'Saurav'),
 ('L_Name', 'Sharma'),
 ('Age', 24),
 ('Marks', 96),
 ('Place', 'Maharashtra')]

In [46]:
for items in stud_list:
    print(items,type(items))

('F_Name', 'Saurav') <class 'tuple'>
('L_Name', 'Sharma') <class 'tuple'>
('Age', 24) <class 'tuple'>
('Marks', 96) <class 'tuple'>
('Place', 'Maharashtra') <class 'tuple'>

In [53]:
a,b = (10,20)
a

10

In [54]:
b

20

In [55]:
for a,b in stud_list:
    print(a,b)

F_Name Saurav
L_Name Sharma
Age 24
Marks 96
Place Maharashtra

In [57]:
for key,val in stud_list:
    print(f"Key ----> {key} ::::::: value -----> {val}")

Key ----> F_Name ::::::: value -----> Saurav
Key ----> L_Name ::::::: value -----> Sharma
Key ----> Age ::::::: value -----> 24
Key ----> Marks ::::::: value -----> 96
Key ----> Place ::::::: value -----> Maharashtra

# Access keys and values from a dict

In [59]:
for key,val in student_info.items():
    print(f"Key ----> {key} ::::::: value -----> {val}")

Key ----> F_Name ::::::: value -----> Saurav
Key ----> L_Name ::::::: value -----> Sharma
Key ----> Age ::::::: value -----> 24
Key ----> Marks ::::::: value -----> 96
Key ----> Place ::::::: value -----> Maharashtra

# Access keys from dictionary

In [63]:
for key in student_info.keys():
    print(f"Key ----> {key}")

Key ----> F_Name
Key ----> L_Name
Key ----> Age
Key ----> Marks
Key ----> Place

In [64]:
for i in student_info:
    print(i)

F_Name
L_Name
Age
Marks
Place

# Access values from dictionary

In [65]:
for val in student_info.values():
    print(f"Val ----> {val}")

Val ----> Saurav
Val ----> Sharma
Val ----> 24
Val ----> 96
Val ----> Maharashtra

# Adding items to a dictionary

In [66]:
student_info

{'F_Name': 'Saurav',
 'L_Name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Maharashtra'}

In [68]:
student_info["Sub_List"] = ["Phy","Chem","Math"]

In [69]:
student_info

{'F_Name': 'Saurav',
 'L_Name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Maharashtra',
 'Sub_List': ['Phy', 'Chem', 'Math']}

In [70]:
student_info['Placement_status'] = "Not placed yet"
student_info["Status"] = "Not Married"
student_info["Siblings"] = "Yes"

In [71]:
student_info

{'F_Name': 'Saurav',
 'L_Name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Maharashtra',
 'Sub_List': ['Phy', 'Chem', 'Math'],
 'Placement_status': 'Not placed yet',
 'Status': 'Not Married',
 'Siblings': 'Yes'}

In [72]:
student_info["F_Name"] = "Gaurav"

In [73]:
student_info

{'F_Name': 'Gaurav',
 'L_Name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Maharashtra',
 'Sub_List': ['Phy', 'Chem', 'Math'],
 'Placement_status': 'Not placed yet',
 'Status': 'Not Married',
 'Siblings': 'Yes'}

In [75]:
def demo(li):
    new_li = [i + 500 for i in li]
    return new_li

li = [1,2,3,4,5]
di = {"Nothing":demo(li)}
di

{'Nothing': [501, 502, 503, 504, 505]}

# update()

In [76]:
student_info = {
    "F_Name" : "Gaurav",
    "L_Name" : "Sharma",
    "Age"    : 24,
    "Marks"  : 96,
    "Place"  : "Maharashtra",
    
}
student_info

{'F_Name': 'Gaurav',
 'L_Name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Maharashtra'}

In [ ]:
student_info['Placement_status'] = Placement_status
student_info["Status"] = "Not Married"
student_info["Siblings"] = "Yes"

In [78]:
new_info = {
    "Placement_status" : "Placement_status",
    "Status" : "Not Married",
    "Siblings" : "Yes",
    "Ready to relocate ?" : "Pune"
}
new_info

{'Placement_status': 'Placement_status',
 'Status': 'Not Married',
 'Siblings': 'Yes',
 'Ready to relocate ?': 'Pune'}

In [79]:
student_info.update(new_info)

In [80]:
student_info

{'F_Name': 'Gaurav',
 'L_Name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Maharashtra',
 'Placement_status': 'Placement_status',
 'Status': 'Not Married',
 'Siblings': 'Yes',
 'Ready to relocate ?': 'Pune'}

In [81]:
di1 = {}
di1.update(new_info)

In [82]:
di1

{'Placement_status': 'Placement_status',
 'Status': 'Not Married',
 'Siblings': 'Yes',
 'Ready to relocate ?': 'Pune'}

In [83]:
di1.update(student_info)
di1

{'Placement_status': 'Placement_status',
 'Status': 'Not Married',
 'Siblings': 'Yes',
 'Ready to relocate ?': 'Pune',
 'F_Name': 'Gaurav',
 'L_Name': 'Sharma',
 'Age': 24,
 'Marks': 96,
 'Place': 'Maharashtra'}

# Square of first 10 numbers

In [84]:
# square  = {1:1,2:4,3:9....10:100}

di[new_key_name] = new_value

In [86]:
square_dict = {}
for i in range(1,11):
    square_dict[i] = i ** 2
    print(square_dict)

{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [87]:
square_dict = {}
for i in range(1,11):
    square_dict.update({i:i**2})
    print(square_dict)

{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# ASCII Value for alphabates

In [ ]:
{'a': 97,'b':98,'z' :122}
{'A': 65,'B':66,'Z' :90}

In [1]:
list(map(chr, range(97, 123)))

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

### Q .1. {'a': 97,'b':98,'z' :122}

In [5]:
small_letters = {}
for i in range(97,123):
    small_letters.update({chr(i) : i})
print(small_letters)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [4]:
chr(97)

'a'

# Q 2. {'A': 65,'B':66,'Z' :90}

In [6]:
capital_letter = {}
for i in range(65,91):
    capital_letter.update({chr(i):i})
print(capital_letter)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}