In [8]:
n = set("python")
print(n)

y = set("python", "and", "data")
print(y)

{'p', 'y', 'h', 't', 'n', 'o'}

TypeError: set expected at most 1 argument, got 3

In [11]:
y = {1,2,3}
y.add("python","data")
print(y)

TypeError: set.add() takes exactly one argument (2 given)

In [14]:
up1 = {1, 2, 3}
# up2 = {4, 5, 6}

up1.update(up2)
print(up1)

{1, 2, 3, 4, 5, 6}

In [15]:
up1.update(up1)
up1

{1, 2, 3, 4, 5, 6}

In [18]:
ran_num = {6,5,4}
ran_num2 = {3, 2, 1}

ran_num2.update(ran_num)

print(ran_num2)

{1, 2, 3, 4, 5, 6}

In [19]:
u = {3, 2, 1}
h = {66,55,44}

h.update(u)

print(h)

{1, 66, 2, 3, 55, 44}

In [20]:
titn = {7,8,9,4,5,6,1,2,3}
titn.update(set("python"))
print(titn)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [1]:
t = {11,12,13,14}
b = {3,2,1}

t.update(b)
print(t)

{1, 2, 3, 11, 12, 13, 14}

In [5]:
r = {11,12,13,14}
d = {3,2,1}

d.update(r)

print(t)

{1, 2, 3, 11, 12, 13, 14}

# union

In [8]:
r = {11,12,13,14}
d = {3,2,1}

g = d.union(r)
print(g)

{1, 2, 3, 11, 12, 13, 14}

In [10]:
lis = ["python","data", "science"]
set_r = {11,12,13,14}
set_d = {3,2,1}

new_set = set_r.union(lis,set_d) 
print(new_set)

{1, 2, 3, 11, 12, 13, 14, 'science', 'data', 'python'}

In [11]:
lis = ["python","data", "science"]
set_r = {11,12,13,14}
set_d = {3,2,1}

new_set = lis.union(set_r,set_d) 
print(new_set)

AttributeError: 'list' object has no attribute 'union'

# Delete

#### 1. remove()

In [17]:
set_items = {"python","data", "science"}
set_items.remove("python")

set_items

{'data', 'science'}

In [18]:
set_items.remove("kaka")
print(set_items)

KeyError: 'kaka'

#### 2. discard()

In [25]:
set_dis = {"python","data", "science"}
print(set_dis)

set_dis.discard("python")
print(set_dis)

{'data', 'science', 'python'}
{'data', 'science'}

In [27]:
set_dis1 = {"python","data", "science"}
print(set_dis1)

set_dis1.discard("kaka")
print(set_dis1)

{'data', 'science', 'python'}
{'data', 'science', 'python'}

#### pop()

In [39]:
pop_item = {"yash", "123", "kaka", "kaku", "aaku"}
print(pop_item)

pop_item.pop()

print(pop_item)

{'aaku', 'yash', '123', 'kaku', 'kaka'}
{'yash', '123', 'kaku', 'kaka'}

In [45]:
pop_i = {1, 2, 3, 4}
print(pop_i)

pop_i.pop()

print(pop_i)

{1, 2, 3, 4}
{2, 3, 4}

In [48]:
pop_1 = {6,5,7,8,9,"yash", "ankush", 3, 4}
print(pop_1)

pop_1.pop()

print(pop_1)

{3, 4, 5, 6, 7, 8, 9, 'yash', 'ankush'}
{4, 5, 6, 7, 8, 9, 'yash', 'ankush'}

#### clear

In [49]:
pop_1 = {6,5,7,8,9,"yash", "ankush", 3, 4}
print(pop_c)
pop_c.clear()
print(pop_c)

{3, 4, 5, 6, 7, 8, 9, 'yash', 'ankush'}
set()

In [51]:
pop_l = [6,5,7,8,9,"yash", "ankush", 3, 4]

print(pop_l)

pop_l.clear()

print(pop_l)

[6, 5, 7, 8, 9, 'yash', 'ankush', 3, 4]
[]

In [52]:
type([])

list

In [53]:
type({})

dict

In [54]:
type(set())

set

## intersection method

In [55]:
intersection_item = {1,2,3}
inter = {1,2,4,5,6}
intersection_item.intersection(inter)

{1, 2}

In [58]:
set1 = {"Python","R"}
set2 = {"R","Java"}
# set4 = ["C","R","C++"]

set1.intersection_update(set2)
print(set1)
type(set1)

{'R'}

set

In [59]:
set1 = {"Python","R"}
set2 = {"R","Java"}
# set4 = ["C","R","C++"]

s = set1.intersection_update(set2)
print(s)
type(s)

None

NoneType

# intersection method
- it returns a common point between two sets

In [3]:
ex_set = {1,2,3,4}
ex_set1 = {2,4,5,6,7,8}

ex_set.intersection(ex_set1)
print(ex_set)

{1, 2, 3, 4}

In [6]:
set1 = {1,2,3,4}
set2 = {2,4,5,6,7,8}

set1.intersection(set1)
print(ex_set)

{1, 2, 3, 4}

In [7]:
new = {"python", "R", "java"}
items = {"R", "C","C++"}

o = new.intersection(items)
print(o)
print(type(o))

{'R'}
<class 'set'>

In [73]:
intersec = {1,2,3,4}
inter2 = {4,5,6,3}
inter3 = {4,7,8,9,3}

new_inter = intersec.intersection(inter2, inter3)
print(new_inter)

{3, 4}

# intersection _update()

In [77]:
intersec = {1,2,3,4}
inter2 = {4,5,6,3}
inter3 = {4,7,8,9,3}

intersec.intersection_update(inter2, inter3)

print(intersec)

{3, 4}

In [87]:
txt_up = {"python", "data", "science", "PC","game"}
villens = ["vulture", "scorpoin", "PC","mr negative", "game"]
heros = ("spiderman", "PC", "game","gween","mj")

txt_up.intersection_update(villens , heros)

print(txt_up)

{'game', 'PC'}

# set1.disference(set2)
- what is the difference between set1 elements with set2

In [62]:
new = {"python", "R", "java"}
items = {"R", "C","C++"}
items2 = {1,2,3,"java","python","R"}
f = new.difference(items,items2)
print(f) ## this returs empty set because the elements are already present in the items set
print(type(f))

set()
<class 'set'>

In [92]:
new = ["python", "R", "java"]
items = {"R", "C","C++"}
items2 = (1,2,3,"java","python","R")
items.difference(new, items2)

{'C', 'C++'}

In [90]:
num = {1,2,3,4,5,6}
num2 = {1,2,3,4,5,6,7,8,9}
neww_set = num.difference(num2)
print(neww_set)

set()

In [89]:
num = {1,2,3,4,5,6}
num2 = (1,2,3,4,5,6,7,8,9)
neww_set = num.difference(num2)
print(neww_set)

set()

In [98]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = ("Pune",'Bangalore','Chennai','Mumbai') # this set2 could be anything
set3 = ["Pune",'Bangalore','Chennai','Mumbai','Delhi','Kolkata','Hyderabad']

new_set = set1.difference(set2, set3)
new_set

set()

In [99]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = ("Pune",'Bangalore','Chennai','Mumbai') # this set2 could be anything
set3 = ["Pune",'Bangalore']

new_set = set1.difference(set2, set3)
new_set

{'Delhi', 'Hyderabad', 'Kolkata'}

# difference_update

In [67]:
# this method is simply going to update the the existing set into new set 

diff_up = {1, 2, 3, 4, "Python", "data", "science"}  # in this list after "python" it will 
diff_set = {1,2,3,4,5,6}
diff_2 = {7,8,9,1,2,3}

diff_2.difference_update(diff_set, diff_up)
print(diff_2)
# print(new_diff_update)

{7, 8, 9}

In [107]:
new_diff = {1,2,3,4,5,6}
new_diff_2 = {7,8,9,1,2,3}

result = new_diff.symmetric_difference(new_diff_2)
print(result)

{4, 5, 6, 7, 8, 9}

# symetric_difference_update()

In [7]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = [1,2,3,4,5]
# z = range(10)

x.symmetric_difference_update(y,z)
print(x)

TypeError: set.symmetric_difference_update() takes exactly one argument (2 given)

In [10]:
x = {"apple", "banana", "cherry"}
y = ("google", "microsoft", "apple")
# z = [1,2,3,4,5]
z = range(10)

x.symmetric_difference_update(z)
print(x)

{0, 'banana', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'apple', 'cherry'}

In [17]:
x = {"apple", "banana", "cherry"}

a = {"banana":"cherry", "two":"banana", "three":3, "apple":1}
# y = {"google", "microsoft", "apple"}
# z = [1,2,3,4,5]
# z = range(10)


x.symmetric_difference_update(a)
print(x)

{'cherry', 'two', 'three'}

# remove()

In [19]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}

lang_set.remove("C++")
print(lang_set)

{'C', 'Python', 'Java', 'R'}

In [21]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}

lang_set.remove("lang_set")
print(lang_set)

KeyError: 'lang_set'

In [22]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}

lang_set.discard("Java")
print(lang_set)

{'C', 'Python', 'C++', 'R'}

In [23]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}

lang_set.discard("rr")
print(lang_set)

{'C', 'Python', 'C++', 'Java', 'R'}

In [26]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}

item = lang_set.pop()
print(f"after remove an item :- {lang_set}")
print(f"removed item: {item}")

after remove an item :- {'Python', 'C++', 'Java', 'R'}
removed item: C

In [27]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}
lang_set.clear()
print(lang_set)

set()

# .issubset()

In [30]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'} # Bag
subset = {'C++', 'Java',} # items from the bag

subset.issubset(lang_set)

True

In [74]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'} # Bag
subset = {'C++', 'Java',} # items from the bag

lang_set != subset # every element in lang_set is in subset

True

In [75]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'} # Bag
subset = {'C++', 'Java',} # items from the bag

subset <=  lang_set # every element in lang_set is in subset

True

In [76]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'} # Bag
subset = {'C++', 'Java',} # items from the bag

subset >=  lang_set # every element in lang_set is in subset

False

In [31]:
lang_set = ('C++', 'Java', 'C', 'Python', 'R') # Bag
subset = {'C++', 'Java',} # items from the bag

subset.issubset(lang_set)

True

In [68]:
lang_set = ['C++', 'Java', 'C', 'Python', 'R'] # Bag
subset = {'C++', 'Java'} # items from the bag

subset.issubset(lang_set)

True

In [37]:
lang_set = range(1,5)
sub_num = {1,2,3}

sub_num.issubset(lang_set)

True

In [67]:
lang_set = {"one":1, 1:"one", "two":2, 2: "two", "three":3, 3:"three"}

sub_num = {1,2,3}

result = sub_num.issubset(lang_set)
print(result)

True

In [43]:
lang_set = {"one":1, "two":2, "three":3, }

sub_num = {1,2,3}

# result = sub_num.issubset(lang_set)
# print(result)
sub_num.issubset(lang_set)

False

In [61]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'} # Bag
subset = {'C++', 'Java',} # elements from a  bag

lang_set <= subset # bag <= element from a bag

False

In [62]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'} # Bag
subset = {'C++', 'Java',} # elements from a  bag

lang_set >= subset # bag >= element from a bag

True

In [65]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'} # Bag
subset = {'C++', 'Java',} # elements from a  bag

lang_set > subset

True

# issuperset()

In [46]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [49]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = y.issuperset(x)
print(z)

False

In [52]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y) 

print(z)

False

In [53]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issubset(y) 

print(z)

False

In [55]:
set1 = {"f", "e", "d", "c", "b"}
set2 = {"a", "b", "c"}
set1 <= set2

False

In [56]:
set1 = {"f", "e", "d", "c", "b"}
set2 = {"a", "b", "c"}
set1 >= set2

False

In [58]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
x >= y

True

In [79]:
s1 = { 34 ,901 , 89 , 'king'}
s2 = { 34 , 'text' , 'Heap' , 89 , 901 ,1000 , 'king'}

s1 >= s2

False

In [83]:
s1 = { 34 ,901 , 89 , 'king'}
s2 = { 34 , 'text' , 'Heap' , 89 , 901 ,1000 , 'king'} 
s1.issuperset(s2)

False

In [84]:
s1 = { 34 ,901 , 89 , 'king'}
s2 = { 34 , 'text' , 'Heap' , 89 , 901 ,1000 , 'king'} 
s2.issuperset(s1)

True

In [85]:
s1 = { 34 ,901 , 89 , 'king'}
s2 = { 34 , 'text' , 'Heap' , 89 , 901 ,1000 , 'king'} 
s2 >= s1

True