In [1]:
import numpy as np
import pandas as pd

In [2]:
row = {"X1": np.array([2,3,5,9,7,8]),
      "X2" : np.array([3,5,4,6,7,1])}

In [3]:
df = pd.DataFrame(row)

In [4]:
df

   X1  X2
0   2   3
1   3   5
2   5   4
3   9   6
4   7   7
5   8   1

In [5]:
def Ecludien(df, features, cen):
    for y in range(len(cen)-1):
        for x,x1 in zip(df[features[y]], df[features[y+1]]):
            e = np.sqrt((x-cen[y])**2 + (x1-cen[y+1])**2)
            ecludien = np.round(e, 2)
            yield ecludien

In [6]:
ar1 = [i for i in Ecludien(df, features=["X1", "X2"], cen=[4,5])]
df["C1 (4,5)"] = ar1

In [7]:
ar2 = [i for i in Ecludien(df, features=["X1", "X2"], cen=[10,1])]
df["C2 (10,1)"] = ar2

In [8]:
df

   X1  X2  C1 (4,5)  C2 (10,1)
0   2   3      2.83       8.25
1   3   5      1.00       8.06
2   5   4      1.41       5.83
3   9   6      5.10       5.10
4   7   7      3.61       6.71
5   8   1      5.66       2.00

In [9]:
df

   X1  X2  C1 (4,5)  C2 (10,1)
0   2   3      2.83       8.25
1   3   5      1.00       8.06
2   5   4      1.41       5.83
3   9   6      5.10       5.10
4   7   7      3.61       6.71
5   8   1      5.66       2.00

In [17]:
def New_centroid(df, features, cens):
    """Features should be 2 \n centroids shoud be 2"""
    c1_up = []; c2_up = []
    for f in range(len(features)):
        for i in range(len(features[f])):
            if df[cens[i]][i] < df[cens[i]][i]:
                avg = (df[features[i]][i])
                c1_up.append(avg)
            else:
                avg = (df[features[i]][i])
                c2_up.append(avg)
        print(c1_up)
        return sum(c1_up), sum(c2_up)

New_centroid(df=df, features=["X1", "X2"], cens=["C1 (4,5)", "C2 (10,1)"])

[]

(0, 7)