mysql            ==     mongodb
database         ==     database
tables           ==     collection
rows / records   ==     document
columns.         ==     keys

## import libraries

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\yashd\anaconda3\envs\myenv\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\yashd\anaconda3\envs\myenv\lib\site-packages (from pymongo) (2.2.1)

In [2]:
import pandas as pd
import pymongo

### step 1 Create a connection

In [3]:
client = pymongo.MongoClient("mongodb://localhost:27017")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### operations in mongodb

1. Create database 
2. create collection
3. insert data
4. read data
5. update data
6. delete data

databases >> database >> collections >> documents >> key: value

### 1. Create database / use database

In [5]:
db = client["Engg_Data"]
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Engg_Data')

### 2. create collection

In [6]:
coll = db["Student"]
coll

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Engg_Data'), 'Student')

In [7]:
db.list_collection_names()

['Student']

### 3. insert a documents

1. insert_one() :- this will insert single document 
2. insert_many() :- this will insert multiple documents

collection_name.insert_one({key:value})

In [8]:
coll.insert_one({"roll_no": 101, "name":"rohit", "cgpa":9, "loc":"pune"})

In [9]:
coll.insert_one({"roll_no":102, "name": "sahil", "cgpa":8, "loc": "bangolore", "contact":{"MobNo": 8055354248, "email": "exaple@gmail.com"}})

In [10]:
coll.insert_one({"roll_no": 103, "name": "Ankush", "cgpa":6, 'loc':"nagpur", "contact":{"MobNo": 8055354248, "email": "exaple@gmail.com"}, 
                "designation": "Engineer"})

In [11]:
coll.insert_many([{"roll_no": 101, "name":"rohit", "cgpa":9, "loc":"pune"}, 
                {"roll_no": 104, "name":"shubham", "cgpa":6, "loc":"mumbai"},
                {"roll_no": 105, "name":"ritik", "cgpa":8, "loc":"jaipur"}])

In [12]:
coll.insert_many([{"roll_no": 106, "name":"saniya", "cgpa":6, "loc":"akola"},
                 {"roll_no": 107, "name":"sanket", "cgpa":5, "loc":"dhule"}])

In [13]:
coll.insert_one({})

In [14]:
coll.insert_many([{}])

### read collection

#### 1. find_one({where condition},{select})

1. find_one() :- it will read single document
2. find() :- it will read multiple documents  

- Syntax:-
    - find_one({where condition},{select})

In [15]:
without filter condition: returns first document of the collection
with filter condition   : return the first matched document

SyntaxError: invalid syntax (1245057550.py, line 1)

In [16]:
coll.find_one({"roll_no":104}, {"_id":0})

{'roll_no': 104,
 'name': 'shubham',
 'cgpa': 6,
 'loc': 'mumbai',
 'contact': {'MobNo': 9764224809, 'Email': 'Example123@gmail.com'}}

In [17]:
coll.find_one({"roll_no":0},{})

In [18]:
coll.find_one({},{"_id":1})

{'_id': ObjectId('63a2ce8a4927281ce1c88381')}

In [19]:
coll.find_one({"_id":0})

In [20]:
coll.find_one({},{"_id":0})

{'roll_no': 55, 'name': 'rohit', 'cgpa': 9, 'loc': 'mumbai'}

In [21]:
coll.find_one({"roll_no":105},{})

{'_id': ObjectId('63a2d0e94927281ce1c88386'),
 'roll_no': 105,
 'name': 'ritik',
 'cgpa': 8,
 'loc': 'jaipur'}

In [22]:
coll.find_one({"name":"sahil"},{"_id":0})

{'roll_no': 102,
 'name': 'sahil',
 'cgpa': 8,
 'loc': 'bangolore',
 'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}}

In [23]:
coll.find_one({"cgpa":8},{"_id":0})

{'roll_no': 102,
 'name': 'sahil',
 'cgpa': 8,
 'loc': 'bangolore',
 'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}}

In [24]:
coll.find_one({"roll_no":105},{"roll_no":0,"_id":0, "loc":0})

{'name': 'ritik', 'cgpa': 8}

#### 2. find({where condition},{select})
- it returns the list of dictionary

find()
2. collection_name.find({where condition},{select})

without filter condition: returns all documents of the collection
with filter condition   : return the all matched documents

In [25]:
data = coll.find({"roll_no":105},{"_id":0})
list(data)

[{'roll_no': 105, 'name': 'ritik', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 105, 'name': 'ritik', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 105, 'name': 'ritik', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 105, 'name': 'ritik', 'cgpa': 8, 'loc': 'jaipur'}]

In [26]:
data = coll.find({"name":"ritik"},{"_id":0})
list(data)

[{'roll_no': 105, 'name': 'ritik', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 105, 'name': 'ritik', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 105, 'name': 'ritik', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 105, 'name': 'ritik', 'cgpa': 8, 'loc': 'jaipur'}]

In [27]:
data = coll.find({"cgpa":9},{"_id":0})
list(data)

[{'roll_no': 55, 'name': 'rohit', 'cgpa': 9, 'loc': 'mumbai'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune'}]

In [28]:
data = coll.find({"cgpa":9},{"_id":0, "loc":0, "roll_no":0})
list(data)

[{'name': 'rohit', 'cgpa': 9},
 {'name': 'rohit', 'cgpa': 9},
 {'name': 'rohit', 'cgpa': 9},
 {'name': 'rohit', 'cgpa': 9},
 {'name': 'rohit', 'cgpa': 9},
 {'name': 'rohit', 'cgpa': 9},
 {'name': 'rohit', 'cgpa': 9}]

In [29]:
data = coll.find({"roll_no":104},{})
tuple(data)

({'_id': ObjectId('63a2d0e94927281ce1c88385'),
  'roll_no': 104,
  'name': 'shubham',
  'cgpa': 6,
  'loc': 'mumbai',
  'contact': {'MobNo': 9764224809, 'Email': 'Example123@gmail.com'}},
 {'_id': ObjectId('63a2d0f04927281ce1c88388'),
  'roll_no': 104,
  'name': 'shubham',
  'cgpa': 6,
  'loc': 'mumbai'},
 {'_id': ObjectId('63a30f2afc09e590771664cc'),
  'roll_no': 104,
  'name': 'shubham',
  'cgpa': 6,
  'loc': 'mumbai'},
 {'_id': ObjectId('63a31007fe4ffbf6160e1589'),
  'roll_no': 104,
  'name': 'shubham',
  'cgpa': 6,
  'loc': 'mumbai'})

In [30]:
data = coll.find({"roll_no":104},{"_id":0})
tuple(data)

({'roll_no': 104,
  'name': 'shubham',
  'cgpa': 6,
  'loc': 'mumbai',
  'contact': {'MobNo': 9764224809, 'Email': 'Example123@gmail.com'}},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'})

### 3. Update collection

1. update_one() :- this will update single document 
2. update_many() :- this will update multiple documents

#### 1. update_one({where condition},{'$set':{'key':value}})
- without condition :- update single document of the collection
- with condition :- update matched single document of the collection

In [31]:
coll.update_one({},{"$set":{"loc":"mumbai"}})

In [32]:
coll.update_one({"roll_no":104},{"$set":{"contact":{"MobNo":9764224809, "Email":"Example123@gmail.com"}}})

In [33]:
coll.update_one({},{"$set":{"roll_no":55}})

In [35]:
coll.update_one({"name":"Ankush"},{"$set":{"loc":"amravati"}})

#### update_many({where condition},{"$set":{"key":value})

In [36]:
coll.update_many({"name":"ritik"},{"$set":{"name":"krrish"}})

In [37]:
coll.update_many({"roll_no":106},{"$set":{"cgpa":7}})

In [38]:
coll.update_many({"roll_no":101},{"$set":{"branch":"comp"}})

### sorting a data

In [40]:
data = coll.find({},{"_id":0}).sort("cgpa")
list(data)

[{},
 {},
 {},
 {},
 {},
 {},
 {'roll_no': 107, 'name': 'sanket', 'cgpa': 5, 'loc': 'dhule'},
 {'roll_no': 107, 'name': 'sanket', 'cgpa': 5, 'loc': 'dhule'},
 {'roll_no': 107, 'name': 'sanket', 'cgpa': 5, 'loc': 'dhule'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'amravati',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 104,
  'name': 'shubham',
  'cgpa': 6,
  'loc': 'mumbai',
  'contact': {'MobNo': 9764224809, 'Email': 'Example123@gmail.com'}},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'nagpur',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'nagpur',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'nagpur',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 106, 'name': 'saniya', 'cgpa': 7, 'loc': 'akola'},
 {'roll_no': 106, 'name': 'saniya', 'cgpa': 7, 'loc': 'akola'},
 {'roll_no': 106, 'name': 'saniya', 'cgpa': 7, 'loc': 'akola'},
 {'roll_no': 102,
  'name': 'sahil',
  'cgpa': 8,
  'loc': 'bangolore',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 102,
  'name': 'sahil',
  'cgpa': 8,
  'loc': 'bangolore',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 102,
  'name': 'sahil',
  'cgpa': 8,
  'loc': 'bangolore',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 55, 'name': 'rohit', 'cgpa': 9, 'loc': 'mumbai'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'}]

In [42]:
data = coll.find({},{"_id":0}).sort("name")
list(data)

[{},
 {},
 {},
 {},
 {},
 {},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'amravati',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'nagpur',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'nagpur',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'nagpur',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 55, 'name': 'rohit', 'cgpa': 9, 'loc': 'mumbai'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 102,
  'name': 'sahil',
  'cgpa': 8,
  'loc': 'bangolore',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}},
 {'roll_no': 102,
  'name': 'sahil',
  'cgpa': 8,
  'loc': 'bangolore',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}},
 {'roll_no': 102,
  'name': 'sahil',
  'cgpa': 8,
  'loc': 'bangolore',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}},
 {'roll_no': 106, 'name': 'saniya', 'cgpa': 7, 'loc': 'akola'},
 {'roll_no': 106, 'name': 'saniya', 'cgpa': 7, 'loc': 'akola'},
 {'roll_no': 106, 'name': 'saniya', 'cgpa': 7, 'loc': 'akola'},
 {'roll_no': 107, 'name': 'sanket', 'cgpa': 5, 'loc': 'dhule'},
 {'roll_no': 107, 'name': 'sanket', 'cgpa': 5, 'loc': 'dhule'},
 {'roll_no': 107, 'name': 'sanket', 'cgpa': 5, 'loc': 'dhule'},
 {'roll_no': 104,
  'name': 'shubham',
  'cgpa': 6,
  'loc': 'mumbai',
  'contact': {'MobNo': 9764224809, 'Email': 'Example123@gmail.com'}},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'}]

#### sort in descending order

In [45]:
data = coll.find({},{"_id":0}).sort("cgpa",-1)
list(data)

[{'roll_no': 55, 'name': 'rohit', 'cgpa': 9, 'loc': 'mumbai'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 102,
  'name': 'sahil',
  'cgpa': 8,
  'loc': 'bangolore',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 102,
  'name': 'sahil',
  'cgpa': 8,
  'loc': 'bangolore',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 102,
  'name': 'sahil',
  'cgpa': 8,
  'loc': 'bangolore',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 106, 'name': 'saniya', 'cgpa': 7, 'loc': 'akola'},
 {'roll_no': 106, 'name': 'saniya', 'cgpa': 7, 'loc': 'akola'},
 {'roll_no': 106, 'name': 'saniya', 'cgpa': 7, 'loc': 'akola'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'amravati',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 104,
  'name': 'shubham',
  'cgpa': 6,
  'loc': 'mumbai',
  'contact': {'MobNo': 9764224809, 'Email': 'Example123@gmail.com'}},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'nagpur',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'nagpur',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'nagpur',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 107, 'name': 'sanket', 'cgpa': 5, 'loc': 'dhule'},
 {'roll_no': 107, 'name': 'sanket', 'cgpa': 5, 'loc': 'dhule'},
 {'roll_no': 107, 'name': 'sanket', 'cgpa': 5, 'loc': 'dhule'},
 {},
 {},
 {},
 {},
 {},
 {}]

In [47]:
data = coll.find({},{"_id":0}).sort("cgpa").skip(2)
list(data)

[{},
 {},
 {},
 {},
 {'roll_no': 107, 'name': 'sanket', 'cgpa': 5, 'loc': 'dhule'},
 {'roll_no': 107, 'name': 'sanket', 'cgpa': 5, 'loc': 'dhule'},
 {'roll_no': 107, 'name': 'sanket', 'cgpa': 5, 'loc': 'dhule'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'amravati',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 104,
  'name': 'shubham',
  'cgpa': 6,
  'loc': 'mumbai',
  'contact': {'MobNo': 9764224809, 'Email': 'Example123@gmail.com'}},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'nagpur',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'nagpur',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 103,
  'name': 'Ankush',
  'cgpa': 6,
  'loc': 'nagpur',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'},
  'designation': 'Engineer'},
 {'roll_no': 104, 'name': 'shubham', 'cgpa': 6, 'loc': 'mumbai'},
 {'roll_no': 106, 'name': 'saniya', 'cgpa': 7, 'loc': 'akola'},
 {'roll_no': 106, 'name': 'saniya', 'cgpa': 7, 'loc': 'akola'},
 {'roll_no': 106, 'name': 'saniya', 'cgpa': 7, 'loc': 'akola'},
 {'roll_no': 102,
  'name': 'sahil',
  'cgpa': 8,
  'loc': 'bangolore',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 102,
  'name': 'sahil',
  'cgpa': 8,
  'loc': 'bangolore',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 102,
  'name': 'sahil',
  'cgpa': 8,
  'loc': 'bangolore',
  'contact': {'MobNo': 8055354248, 'email': 'exaple@gmail.com'}},
 {'roll_no': 105, 'name': 'krrish', 'cgpa': 8, 'loc': 'jaipur'},
 {'roll_no': 55, 'name': 'rohit', 'cgpa': 9, 'loc': 'mumbai'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'},
 {'roll_no': 101, 'name': 'rohit', 'cgpa': 9, 'loc': 'pune', 'branch': 'comp'}]

## deleting data from mongoDB

1. delete_one() :- it will delete the single document from the collection
2. delete_many() :- it will delete the all matched documents from the collection

### 3. delete_one({})

In [50]:
coll.delete_one({})

In [51]:
coll.delete_one({"roll_no":101})

In [52]:
coll.delete_one({"roll_no":105})

### 3.1 delete_many({})

In [53]:
coll.delete_many({"loc":"jaipur"})

In [54]:
coll.delete_many({"cgpa":6})

In [55]:
coll.delete_many({})

## drop  collection

collection_name.drop()

In [57]:
coll.drop()

## drop database

client_name.drop()

In [59]:
client.drop_database("Engg_Data")

## import csv file into mongodb database

In [63]:
data = pd.read_csv("emp.csv")
df = data.to_dict(orient="record")
db = client["test_db"]
db.emp_data.insert_many(df)

C:\Users\yashd\AppData\Local\Temp\ipykernel_5632\2361903296.py:2: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  df = data.to_dict(orient="record")

In [64]:
data = pd.read_csv("Iris.csv")
df = data.to_dict(orient="record")
db_iris = client["test"]
db_iris.irish.insert_many(df)

C:\Users\yashd\AppData\Local\Temp\ipykernel_5632\3021626208.py:2: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  df = data.to_dict(orient="record")

In [66]:
dataa = pd.read_csv("advertising.csv")
df = dataa.to_dict(orient="record")
database = client["advertise"]
database.advertisement.insert_many(df)

C:\Users\yashd\AppData\Local\Temp\ipykernel_5632\220359928.py:2: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  df = dataa.to_dict(orient="record")

### import json file into mongo collection

In [71]:
import json

In [72]:
file = open("iris.json")
data = json.load(file)
db.iris.insert_many(data)

In [73]:
file = open("iris.json")
df = json.load(file)
database.iris.insert_many(df)

In [74]:
f1 = open("iris.json")
df = json.load(f1)
db_iris.iris.insert_many(df)

## export collection into dataframe

In [84]:
data = db.emp_data.find({})
df = list(data)
df = pd.DataFrame(df)
df.head()

                        _id  emp_ID emp_NAME DEPT_NAME  SALARY
0  63a318b9fe4ffbf6160e158f     101    Mohan     Admin    4000
1  63a318b9fe4ffbf6160e1590     102    rahul        HR    3000
2  63a318b9fe4ffbf6160e1591     103    Akbar        IT    4000
3  63a318b9fe4ffbf6160e1592     104   Dorvin   Finance    6500
4  63a318b9fe4ffbf6160e1593     105    Rohit        HR    3000

In [81]:
db.list_collection_names()

['iris', 'emp_data']

In [89]:
data = db.emp_data.find({},{"_id":0})
df = list(data)
df = pd.DataFrame(df)
df.head()

   emp_ID emp_NAME DEPT_NAME  SALARY
0     101    Mohan     Admin    4000
1     102    rahul        HR    3000
2     103    Akbar        IT    4000
3     104   Dorvin   Finance    6500
4     105    Rohit        HR    3000