# Functions
- Functions are an organized block of reusable code
- Functions will gest executed only when it gets called
- def keyword is used to define a function
- Function calling = my_funcname(),my_funcname1(arg1,arg2)
- Function name should follow the identifier rules

f(z) = 3x + 4y # 4,5/1,3/100,200
3*4 + 4*5
3*1 + 4*3
3*100 + 200 * 4

3x + 4y # 4,5/1,3/100,200

# Syntax

def my_functionname(): # Defining a function
    statement-1 |
    statement-1 |
    statement-1 |------------->>> Block of code
        .       |
        .       |
    statement-n |
    
    
my_functionname() # Calling a function

def my_functionname(parameter1,parameter2):-Defining a function with parameter
    statement-1 |
    statement-1 |
    statement-1 |------------->>> Block of code
        .       |
        .       |
    statement-n |
    
    
my_functionname(argument1,argument2) # Calling a function with argument

In [7]:
print("-"*25)
print("We are learning functions") # 4
print("-"*25)
print()
print("-"*25)
print("We are learning functions") # 4
print("-"*25)
print()
print("-"*25)
print("We are learning functions") # 4       Total lines = 20
print("-"*25)
print()
print("-"*25)
print("We are learning functions") # 4
print("-"*25)
print()
print("-"*25)
print("We are learning functions") # 4
print("-"*25)
print()

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

In [10]:
def welcome_noteForfunction(): # Definition
    print("-"*25)
    print("We are learning functions") # 4
    print("-"*25)
    print()
    
welcome_noteForfunction() # Calling
welcome_noteForfunction()
welcome_noteForfunction()
welcome_noteForfunction()
welcome_noteForfunction()

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

In [12]:
li1 = [1,2,3]
print(f"List = {li1}")
summation = 0
for i in li1:
    summation += i
print(f"The summation = {summation}")

li2 = [11,22,33]
print(f"List = {li2}")
summation = 0
for i in li2:
    summation += i
print(f"The summation = {summation}")

li3 = [111,222,333]
print(f"List = {li3}")
summation = 0
for i in li3:
    summation += i
print(f"The summation = {summation}")

List = [1, 2, 3]
The summation = 6
List = [11, 22, 33]
The summation = 66
List = [111, 222, 333]
The summation = 666

In [15]:
def get_sum(list1):
    print(f"List = {list1}")
    summation = 0
    for i in list1:
        summation += i
    print(f"The summation = {summation}")
    
get_sum([1, 2, 3])
get_sum([11, 22, 33])
get_sum([111, 222, 3333])

List = [1, 2, 3]
The summation = 6
List = [11, 22, 33]
The summation = 66
List = [111, 222, 3333]
The summation = 3666

In [21]:
print("Python Function")
for i in range(5):
    print("Functions are great")
print()

print("Python Function")
for i in range(5):
    print("Functions are great")
print()


print("Python Function")
for i in range(5):
    print("Functions are great")
print()

Python Function
Functions are great
Functions are great
Functions are great
Functions are great
Functions are great

Python Function
Functions are great
Functions are great
Functions are great
Functions are great
Functions are great

Python Function
Functions are great
Functions are great
Functions are great
Functions are great
Functions are great

In [23]:
def get_print(n):
    print("Python Function")
    for i in range(n):
        print("Functions are great")
    print()
    
get_print(5)
get_print(7)
get_print(9)

Python Function
Functions are great
Functions are great
Functions are great
Functions are great
Functions are great

Python Function
Functions are great
Functions are great
Functions are great
Functions are great
Functions are great
Functions are great
Functions are great

Python Function
Functions are great
Functions are great
Functions are great
Functions are great
Functions are great
Functions are great
Functions are great
Functions are great
Functions are great

# Avg of 3 numbers

In [27]:
num1 = 10
num2 = 20
num3 = 30
print(f"Num1 = {num1}, Num2 = {num2}, Num3 = {num3}")
avg = (num1+num2+num3)/3
print(f"The Avg of number = {avg}")
print()

num1 = 100
num2 = 200
num3 = 300
print(f"Num1 = {num1}, Num2 = {num2}, Num3 = {num3}")
avg = (num1+num2+num3)/3
print(f"The Avg of number = {avg}")
print()


num1 = 1000
num2 = 2000
num3 = 3000
print(f"Num1 = {num1}, Num2 = {num2}, Num3 = {num3}")
avg = (num1+num2+num3)/3
print(f"The Avg of number = {avg}")
print()

Num1 = 10, Num2 = 20, Num3 = 30
The Avg of number = 20.0

Num1 = 100, Num2 = 200, Num3 = 300
The Avg of number = 200.0

Num1 = 1000, Num2 = 2000, Num3 = 3000
The Avg of number = 2000.0

In [ ]:
print(f"Num1 = {num1}, Num2 = {num2}, Num3 = {num3}")
avg = (num1+num2+num3)/3
print(f"The Avg of number = {avg}")
print()

In [28]:
def get_avg(num1,num2,num3):
    print(f"Num1 = {num1}, Num2 = {num2}, Num3 = {num3}")
    avg = (num1+num2+num3)/3
    print(f"The Avg of number = {avg}")
    print()

In [31]:
get_avg(10,20,30)
get_avg(100,200,300)
get_avg(1000,2000,3000)

Num1 = 10, Num2 = 20, Num3 = 30
The Avg of number = 20.0

Num1 = 100, Num2 = 200, Num3 = 300
The Avg of number = 200.0

Num1 = 1000, Num2 = 2000, Num3 = 3000
The Avg of number = 2000.0

### Number of arguments = Number of parameters

In [32]:
def dummy_func(val1,val2):
    print(f"val1 = {val1} and val2 = {val2}")
    
dummy_func(10,20)

val1 = 10 and val2 = 20

In [33]:
def dummy_func(val1,val2):
    print(f"val1 = {val1} and val2 = {val2}")
    
dummy_func(10)

TypeError: dummy_func() missing 1 required positional argument: 'val2'

In [34]:
def dummy_func(val1,val2):
    print(f"val1 = {val1} and val2 = {val2}")
    
dummy_func(10,20,30)

TypeError: dummy_func() takes 2 positional arguments but 3 were given

In [35]:
def dummy_func():
    print(f"val1 = {val1} and val2 = {val2}")
    
dummy_func(10)

TypeError: dummy_func() takes 0 positional arguments but 1 was given

In [36]:
def dummy_func(val1):
    
    print(f"val1 = {val1} and val2 = {val2}")
    
dummy_func(10)

NameError: name 'val2' is not defined

In [37]:
def dummy_func(val1):
    val2 = 10000000
    print(f"val1 = {val1} and val2 = {val2}")
    
dummy_func(10)

val1 = 10 and val2 = 10000000

In [45]:
li = [5,7,4,65,3,5,7,9,0,6,4,2,5,76,9,45,34,65,876]
print(f"Input List = {li}")
even_li = []
odd_li = []
for i in li:
    if i % 2 == 0:
        even_li.append(i)
    else:
        odd_li.append(i)
        
print(f"Even number list = {even_li}")
print(f"Odd numer list = {odd_li}")
print("-"*85)


li = [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]
print(f"Input List = {li}")
even_li = []
odd_li = []
for i in li:
    if i % 2 == 0:
        even_li.append(i)
    else:
        odd_li.append(i)
        
print(f"Even number list = {even_li}")
print(f"Odd numer list = {odd_li}")
print("-"*85)


li = [4, 0, 6, 4, 2, 76, 34, 876]
print(f"Input List = {li}")
even_li = []
odd_li = []
for i in li:
    if i % 2 == 0:
        even_li.append(i)
    else:
        odd_li.append(i)
        
print(f"Even number list = {even_li}")
print(f"Odd numer list = {odd_li}")

Input List = [5, 7, 4, 65, 3, 5, 7, 9, 0, 6, 4, 2, 5, 76, 9, 45, 34, 65, 876]
Even number list = [4, 0, 6, 4, 2, 76, 34, 876]
Odd numer list = [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]
-------------------------------------------------------------------------------------
Input List = [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]
Even number list = []
Odd numer list = [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]
-------------------------------------------------------------------------------------
Input List = [4, 0, 6, 4, 2, 76, 34, 876]
Even number list = [4, 0, 6, 4, 2, 76, 34, 876]
Odd numer list = []

In [46]:
def get_Even_Odd_li(li):
    print(f"Input List = {li}")
    even_li = []
    odd_li = []
    for i in li:
        if i % 2 == 0:
            even_li.append(i)
        else:
            odd_li.append(i)
            
    print(f"Even number list = {even_li}")
    print(f"Odd numer list = {odd_li}")
    print("-"*85)

            
get_Even_Odd_li([5,7,4,65,3,5,7,9,0,6,4,2,5,76,9,45,34,65,876])
get_Even_Odd_li([5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65])
get_Even_Odd_li([4, 0, 6, 4, 2, 76, 34, 876])
get_Even_Odd_li([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])

Input List = [5, 7, 4, 65, 3, 5, 7, 9, 0, 6, 4, 2, 5, 76, 9, 45, 34, 65, 876]
Even number list = [4, 0, 6, 4, 2, 76, 34, 876]
Odd numer list = [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]
-------------------------------------------------------------------------------------
Input List = [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]
Even number list = []
Odd numer list = [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]
-------------------------------------------------------------------------------------
Input List = [4, 0, 6, 4, 2, 76, 34, 876]
Even number list = [4, 0, 6, 4, 2, 76, 34, 876]
Odd numer list = []
-------------------------------------------------------------------------------------
Input List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Even number list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd numer list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
-------------------------------------------------------------------------------------

In [50]:
def get_Even_Odd_li(li):
    print(f"Input List = {li}")
    even_li = [i for i in li if i % 2 == 0]
    odd_li = [i for i in li if i % 2 != 0]
    print(f"Even number list = {even_li}")
    print(f"Odd numer list = {odd_li}")
    print("-"*85)

            
get_Even_Odd_li([5,7,4,65,3,5,7,9,0,6,4,2,5,76,9,45,34,65,876])
get_Even_Odd_li([5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65])
get_Even_Odd_li([4, 0, 6, 4, 2, 76, 34, 876])
get_Even_Odd_li([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])

Input List = [5, 7, 4, 65, 3, 5, 7, 9, 0, 6, 4, 2, 5, 76, 9, 45, 34, 65, 876]
Even number list = [4, 0, 6, 4, 2, 76, 34, 876]
Odd numer list = [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]
-------------------------------------------------------------------------------------
Input List = [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]
Even number list = []
Odd numer list = [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]
-------------------------------------------------------------------------------------
Input List = [4, 0, 6, 4, 2, 76, 34, 876]
Even number list = [4, 0, 6, 4, 2, 76, 34, 876]
Odd numer list = []
-------------------------------------------------------------------------------------
Input List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Even number list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd numer list = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
-------------------------------------------------------------------------------------

# Return Statement

In [51]:
def learning_return():
    x = 10
    y = 20
    return x + y

learning_return()

30

In [53]:
def learning_return():
    x = 10
    y = 20
    return x + y

learning_return() + 500

530

In [54]:
def learning_return():
    x = 10
    y = 20
    return x + y

res = learning_return()
print(res)

30

In [55]:
def print_res():
    print(f"The result of learning_return funcvtion = {res}")
print_res()

The result of learning_return funcvtion = 30

In [56]:
get_min&max = 0

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2738528365.py, line 1)

In [59]:
def get_min_max(li):
    minimum = min(li)
    maximum = max(li)
    return minimum,maximum

get_min_max([1,2,3,4,5])

(1, 5)

In [60]:
a,b = (1,2)

In [61]:
a

1

In [62]:
b

2

In [63]:
def get_min_max(li):
    minimum = min(li)
    maximum = max(li)
    return minimum,maximum

minimum , maximum = get_min_max([1,2,3,4,5])
print(f"Minimum = {minimum}")
print(f"Maximum = {maximum}")

Minimum = 1
Maximum = 5

In [65]:
def get_min_max(li):
    minimum = min(li)
    maximum = max(li)
    return minimum,maximum

min1 = get_min_max([1,2,3,4,5])
print(f"Minimum = {min1}")

Minimum = (1, 5)