# Oops

In [2]:
class EmpDetails():
    
    def emp_fname(self):
        pass
    
    def emp_lname(self):
        pass
    
    def emp_fullname(self):
        pass
    
    
    def emp_salary(self):
        pass
    
    
    def company_name(self):
        pass
        
    def emp_designation(self):
        pass
    
    
emp1 = EmpDetails()

In [3]:
class EmpDetails():
    
    def emp_fname(self,name):
        print(f"First name = {name}")
    
    def emp_lname(self,lname):
        print(f"Last name = {lname}")
    
    def emp_fullname(self):
        pass
    
    def emp_salary(self,salary):
        print(f"salary = {salary}")
    
    
    def company_name(self,c_name):
        print(f"c_name name = {c_name}")
        
        
    def emp_designation(self,Designation):
        print(f"Designation = {Designation}")

In [4]:
emp1 = EmpDetails()

In [6]:
emp1.emp_fname("Akshata")

First name = Akshata

In [7]:
emp2 = EmpDetails()
emp2.emp_designation("Data Scientist")

Designation = Data Scientist

In [8]:
emp2.emp_salary(1500000)

salary = 1500000

In [25]:
class EmpDetails():
    var = "Python"
    def emp_fname(self,name):
        self.name = name
#         var = "Python"
        print(f"First name = {name}")
    
    def emp_lname(self,lname):
        self.lname = lname
        print(f"Last name = {lname}")
    
    def emp_fullname(self):
        print(f"The Employee Full Name = {self.name} {self.lname}")
    
    def emp_salary(self,salary):
        print(f"salary = {salary}")
    
    
    def company_name(self,c_name):
        print(f"c_name name of {self.name} {self.lname} = {c_name}")
        
        
    def emp_designation(self,Designation):
        print(f"Designation = {Designation}")

In [26]:
emp1 = EmpDetails()
emp1.emp_fname("Yash")
emp1.emp_lname("Dhakde")
emp1.emp_fullname()

First name = Yash
Last name = Dhakde
The Employee Full Name = Yash Dhakde

In [27]:
emp1.company_name("TCS")

c_name name of Yash Dhakde = TCS

In [28]:
emp1.emp_fname("XYZ")

First name = XYZ

In [29]:
emp1.var

'Python'

# __init__ :- It will execute automatically when we create an new object

In [30]:
class Test_init():
    def __init__(self):
        print("Executing __init__ Method")

In [32]:
t1 = Test_init()
t2 = Test_init()
t3 = Test_init()

Executing __init__ Method
Executing __init__ Method
Executing __init__ Method

In [39]:
class Test_init():
    def __init__(self,f_var,s_var):
        print("Executing __init__ Method")
        self.fvar = f_var
        self.svar = s_var
        print(f"Init method fvar = {self.fvar}")
        print(f"Init method svar = {self.svar}")
    def first_method(self,first_val):
        print(f"In the first method and printing the first variable {self.fvar}")
        print(first_val)
    
    def second_method(self):
        print(f"In the second method and printing the second variable {self.svar}")

In [40]:
t1 = Test_init("Python","Data Science")

Executing __init__ Method
Init method fvar = Python
Init method svar = Data Science

In [43]:
t2 = Test_init("DS","NLP")

Executing __init__ Method
Init method fvar = DS
Init method svar = NLP

In [44]:
t2.second_method()

In the second method and printing the second variable NLP

In [45]:
t2.first_method("Deep Learning")

In the first method and printing the first variable DS
Deep Learning

In [46]:
t2.fvar

'DS'

In [47]:
t2.svar

'NLP'

In [67]:
class EmpDetails():
    var = "Python"
    def __init__(self,name,salary,c_name,designation):
        print("Initializing all variables")
        self.name = name
        self.salary = salary
        self.c_name = c_name
        self.designation = designation
        print(self.name)
        print(self.salary)
        print(self.c_name)
        print(self.designation)

    def emp_fname(self):
        print(f"First name = {self.name}")
        print(f"Class Variable = {self.var}")

    def emp_salary(self):
        print(f"salary = {self.salary}")
    
    
    def company_name(self):
        print(f"c_name name of {self.name}  = {self.c_name}")
        
        
    def emp_designation(self):
        print(f"Designation = {self.designation}")

In [68]:
e1 = EmpDetails("Sandeep",1500000,"Wipro","ML Engineer")

Initializing all variables
Sandeep
1500000
Wipro
ML Engineer

In [69]:
e1.emp_fname()

First name = Sandeep
Class Variable = Python

In [70]:
e1.emp_salary()

salary = 1500000

In [71]:
e1.company_name()

c_name name of Sandeep  = Wipro

In [72]:
e1.emp_designation()

Designation = ML Engineer

In [73]:
e2 = EmpDetails("Rahim",1500000,"TCS","Data Analyst")

Initializing all variables
Rahim
1500000
TCS
Data Analyst

In [74]:
e2.emp_designation()

Designation = Data Analyst

In [75]:
e2.emp_salary()

salary = 1500000

In [76]:
e2.emp_fname()

First name = Rahim
Class Variable = Python

In [77]:
class Employee:
    pass

In [78]:
emp1 = Employee()

In [79]:
emp1.fname = "Nitin"
emp1.lname = "Chityal"

In [80]:
emp1.fname

'Nitin'

In [81]:
emp1.lname

'Chityal'

In [82]:
print(emp1.__dict__)

{'fname': 'Nitin', 'lname': 'Chityal'}

In [83]:
print(e1.__dict__)

{'name': 'Sandeep', 'salary': 1500000, 'c_name': 'Wipro', 'designation': 'ML Engineer'}

In [85]:
dir(EmpDetails)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'company_name',
 'emp_designation',
 'emp_fname',
 'emp_salary',
 'var']

In [86]:
dir(Employee)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [87]:
dir(emp1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'fname',
 'lname']

In [88]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [90]:
class Employee:
    def __init__(self,fname,lname):
        self.fname = fname
        self.lname = lname
        self.email = fname.lower() + "." + lname.lower() + "@gmail.com"
        
    def get_fullname(self):
        print(f"Full Name = {self.fname} {self.lname}")
        print(f"Mail id = {self.email}")

In [91]:
emp1 = Employee("Rahim","Shaikh")

In [92]:
emp1.get_fullname()

Full Name = Rahim Shaikh
Mail id = rahim.shaikh@gmail.com

In [93]:
emp2 = Employee("Ankur","Patait")

In [94]:
Employee.get_fullname(emp2)

Full Name = Ankur Patait
Mail id = ankur.patait@gmail.com

In [95]:
Employee.get_fullname(emp1)

Full Name = Rahim Shaikh
Mail id = rahim.shaikh@gmail.com

# Class Variable

In [98]:
class Employee:
    def __init__(self,fname,lname,pay):
        self.fname = fname
        self.lname = lname
        self.pay = pay
        self.email = fname.lower() + "." + lname.lower() + "@gmail.com"
        
    def get_fullname(self):
        print(f"Full Name = {self.fname} {self.lname}")
        print(f"Mail id = {self.email}")
        
    def apply_raise(self):
        self.pay = self.pay * 5

In [99]:
emp1 = Employee("Rahim","Shaikh",1500000)
emp2 = Employee("Ankur","Patait",1500000)

In [100]:
print(emp1.pay)

1500000

In [101]:
emp1.apply_raise()

In [102]:
print(emp1.pay)

7500000

In [104]:
emp2.pay

1500000

In [105]:
emp2.apply_raise()

In [106]:
emp2.pay

7500000

In [107]:
emp2.pay = 7

In [108]:
emp2.apply_raise()

In [109]:
emp2.pay

35

In [115]:
class Employee:
    raise_ammount = 3
    def __init__(self,fname,lname,pay):
        self.fname = fname
        self.lname = lname
        self.pay = pay
        self.email = fname.lower() + "." + lname.lower() + "@gmail.com"
        
    def get_fullname(self):
        print(f"Full Name = {self.fname} {self.lname}")
        print(f"Mail id = {self.email}")
        
    def apply_raise(self):
        self.pay = self.pay * Employee.raise_ammount

In [116]:
emp1 = Employee("Rahim","Shaikh",1500000)
emp2 = Employee("Ankur","Patait",1500000)

In [117]:
print(emp1.pay)
emp1.apply_raise()
print(emp1.pay)

1500000
4500000

In [118]:
Employee.raise_ammount = 5
print(emp2.pay)
emp2.apply_raise()
print(emp2.pay)

1500000
7500000

In [119]:
print(emp1.pay)
emp1.apply_raise()
print(emp1.pay)

4500000
22500000

In [120]:
Employee.raise_ammount

5

In [137]:
class Employee:
    raise_ammount = 3
    def __init__(self,fname,lname,pay):
        self.fname = fname
        self.lname = lname
        self.pay = pay
        self.email = fname.lower() + "." + lname.lower() + "@gmail.com"
        
    def get_fullname(self):
        print(f"Full Name = {self.fname} {self.lname}")
        print(f"Mail id = {self.email}")
        
    def apply_raise(self):
        self.pay = self.pay * self.raise_ammount

In [138]:
emp1 = Employee("Rahim","Shaikh",5)
emp2 = Employee("Ankur","Patait",6)

In [139]:
print(emp1.pay)
emp1.apply_raise()
print(emp1.pay)

5
15

In [140]:
print(emp2.raise_ammount)
print(emp2.pay)
emp2.apply_raise()
print(emp2.pay)

3
6
18

In [141]:
emp2.raise_ammount = 5
print(emp2.raise_ammount)
print(emp2.pay)
emp2.apply_raise()
print(emp2.pay)

5
18
90

In [142]:
print(emp1.pay)
emp1.apply_raise()
print(emp1.pay)

15
45

In [143]:
class Employee:
    raise_ammount = 3
    NoOfEmp = 0
    def __init__(self,fname,lname,pay):
        self.fname = fname
        self.lname = lname
        self.pay = pay
        self.email = fname.lower() + "." + lname.lower() + "@gmail.com"
        Employee.NoOfEmp += 1
        
    def get_fullname(self):
        print(f"Full Name = {self.fname} {self.lname}")
        print(f"Mail id = {self.email}")
        
    def apply_raise(self):
        self.pay = self.pay * self.raise_ammount

In [144]:
emp1 = Employee("Rahim","Shaikh",5)
emp2 = Employee("Ankur","Patait",6)
emp3 = Employee("Rahim","Shaikh",5)
emp4 = Employee("Ankur","Patait",6)
emp5 = Employee("Rahim","Shaikh",5)
emp6 = Employee("Ankur","Patait",6)

In [145]:
Employee.NoOfEmp

6

In [146]:
class Employee:
    raise_ammount = 3
    NoOfEmp = 0
    def __init__(self,fname,lname,pay):
        self.fname = fname
        self.lname = lname
        self.pay = pay
        self.email = fname.lower() + "." + lname.lower() + "@gmail.com"
        self.NoOfEmp += 1
        
    def get_fullname(self):
        print(f"Full Name = {self.fname} {self.lname}")
        print(f"Mail id = {self.email}")
        
    def apply_raise(self):
        self.pay = self.pay * self.raise_ammount
        
emp1 = Employee("Rahim","Shaikh",5)
emp2 = Employee("Ankur","Patait",6)
emp3 = Employee("Rahim","Shaikh",5)
emp4 = Employee("Ankur","Patait",6)
emp5 = Employee("Rahim","Shaikh",5)
emp6 = Employee("Ankur","Patait",6)

In [147]:
Employee.NoOfEmp

0

In [148]:
class A:
    n = 0
    def __init__(self):
        self.n += 1
        
print(A.n)
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
print(A.n)

0
0

In [149]:
class A:
    n = 0
    def __init__(self):
        A.n += 1
        
print(A.n)
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
a1 = A()
print(A.n)

0
10

In [150]:
class Calc():
    def __init__(self,a,b):
        self.a = a
        self.b = b
        
    def addition(self):
        print("Addition ----> ",self.a + self.b)

In [151]:
Operation1 = Calc(10,50)

In [153]:
Operation1.addition()

Addition ---->  60

In [154]:
class List1():
    pass

In [155]:
li = List1()

In [156]:
li