# Numpy

### Dimensions in Array

##### 1. 0-D array

In [1]:
import numpy as np

In [7]:
arr = np.array(1000)
print(f"Array --> {arr}")
print(f"Number of dimensions = {arr.ndim}")

Array --> 1000
Number of dimensions = 0

In [8]:
arr = np.array("Array 1 ")
print(f"Array --> {arr}")
print(f"Number of dimensions = {arr.ndim}")

Array --> Array 1
Number of dimensions = 0

In [9]:
arr = np.array("1",int)
print(f"Array --> {arr}")
print(f"Number of dimensions = {arr.ndim}")

Array --> 1
Number of dimensions = 0

In [11]:
arr = np.array(100.5,int)
print(f"Array --> {arr}")
print(f"Number of dimensions = {arr.ndim}")

Array --> 100
Number of dimensions = 0

##### 2. 1-D array
- It is a collection of 0-dimensional arrays

In [12]:
arr = np.array([100.5,200,300,400,500],int)
print(f"Array --> {arr}")
print(f"Number of dimensions = {arr.ndim}")

Array --> [100 200 300 400 500]
Number of dimensions = 1

In [13]:
arr = np.array([100],int)
print(f"Array --> {arr}")
print(f"Number of dimensions = {arr.ndim}")

Array --> [100]
Number of dimensions = 1

In [14]:
arr = np.array(100,int)
print(f"Array --> {arr}")
print(f"Number of dimensions = {arr.ndim}")

Array --> 100
Number of dimensions = 0

##### 3. 2-D array
- It is a collection of 1-dimensional arrays

In [19]:
arr = np.array([[100.5,200,300,400,500],[100.5,200,300,400,500],[100.5,200,300,400,500]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[100 200 300 400 500]
 [100 200 300 400 500]
 [100 200 300 400 500]]
Number of dimensions = 2
Length --> 3
Shape of an array --> (3, 5)

In [20]:
arr = np.array([[100.5,200,300],[100.5,200,300],[100.5,200,300]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[100 200 300]
 [100 200 300]
 [100 200 300]]
Number of dimensions = 2
Length --> 3
Shape of an array --> (3, 3)

In [21]:
arr = np.array([[100.5,200,300],[100.5,200,300],[100.5,200,300,400]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (3,) + inhomogeneous part.

In [22]:
arr = np.array([[200,300,1,2,3],[200,300,4,5,6]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[200 300   1   2   3]
 [200 300   4   5   6]]
Number of dimensions = 2
Length --> 2
Shape of an array --> (2, 5)

In [23]:
arr = np.array([[200,300,1,2,3]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[200 300   1   2   3]]
Number of dimensions = 2
Length --> 1
Shape of an array --> (1, 5)

##### 2. 3-D array
- It is a collection of 2-dimensional arrays

In [24]:
# [[200,300,1,2,3],[200,300,4,5,6]]
arr = np.array([[[200,300,1,2,3],[200,300,4,5,6]],[[200,300,1,2,3],[200,300,4,5,6]]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[[200 300   1   2   3]
  [200 300   4   5   6]]

 [[200 300   1   2   3]
  [200 300   4   5   6]]]
Number of dimensions = 3
Length --> 2
Shape of an array --> (2, 2, 5)

In [26]:
arr = np.array([[[200,300,1,2,3],[200,300,4,5,6]],[[200,300,1,2,3],[200,300,4,5,6]],[[200,300,1,2,3],[200,300,4,5,6]]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[[200 300   1   2   3]
  [200 300   4   5   6]]

 [[200 300   1   2   3]
  [200 300   4   5   6]]

 [[200 300   1   2   3]
  [200 300   4   5   6]]]
Number of dimensions = 3
Length --> 3
Shape of an array --> (3, 2, 5)

In [27]:
arr = np.array([[[200,300],[200,300]],[[200,300],[200,300]]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[[200 300]
  [200 300]]

 [[200 300]
  [200 300]]]
Number of dimensions = 3
Length --> 2
Shape of an array --> (2, 2, 2)

In [28]:
arr = np.array([[[200]],[[200]]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[[200]]

 [[200]]]
Number of dimensions = 3
Length --> 2
Shape of an array --> (2, 1, 1)

In [29]:
arr = np.array([[[1]]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[[1]]]
Number of dimensions = 3
Length --> 1
Shape of an array --> (1, 1, 1)

In [30]:
arr = np.array([[[1]],[[1]],[[1]],[[1]],[[1]]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[[1]]

 [[1]]

 [[1]]

 [[1]]

 [[1]]]
Number of dimensions = 3
Length --> 5
Shape of an array --> (5, 1, 1)

In [31]:
arr = np.array([[[1,2]],[[1,2]],[[1,2]],[[1,2]],[[1,2]]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[[1 2]]

 [[1 2]]

 [[1 2]]

 [[1 2]]

 [[1 2]]]
Number of dimensions = 3
Length --> 5
Shape of an array --> (5, 1, 2)

# Indexing and Slicing

In [32]:
li = [1,2,3,4,5]

In [33]:
li[1]

2

In [34]:
li[-2]

4

In [35]:
li[2:4]

[3, 4]

In [36]:
arr = np.array([100,200,300,400,500,600,700,800,900,10000])
arr

array([  100,   200,   300,   400,   500,   600,   700,   800,   900,
       10000])

In [37]:
arr[0]

100

In [38]:
arr[1]

200

In [39]:
arr[-1]

10000

In [40]:
arr[-2]

900

In [42]:
arr[11]

IndexError: index 11 is out of bounds for axis 0 with size 10

In [41]:
arr[0:5]

array([100, 200, 300, 400, 500])

In [43]:
arr[5:]

array([  600,   700,   800,   900, 10000])

In [44]:
arr[:8]

array([100, 200, 300, 400, 500, 600, 700, 800])

In [45]:
arr[::-1]

array([10000,   900,   800,   700,   600,   500,   400,   300,   200,
         100])

In [47]:
arr

array([  100,   200,   300,   400,   500,   600,   700,   800,   900,
       10000])

In [46]:
arr[-5:-2]

array([600, 700, 800])

In [48]:
arr[-2:-5]

array([], dtype=int32)

In [49]:
arr[-2:-5:-1]

array([900, 800, 700])

In [50]:
[[1,2],[3,4]][0]

[1, 2]

In [51]:
[[1,2],[3,4]][0][-1]

2

In [53]:
arr = np.array([[1,2,3,4,5],[10,20,30,40,50],[100,200,300,400,500]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[  1   2   3   4   5]
 [ 10  20  30  40  50]
 [100 200 300 400 500]]
Number of dimensions = 2
Length --> 3
Shape of an array --> (3, 5)

In [54]:
arr[0]

array([1, 2, 3, 4, 5])

In [55]:
arr[0][-2:]

array([4, 5])

In [57]:
arr[1][1:4]

array([20, 30, 40])

In [58]:
arr

array([[  1,   2,   3,   4,   5],
       [ 10,  20,  30,  40,  50],
       [100, 200, 300, 400, 500]])

In [59]:
arr[0:2,0:2]

array([[ 1,  2],
       [10, 20]])

In [60]:
arr[1:,3:]

array([[ 40,  50],
       [400, 500]])

In [62]:
arr[1,1:4]

array([20, 30, 40])

In [64]:
arr = np.array([[[1,2,3,4,5],[10,20,30,40,50],[100,200,300,400,500]],[[11,22,33,44,55],[110,220,330,440,550],[1100,2200,3300,4400,5500]]],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[[   1    2    3    4    5]
  [  10   20   30   40   50]
  [ 100  200  300  400  500]]

 [[  11   22   33   44   55]
  [ 110  220  330  440  550]
  [1100 2200 3300 4400 5500]]]
Number of dimensions = 3
Length --> 2
Shape of an array --> (2, 3, 5)

In [65]:
arr[0]

array([[  1,   2,   3,   4,   5],
       [ 10,  20,  30,  40,  50],
       [100, 200, 300, 400, 500]])

In [66]:
arr[1]

array([[  11,   22,   33,   44,   55],
       [ 110,  220,  330,  440,  550],
       [1100, 2200, 3300, 4400, 5500]])

In [67]:
arr[0,0,0]

1

In [68]:
arr[0,0,-1]

5

In [69]:
arr[1,0,-1]

55

In [72]:
arr[0,-1,-1]

500

In [73]:
arr[0,:,2:4]

array([[  3,   4],
       [ 30,  40],
       [300, 400]])

In [74]:
arr

array([[[   1,    2,    3,    4,    5],
        [  10,   20,   30,   40,   50],
        [ 100,  200,  300,  400,  500]],

       [[  11,   22,   33,   44,   55],
        [ 110,  220,  330,  440,  550],
        [1100, 2200, 3300, 4400, 5500]]])

In [76]:
arr[1,1:,2]

array([ 330, 3300])

In [78]:
arr[1,1:,2:4]

array([[ 330,  440],
       [3300, 4400]])

In [79]:
arr[:,1:,2:4]

array([[[  30,   40],
        [ 300,  400]],

       [[ 330,  440],
        [3300, 4400]]])

In [80]:
arr[:,:,:]

array([[[   1,    2,    3,    4,    5],
        [  10,   20,   30,   40,   50],
        [ 100,  200,  300,  400,  500]],

       [[  11,   22,   33,   44,   55],
        [ 110,  220,  330,  440,  550],
        [1100, 2200, 3300, 4400, 5500]]])

In [81]:
arr[:,:,2]

array([[   3,   30,  300],
       [  33,  330, 3300]])

In [82]:
arr[:,:,-1]

array([[   5,   50,  500],
       [  55,  550, 5500]])

In [83]:
arr[:,:,1:3]

array([[[   2,    3],
        [  20,   30],
        [ 200,  300]],

       [[  22,   33],
        [ 220,  330],
        [2200, 3300]]])

# Convert to n-D array

In [84]:
arr = np.array([1,2,3,4,5],int)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[1 2 3 4 5]
Number of dimensions = 1
Length --> 5
Shape of an array --> (5,)

In [85]:
arr = np.array([1,2,3,4,5],ndmin=1)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[1 2 3 4 5]
Number of dimensions = 1
Length --> 5
Shape of an array --> (5,)

In [86]:
arr = np.array([1,2,3,4,5],ndmin=2)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[1 2 3 4 5]]
Number of dimensions = 2
Length --> 1
Shape of an array --> (1, 5)

In [87]:
arr = np.array([1,2,3,4,5],ndmin=3)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[[1 2 3 4 5]]]
Number of dimensions = 3
Length --> 1
Shape of an array --> (1, 1, 5)

In [88]:
arr = np.array([1,2,3,4,5],ndmin=0)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[1 2 3 4 5]
Number of dimensions = 1
Length --> 5
Shape of an array --> (5,)

In [89]:
arr = np.array([1,2,3,4,5])
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[1 2 3 4 5]
Number of dimensions = 1
Length --> 5
Shape of an array --> (5,)

In [90]:
arr = np.array([[1,2,3],[4,5,6]])
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[1 2 3]
 [4 5 6]]
Number of dimensions = 2
Length --> 2
Shape of an array --> (2, 3)

In [92]:
arr = np.array([[1,2,3],[4,5,6]],ndmin=1)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[1 2 3]
 [4 5 6]]
Number of dimensions = 2
Length --> 2
Shape of an array --> (2, 3)

In [93]:
arr = np.array([[1,2,3],[4,5,6]],ndmin=3)
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[[1 2 3]
  [4 5 6]]]
Number of dimensions = 3
Length --> 1
Shape of an array --> (1, 2, 3)

In [94]:
arr = np.array([1,2,3,4,5,6,7,8,9,10])
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [95]:
arr = np.array([1,2,3,4,5,6,7,8,9,10],ndmin=2)
arr

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]])

In [96]:
arr = np.array([1,2,3,4,5,6,7,8,9,10],ndmin=3)
arr

array([[[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]]])

In [97]:
arr = np.array([1,2,3,4,5,6,7,8,9,10],ndmin=4)
arr

array([[[[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]]]])

# reshape()

In [99]:
arr = np.array([1,2,3,4,5,6])
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[1 2 3 4 5 6]
Number of dimensions = 1
Length --> 6
Shape of an array --> (6,)

In [100]:
arr.reshape(2,3)

array([[1, 2, 3],
       [4, 5, 6]])

In [101]:
arr.reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [102]:
arr

array([1, 2, 3, 4, 5, 6])

In [103]:
arr.reshape(6,1)

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6]])

In [105]:
arr = np.array([[1,2,3],[4,5,1],[2,3,4],[5,1,2]])
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[[1 2 3]
 [4 5 1]
 [2 3 4]
 [5 1 2]]
Number of dimensions = 2
Length --> 4
Shape of an array --> (4, 3)

In [106]:
arr.reshape(6,2)

array([[1, 2],
       [3, 4],
       [5, 1],
       [2, 3],
       [4, 5],
       [1, 2]])

In [107]:
arr.reshape(3,4)

array([[1, 2, 3, 4],
       [5, 1, 2, 3],
       [4, 5, 1, 2]])

In [108]:
arr.reshape(4,3)

array([[1, 2, 3],
       [4, 5, 1],
       [2, 3, 4],
       [5, 1, 2]])

In [109]:
arr.reshape(12,1)

array([[1],
       [2],
       [3],
       [4],
       [5],
       [1],
       [2],
       [3],
       [4],
       [5],
       [1],
       [2]])

In [110]:
arr.reshape(1,12)

array([[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2]])

In [111]:
arr.reshape(2,6)

array([[1, 2, 3, 4, 5, 1],
       [2, 3, 4, 5, 1, 2]])

In [112]:
arr.reshape(3,6)

ValueError: cannot reshape array of size 12 into shape (3,6)

# 1-D to 3-D Conversion

In [114]:
arr = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[ 1  2  3  4  5  6  7  8  9 10 11 12]
Number of dimensions = 1
Length --> 12
Shape of an array --> (12,)

In [116]:
arr.reshape(2,2,3)

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

2,2,3
2,3,2
4,3,1
3,4,1
1,2,6

In [118]:
arr.reshape(1,2,6)

array([[[ 1,  2,  3,  4,  5,  6],
        [ 7,  8,  9, 10, 11, 12]]])

In [119]:
arr.reshape(1,6,2)

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6],
        [ 7,  8],
        [ 9, 10],
        [11, 12]]])

In [120]:
arr.reshape(1,12,1)

array([[[ 1],
        [ 2],
        [ 3],
        [ 4],
        [ 5],
        [ 6],
        [ 7],
        [ 8],
        [ 9],
        [10],
        [11],
        [12]]])

# Accessing elements by for loop

In [121]:
arr = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
print(f"Array --> \n{arr}")
print(f"Number of dimensions = {arr.ndim}")
print(f"Length --> {len(arr)}")
print(f"Shape of an array --> {arr.shape}")

Array -->
[ 1  2  3  4  5  6  7  8  9 10 11 12]
Number of dimensions = 1
Length --> 12
Shape of an array --> (12,)

In [122]:
for i in arr:
    print(f"Array element --> {i}")

Array element --> 1
Array element --> 2
Array element --> 3
Array element --> 4
Array element --> 5
Array element --> 6
Array element --> 7
Array element --> 8
Array element --> 9
Array element --> 10
Array element --> 11
Array element --> 12

In [126]:
li = [[1,2,3,4,5,6],[7,8,9,10,11,12]]
for i in li:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9
10
11
12

In [125]:
li = [[[1,2,3,4,5,6],[7,8,9,10,11,12]],[[1,2,3,4,5,6],[7,8,9,10,11,12]]]
for i in li:
    for j in i:
        print(j)

[1, 2, 3, 4, 5, 6]
[7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6]
[7, 8, 9, 10, 11, 12]

In [127]:
li = [[[1,2,3,4,5,6],[7,8,9,10,11,12]],[[1,2,3,4,5,6],[7,8,9,10,11,12]]]
for i in li:
    for j in i:
        for k in j:
            print(k)

1
2
3
4
5
6
7
8
9
10
11
12
1
2
3
4
5
6
7
8
9
10
11
12

# np.nditer()

In [128]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [129]:
for i in np.nditer(arr):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [130]:
arr = np.array([[[1,2,3,4,5,6],[7,8,9,10,11,12]],[[1,2,3,4,5,6],[7,8,9,10,11,12]]])
for i in np.nditer(arr):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
1
2
3
4
5
6
7
8
9
10
11
12

In [131]:
a = np.nditer(arr)
a

In [132]:
next(a)

array(1)

In [133]:
next(a)

array(2)

In [134]:
next(a)

array(3)

In [135]:
next(a)

array(4)

In [136]:
next(a)

array(5)

In [137]:
next(a)

array(6)

In [138]:
next(a)

array(7)

In [139]:
next(a)

array(8)

In [140]:
next(a)

array(9)

In [141]:
next(a)

array(10)

In [142]:
next(a)

array(11)

In [143]:
next(a)

array(12)

In [144]:
next(a)

array(1)

In [145]:
next(a)

array(2)

In [146]:
next(a)

array(3)

In [147]:
next(a)

array(4)

In [148]:
next(a)

array(5)

In [149]:
next(a)

array(6)

In [150]:
next(a)

array(7)

In [151]:
next(a)

array(8)

In [152]:
next(a)

array(9)

In [153]:
next(a)

array(10)

In [154]:
next(a)

array(11)

In [155]:
next(a)

array(12)

In [156]:
next(a)

StopIteration:

# np.ndenumerate()

In [157]:
for i,j in enumerate([1,2,3]):
    print(i,j)

0 1
1 2
2 3

In [158]:
arr

array([[[ 1,  2,  3,  4,  5,  6],
        [ 7,  8,  9, 10, 11, 12]],

       [[ 1,  2,  3,  4,  5,  6],
        [ 7,  8,  9, 10, 11, 12]]])

In [159]:
for i,j in enumerate(arr):
    print(i,j)

0 [[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]
1 [[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

In [161]:
arr

array([[[ 1,  2,  3,  4,  5,  6],
        [ 7,  8,  9, 10, 11, 12]],

       [[ 1,  2,  3,  4,  5,  6],
        [ 7,  8,  9, 10, 11, 12]]])

In [160]:
for i,j in np.ndenumerate(arr):
    print(i,j)

(0, 0, 0) 1
(0, 0, 1) 2
(0, 0, 2) 3
(0, 0, 3) 4
(0, 0, 4) 5
(0, 0, 5) 6
(0, 1, 0) 7
(0, 1, 1) 8
(0, 1, 2) 9
(0, 1, 3) 10
(0, 1, 4) 11
(0, 1, 5) 12
(1, 0, 0) 1
(1, 0, 1) 2
(1, 0, 2) 3
(1, 0, 3) 4
(1, 0, 4) 5
(1, 0, 5) 6
(1, 1, 0) 7
(1, 1, 1) 8
(1, 1, 2) 9
(1, 1, 3) 10
(1, 1, 4) 11
(1, 1, 5) 12

# 4. zeros()
- np.zeros(shape,dtype=float)
- Return an array of zeros only
- Weight Initialization
- Target column creation

In [162]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [163]:
np.zeros(10,dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [164]:
arr = np.zeros(10,dtype=int)
arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [165]:
arr = np.zeros(100,dtype=int)
arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [166]:
import pandas as pd

In [167]:
df = pd.DataFrame(
    {
        "Zeros_Column" : np.zeros(10,int)
    }
)
df

   Zeros_Column
0             0
1             0
2             0
3             0
4             0
5             0
6             0
7             0
8             0
9             0

In [168]:
arr = np.zeros((3,5),dtype=int)
arr

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [169]:
df = pd.DataFrame(arr)
df

   0  1  2  3  4
0  0  0  0  0  0
1  0  0  0  0  0
2  0  0  0  0  0

# 5. ones()
- np.ones(shape,dtype=float)
- return an array of ones only

In [170]:
arr = np.ones(10,dtype=float)
arr

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [171]:
arr = np.ones(10,dtype=int)
arr

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [172]:
df = pd.DataFrame(
    {
        "Zeros_Column" : np.zeros(10,int),
        "Ones_Column"  : np.ones(10,int)
    }
)
df

   Zeros_Column  Ones_Column
0             0            1
1             0            1
2             0            1
3             0            1
4             0            1
5             0            1
6             0            1
7             0            1
8             0            1
9             0            1

In [173]:
arr = np.zeros((3,5),dtype=int)
pd.DataFrame(arr)

   0  1  2  3  4
0  0  0  0  0  0
1  0  0  0  0  0
2  0  0  0  0  0