In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Lending_Training_Data.csv')
df

,APPLICATION.ID,DSA.ID,DEALER.ID,APP.DATE,TIME.STAMP,APPLICATION.STATUS,QUEUE.ID,CURRENT.STAGE,MARITAL.STATUS,GENDER,...,CREDIT.CARD.NUMBER,CREDIT.CARDS.CATEGORY,PRIMARY.ASSET.CTG,PRIMARY.ASSET.MAKE,PRIMARY.ASSET.MODELNO,VOTER_ID,DRIVING_LICENSE,AADHAAR,PAN,BANK_PASSBOOK
0,27497000024,JB02005,27497,2017-02-28,22:11:01,Declined,Straight Through Process,PD_DE,Single,Male,...,NaN,NaN,REF-FF HOME,SAMSUNG,RT30K3723S8/HL,F,F,T,F,F
1,25556001005,RD02622,25556,2017-02-28,22:05:51,Approved,Straight Through Process,PD_DE,Married,Male,...,NaN,NaN,TELEVISION,SONY,KLV-29P423D,F,T,F,F,F
2,27220000249,SK02345,27220,2017-02-28,21:58:34,Approved,Straight Through Process,PD_DE,Married,Male,...,NaN,NaN,AIR CONDITIONER,ELECTROLUX,AIR CONDITIONER VANILLA,F,T,F,F,F
3,27067000029,DN30900,27067,2017-02-28,21:52:46,Declined,Under.Writer,DCLN,Married,Male,...,NaN,NaN,HOME THEATRE,TARGET,K1110 FM,F,F,T,F,F
4,26189000138,JB02005,26189,2017-02-28,21:52:33,Approved,Straight Through Process,APRV,Married,Male,...,NaN,NaN,SPLIT AC,ELECTROLUX,ES18T5C,F,F,F,T,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7754,25150001203,RP05168,25150,2017-02-22,10:43:08,Approved,Straight Through Process,APRV,Married,Male,...,NaN,NaN,PANEL - LED,SAMSUNG,UA32K5300ARLXL,F,F,F,T,F
7755,27199000069,RS24113,27199,2017-02-22,10:41:45,Declined,Straight Through Process,PD_DE,Married,Male,...,NaN,NaN,SAWM,LG,P8072R3F,F,F,T,T,F
7756,26805000032,SB44646,26805,2017-02-22,10:34:56,Declined,Under.Writer,DCLN,Single,Male,...,NaN,NaN,TELEVISION,SONY,KLV-32R302D,T,F,T,F,F
7757,28188000004,JD25733,28188,2017-02-22,10:24:20,Approved,Straight Through Process,LOS_DISB,Married,Male,...,NaN,NaN,AIR CONDITIONER,WHIRLPOOL,1.5T MAGICOOL PRM COPR 2S -WHITE-S,F,F,T,F,F
7758,27059000043,PJ58585,27059,2017-02-22,09:50:43,Approved,Straight Through Process,INV_GNR,Married,Male,...,NaN,NaN,PANEL - SMARTLED,LG,43LH576T,F,F,T,F,F

In [3]:
# df.info()

In [4]:
# df.isna().sum()

In [5]:
df['APPLICATION.STATUS'].value_counts()

Approved    4437
Declined    3322
Name: APPLICATION.STATUS, dtype: int64

In [6]:
4437 - 3322

1115

In [7]:
4437 / (4437 + 3322)

0.5718520427890192

In [8]:
3322 / (4437 + 3322)

0.4281479572109808

In [9]:
0.5718520427890192 + 0.4281479572109808

1.0

In [10]:
df['APPLICATION.STATUS'].replace({'Approved':1,'Declined':0}, inplace = True)

In [11]:
x = df[['APPLICATION.ID','DEALER.ID']]
y = df['APPLICATION.STATUS']

In [12]:
x

      APPLICATION.ID  DEALER.ID
0        27497000024      27497
1        25556001005      25556
2        27220000249      27220
3        27067000029      27067
4        26189000138      26189
...              ...        ...
7754     25150001203      25150
7755     27199000069      27199
7756     26805000032      26805
7757     28188000004      28188
7758     27059000043      27059

[7759 rows x 2 columns]

In [13]:
y

0       0
1       1
2       1
3       0
4       1
       ..
7754    1
7755    0
7756    0
7757    1
7758    1
Name: APPLICATION.STATUS, Length: 7759, dtype: int64

In [14]:
from imblearn.over_sampling import SMOTE

SMOTE >> Synthetic Minority Oversampling Technique

In [15]:
sme = SMOTE()
X,Y = sme.fit_resample(x,y)

In [16]:
y.value_counts()

1    4437
0    3322
Name: APPLICATION.STATUS, dtype: int64

In [17]:
df.shape

(7759, 46)

In [18]:
4437 + 4437

8874

In [19]:
8874 - 7759

1115

In [28]:
smt = SMOTE(0.8, random_state=1)
X,Y = smt.fit_resample(x,y)

C:\Users\hp\anaconda3\lib\site-packages\imblearn\utils\_validation.py:586: FutureWarning: Pass sampling_strategy=0.8 as keyword args. From version 0.9 passing these as positional arguments will result in an error
  warnings.warn(

In [29]:
Y.value_counts()

1    4437
0    3549
Name: APPLICATION.STATUS, dtype: int64

In [30]:
4437 - 3549

888

# Random Oversampler

In [31]:
from imblearn.over_sampling import RandomOverSampler

In [41]:
random_sampling = RandomOverSampler(1)
X,Y = random_sampling.fit_resample(x,y)

C:\Users\hp\anaconda3\lib\site-packages\imblearn\utils\_validation.py:586: FutureWarning: Pass sampling_strategy=1 as keyword args. From version 0.9 passing these as positional arguments will result in an error
  warnings.warn(

In [42]:
Y.value_counts()

0    4437
1    4437
Name: APPLICATION.STATUS, dtype: int64