## Position Arguments

In [4]:
def user_name(Fname, Lname):  # Positional Parameters
    return Fname + Lname + "@gmail.com"

user_name("Yash", "Dhakade")  # Positional Arguments

'YashDhakade@gmail.com'

In [3]:
def user_name(Fname, Lname):
    return Fname + Lname + "@gmail.com"

user_name("Dhakade", "Yash") # if this sequence is change then the value will also change their places

'DhakadeYash@gmail.com'

In [5]:
## in the above case if we are changing the arguments places then we also need to change 
## the positoin of the parametes

def user_name(Lname, Fname):
    return Fname + Lname + "@gmail.com"

user_name("Dhakade", "Yash")

'YashDhakade@gmail.com'

In [6]:
def nums(a,b):
    return f"a = {a}, b = {b}"

nums(4,5) ## here it is a = 4, b = 5

'a = 4, b = 5'

In [8]:
def nums(a,b):
    return f"a = {a}, b = {b}"

nums(5,4) # it will become a = 5, b = 4

'a = 5, b = 4'

In [9]:
def nums(a,b,c,d,e):
    return f"a = {a}, b = {b}, c = {c}, d = {d}, e = {e}"

nums(5,4)

TypeError: nums() missing 3 required positional arguments: 'c', 'd', and 'e'

In [10]:
def nums(a,b,c,d,e):
    return f"a = {a}, b = {b}, c = {c}, d = {d}, e = {e}"

nums(5,4,6,7,8,9)

TypeError: nums() takes 5 positional arguments but 6 were given

In [11]:
def nums(a,b,c,d,e):
    return f"a = {a}, b = {b}, c = {c}, d = {d}, e = {e}"

nums(5,4,6,7,8)

'a = 5, b = 4, c = 6, d = 7, e = 8'

In [14]:
def nums(a):
    return f"a = {a}, b = {b}, c = {c}, d = {d}, e = {e}"

nums()

TypeError: nums() missing 1 required positional argument: 'a'

In [16]:
def nums(a,b):
    return f"a = {a}, b = {b}"

nums(9, [1,2,3])

'a = 9, b = [1, 2, 3]'

In [17]:
def nums(a,b):
    return f"a = {a}, b = {b}"

nums(9, {1,2,3})

'a = 9, b = {1, 2, 3}'

In [18]:
def nums(a,b):
    return f"a = {a}, b = {b}"

nums(9, {1: 2, 2: 5, 3: 6})

'a = 9, b = {1: 2, 2: 5, 3: 6}'

In [20]:
def nums(a,b):
    return f"a = {a}, b = {b}"

nums(9, frozenset({1,2,3}))

'a = 9, b = frozenset({1, 2, 3})'

In [21]:
def nums(a,b):
    return f"a = {a}, b = {b}"

nums(9, 4.56)

'a = 9, b = 4.56'

In [22]:
def nums(a,b):
    return f"a = {a}, b = {b}"

nums(9, "Python and data science")

'a = 9, b = Python and data science'

In [24]:
def add(a,b):
    print(f"a = {a}, b = {b}")
    return a + b

add(20,50)

a = 20, b = 50

70

In [25]:
def add(a,b):
    print(f"a = {a}, b = {b}")
    return a + b

add(50,20)

a = 50, b = 20

70

## Keyword Arguments / Default Arguments

- key word arguments are define by = to sign
- e.g - parameter = argument

In [27]:
def usename(fname, lname):
    
    return fname + lname + "@gmail.com"

usename("yash", "dhakade")

'yashdhakade@gmail.com'

In [28]:
def usename(fname, lname):
    
    return fname + lname + "@gmail.com"

usename("dhakade", "yash")

'dhakadeyash@gmail.com'

In [30]:
def usename(fname, lname):
    
    return fname + lname + "@gmail.com"

usename(lname="dhakade", fname="yash") # this is called keyword arguments

'yashdhakade@gmail.com'

In [34]:
def add(a,b):
    print(f"a = {a}, b = {b}")
    return a + b

add(b=20,a=50)

add(20,50) # by not usiing keyword arguments

a = 50, b = 20
a = 20, b = 50

70

In [39]:
def new_name(fname="user", lname="micro", company_name = "Microsoft"):
    
    return fname + lname + f"@{company_name}.outlook.com"

new_name()

'usermicro@Microsoft.outlook.com'

In [40]:
## we can also modify the default value of parameters
def new_name(fname="user", lname="micro", company_name = "Microsoft"):
    
    return fname + lname + f"@{company_name}.outlook.com"

new_name(fname="yash",lname="dhakade")

'yashdhakade@Microsoft.outlook.com'

In [43]:
## we can also modify the default value of parameters
def new_name(fname="user", lname="micro", company_name = "Microsoft"): # Keywords parameters
    
    return fname + lname + f"@{company_name}.outlook.com"

new_name(fname="yash",lname="dhakade",company_name="Google") # Default keyword argumetns

'yashdhakade@Google.outlook.com'

In [52]:
## we can also modify the default value of parameters
def new_name(fname="user", lname="micro", company_name = "Microsoft", location): # Keywords parameters
    
    print(location)
    return fname + lname + f"@{company_name}.outlook.com"

new_name( fname="yash", lname="dhakade", company_name="Google", "pune" ) # Default keyword argumetns

SyntaxError: non-default argument follows default argument (534928487.py, line 2)

In [54]:
## we can also modify the default value of parameters
def new_name(location, name, fname="user", lname="micro", company_name = "Microsoft"): # Keywords parameters
    print(location, name)
    
    return fname + lname + f"@{company_name}.outlook.com"

new_name(  "pune", "monu", fname="yash", lname="dhakade", company_name="Google" ) # Default keyword argumetns

pune monu

'yashdhakade@Google.outlook.com'

In [55]:
## we can also modify the default value of parameters
def new_name(location, name, fname="user", lname="micro", company_name = "Microsoft"): # Keywords parameters
    print(location, name)
    
    return fname + lname + f"@{company_name}.outlook.com"

new_name(  "pune", "monu", fname="yash", lname="dhakade", company_name="Google" ) # Default keyword argumetns

pune monu

'yashdhakade@Google.outlook.com'

## Arbitary keyword argument

In [59]:
def args_value(a,*args):
    
    return a, args

args_value(10, 9,10,11,20,30)

(10, (9, 10, 11, 20, 30))

In [62]:
def args_value(*args):
    
    return sum(args)

args_value(1.5,2,3,4,5)

15.5

In [69]:
def args_value(*args):
    
    total = 0
    for i in args:
        
        total += i
    return total

args_value(1.5,2,3,4,5)

15.5

In [64]:
(1.5,2,3,4,5) + (1.5,2,3,4,5)

(1.5, 2, 3, 4, 5, 1.5, 2, 3, 4, 5)

In [73]:
def args_value(*args):
    
    fact = 1
    for i in args:
        
        fact *= i
    return fact

args_value(1,2,3,4,5)

120

In [74]:
def args_value(*args):
    
    fact = 1
    for i in args:
        
        fact *= i
    return fact

args_value(1,2,3,4,5,6,7,8,9,10)

3628800

In [81]:
def sequence(a,b,*variable):
    print({type(variable)})
    return f"a = {a}, nb = {b}, args = {variable}"

sequence(10,20,20,3,5)

{<class 'tuple'>}

'a = 10, nb = 20, args = (20, 3, 5)'

In [83]:
def sequence(*variable, a, b):
    print({type(variable)})
    return f"a = {a}, nb = {b}, args = {variable}"

sequence(10,20,20,3,5)

TypeError: sequence() missing 2 required keyword-only arguments: 'a' and 'b'

In [93]:
def sequence(a, b, name = "user_name", location = "Job_location", *variable):
    print({type(variable)})
    
#     print(name, location)
    
    return f"a = {a}, b = {b}, args = {variable}, {name}, {location} " 

sequence(10,20,20,3,5,55,88,100)

{<class 'tuple'>}

'a = 10, b = 20, args = (5, 55, 88, 100), 20, 3 '

In [92]:
def sequence(a, b, *variable, name = "user_name", location = "Job_location"):
    print({type(variable)})
    
#     print(name, location)
    
    return f"a = {a}, nb = {b}, args = {variable}, {name}, {location} " 

sequence(10,20,20,3,5)

{<class 'tuple'>}

'a = 10, nb = 20, args = (20, 3, 5), user_name, Job_location '

In [95]:
def sequence(a, b, name="user_name", location="Job_location", *variable):
    print({type(variable)})
    
#     print(name, location)
    
    return f"a = {a}, b = {b}, args = {variable}, {name}, {location} " 

sequence(10,20,20,3,5,55,88,100, name="python", location="USA")

TypeError: sequence() got multiple values for argument 'name'

## Arbitary keyword arguments (**kwargs)

In [98]:
def kwargs(**kwargs):
    return kwargs

kwargs(a=2, b=6, c=1)

{'a': 2, 'b': 6, 'c': 1}

In [102]:
def proof(a, b, *args, sub = "data science", location = "USA", **kwargs):
    
    return f"a = {a}, b = {b}, args = {args}, subject = {sub}, location = {location}, kwargs = {kwargs}"

proof(10, 20, 45, 60, 2, 30, "AI", "USA", g = 8, w = 9, h = 52 )

"a = 10, b = 20, args = (45, 60, 2, 30, 'AI', 'USA'), subject = data science, location = USA, kwargs = {'g': 8, 'w': 9, 'h': 52}"

In [106]:
def proof(**kwargs,a, b,  *args,  sub = "data science", location = "USA" ):
    
    return f"a = {a}, b = {b}, args = {args}, subject = {sub}, location = {location}, kwargs = {kwargs}"

proof(10, 20, 45, 60, 2, 30, "AI", "USA", g = 8, w = 9, h = 52 )

SyntaxError: invalid syntax (1349256278.py, line 1)

In [107]:
def proof(a, b,  *args, **kwargs,  sub = "data science", location = "USA" ):
    
    return f"a = {a}, b = {b}, args = {args}, subject = {sub}, location = {location}, kwargs = {kwargs}"

proof(10, 20, 45, 60, 2, 30, "AI", "USA", g = 8, w = 9, h = 52 )

SyntaxError: invalid syntax (3115852556.py, line 1)