# Types of Arguments
- 1. Positional 
- 2. Default
- 3. Arbitrary Positional Args(*)
- 4. Arbitrary Keyword KArgs (**)

# 1. Positional Arguments
- Number of positional Args = Number of Parameters

In [1]:
def get_mailID(fname,lname):
    return fname + lname + "@gmail.com"

get_mailID("Akash","Shetty")

'AkashShetty@gmail.com'

In [2]:
def get_mailID(fname,lname):
    return fname + lname + "@gmail.com"

get_mailID("Shetty","Akash")

'ShettyAkash@gmail.com'

In [4]:
def get_mailID(fname,lname):
    return fname.lower() + "." + lname.lower() + "@gmail.com"

get_mailID("Shetty","Akash")

'shetty.akash@gmail.com'

In [5]:
def get_mailID(lname,fname):
    return fname.lower() + "." + lname.lower() + "@gmail.com"

get_mailID("Shetty","Akash")

'akash.shetty@gmail.com'

In [6]:
def func(a,b):
    print(f"a = {a} & b = {b}")
    
func(10,20)

a = 10 & b = 20

In [7]:
def func(a,b):
    print(f"a = {a} & b = {b}")
    
func(20,10)

a = 20 & b = 10

In [8]:
def func(a,b): # Positional Parameters
    print(f"a = {a} & b = {b}")
 

a = 50   # Positional Arguments
b = 100 
func(a,b)

a = 50 & b = 100

In [9]:
def func(a,b): # Positional Parameters
    print(f"a = {a} & b = {b}")
 

a = 50   # Positional Arguments
b = [100,200,300,400]
func(a,b)

a = 50 & b = [100, 200, 300, 400]

In [10]:
def func(a,b): # Positional Parameters
    print(f"a = {a} & b = {b}")
    print(f"Type of a = {type(a)}")
    print(f"Type of b = {type(b)}")
 

a = 50   # Positional Arguments
b = [100,200,300,400]
func(a,b)

a = 50 & b = [100, 200, 300, 400]
Type of a = <class 'int'>
Type of b = <class 'list'>

In [11]:
def func(a,b): # Positional Parameters
    print(f"a = {a} & b = {b}")
    print(f"Type of a = {type(a)}")
    print(f"Type of b = {type(b)}")
 

a = 50   # Positional Arguments
b = [100,200,300,400]
func(a)

TypeError: func() missing 1 required positional argument: 'b'

In [13]:
def func(a,b): # Positional Parameters
    print(f"a = {a} & b = {b}")
    print(f"Type of a = {type(a)}")
    print(f"Type of b = {type(b)}")
 

a = 50   # Positional Arguments
b = [100,200,300,400]
c = 500
func(a,b,c)

TypeError: func() takes 2 positional arguments but 3 were given

In [14]:
def func(a): # Positional Parameters
    print(f"a = {a} & b = {b}")
    print(f"Type of a = {type(a)}")
    print(f"Type of b = {type(b)}")
 

a = 50   # Positional Arguments
b = [100,200,300,400]
c = 500
func(a,b)

TypeError: func() takes 1 positional argument but 2 were given

In [15]:
def func(a,b,c): # Positional Parameters
    print(f"a = {a} & b = {b}")
    print(f"Type of a = {type(a)}")
    print(f"Type of b = {type(b)}")
 

a = 50   # Positional Arguments
b = [100,200,300,400]
c = 500
func(a,b)

TypeError: func() missing 1 required positional argument: 'c'

In [16]:
def addition(a,b):
    return a + b

In [17]:
addition(10,20)

30

In [18]:
addition(50,150)

200

# 2. Default Argument/Parameter
- AKS Keyword Argument
- Keyword arguments must have to follow the positional arguments

In [23]:
def get_mailID(lname,fname):
    return fname.lower() + "." + lname.lower() + "@gmail.com"

get_mailID("Shetty","Akash")

'akash.shetty@gmail.com'

In [21]:
def get_mailID(lname,fname,company_name):
    return fname.lower() + "." + lname.lower() + "@"+ company_name +".com"

get_mailID("Shetty","Akash","tcs")

'akash.shetty@tcs.com'

In [32]:
def get_mailID(lname,fname,company_name="tcs"): # Default Parameter
    return fname.lower() + "." + lname.lower() + "@"+ company_name +".com"

get_mailID("Shetty","Akash")

'akash.shetty@tcs.com'

In [26]:
def get_mailID(fname,lname,company_name="tcs"):
    return fname.lower() + "." + lname.lower() + "@"+ company_name +".com"

get_mailID("Seema","Gawande")

'seema.gawande@tcs.com'

In [27]:
print("Seema")
print("Gawande")

Seema
Gawande

In [28]:
print("Seema",end=" ")
print("Gawande")

Seema Gawande

In [29]:
def get_mailID(fname,lname,company_name="tcs"):
    return fname.lower() + "." + lname.lower() + "@"+ company_name +".com"

get_mailID("Seema","Gawande","infosys")

'seema.gawande@infosys.com'

In [31]:
def get_mailID(fname,lname,company_name="tcs"):
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

get_mailID("Seema","Gawande","Tata")

'seema.gawande@tata.com'

In [33]:
def get_mailID(fname="Employee_fname",lname="Employee_lname",company_name="tcs"):
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

get_mailID("Seema","Gawande","Tata")

'seema.gawande@tata.com'

In [35]:
def get_mailID(fname="Employee_fname",lname="Employee_lname",company_name="tcs"): # # Default Parameter
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

get_mailID()

'employee_fname.employee_lname@tcs.com'

In [36]:
def get_mailID(fname="Employee_fname",lname="Employee_lname",company_name="tcs"): # # Default Parameter
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

get_mailID("Jagadish")

'jagadish.employee_lname@tcs.com'

In [37]:
def get_mailID(fname="Employee_fname",lname="Employee_lname",company_name="tcs",location): # # Default Parameter
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

get_mailID("Jagadish","Pune")

SyntaxError: non-default argument follows default argument (118795493.py, line 1)

In [39]:
def get_mailID(location,fname="Employee_fname",lname="Employee_lname",company_name="tcs"): # # Default Parameter
    print(f"The job location is {location}")
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

get_mailID("Pune","Jagadish")

The job location is Pune

'jagadish.employee_lname@tcs.com'

In [40]:
def get_mailID(location,fname="Employee_fname",lname="Employee_lname",company_name="tcs"): # # Default Parameter
    print(f"The job location is {location}")
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

get_mailID("Mumbai","Jagadish")

The job location is Mumbai

'jagadish.employee_lname@tcs.com'

In [42]:
def get_mailID(location,fname="Employee_fname",lname="Employee_lname",company_name="tcs"): # # Default Parameter
    print(f"The job location is {location}")
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

get_mailID("Mumbai","1400000","Jagadish") # This is incorrect

The job location is Mumbai

'1400000.jagadish@tcs.com'

In [44]:
def get_mailID(location,salary,fname="Employee_fname",lname="Employee_lname",company_name="tcs"): # # Default Parameter
    print(f"The job location is {location}")
    print(f"The Salary = {salary}")
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

get_mailID("Mumbai","1400000","Jagadish","Kavalekar")

The job location is Mumbai
The Salary = 1400000

'jagadish.kavalekar@tcs.com'

In [45]:
def get_mailID(location,salary,fname="Employee_fname",lname="Employee_lname",company_name="tcs"): # # Default Parameter
    print(f"The job location is {location}")
    print(f"The Salary = {salary}")
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

get_mailID("Mumbai","1400000","Kavalekar","Jagadish")

The job location is Mumbai
The Salary = 1400000

'kavalekar.jagadish@tcs.com'

In [46]:
def get_mailID(location,salary,fname="Employee_fname",lname="Employee_lname",company_name="tcs"): # # Default Parameter
    print(f"The job location is {location}")
    print(f"The Salary = {salary}")
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

get_mailID(location = "Mumbai",salary="1400000",lname="Kavalekar",fname="Jagadish")

The job location is Mumbai
The Salary = 1400000

'jagadish.kavalekar@tcs.com'

In [47]:
def get_mailID(location,salary,fname="Employee_fname",lname="Employee_lname",company_name="tcs"): # # Default Parameter
    print(f"The job location is {location}")
    print(f"The Salary = {salary}")
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

location = "Mumbai"
salary="1400000"
lname="Kavalekar"
fname="Jagadish"

get_mailID(location,salary,lname,fname)

The job location is Mumbai
The Salary = 1400000

'kavalekar.jagadish@tcs.com'

In [49]:
def get_mailID(location,salary,fname="Employee_fname",lname="Employee_lname",company_name="tcs"): # # Default Parameter
    print(f"The job location is {location}")
    print(f"The Salary = {salary}")
    return fname.lower() + "." + lname.lower() + "@"+ company_name.lower() +".com"

location = "Mumbai"
salary="1400000"
lname="Kavalekar"
fname="Jagadish"

get_mailID(location,salary,lname="Kavalekar",fname="Jagadish") # Fefault Arguments

The job location is Mumbai
The Salary = 1400000

'jagadish.kavalekar@tcs.com'

In [55]:
def func(a,b=100):
    print(f"a = {a} & b = {b}")

In [56]:
func(1,2)

a = 1 & b = 2

In [57]:
func(2,1)

a = 2 & b = 1

In [58]:
func(a=1,b=2)

a = 1 & b = 2

In [59]:
func(b=2,a=1)

a = 1 & b = 2

In [60]:
func(1)

a = 1 & b = 100

In [63]:
def dummy():
    print("This is a dummy function")

dummy()

This is a dummy function

# 3. Arbitrary Argument
- Variable length Argumens 
- *args = *arguments (args & arguments are nothing but variable names)
- When we dont know the number of arguments to be passed
- type(*args)  = tuple

In [64]:
def multiplication(a,b,c):
    print(f"a = {a}, b = {b}, c = {c}")
    return a * b * c

multiplication(1,2,3)

a = 1, b = 2, c = 3

6

In [65]:
def multiplication(a,*b):
    print(f"a = {a}, b = {b}")
    return a * b 

multiplication(1,2,3)

a = 1, b = (2, 3)

(2, 3)

In [67]:
(2,2)*3

(2, 2, 2, 2, 2, 2)

In [68]:
def multiplication(a,*b):
    print(f"a = {a}, b = {b}")
    return a * b 

multiplication(1,2,3,4,5,6,7,8,9,10)

a = 1, b = (2, 3, 4, 5, 6, 7, 8, 9, 10)

(2, 3, 4, 5, 6, 7, 8, 9, 10)

In [70]:
def multiplication(*b):
    print(f"b = {b}")
    mul = 1
    for i in b:
        mul *= i
    return mul

multiplication(1,2,3,4,5)

b = (1, 2, 3, 4, 5)

120

In [71]:
def multiplication(*b):
    
    print(f"b = {b} & type of b = {type(b)}")
    mul = 1
    for i in b:
        mul *= i
    return mul

multiplication(1,2,3,4,5)

b = (1, 2, 3, 4, 5) & type of b = <class 'tuple'>

120

In [72]:
def multiplication(*args):
    
    print(f"args = {args} & type of args = {type(args)}")
    mul = 1
    for i in args:
        mul *= i
    return mul

multiplication(1,2,3,4,5)

args = (1, 2, 3, 4, 5) & type of args = <class 'tuple'>

120

In [73]:
def multiplication(*args):
    
    print(f"args = {args} & type of args = {type(args)}")
    mul = 1
    for i in args:
        mul *= i
    return mul

multiplication(5)

args = (5,) & type of args = <class 'tuple'>

5

In [74]:
def multiplication(a,*args):
    
    print(f"args = {args} & type of args = {type(args)}")
    mul = 1
    for i in args:
        mul *= i
    return mul

multiplication(5,6)

args = (6,) & type of args = <class 'tuple'>

6

In [75]:
a = 5,
a

(5,)

In [77]:
def check_args_type(a,b,*c):
    print(f"a = {a} & Type = {type(a)}")
    print(f"b = {b} & Type = {type(b)}")
    print(f"c = {c} & Type = {type(c)}")

In [78]:
check_args_type(1,2,3,4,5,6)

a = 1 & Type = <class 'int'>
b = 2 & Type = <class 'int'>
c = (3, 4, 5, 6) & Type = <class 'tuple'>

In [79]:
def check_args_type(a,b,z=[1,2,3,4,5],*c):
    print(f"a = {a} & Type = {type(a)}")
    print(f"b = {b} & Type = {type(b)}")
    print(f"c = {c} & Type = {type(c)}")
    print(f"z = {z} & Type = {type(z)}")

In [80]:
check_args_type(1,2,3,4,5,6)

a = 1 & Type = <class 'int'>
b = 2 & Type = <class 'int'>
c = (4, 5, 6) & Type = <class 'tuple'>
z = 3 & Type = <class 'int'>

In [81]:
def check_args_type(a,b,*c,z=[1,2,3,4,5]):
    print(f"a = {a} & Type = {type(a)}")
    print(f"b = {b} & Type = {type(b)}")
    print(f"c = {c} & Type = {type(c)}")
    print(f"z = {z} & Type = {type(z)}")
    
check_args_type(1,2,3,4,5,6)

a = 1 & Type = <class 'int'>
b = 2 & Type = <class 'int'>
c = (3, 4, 5, 6) & Type = <class 'tuple'>
z = [1, 2, 3, 4, 5] & Type = <class 'list'>

In [82]:
def check_args_type(a,z=[1,2,3,4,5],b,*c):
    print(f"a = {a} & Type = {type(a)}")
    print(f"b = {b} & Type = {type(b)}")
    print(f"c = {c} & Type = {type(c)}")
    print(f"z = {z} & Type = {type(z)}")
    
check_args_type(1,2,3,4,5,6)

SyntaxError: non-default argument follows default argument (3066895408.py, line 1)

In [83]:
def multiplication(a,b,*args,x = "Python",y = "Ds"):
    print(f"a = {a} & Type = {type(a)}")
    print(f"b = {b} & Type = {type(b)}")
    print(f"x = {x} & Type = {type(x)}")
    print(f"y = {y} & Type = {type(y)}")
    print(f"args = {args} & type of args = {type(args)}")
    mul = 1
    for i in args:
        mul *= i
    return mul

multiplication(1,2,3,4,5,6)

a = 1 & Type = <class 'int'>
b = 2 & Type = <class 'int'>
x = Python & Type = <class 'str'>
y = Ds & Type = <class 'str'>
args = (3, 4, 5, 6) & type of args = <class 'tuple'>

360

In [85]:
def multiplication(a,b,*args,x = "Python",y = "Ds"):
    print(f"a = {a} & Type = {type(a)}")
    print(f"b = {b} & Type = {type(b)}")
    print(f"x = {x} & Type = {type(x)}")
    print(f"y = {y} & Type = {type(y)}")
    print(f"args = {args} & type of args = {type(args)}")
    mul = 1
    for i in args:
        mul *= i
    return mul

multiplication(1,2,3,4,5,6,x="R",y="Ml")

a = 1 & Type = <class 'int'>
b = 2 & Type = <class 'int'>
x = R & Type = <class 'str'>
y = Ml & Type = <class 'str'>
args = (3, 4, 5, 6) & type of args = <class 'tuple'>

360

In [86]:
def multiplication(a,b,*args,x = "Python",y = "Ds"):
    print(f"a = {a} & Type = {type(a)}")
    print(f"b = {b} & Type = {type(b)}")
    print(f"x = {x} & Type = {type(x)}")
    print(f"y = {y} & Type = {type(y)}")
    print(f"args = {args} & type of args = {type(args)}")
    mul = 1
    for i in args:
        mul *= i
    return mul

multiplication(1,2,x="R",y="Ml",3,4,5,6)

SyntaxError: positional argument follows keyword argument (2269598406.py, line 12)

# 4. Arbitrary Keyword Arguments
- **kwargs = **keyword arguments (kwargs is nothing but a variable name)
- When we dont know the number of default arguments to be passed 
- type(kwargs) = Dict

In [87]:
def dummy(a,b,c):
    print(f"a={a},b={b},c={c}")
    
dummy(a = 1, b = 2 , c = 3)

a=1,b=2,c=3

In [88]:
def dummy(a,b,c):
    print(f"a={a},b={b},c={c}")
    
dummy( b = 2 , c = 3,a = 1)

a=1,b=2,c=3

In [89]:
def dummy(a,b,c):
    print(f"a={a},b={b},c={c}")
    
dummy( b = 2 , c = 3,a = 1,d=4,e=5)

TypeError: dummy() got an unexpected keyword argument 'd'

In [90]:
def dummy(a,b,c,**kwargs):
    print(f"a={a},b={b},c={c}")
    print(f"kwargs = {kwargs}")
    
dummy( b = 2 , c = 3,a = 1 , d = 4 , e = 5)

a=1,b=2,c=3
kwargs = {'d': 4, 'e': 5}

In [91]:
def dummy(a,b,**kwargs):
    print(f"a={a},b={b}")
    print(f"kwargs = {kwargs}")
    
dummy( b = 2 , c = 3,a = 1 , d = 4 , e = 5)

a=1,b=2
kwargs = {'c': 3, 'd': 4, 'e': 5}

In [92]:
def dummy(a,**kwargs):
    print(f"a={a}")
    print(f"kwargs = {kwargs}")
    
dummy( b = 2 , c = 3,a = 1 , d = 4 , e = 5)

a=1
kwargs = {'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [95]:
def dummy(**kwargs):
    print(f"kwargs = {kwargs}")
    return kwargs
    
dict1 = dummy( b = 2 , c = 3, a = 1 , d = 4 , e = 5)
dict1

kwargs = {'b': 2, 'c': 3, 'a': 1, 'd': 4, 'e': 5}

{'b': 2, 'c': 3, 'a': 1, 'd': 4, 'e': 5}

In [96]:
dict1["b"]

2

In [97]:
dict1.keys()

dict_keys(['b', 'c', 'a', 'd', 'e'])

In [98]:
dict1.values()

dict_values([2, 3, 1, 4, 5])

In [99]:
def dummy(**kwargs):
    print(f"a={a}")
    print(f"kwargs = {kwargs}")
    
dummy(1,2,3,4,5)

TypeError: dummy() takes 0 positional arguments but 5 were given

In [100]:
def dummy(**kwargs):
    print(f"a={a}")
    print(f"kwargs = {kwargs}")
    
dummy((1,2,3,4,5))

TypeError: dummy() takes 0 positional arguments but 1 was given

In [104]:
def dummy(*kwargs):
    print(f"kwargs = {kwargs}")
    
dummy((1,2,3,4,5))

kwargs = ((1, 2, 3, 4, 5),)

In [105]:
def test_params(a,b,c,*args,x = 50,y = 100, **kwargs):
    print(f"a = {a}, b = {b}, c = {c}")
    print(f"args = {args}")
    print(f"x = {x} & y = {y}")
    print(f"kwargs = {kwargs}")
    
test_params(1,2,3)

a = 1, b = 2, c = 3
args = ()
x = 50 & y = 100
kwargs = {}

In [106]:
def test_params(a,b,c,*args,x = 50,y = 100, **kwargs):
    print(f"a = {a}, b = {b}, c = {c}")
    print(f"args = {args}")
    print(f"x = {x} & y = {y}")
    print(f"kwargs = {kwargs}")
    
test_params(1,2,3,4,5,6,7)

a = 1, b = 2, c = 3
args = (4, 5, 6, 7)
x = 50 & y = 100
kwargs = {}

In [107]:
def test_params(a,b,c,*args,x = 50,y = 100, **kwargs):
    print(f"a = {a}, b = {b}, c = {c}")
    print(f"args = {args}")
    print(f"x = {x} & y = {y}")
    print(f"kwargs = {kwargs}")
    
test_params(1,2,3,4,5,6,7,x="Python",y = "Data Science")

a = 1, b = 2, c = 3
args = (4, 5, 6, 7)
x = Python & y = Data Science
kwargs = {}

In [108]:
def test_params(a,b,c,*args,x = 50,y = 100, **kwargs):
    print(f"a = {a}, b = {b}, c = {c}")
    print(f"args = {args}")
    print(f"x = {x} & y = {y}")
    print(f"kwargs = {kwargs}")
    
test_params(1,2,3,4,5,6,7,x="Python")

a = 1, b = 2, c = 3
args = (4, 5, 6, 7)
x = Python & y = 100
kwargs = {}

In [114]:
def test_params(a,b,c,*args,x = 50,y = 100, z = True , x1 = None, **kwargs):
    print(f"a = {a}, b = {b}, c = {c}")
    print(f"args = {args}")
    print(f"x = {x} & y = {y} & z = {z}")
    print(f"kwargs = {kwargs}")
    
test_params(1,2,3,4,5,6,7,x="Python",z=False)

a = 1, b = 2, c = 3
args = (4, 5, 6, 7)
x = Python & y = 100 & z = False
kwargs = {}

In [115]:
def test_params(a,b,c,*args,x = 50,y = 100, z = True , x1 = None, **kwargs):
    print(f"a = {a}, b = {b}, c = {c}")
    print(f"args = {args}")
    print(f"x = {x} & y = {y} & z = {z}")
    print(f"kwargs = {kwargs}")
    
test_params(1,2,3,4,5,6,7,x="Python",z=False,n1= 10, n2  = 20, n3 = 30, n4 = 40, n5 = 50)

a = 1, b = 2, c = 3
args = (4, 5, 6, 7)
x = Python & y = 100 & z = False
kwargs = {'n1': 10, 'n2': 20, 'n3': 30, 'n4': 40, 'n5': 50}

In [117]:
def test_params(a,b,c,*args,x = 50,y = 100, z = True , x1 = None, **kwargs):
    print(f"a = {a}, b = {b}, c = {c}")
    print(f"args = {args}")
    print(f"x = {x} & y = {y} & z = {z}")
    print(f"kwargs = {kwargs}")
    
test_params(1,2,3,4,5,6,7,x="Python",z=False,n1= 10, n2  = 20, n3 = 30, n4 = 40, n5 = 50)

a = 1, b = 2, c = 3
args = (4, 5, 6, 7)
x = Python & y = 100 & z = False
kwargs = {'n1': 10, 'n2': 20, 'n3': 30, 'n4': 40, 'n5': 50}

In [118]:
def test_params(a,b,c,**args,x = 50,y = 100, z = True , x1 = None, *kwargs):
    print(f"a = {a}, b = {b}, c = {c}")
    print(f"args = {args}")
    print(f"x = {x} & y = {y} & z = {z}")
    print(f"kwargs = {kwargs}")
    
test_params(1,2,3,4,5,6,7,x="Python",z=False,n1= 10, n2  = 20, n3 = 30, n4 = 40, n5 = 50)

SyntaxError: invalid syntax (3569724258.py, line 1)