### SMOTE

SMOTE :- Synthetic Minority oversampling technique

We check for weather the data is balanced or imbalanced during EDA

Step - 1: Load the Libraries
		from imblearn.over_sampling import SMOTE, RandomOverSampler
        
Step :- 2. Load the data set, then split it (X,Y)

Step :- 3. Check the value_counts() of the target variable, if the normalize is 1 then there is no need to perform oversampling 
           if the normalize value is not 1 then we need to oversample it.
           NOTE :- we always perform Oversampling if the data is imbalance, WE DO NOT PERFORM                          UNDERSAMPLING. if we are performing undersampling then we might lose the data. 
           		   UNDERSAMPLING means we are reducing the samples from the dataset
                    
Step 4 : Create a instance of a SMOTE or RandomOverSampler, then fit the x and y to the SMOTE or RandomOverSampler instance

## Important parameter
1. sampling_strategy
2. random_state

In [1]:
import pandas as pd
import numpy as np

from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import RandomOverSampler

In [3]:
df = pd.read_csv("diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
df["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [5]:
500 - 268

232

In [6]:
500 / (500+268)

0.6510416666666666

In [7]:
268 / (500+268)

0.3489583333333333

In [9]:
## as we can see there is no need to balance the data
0.349+0.651

1.0

In [10]:
x = df.drop("Outcome", axis=1)
y = df["Outcome"]

In [11]:
y.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [12]:
smt = SMOTE(sampling_strategy=0.80, random_state=1)
X,Y = smt.fit_resample(x,y)

In [13]:
Y.value_counts()

0    500
1    400
Name: Outcome, dtype: int64

In [14]:
print(x.duplicated().sum())
print(y.duplicated().sum())

0
766

In [15]:
y[y.duplicated()].sum()

267

### RandomOversampler

In [16]:
rsmt = RandomOverSampler(sampling_strategy=0.90, random_state=1)
X,Y=rsmt.fit_resample(x,y)

In [17]:
y.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [18]:
Y.value_counts()

0    500
1    450
Name: Outcome, dtype: int64

In [19]:
y[y.duplicated()].sum()

267