# Data Types
- Numeric >>> int,float,complex
- Text >>> str
- Sequence >>> list,tuple,range
- Mapping >>> dict
- Set >> set, frozenset
- boolean >>> bool (True and False)
- bytearray

# Numeric Data Types
### 1. int
- int contains whole numbers
- +ve or -ve numbers

In [3]:
num = 15
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 15 and its data type = <class 'int'>

In [4]:
num = 0
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 0 and its data type = <class 'int'>

In [5]:
num = -15
print(f"The Number = {num} and its data type = {type(num)}")

The Number = -15 and its data type = <class 'int'>

In [6]:
num = 15684738
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 15684738 and its data type = <class 'int'>

### 2. float
- Float contains all decimal points
- +ve or -ve

In [7]:
num = 1.5
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 1.5 and its data type = <class 'float'>

In [8]:
num = -1.5
print(f"The Number = {num} and its data type = {type(num)}")

The Number = -1.5 and its data type = <class 'float'>

In [9]:
num = -1.5600446675
print(f"The Number = {num} and its data type = {type(num)}")

The Number = -1.5600446675 and its data type = <class 'float'>

In [10]:
num = 1.584773554
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 1.584773554 and its data type = <class 'float'>

In [11]:
num = 0.0
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 0.0 and its data type = <class 'float'>

In [12]:
num = 0
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 0 and its data type = <class 'int'>

### 3. Complex Data Type
- Complex datatype contains real and imaginary part

In [13]:
num = 5 + 5j
print(f"The Number = {num} and its data type = {type(num)}")

The Number = (5+5j) and its data type = <class 'complex'>

In [14]:
num = 5 - 5j
print(f"The Number = {num} and its data type = {type(num)}")

The Number = (5-5j) and its data type = <class 'complex'>

In [15]:
num = 0 - 5j
print(f"The Number = {num} and its data type = {type(num)}")

The Number = -5j and its data type = <class 'complex'>

In [16]:
num = 0 + 0j
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 0j and its data type = <class 'complex'>

# Python Type Casting
- Here we need to specify data type
- int()
- float()
- str()
- complex()

## 1. int to float

In [17]:
num = 50
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 50 and its data type = <class 'int'>

In [21]:
num = 50
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = float(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 50 and its data type = <class 'int'>

************************************************************

The Number = 50.0 and its data type = <class 'float'>

In [22]:
num = -50
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = float(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = -50 and its data type = <class 'int'>

************************************************************

The Number = -50.0 and its data type = <class 'float'>

In [23]:
num = 0
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = float(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 0 and its data type = <class 'int'>

************************************************************

The Number = 0.0 and its data type = <class 'float'>

In [24]:
num = 0.0
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = float(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 0.0 and its data type = <class 'float'>

************************************************************

The Number = 0.0 and its data type = <class 'float'>

## 2. float to int

In [25]:
num = 0.0
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 0.0 and its data type = <class 'float'>

************************************************************

The Number = 0 and its data type = <class 'int'>

In [26]:
num = 1.55667687
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 1.55667687 and its data type = <class 'float'>

************************************************************

The Number = 1 and its data type = <class 'int'>

In [27]:
num = -1.55667687
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = -1.55667687 and its data type = <class 'float'>

************************************************************

The Number = -1 and its data type = <class 'int'>

In [30]:
num = 22/7
num

3.142857142857143

In [29]:
num = round(num,2)
num

3.14

In [31]:
num = round(num,3)
num

3.143

## 3. int to complex

In [32]:
num = -1
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = complex(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = -1 and its data type = <class 'int'>

************************************************************

The Number = (-1+0j) and its data type = <class 'complex'>

In [33]:
num = 100
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = complex(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 100 and its data type = <class 'int'>

************************************************************

The Number = (100+0j) and its data type = <class 'complex'>

In [34]:
num = 0
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = complex(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 0 and its data type = <class 'int'>

************************************************************

The Number = 0j and its data type = <class 'complex'>

## 4. float to complex

In [35]:
num = 1.5
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = complex(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 1.5 and its data type = <class 'float'>

************************************************************

The Number = (1.5+0j) and its data type = <class 'complex'>

In [40]:
num = -1.5
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = complex(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = -1.5 and its data type = <class 'float'>

************************************************************

The Number = (-1.5+0j) and its data type = <class 'complex'>

## 5. Complex to int
- We can not convert a complex value to int one

In [37]:
num = 1.5 + 5j
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = int(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = (1.5+5j) and its data type = <class 'complex'>

************************************************************

TypeError: can't convert complex to int

#### TypeError: can't convert complex to int

## 6. Complex to float
- We can not convert a complex value to float one

In [38]:
num = 1.5 + 5j
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
num = float(num)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = (1.5+5j) and its data type = <class 'complex'>

************************************************************

TypeError: can't convert complex to float

## 7. int to string

In [50]:
num = 10
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
string = str(num)
print(f"The Number = {string} and its data type = {type(string)}")
string

The Number = 10 and its data type = <class 'int'>

************************************************************

The Number = 10 and its data type = <class 'str'>

'10'

In [51]:
num = 100000000000000000000000
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
string = str(num)
print(f"The Number = {string} and its data type = {type(string)}")
string

The Number = 100000000000000000000000 and its data type = <class 'int'>

************************************************************

The Number = 100000000000000000000000 and its data type = <class 'str'>

'100000000000000000000000'

## 8. float to string

In [52]:
num = 10.5
print(f"The Number = {num} and its data type = {type(num)}")
print()
print("*"*60)
print()
string = str(num)
print(f"The Number = {string} and its data type = {type(string)}")
string

The Number = 10.5 and its data type = <class 'float'>

************************************************************

The Number = 10.5 and its data type = <class 'str'>

'10.5'

## 9. string to int

In [53]:
string = "1000"
print(f"The Number = {string} and its data type = {type(string)}")
print()
print("*"*60)
print()
num = int(string)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 1000 and its data type = <class 'str'>

************************************************************

The Number = 1000 and its data type = <class 'int'>

In [54]:
string = "10 00"
print(f"The Number = {string} and its data type = {type(string)}")
print()
print("*"*60)
print()
num = int(string)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 10 00 and its data type = <class 'str'>

************************************************************

ValueError: invalid literal for int() with base 10: '10 00'

In [55]:
string = "10-"
print(f"The Number = {string} and its data type = {type(string)}")
print()
print("*"*60)
print()
num = int(string)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 10- and its data type = <class 'str'>

************************************************************

ValueError: invalid literal for int() with base 10: '10-'

In [56]:
string = " 10 "
print(f"The Number = {string} and its data type = {type(string)}")
print()
print("*"*60)
print()
num = int(string)
print(f"The Number = {num} and its data type = {type(num)}")

The Number =  10  and its data type = <class 'str'>

************************************************************

The Number = 10 and its data type = <class 'int'>

In [59]:
string = "                                             10"
print(f"The Number = {string} and its data type = {type(string)}")
print()
print("*"*60)
print()
num = int(string)
print(f"The Number = {num} and its data type = {type(num)}")

The Number =                                              10 and its data type = <class 'str'>

************************************************************

The Number = 10 and its data type = <class 'int'>

In [61]:
string = "10"
print(f"The Number = {string} and its data type = {type(string)}")
print()
print("*"*60)
print()
num = int(string)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 10 and its data type = <class 'str'>

************************************************************

The Number = 10 and its data type = <class 'int'>

## 10. string to float

In [68]:
string = "10.56"
print(f"The Number = {string} and its data type = {type(string)}")
print()
print("*"*60)
print()
num = int(string)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 10.56 and its data type = <class 'str'>

************************************************************

ValueError: invalid literal for int() with base 10: '10.56'

In [69]:
string = "10.56"
print(f"The Number = {string} and its data type = {type(string)}")
print()
print("*"*60)
print()
num = float(string)
print(f"The Number = {num} and its data type = {type(num)}")

The Number = 10.56 and its data type = <class 'str'>

************************************************************

The Number = 10.56 and its data type = <class 'float'>