## Zip functions

In [3]:
names = ["Ajit","Saurabh","Sahil","Sakshi","Gaurav"]
marks = [78,67,88,98,90]

list1 = list(zip(names,marks))
set1 = set(zip(names, marks))
f_set = frozenset(zip(names, marks))
dict1 = dict(zip(names, marks))
tupel = tuple(zip(names, marks))


print("list1 = ", list1)
print()
print("tupel = ", tupel)
print()

print("dict1 = ", dict1)
print()

print("set1 = ", set1)
print()

print("f_set = ", f_set)

list1 =  [('Ajit', 78), ('Saurabh', 67), ('Sahil', 88), ('Sakshi', 98), ('Gaurav', 90)]

tupel =  (('Ajit', 78), ('Saurabh', 67), ('Sahil', 88), ('Sakshi', 98), ('Gaurav', 90))

dict1 =  {'Ajit': 78, 'Saurabh': 67, 'Sahil': 88, 'Sakshi': 98, 'Gaurav': 90}

set1 =  {('Gaurav', 90), ('Sakshi', 98), ('Saurabh', 67), ('Sahil', 88), ('Ajit', 78)}

f_set =  frozenset({('Gaurav', 90), ('Sakshi', 98), ('Saurabh', 67), ('Sahil', 88), ('Ajit', 78)})

###  it can take multiple iterators as arguments

In [12]:
names = ["Ajit","Saurabh","Sahil","Sakshi","Gaurav"]
marks = [78,67,88,98,90]
age =   [10,20,50,80,40]
years =   frozenset({10,20,50,80})

list1 = list(zip(names,marks,age,years))
set1 = set(zip(names, marks,age,years))
f_set = frozenset(zip(names, marks,age,years))
# dict1 = dict(zip(names, marks,age))
tupel = tuple(zip(names, marks,age,years))
str1 = str(zip(names, marks,age,years))

print("list1 = ", list1)
print()
print("tupel = ", tupel)
print()

# print("dict1 = ", dict1)
# print()

print("set1 = ", set1)
print()

print("f_set = ", f_set)
print()

print("str1 = ", str1)

list1 =  [('Ajit', 78, 10, 80), ('Saurabh', 67, 20, 10), ('Sahil', 88, 50, 20), ('Sakshi', 98, 80, 50)]

tupel =  (('Ajit', 78, 10, 80), ('Saurabh', 67, 20, 10), ('Sahil', 88, 50, 20), ('Sakshi', 98, 80, 50))

set1 =  {('Sakshi', 98, 80, 50), ('Ajit', 78, 10, 80), ('Saurabh', 67, 20, 10), ('Sahil', 88, 50, 20)}

f_set =  frozenset({('Sakshi', 98, 80, 50), ('Ajit', 78, 10, 80), ('Saurabh', 67, 20, 10), ('Sahil', 88, 50, 20)})

str1 =  <zip object at 0x0000017D8553B980>

In [14]:
names = ["Ajit","Saurabh","Sahil","Sakshi","Gaurav"]
marks = [[78,87],[67,76],[88,88],[98,89],[90,9]]

list1 = list(zip(names,marks))
print(list1)

[('Ajit', [78, 87]), ('Saurabh', [67, 76]), ('Sahil', [88, 88]), ('Sakshi', [98, 89]), ('Gaurav', [90, 9])]

In [17]:
names = ["Ajit","Saurabh","Sahil","Sakshi","Gaurav"]
marks = [1,2,3,4,5,6,7,8,9,10]

list1 = list(zip(marks,names))
print(list1)

[(1, 'Ajit'), (2, 'Saurabh'), (3, 'Sahil'), (4, 'Sakshi'), (5, 'Gaurav')]

## 2. Filter()

In [40]:
def even_check(num):
    if num % 2 == 0:
        return num
    
    
print(even_check(2))
print(even_check(3))
print(even_check(4))

2
None
4

In [41]:
nums = [1,2,3,4,5,6,7,8,9]
list(filter(even_check, nums))

[2, 4, 6, 8]

In [42]:
list(filter(even_check, list(range(1,20))))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [44]:
list(filter(lambda x : x % 2 == 0 , list(range(21,30))))

[22, 24, 26, 28]

In [48]:
names = ["Ajit","Saurabh","Sahil","Sakshi","Gaurav"]
def even_name(word):
    if len(word) % 2 == 0:
        return word
    
print(even_name(names[0]))
print(even_name(names[1]))
print(even_name(names[2]))
print(even_name(names[3]))

Ajit
None
None
Sakshi

In [50]:
set(filter(even_name, names))

{'Ajit', 'Gaurav', 'Sakshi'}

In [53]:
names = ["Ajit","Saurabh","Sahil","Sakshi","Gaurav"]

list(filter(lambda name : len(name) % 2 == 0, names ))

['Ajit', 'Sakshi', 'Gaurav']

In [54]:
set(filter(lambda name: name.startswith("S"), names))

{'Sahil', 'Sakshi', 'Saurabh'}

In [55]:
list(filter(lambda name : "i" in name, names))

['Ajit', 'Sahil', 'Sakshi']

In [67]:
names = ["Ajit","Saurabh","Sahil","Sakshi","Gaurav"]

print(list(filter(lambda name : name.count("a",2), names)))
print()
print(list(filter(lambda name : name.count("a",4), names)))

['Saurabh', 'Gaurav']

['Saurabh', 'Gaurav']

## 4. map()

In [68]:
def sqr(num):
    return num ** 2

sqr(2)

4

In [69]:
list(map(sqr, list(range(1,6))))

[1, 4, 9, 16, 25]

In [72]:
dict(map(lambda num : num**2, list(range(5,11))))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [73]:
list(map(lambda num : num**2, list(range(5,11))))

[25, 36, 49, 64, 81, 100]

In [74]:
list(map(lambda num : num**3, list(range(5,11))))

[125, 216, 343, 512, 729, 1000]

In [78]:
numbers = [1,2,3,4,5,6,7,8,9]
res = list(map(lambda num : num + num, numbers))
print(res)
print()
res1 = list(map(lambda num : num ** num, numbers))
print(res1)
print()

[2, 4, 6, 8, 10, 12, 14, 16, 18]

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]

In [85]:
names = ["Ajit","Saurabh","Sahil","Sakshi","Gaurav"]
age =   [14,15,16,17,18]
list(map(lambda x : x.lower(), names))

['ajit', 'saurabh', 'sahil', 'sakshi', 'gaurav']

## reduce()

In [86]:
from functools import reduce

In [93]:
def mul(num):
    return num*2

print(mul(2))

4

In [104]:
num_list = [1,2,3,4,5,6,7,8,9]


reduce(lambda a,b : a + b, num_list) # 1+2 , 3+3, 6+4, 10+5, 15+6, 21+7, 28+8, 36+9 = 45

45

In [105]:
num_list = [1,2,3,4,5]


reduce(lambda a,b : a + b, num_list) # 1+2 , 3+3, 6+4, 10+5 = 15

15

In [107]:
num_l = [1,2,3,4,5]
reduce(lambda x, y: x*y, num_l) # 1*2, 2*3, 6*4, 24*5

120

## Calling a fucntion inside another fucntions

In [119]:
def add(a,b):
    return a + b

def multi(a,b):
    return a * b

def div(a,b):
    return a/b

def cal(x,y):
    print(f"addition:- {add(x,y)}")
    print(f"multiplication:- {multi(x,y)}")
    print(f"division:- {div(x,y)}")

    
x = 20
y = 40
cal(x,y)

addition:- 60
multiplication:- 800
division:- 0.5

In [125]:
def add(a,b):
    return a + b

def multi(a,b):
    return a * b

def sub(a,b):
    return a - b

def div(a,b):
    return a/b




def calculator(a,b):
    operator = ""
    while operator not in ["+","-","*","/"]:
        operator = input("chosse operator (+,-,*,/): ")
        
        print("Choose correct operator from (+,-,*,/)")
    if operator == "+":
        return f"addition of the numbers are: {add(a,b)}"
    
    elif operator == "-":
        return f"subtraction of the numbers are: {sub(a,b)}"
    
    elif operator == "*":
        return f"multiplication of the numbers are: {multi(a,b)}"
        
    elif operator == "/":
        return f"division of the numbers are: {div(a,b)}"
    
a = int(input("Enter a intiger number: "))
b = int(input("Enter b intiger number: "))
calculator(a,b)

Enter a intiger number: 4
Enter b intiger number: 5
chosse operator (+,-,*,/): l
Choose correct operator from (+,-,*,/)
chosse operator (+,-,*,/): -
Choose correct operator from (+,-,*,/)

'subtraction of the numbers are: -1'