# Check items in list

In [2]:
li = [1,2,3,4.4,5.5,6.6,"Python","And","Data","Science","With","Machine","Learning"]
print(li)

[1, 2, 3, 4.4, 5.5, 6.6, 'Python', 'And', 'Data', 'Science', 'With', 'Machine', 'Learning']

In [3]:
"Python" in li

True

In [4]:
"python" in li

False

In [5]:
100 in li

False

In [6]:
"Machine" in li

True

In [8]:
print(li)

[1, 2, 3, 4.4, 5.5, 6.6, 'Python', 'And', 'Data', 'Science', 'With', 'Machine', 'Learning']

In [2]:
li = [1, 2, 3, 4.4, 5.5, 6.6, 'Python', 'And', 'Data', 'Science', 'With', 'Machine', 'Learning']

if "Machine" in li:
    print(f"Machine is present in list")
else:
    print(f"Machine is not present in list")

Machine is present in list

In [3]:
li = [1, 2, 3, 4.4, 5.5, 6.6, 'Python', 'And', 'Data', 'Science', 'With', 'Machine', 'Learning']

if "machine" not in li:
    print(f"Machine is not present in list")  
else:
    print(f"Machine is present in list")

Machine is not present in list

In [11]:
li = [1, 2, 3, 4.4, 5.5, 6.6, 'Python', 'And', 'Data', 'Science', 'With', 'Machine', 'Learning']
element = 100

if element in li:
    print(f"{element} is present in list")
else:
    print(f"{element} is not present in list")

100 is not present in list

In [12]:
li = [1, 2, 3, 4.4, 5.5, 6.6, 'Python', 'And', 'Data', 'Science', 'With', 'Machine', 'Learning']
element = 5.5

if element in li:
    print(f"{element} is present in list")
else:
    print(f"{element} is not present in list")

5.5 is present in list

In [5]:
li = [1, 2, 3, 4.4, 5.5, 6.6, 'Python', 'And', 'Data', 'Science', 'With', 'Machine', 'Learning']
element = 5.515

if element not in li: # True
    print(f"{element} is not present in list")
else:
    print(f"{element} is present in list")

5.515 is not present in list

# Access list elements(items) by using for loop

for variable_name in sequence:
    statement-1
    statement-2
    statement-3
        .
        .
    statement-n

In [15]:
li = [1,2,3,4,5]
li[4]

5

In [16]:
li = [1,2,3,4,5]# i=v
for item in li: # 0=1,1=2,2=3,3=4,4=5 = we have 5 elements
    print("Accessing items from list")

Accessing items from list
Accessing items from list
Accessing items from list
Accessing items from list
Accessing items from list

In [19]:
li = [1,2,3,4,5]
for item in li: 
    print(f"Element = {item}")
    print("Element is printed")
    print()

Element = 1
Element is printed

Element = 2
Element is printed

Element = 3
Element is printed

Element = 4
Element is printed

Element = 5
Element is printed

In [20]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
for name in student_names: 
    print(f"Name = {name}")
    print()

Name = Pankaj

Name = Saurabh

Name = Sahil

Name = Nikita

Name = Sakshi

In [21]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
for name in student_names: 
    print("Name = ",name)
    print()

Name =  Pankaj

Name =  Saurabh

Name =  Sahil

Name =  Nikita

Name =  Sakshi

In [23]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
for index,name in enumerate(student_names): 
    print(f"The element = {name} is on the index = {index}")
    print()

The element = Pankaj is on the index = 0

The element = Saurabh is on the index = 1

The element = Sahil is on the index = 2

The element = Nikita is on the index = 3

The element = Sakshi is on the index = 4

In [26]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
for index,name in enumerate(student_names): 
    print(f"{index}  ::     {name}")

0  ::     Pankaj
1  ::     Saurabh
2  ::     Sahil
3  ::     Nikita
4  ::     Sakshi

In [39]:
type(range(1,5))

range

In [28]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [30]:
li = [ 1,2,3,4,5,6,7]
li

[1, 2, 3, 4, 5, 6, 7]

In [31]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [32]:
tuple(range(1,6))

(1, 2, 3, 4, 5)

In [35]:
print(list(range(1,11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [37]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [38]:
for i in list(range(6)):
    print(i)

0
1
2
3
4
5

In [40]:
student_names

['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']

In [41]:
for val in range(len(student_names)):
    print(val)

0
1
2
3
4

In [42]:
for val in range(len(student_names)):
    print(f"{val} ------> {student_names[val]}")

0 ------> Pankaj
1 ------> Saurabh
2 ------> Sahil
3 ------> Nikita
4 ------> Sakshi

In [44]:
for val in range(len(student_names)):
    print(f"{val} ------> {student_names[val].upper()}")

0 ------> PANKAJ
1 ------> SAURABH
2 ------> SAHIL
3 ------> NIKITA
4 ------> SAKSHI

In [45]:
for val in range(len(student_names)):
    print(f"{val} ------> {student_names[val].upper()}")

0 ------> pankaj
1 ------> saurabh
2 ------> sahil
3 ------> nikita
4 ------> sakshi

In [47]:
for val in range(len(student_names)):
    print(f"{val + 500} ")

500
501
502
503
504

In [55]:
li = [1, 2, 3, 4.4, 5.5, 6.6, 'Python', 'And', 'Data', 'Science', 'With', 'Machine', 'Learning',5+5j]
for i in li:
    if type(i)==int:
        print(i,"its int data type" )
    elif type(i)==float:
        print (i,"its float data type")
    elif type(i)==str:
        print(i,"its string data type")
    else:
        print("its a different data type not mentioned in conditions")

1 its int data type
2 its int data type
3 its int data type
4.4 its float data type
5.5 its float data type
6.6 its float data type
Python its string data type
And its string data type
Data its string data type
Science its string data type
With its string data type
Machine its string data type
Learning its string data type
its a different data type not mentioned in conditions