# Examples
### Factorial of Number

3! ===> 3 * 2 * 1 = 6
4! ===> 4 * 3 * 2 * 1 = 24
5! ===> 5 * 4 * 3 * 2 * 1 = 120

In [6]:
n = 3
factorial = 1
for i in range(1, n + 1): # 1,2,3,4=excl
    factorial = factorial * i
    print(f"At interation number {i} factorial is = {factorial}")
factorial

At interation number 1 factorial is = 1
At interation number 2 factorial is = 2
At interation number 3 factorial is = 6

6

In [7]:
n = 4
factorial = 1
for i in range(1, n + 1): # 1,2,3,4=excl
    factorial = factorial * i
    print(f"At interation number {i} factorial is = {factorial}")
factorial

At interation number 1 factorial is = 1
At interation number 2 factorial is = 2
At interation number 3 factorial is = 6
At interation number 4 factorial is = 24

24

In [8]:
n = 5
factorial = 1
for i in range(1, n + 1): # 1,2,3,4=excl
    factorial = factorial * i
    print(f"At interation number {i} factorial is = {factorial}")
factorial

At interation number 1 factorial is = 1
At interation number 2 factorial is = 2
At interation number 3 factorial is = 6
At interation number 4 factorial is = 24
At interation number 5 factorial is = 120

120

In [9]:
n = int(input("Factorial of ?"))
factorial = 1
for i in range(1, n + 1): # 1,2,3,4=excl
    factorial = factorial * i
    print(f"At interation number {i} factorial is = {factorial}")
factorial

Factorial of ?7
At interation number 1 factorial is = 1
At interation number 2 factorial is = 2
At interation number 3 factorial is = 6
At interation number 4 factorial is = 24
At interation number 5 factorial is = 120
At interation number 6 factorial is = 720
At interation number 7 factorial is = 5040

5040

In [10]:
n = int(input("Factorial of ?"))
factorial = 1
for i in range(1, n + 1): # 1,2,3,4=excl
    factorial = factorial * i
    print(f"At interation number {i} factorial is = {factorial}")
print(f"Tha factorial of {n} == {factorial}")

Factorial of ?7
At interation number 1 factorial is = 1
At interation number 2 factorial is = 2
At interation number 3 factorial is = 6
At interation number 4 factorial is = 24
At interation number 5 factorial is = 120
At interation number 6 factorial is = 720
At interation number 7 factorial is = 5040
Tha factorial of 7 == 5040

In [14]:
n = int(input("Factorial of ?"))
factorial = 1
for i in range(1, n + 1): 
    factorial = factorial * i
    print(f"At interation number {i} factorial is = {factorial}")
print(f"Tha factorial of {n} == {factorial}")

Factorial of ?0
Tha factorial of 0 == 1

In [21]:
n = int(input("Factorial of ?"))
factorial = 1
 
if n < 0:
    print(f"Factorial does not exist")
else:
    for i in range(1, n + 1): 
        factorial = factorial * i
    print(f"Tha factorial of {n} ==> {factorial}")

Factorial of ?-6
Factorial does not exist

In [23]:
n = int(input("Factorial of ?"))
factorial = 1
 
if n < 0:
    print(f"Factorial does not exist")
else:
    for i in range(1, n + 1): 
        factorial = factorial * i
    print(f"Tha factorial of {n} ==> {factorial}")

Factorial of ?5
Tha factorial of 5 ==> 120

### Fibonacci Series

n = 5
0 1 1 2 3
f s n
s n
n = 8
0 1 1 2 3 5 8 13

n = 10
0 1 1 2 3 5 8 13 21 34

In [24]:
n = 5
first = 0
second = 1
print(first)
print(second)
for i in range(2,n):
    new = first + second 
    first = second
    second = new
    print(new)

0
1
1
2
3

In [25]:
n = 8
first = 0
second = 1
print(first)
print(second)
for i in range(2,n):
    new = first + second 
    first = second
    second = new
    print(new)

0
1
1
2
3
5
8
13

In [35]:
print("Python",end="\n")
print("DS")
print("Python",end="-")
print("DS")
print("Python",end="+")
print("DS")

Python
DS
Python-DS
Python+DS

In [27]:
print("Python",end=" ")
print("DS")

Python DS

In [30]:
n = 8
first = 0
second = 1
print(f"The fibonacci series for {n} = ",end=' ')
print(first,end=' ')
print(second,end = " ")
for i in range(2,n):
    new = first + second 
    first = second
    second = new
    print(new,end=' ')

The fibonacci series for 8 =  0 1 1 2 3 5 8 13