# Nested For Loop 
- For loop inside a for loop

for var_name1 in sequence1:
    statement-1
    statement-2
    statement-3
        .
        .
    statement-n
    
    for var_name2 in sequence2:
        statement-1
        statement-2
        statement-3
            .
            .
        statement-n
        
     for var_name3 in sequence3:
        statement-1
        statement-2
        statement-3
            .
            .
        statement-n

In [1]:
for i in range(5):
    print(f"i --> {i}")

i --> 0
i --> 1
i --> 2
i --> 3
i --> 4

In [2]:
for i in range(5):
    print(f"i --> {i}")
    for j in range(5):
        print(f"DS")

i --> 0
DS
DS
DS
DS
DS
i --> 1
DS
DS
DS
DS
DS
i --> 2
DS
DS
DS
DS
DS
i --> 3
DS
DS
DS
DS
DS
i --> 4
DS
DS
DS
DS
DS

In [7]:
for i in range(5):
    print(f"Outer Statement i --> {i}")
    print()
    for j in range(5): # 5 times
        print(f"Inner statement j --> {j}")
    print()
    print()

Outer Statement i --> 0

Inner statement j --> 0
Inner statement j --> 1
Inner statement j --> 2
Inner statement j --> 3
Inner statement j --> 4


Outer Statement i --> 1

Inner statement j --> 0
Inner statement j --> 1
Inner statement j --> 2
Inner statement j --> 3
Inner statement j --> 4


Outer Statement i --> 2

Inner statement j --> 0
Inner statement j --> 1
Inner statement j --> 2
Inner statement j --> 3
Inner statement j --> 4


Outer Statement i --> 3

Inner statement j --> 0
Inner statement j --> 1
Inner statement j --> 2
Inner statement j --> 3
Inner statement j --> 4


Outer Statement i --> 4

Inner statement j --> 0
Inner statement j --> 1
Inner statement j --> 2
Inner statement j --> 3
Inner statement j --> 4

In [8]:
for i in range(2): # 0 and 1
    print(f"Outer Statement i --> {i}")
    print()
    for j in range(5): # 5 times
        print(f"Inner statement j --> {j}")
    print()
    print()

Outer Statement i --> 0

Inner statement j --> 0
Inner statement j --> 1
Inner statement j --> 2
Inner statement j --> 3
Inner statement j --> 4


Outer Statement i --> 1

Inner statement j --> 0
Inner statement j --> 1
Inner statement j --> 2
Inner statement j --> 3
Inner statement j --> 4

In [9]:
for i in range(5): # 0, 1, 2, 3, 4
    print(f"Outer Statement i --> {i}")
    print()
    for j in range(2): # 2 times
        print(f"Inner statement j --> {j}")
    print()
    print()

Outer Statement i --> 0

Inner statement j --> 0
Inner statement j --> 1


Outer Statement i --> 1

Inner statement j --> 0
Inner statement j --> 1


Outer Statement i --> 2

Inner statement j --> 0
Inner statement j --> 1


Outer Statement i --> 3

Inner statement j --> 0
Inner statement j --> 1


Outer Statement i --> 4

Inner statement j --> 0
Inner statement j --> 1

In [11]:
for i in range(5): # 0, 1, 2, 3, 4
    print(f"Outer Statement i --> {i}")
    print()
    for j in range(2): # 2 times
        print(f"Inner statement 1 === j --> {j}")
    print()
    
    for k in range(2): # 2 times
        print(f"Inner statement 2 === k --> {k}")
    print()
    print()

Outer Statement i --> 0

Inner statement 1 === j --> 0
Inner statement 1 === j --> 1

Inner statement 2 === k --> 0
Inner statement 2 === k --> 1


Outer Statement i --> 1

Inner statement 1 === j --> 0
Inner statement 1 === j --> 1

Inner statement 2 === k --> 0
Inner statement 2 === k --> 1


Outer Statement i --> 2

Inner statement 1 === j --> 0
Inner statement 1 === j --> 1

Inner statement 2 === k --> 0
Inner statement 2 === k --> 1


Outer Statement i --> 3

Inner statement 1 === j --> 0
Inner statement 1 === j --> 1

Inner statement 2 === k --> 0
Inner statement 2 === k --> 1


Outer Statement i --> 4

Inner statement 1 === j --> 0
Inner statement 1 === j --> 1

Inner statement 2 === k --> 0
Inner statement 2 === k --> 1

In [14]:
for i in range(5): # 0, 1, 2, 3, 4
    print(f"Outer Statement i --> {i}")
    for j in range(2): # 2 times
        print(f"Inner statement 1 === j --> {j}")
        for k in range(2): # 2 times
            print(f"Inner-Inner statement 1 === k --> {k}")
    print()

Outer Statement i --> 0
Inner statement 1 === j --> 0
Inner-Inner statement 1 === k --> 0
Inner-Inner statement 1 === k --> 1
Inner statement 1 === j --> 1
Inner-Inner statement 1 === k --> 0
Inner-Inner statement 1 === k --> 1

Outer Statement i --> 1
Inner statement 1 === j --> 0
Inner-Inner statement 1 === k --> 0
Inner-Inner statement 1 === k --> 1
Inner statement 1 === j --> 1
Inner-Inner statement 1 === k --> 0
Inner-Inner statement 1 === k --> 1

Outer Statement i --> 2
Inner statement 1 === j --> 0
Inner-Inner statement 1 === k --> 0
Inner-Inner statement 1 === k --> 1
Inner statement 1 === j --> 1
Inner-Inner statement 1 === k --> 0
Inner-Inner statement 1 === k --> 1

Outer Statement i --> 3
Inner statement 1 === j --> 0
Inner-Inner statement 1 === k --> 0
Inner-Inner statement 1 === k --> 1
Inner statement 1 === j --> 1
Inner-Inner statement 1 === k --> 0
Inner-Inner statement 1 === k --> 1

Outer Statement i --> 4
Inner statement 1 === j --> 0
Inner-Inner statement 1 === k --> 0
Inner-Inner statement 1 === k --> 1
Inner statement 1 === j --> 1
Inner-Inner statement 1 === k --> 0
Inner-Inner statement 1 === k --> 1

In [15]:
for i in range(5):
    for j in [10,20,30,40,50]:
        print(j)
    print()

10
20
30
40
50

10
20
30
40
50

10
20
30
40
50

10
20
30
40
50

10
20
30
40
50

In [20]:
str1 = "Python"
for i in range(5):
    for j in str1:
        print(j,end=' ')
    print()

P y t h o n
P y t h o n
P y t h o n
P y t h o n
P y t h o n

In [23]:
for i in range(5):
    print("i ---->",i)
    for j in range(5):
        print("*")

i ----> 0
*
*
*
*
*
i ----> 1
*
*
*
*
*
i ----> 2
*
*
*
*
*
i ----> 3
*
*
*
*
*
i ----> 4
*
*
*
*
*

*********
*********
*********
*********

In [24]:
print("*********")
print("*********")
print("*********")
print("*********")

*********
*********
*********
*********

In [25]:
for i in range(5):
    print("*********")

*********
*********
*********
*********
*********

In [26]:
for j in range(5):
    print("j --->",j)
    for i in range(5):
        print("*********")

j ---> 0
*********
*********
*********
*********
*********
j ---> 1
*********
*********
*********
*********
*********
j ---> 2
*********
*********
*********
*********
*********
j ---> 3
*********
*********
*********
*********
*********
j ---> 4
*********
*********
*********
*********
*********

In [27]:
for i in range(5):
    for j in range(5):
        print("*")
    print()

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

In [30]:
for i in range(5):
    for j in range(5):
        print("*",end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [31]:
for i in range(3):
    for j in range(3):
        print("*",end=' ')
    print()

* * *
* * *
* * *

In [32]:
for i in range(3):
    for j in range(5):
        print("*",end=' ')
    print()

* * * * *
* * * * *
* * * * *

In [33]:
for i in range(5):
    for j in range(3):
        print("*",end=' ')
    print()

* * *
* * *
* * *
* * *
* * *

In [34]:
for i in range(5):
    for j in range(i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *

In [35]:
for i in range(1, 6): # i = 3
    for j in range(i): # j 0 1 2   
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [36]:
for i in range(1, 10):
    for j in range(i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [37]:
for i in range(1, 6): 
    for j in range(i):
        print(" ",end='*')
    print()

 *
 * *
 * * *
 * * * *
 * * * * *

In [38]:
for i in range(6,0,-1): # i = 6
    for j in range(i): # j = 0,1,2,3,4,5   
        print("*",end=' ')
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

1 1 1 1 1 
1 1 1 1 1 
1 1 1 1 1 
1 1 1 1 1 
1 1 1 1 1

In [39]:
for i in range(5):
    for j in range(5):
        print("1",end=' ')
    print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [40]:
num = 1
for i in range(5):
    for j in range(5):
        print(num,end=' ')
    print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [41]:
num = 5
for i in range(5):
    for j in range(5):
        print(num,end=' ')
    print()

5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [42]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [43]:
for i in range(1,6):
    for j in range(1,6):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [44]:
for i in range(6):
    for j in range(6):
        print(j,end=' ')
    print()

0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5

In [45]:
for i in range(6):
    for j in range(6):
        print(i,end=' ')
    print()

0 0 0 0 0 0
1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5

1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5

In [46]:
for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

A A A A A 
A A A A A 
A A A A A 
A A A A A 
A A A A A

In [47]:
for i in range(1,6):
    for j in range(1,6):
        print("A",end=' ')
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [48]:
chr(65)

'A'

In [50]:
chr(66)
chr(90)

'Z'

In [51]:
chr(97)

'a'

In [52]:
chr(122)

'z'

In [53]:
for i in range(1,6):
    for j in range(1,6):
        print(chr(65),end=' ')
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [54]:
num = 65
for i in range(1,6):
    for j in range(1,6):
        print(chr(num),end=' ')
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [55]:
num = 65
for i in range(1,6):
    for j in range(1,6):
        print(chr(num),end=' ')
        
    num += 1
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [56]:
num = 65
for i in range(1,6):
    num = 65
    for j in range(1,6):
        print(chr(num),end=' ')
        
        num += 1
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [57]:
num = 65
for i in range(1,6):
    for j in range(1,6):
        print(chr(num),end=' ')
        
        num += 1
    print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

A
A B
A B C
A B C D
A B C D E

In [59]:
for i in range(1,6):
    num = 65
    for j in range(i):
        print(chr(num),end=' ')
        num += 1
    print()

A
A B
A B C
A B C D
A B C D E

In [60]:
for i in range(1,6):
    num = 97
    for j in range(i):
        print(chr(num),end=' ')
        num += 1
    print()

a
a b
a b c
a b c d
a b c d e

In [62]:
num = 97
for i in range(1,6):
    for j in range(i):
        print(chr(num),end=' ')
    num += 1
    print()

a
b b
c c c
d d d d
e e e e e

In [63]:
num = 97
for i in range(1,6):
    for j in range(i):
        print(chr(num),end=' ')
        num += 1
    print()

a
b c
d e f
g h i j
k l m n o

In [64]:
print("*"*5 + " "*3)

*****

 * 
 *  * 
 *  *  * 
 *  *  *  * 
 *  *  *  *  *

In [66]:
n = 5
for i in range(1,n+1):
    print("*"*i + " "*(n-i))

*
**
***
****
*****

In [67]:
n = 5
for i in range(1,n+1):
    print(" "*(n-i) + "*"*i)

    *
   **
  ***
 ****
*****

In [70]:
n = 5
for i in range(1,n+1):
    print(" "*(n-i) + " *"*i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [73]:
n = 5
for i in range(1,n+1):
    print(" "*(n-i) + " *"*i)

for i in range(n-1,0,-1):
    print(" "*(n-i) + " *"*i)

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [75]:
n = 5
for i in range(1,n+1):
    print("  "*(n-i) + "*"*i)

for i in range(n-1,0,-1):
    print("  "*(n-i) + "*"*i)

        *
      **
    ***
  ****
*****
  ****
    ***
      **
        *

In [83]:
n = 5
for i in range(1,n+1):
    print(" "*(n-i) + "* "*i)

for i in range(n-1,0,-1):
    print(" "*(n-i) + "* "*i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [77]:
n = 5
for i in range(1,n+1):
    print(""*(n-i) + "* "*i)

for i in range(n-1,0,-1):
    print(""*(n-i) + "* "*i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [78]:
n = 5
for i in range(1,n+1):
    print(" "*(n-i) + "* "*i)

for i in range(n-1,0,-1):
    print(" "*(n-i) + "* "*i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [80]:
n = 5
for i in range(1,n+1):
    print("  "*(n-i) + "* "*i)

for i in range(n-1,0,-1):
    print("  "*(n-i) + "* "*i)

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [84]:
n = 5
for i in range(1,n+1): 
    for j in range(i):
        print('*',end = ' ')
    print()
for i in range(n-1,0,-1): 
    for j in range(i):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
1 > 1
2 > 3
3 > 5
4 > 7
5 > 9


(i*2 - 1)

In [94]:
n = 5
for i in range(1,n+1):  
    print(' ' * (n-i) + "*" * (i * 2 - 1))

    *
   ***
  *****
 *******
*********

In [95]:
n = 5
for i in range(1,n+1):  
    print('  ' * (n-i) + "*" * (i * 2 - 1))

        *
      ***
    *****
  *******
*********

In [93]:
n = 5
for i in range(1,n+1):  
    print('' * (n-i) + "*" * (i * 2 - 1))

*
***
*****
*******
*********

In [96]:
li = [1,2,3,[11,22,33],5,6,7,[111,222,333],232,[223,323]]
li

[1, 2, 3, [11, 22, 33], 5, 6, 7, [111, 222, 333], 232, [223, 323]]

In [97]:
flatten_list = []
for i in li:
    
    for j in i:
        flatten_list.append(j)

TypeError: 'int' object is not iterable

In [100]:
flatten_list = []
li = [1,2,3,[11,[22,33]],5,6,7,[111,222,333],232,[223,323]]
for i in li:
    if type(i) == int:
        flatten_list.append(i)
        
    else:
        for j in i:
            flatten_list.append(j)
flatten_list

[1, 2, 3, 11, [22, 33], 5, 6, 7, 111, 222, 333, 232, 223, 323]

In [99]:
li

[1, 2, 3, [11, 22, 33], 5, 6, 7, [111, 222, 333], 232, [223, 323]]