In [1]:
set1 = {1,2,3}

type(set1)

set

In [3]:
set2 = set([1,2,3])
type(set2)

set

In [4]:
set2 = set((1,2,3))
type(set2)

set

In [5]:
set2 = set("Python") # Considerd as a sequence
type(set2)

set

In [7]:
set3 = {"Python"} # Considerd as a single element
set3

{'Python'}

In [8]:
set2 = set("Python") # Considerd as a sequence
set2

{'P', 'h', 'n', 'o', 't', 'y'}

In [9]:
list(set2)

['y', 'o', 't', 'n', 'h', 'P']

In [10]:
tuple(set2)

('y', 'o', 't', 'n', 'h', 'P')

In [11]:
str(set2)

"{'y', 'o', 't', 'n', 'h', 'P'}"

In [12]:
"".join(set2)

'yotnhP'

In [13]:
for i in set2:
    print(i)

y
o
t
n
h
P

In [14]:
set2

{'P', 'h', 'n', 'o', 't', 'y'}

In [18]:
set2.add("Data Science") # Add will be used to add only single item
set2

{'Data Science', 'P', '[1,2,3]', 'h', 'n', 'o', 't', 'y'}

In [19]:
set2.add('[1,2,3]')
set2

{'Data Science', 'P', '[1,2,3]', 'h', 'n', 'o', 't', 'y'}

In [20]:
set1

{1, 2, 3}

In [22]:
set1.update(set('Python'))

In [23]:
set1

{1, 2, 3, 'P', 'h', 'n', 'o', 't', 'y'}

In [28]:
set1.update(set2,set([100,200,300])) # We can update our set with single or multiple sets

In [27]:
print(set1)

{1, 2, 3, 'y', 100, 200, 300, 'o', 'n', 'P', '[1,2,3]', 'h', 't', 'Data Science'}

In [29]:
set3 = {1,2,3}
set3

{1, 2, 3}

In [32]:
set3.update([11,22,33])

In [33]:
set3

{1, 2, 3, 11, 22, 33}

In [35]:
set3.update((111,222,333))

In [37]:
set3.update("Python")

In [38]:
set3

{1, 11, 111, 2, 22, 222, 3, 33, 333, 'P', 'h', 'n', 'o', 't', 'y'}

In [39]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

print(f"Set1 = {set1}")
print(f"Set2 = {set2}")

set3 = set1.union(set2)

print(f"The union of set1 and set2 = {set3}")

Set1 = {1, 2, 3, 4, 5}
Set2 = {3, 4, 5, 6, 7}
The union of set1 and set2 = {1, 2, 3, 4, 5, 6, 7}

In [40]:
set1 = {"Python","R"}
set2 = {"R","Java"}

print(f"Set1 = {set1}")
print(f"Set2 = {set2}")

set3 = set1.union(set2)

print(f"The union of set1 and set2 = {set3}")

Set1 = {'Python', 'R'}
Set2 = {'R', 'Java'}
The union of set1 and set2 = {'Python', 'R', 'Java'}

In [42]:
set1 = {"Python","R"}
set2 = {"R","Java"}
set4 = ("C","R","C++")

print(f"Set1 = {set1}")
print(f"Set2 = {set2}")
print(f"Set3 = {set4}")

set3 = set1.union(set2,set4)

print(f"The union of set1 and set2 = {set3}")

Set1 = {'Python', 'R'}
Set2 = {'R', 'Java'}
Set3 = ('C', 'R', 'C++')
The union of set1 and set2 = {'C++', 'Java', 'C', 'Python', 'R'}

In [43]:
set1 = {"Python","R"}
set2 = {"R","Java"}
set4 = ["C","R","C++"]

print(f"Set1 = {set1}")
print(f"Set2 = {set2}")
print(f"Set3 = {set4}")

set3 = set1.union(set2,set4)

print(f"The union of set1 and set2 = {set3}")

Set1 = {'Python', 'R'}
Set2 = {'R', 'Java'}
Set3 = ['C', 'R', 'C++']
The union of set1 and set2 = {'C++', 'Java', 'C', 'Python', 'R'}