# Set

# Delete
- 1. remove()
- 2. discard()
- 3. pop()
- 4. clear()

### 1. remove()
- set.remove(item)

In [1]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}
print(f"Before remove operation = {lang_set}")
item = input("Enter a language to remove from a set.....")
lang_set.remove(item)
print(f"After remove operation  = {lang_set}")

Before remove operation = {'C', 'C++', 'Java', 'Python', 'R'}
Enter a language to remove from a set.....C
After remove operation  = {'C++', 'Java', 'Python', 'R'}

In [2]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}
print(f"Before remove operation = {lang_set}")
item = input("Enter a language to remove from a set.....")
lang_set.remove(item)
print(f"After remove operation  = {lang_set}")

Before remove operation = {'C', 'C++', 'Java', 'Python', 'R'}
Enter a language to remove from a set.....Python
After remove operation  = {'C', 'C++', 'Java', 'R'}

In [3]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}
print(f"Before remove operation = {lang_set}")
item = input("Enter a language to remove from a set.....")
lang_set.remove(item)
print(f"After remove operation  = {lang_set}")

Before remove operation = {'C', 'C++', 'Java', 'Python', 'R'}
Enter a language to remove from a set.....Cplusplus

KeyError: 'Cplusplus'

In [5]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}
print(f"Before remove operation = {lang_set}")
item = input("Enter a language to remove from a set.....")
if item in lang_set:
    lang_set.remove(item)
else:
    print("Item not present in a set")
print(f"After remove operation  = {lang_set}")

Before remove operation = {'C', 'C++', 'Java', 'Python', 'R'}
Enter a language to remove from a set.....r
Item not present in a set
After remove operation  = {'C', 'C++', 'Java', 'Python', 'R'}

In [6]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}
print(f"Before remove operation = {lang_set}")
item = input("Enter a language to remove from a set.....")
if item in lang_set:
    lang_set.remove(item)
else:
    print("Item not present in a set")
print(f"After remove operation  = {lang_set}")

Before remove operation = {'C', 'C++', 'Java', 'Python', 'R'}
Enter a language to remove from a set.....Python
After remove operation  = {'C', 'C++', 'Java', 'R'}

### 2. discard()

In [7]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}
print(f"Before remove operation = {lang_set}")
item = input("Enter a language to remove from a set.....")
lang_set.remove(item)
print(f"After remove operation  = {lang_set}")

Before remove operation = {'C', 'C++', 'Java', 'Python', 'R'}
Enter a language to remove from a set.....Python
After remove operation  = {'C', 'C++', 'Java', 'R'}

In [8]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}
print(f"Before remove operation = {lang_set}")
item = input("Enter a language to remove from a set.....")
lang_set.remove(item)
print(f"After remove operation  = {lang_set}")

Before remove operation = {'C', 'C++', 'Java', 'Python', 'R'}
Enter a language to remove from a set.....python

KeyError: 'python'

In [11]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}
print(f"Before discard operation = {lang_set}")
item = input("Enter a language to remove from a set.....")
lang_set.discard(item)
print(f"After discard operation  = {lang_set}")

Before discard operation = {'C', 'C++', 'Java', 'Python', 'R'}
Enter a language to remove from a set.....Java
After discard operation  = {'C', 'C++', 'Python', 'R'}

In [12]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}
print(f"Before discard operation = {lang_set}")
item = input("Enter a language to remove from a set.....")
lang_set.discard(item)
print(f"After discard operation  = {lang_set}")

Before discard operation = {'C', 'C++', 'Java', 'Python', 'R'}
Enter a language to remove from a set.....java
After discard operation  = {'C', 'C++', 'Java', 'Python', 'R'}

### 3. pop()
- It will delete random elements from a set

In [15]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}
print(f"Before pop operation = {lang_set}")
lang_set.pop()
print(f"After  pop operation = {lang_set}")

Before pop operation = {'C', 'C++', 'Java', 'Python', 'R'}
After  pop operation = {'C++', 'Java', 'Python', 'R'}

In [16]:
lang_set = {'C++', 'Java', 'C', 'Python', 'R'}
print(f"Before pop operation = {lang_set}")
lang_set.pop()
print(f"After  pop operation = {lang_set}")

Before pop operation = {'C', 'C++', 'Java', 'Python', 'R'}
After  pop operation = {'C++', 'Java', 'Python', 'R'}

In [17]:
lang_set = {1,2,3,4,5}
print(f"Before pop operation = {lang_set}")
lang_set.pop()
print(f"After  pop operation = {lang_set}")

Before pop operation = {1, 2, 3, 4, 5}
After  pop operation = {2, 3, 4, 5}

In [111]:
sub_name = {'phy','che','math','eng','bio'}
sub_name.pop()
sub_name

{'bio', 'che', 'eng', 'phy'}

### 4. clear()
- Used to remove all elements from a set and it returns an empty set-->set()

In [112]:
set1 = {'phy','che','math','eng','bio',1,2,3,4,5, 'Java', 'C', 'Python'}
set1

{1, 2, 3, 4, 5, 'C', 'Java', 'Python', 'bio', 'che', 'eng', 'math', 'phy'}

In [113]:
set1.clear()

In [114]:
set1

set()

### 5. del

In [115]:
set1 = {'phy','che','math','eng','bio',1,2,3,4,5, 'Java', 'C', 'Python'}
set1

{1, 2, 3, 4, 5, 'C', 'Java', 'Python', 'bio', 'che', 'eng', 'math', 'phy'}

In [116]:
del set1
set1

NameError: name 'set1' is not defined

# Other functions

## 1. intersection()

In [117]:
set1 = {"Python","R"}
set2 = {"R","Java"}
# set4 = ["C","R","C++"]

set3 = set1.intersection(set2)
set3

{'R'}

In [121]:
set1 = {"Python","R","C"}
set2 = {"R","Java","C"}
set3 = ["C","R","C++"]

set4 = set1.intersection(set2,set3) # List, tuple, set
set4

{'C', 'R'}

In [122]:
set1 = {"Python","R","C"}
set2 = ("R","Java","C")
set3 = ["C","R","C++"]

set4 = set1.intersection(set2,set3) # List, tuple, set
set4

{'C', 'R'}

In [123]:
set3.intersection(set1)

AttributeError: 'list' object has no attribute 'intersection'

## 2. intersection_update()

In [125]:
set1 = {"Python","R"}
set2 = {"R","Java"}
# set4 = ["C","R","C++"]

set3 = set1.intersection_update(set2)
type(set3)

NoneType

In [126]:
set1

{'R'}

In [128]:
set1 = {"Python","R"}
set2 = {"R","Java"}
# set4 = ["C","R","C++"]

set2.intersection_update(set1)
set2

{'R'}

In [129]:
city_name1 = {"pune","mumbai","delhi"}
city_name2 = {'pune','banglore','chennai'}

city_name1.intersection(city_name2)

{'pune'}

In [130]:
city_name1

{'delhi', 'mumbai', 'pune'}

In [131]:
city_name1 = {"pune","mumbai","delhi"}
city_name2 = {'pune','banglore','chennai'}

city_name1.intersection_update(city_name2)

In [132]:
city_name1

{'pune'}

In [137]:
li = [2]
li3 = li[0] + 100 
li3

102

In [136]:
li

[2]

10 - 6 = 4
1,2,3,4,5,6,7,8,9,10
1,2,3,4,5,6
difference  7,8,9,10

### 3. difference

In [139]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,2,3,4,5,6}

print(f"Set1 before difference operation --> {set1}")
print(f"Set2 before difference operation --> {set2}")


set3 = set1.difference(set2)

print(f"Set3 before difference operation --> {set3}")

Set1 before difference operation --> {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set2 before difference operation --> {1, 2, 3, 4, 5, 6}
Set3 before difference operation --> {8, 9, 10, 7}

In [142]:
 

print(f"Set1 before difference operation --> {set1}")
print(f"Set2 before difference operation --> {set2}")


set3 = set1.difference(set2)

print(f"Set3  After difference operation --> {set3}")

Set1 before difference operation --> {'Hyderabad', 'Delhi', 'Pune', 'Kolkata', 'Mumbai'}
Set2 before difference operation --> {'Pune', 'Bangalore', 'Mumbai', 'Chennai'}
Set3  After difference operation --> {'Hyderabad', 'Delhi', 'Kolkata'}

In [143]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Bangalore','Chennai','Mumbai'}

print(f"Set1 before difference operation --> {set1}")
print(f"Set2 before difference operation --> {set2}")


set3 = set2.difference(set1)

print(f"Set3  After difference operation --> {set3}")

Set1 before difference operation --> {'Hyderabad', 'Delhi', 'Pune', 'Kolkata', 'Mumbai'}
Set2 before difference operation --> {'Pune', 'Bangalore', 'Mumbai', 'Chennai'}
Set3  After difference operation --> {'Bangalore', 'Chennai'}

In [144]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Bangalore','Chennai','Mumbai'}

print(f"Set1 before difference operation --> {set1}")
print(f"Set2 before difference operation --> {set2}")


set3 = set2.difference(set2)

print(f"Set3  After difference operation --> {set3}")

Set1 before difference operation --> {'Hyderabad', 'Delhi', 'Pune', 'Kolkata', 'Mumbai'}
Set2 before difference operation --> {'Pune', 'Bangalore', 'Mumbai', 'Chennai'}
Set3  After difference operation --> set()

In [145]:
li1 = [1,2,3,4,5]
li2 = [3,4,5,6,7]
li3 = []
for i in li1:
    if i not in li2:
        li3.append(i)
        
li3

[1, 2]

In [147]:
li1 = [1,2,3,4,5]
li2 = [3,4,5,6,7]
res = list(set(li1).difference(li2))
res

[1, 2]

In [148]:
li1 = [1,2,3,4,5]
li2 = [3,4,5,6,7]
li3 = []
for i in li2:
    if i not in li1:
        li3.append(i)
        
li3

[6, 7]

In [149]:
li1 = [1,2,3,4,5]
li2 = [3,4,5,6,7]
res = list(set(li2).difference(li1))
res

[6, 7]

### 4. difference_update()

In [150]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,2,3,4,5,6}

print(f"Set1 before difference operation --> {set1}")
print(f"Set2 before difference operation --> {set2}")

set1.difference_update(set2)


print(f"Set1 After difference_update operation --> {set1}")
print(f"Set2 After difference_update operation --> {set2}")

Set1 before difference operation --> {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set2 before difference operation --> {1, 2, 3, 4, 5, 6}
Set1 After difference_update operation --> {7, 8, 9, 10}
Set2 After difference_update operation --> {1, 2, 3, 4, 5, 6}

In [152]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Bangalore','Chennai','Mumbai'}

print(f"Set1 before difference operation --> {set1}")
print(f"Set2 before difference operation --> {set2}")

set2.difference_update(set1)


print(f"Set1 After difference_update operation --> {set1}")
print(f"Set2 After difference_update operation --> {set2}")

Set1 before difference operation --> {'Hyderabad', 'Delhi', 'Pune', 'Kolkata', 'Mumbai'}
Set2 before difference operation --> {'Pune', 'Bangalore', 'Mumbai', 'Chennai'}
Set1 After difference_update operation --> {'Hyderabad', 'Delhi', 'Pune', 'Kolkata', 'Mumbai'}
Set2 After difference_update operation --> {'Bangalore', 'Chennai'}

In [155]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Bangalore','Chennai','Mumbai'}
set3 = {"Pune",'Bangalore','Gorgaon','Mumbai'}

print(f"Set1 before difference operation --> {set1}")
print(f"Set2 before difference operation --> {set2}")

set3.difference_update(set1,set2)


print(f"Set1 After difference_update operation --> {set1}")
print(f"Set2 After difference_update operation --> {set2}")
print(f"Set3 After difference_update operation --> {set3}")

Set1 before difference operation --> {'Hyderabad', 'Delhi', 'Pune', 'Kolkata', 'Mumbai'}
Set2 before difference operation --> {'Pune', 'Bangalore', 'Mumbai', 'Chennai'}
Set1 After difference_update operation --> {'Hyderabad', 'Delhi', 'Pune', 'Kolkata', 'Mumbai'}
Set2 After difference_update operation --> {'Pune', 'Bangalore', 'Mumbai', 'Chennai'}
Set3 After difference_update operation --> {'Gorgaon'}

In [156]:
set1 = {'Pune','Mumbai','Delhi','Kolkata','Hyderabad'}
set2 = {"Pune",'Bangalore','Chennai','Mumbai'}
set3 = {"Pune",'Bangalore','Chennai','Mumbai'}

print(f"Set1 before difference operation --> {set1}")
print(f"Set2 before difference operation --> {set2}")

set3.difference_update(set1,set2)


print(f"Set1 After difference_update operation --> {set1}")
print(f"Set2 After difference_update operation --> {set2}")
print(f"Set3 After difference_update operation --> {set3}")

Set1 before difference operation --> {'Hyderabad', 'Delhi', 'Pune', 'Kolkata', 'Mumbai'}
Set2 before difference operation --> {'Pune', 'Bangalore', 'Mumbai', 'Chennai'}
Set1 After difference_update operation --> {'Hyderabad', 'Delhi', 'Pune', 'Kolkata', 'Mumbai'}
Set2 After difference_update operation --> {'Pune', 'Bangalore', 'Mumbai', 'Chennai'}
Set3 After difference_update operation --> set()

### 5. symmetric_difference()

In [157]:
set1 = {"Python","R"}
set2 = {"R","Java"}
# set4 = ["C","R","C++"]
print(f"Set1 before difference operation --> {set1}")
print(f"Set2 before difference operation --> {set2}")

res = set2.symmetric_difference(set1)

print(f"Set1 After difference_update operation --> {set1}")
print(f"Set2 After difference_update operation --> {set2}")
print("Result = ",res)

Set1 before difference operation --> {'Python', 'R'}
Set2 before difference operation --> {'Java', 'R'}
Set1 After difference_update operation --> {'Python', 'R'}
Set2 After difference_update operation --> {'Java', 'R'}
Result =  {'Java', 'Python'}

### 6. symmetric_difference_update()

In [159]:
set1 = {"Python","R"}
set2 = {"R","Java"}

print(f"Set1 before difference operation --> {set1}")
print(f"Set2 before difference operation --> {set2}")

set2.symmetric_difference_update(set1)

print(f"Set1 After difference_update operation --> {set1}")
print(f"Set2 After difference_update operation --> {set2}")

Set1 before difference operation --> {'Python', 'R'}
Set2 before difference operation --> {'Java', 'R'}
Set1 After difference_update operation --> {'Python', 'R'}
Set2 After difference_update operation --> {'Java', 'Python'}

In [160]:
set1 = {"Python","R"}
set2 = {"R","Java"}

print(f"Set1 before difference operation --> {set1}")
print(f"Set2 before difference operation --> {set2}")

set1.symmetric_difference_update(set2)

print(f"Set1 After difference_update operation --> {set1}")
print(f"Set2 After difference_update operation --> {set2}")

Set1 before difference operation --> {'Python', 'R'}
Set2 before difference operation --> {'Java', 'R'}
Set1 After difference_update operation --> {'Java', 'Python'}
Set2 After difference_update operation --> {'Java', 'R'}

# 7. issubset()
- True
- False
- we can check for issubset() using ( < or <= and > or >= ) this signs can only work on sets

In [161]:
set1 = {1,2,3,4,5} # Bag
set2 = {1,2}       # Elements

set2.issubset(set1)

True

In [162]:
set1 = {1,2,3,4,5} # Bag
set2 = {3,4}       # Elements

set2.issubset(set1)

True

In [163]:
set1 = {1,2,3,4,5} # Bag
set2 = {1,5}       # Elements

set2.issubset(set1)

True

In [164]:
set1 = {1,2,3,4,5} # Bag
set2 = {8,9}       # Elements

set2.issubset(set1)

False

In [165]:
set1 = {"Python","R"}
set2 = {"R"}

set2.issubset(set1)

True

In [166]:
set1 = {"Python","R"}
set2 = {"Java"}

set2.issubset(set1)

False

In [167]:
set1 = {"Python","R"}
set2 = {"R"}

set1.issubset(set2)

False

# 8. issuperset()
- True
- False

In [168]:
set1 = {1,2,3,4,5} # Bag
set2 = {1,2}       # Elements

set1.issuperset(set2)

True

In [169]:
set1 = {1,2,3,4,5} # Bag
set2 = {11,22}       # Elements

set1.issuperset(set2)

False

In [170]:
set1 = {"Python","R"}
set2 = {"Java"}

set1.issuperset(set2)

False

In [171]:
set1 = {"Python","R"}
set2 = {"R"}

set1.issuperset(set2)

True

In [172]:
set1 = {"Python","R"}
set2 = {"R"}

set2.issuperset(set1)

False

# 7. isdisjoint()

In [175]:
set1 = {"Python","R"}
set2 = {"R"}

set2.isdisjoint(set1)

False

In [176]:
set1 = {"Python","R"}
set2 = {"R"}

set1.isdisjoint(set2)

False

In [177]:
set1 = {"Python","R"}
set2 = {"Java"}

set1.isdisjoint(set2)

True