In [3]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.45-cp310-cp310-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 5.3 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Using cached greenlet-2.0.1-cp310-cp310-win_amd64.whl (190 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.1 sqlalchemy-1.4.45

In [28]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     -------------------------------------- 43.8/43.8 kB 714.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [29]:
import pandas as pd
import sqlalchemy as sa

In [30]:
engine = sa.create_engine("mysql+pymysql://root:Y45hDhakade123@localhost:3306/stud_data")
print(engine)

Engine(mysql+pymysql://root:***@localhost:3306/stud_data)

#### read sql table

In [33]:
df = pd.read_sql_table("student",engine)
df

   roll_no stud_name Address
0      101    snehal    pune
1      102     sneha  mumbai
2      103    nikhil  mumbai
3      104    nikita    pune
4      105   shubham    pune

#### read sql query

In [36]:
df = pd.read_sql_query("select * from student limit 2", engine)
df

   roll_no stud_name Address
0      101    snehal    pune
1      102     sneha  mumbai

#### read sql

In [37]:
data = pd.read_sql("student", engine)
data

   roll_no stud_name Address
0      101    snehal    pune
1      102     sneha  mumbai
2      103    nikhil  mumbai
3      104    nikita    pune
4      105   shubham    pune

In [40]:
data = pd.read_sql("select * from student limit 3", engine)
data

   roll_no stud_name Address
0      101    snehal    pune
1      102     sneha  mumbai
2      103    nikhil  mumbai

In [43]:
df = pd.read_sql("select * from emp limit 5",engine)
df

   emp_ID emp_NAME DEPT_NAME  SALARY
0     101    Mohan     Admin    4000
1     102    rahul        HR    3000
2     103    Akbar        IT    4000
3     104   Dorvin   Finance    6500
4     105    Rohit        HR    3000

In [47]:
df = pd.read_sql("""
select *,
lag(distance_travlled,1,0) over (partition by cars),
distance_travlled - lag(distance_travlled,1,0) over (partition by cars) as dis_per_day
from cars;
""", engine);

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'stud_data.cars' doesn't exist")
[SQL:
select *,
lag(distance_travlled,1,0) over (partition by cars),
distance_travlled - lag(distance_travlled,1,0) over (partition by cars) as dis_per_day
from cars;
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [50]:
pd.read_sql("student",engine)

   roll_no stud_name Address
0      101    snehal    pune
1      102     sneha  mumbai
2      103    nikhil  mumbai
3      104    nikita    pune
4      105   shubham    pune

### create connection

In [52]:
engine = sa.create_engine("mysql+pymysql://root:Y45hDhakade123@localhost:3306/datas")
engine

Engine(mysql+pymysql://root:***@localhost:3306/datas)

In [57]:
df = pd.read_sql("""
select *,
lag(distance_travlled,1,0) over (partition by cars) priv_value,
distance_travlled - lag(distance_travlled,1,0) over (partition by cars) as dis_per_day
from cars;
""", engine);
df

   cars  days  distance_travlled  priv_value  dis_per_day
0  car1  day1                 50           0           50
1  car1  day2                100          50           50
2  car1  day3                200         100          100
3  car2  day1                  0           0            0
4  car3  day1                  0           0            0
5  car3  day2                 50           0           50
6  car3  day3                 50          50            0
7  car3  day4                100          50           50

### to sql

In [58]:
df.to_sql(name="car_distance", con=engine,index=True)

8

In [62]:
df.to_sql(name="car_distance", con=engine,index=False,if_exists="replace")

8

In [61]:
df.to_sql(name="car_distance", con=engine,index=False,if_exists="append")

8