# Operators
### 1. Comparision Operators
- val1 == val2
- val1 != val2
- val1 >  val2
- val1 <  val2
- val1 >= val2
- val1 <= val2

In [1]:
val1 = 5
val2 = 5
val1 == val2

True

In [2]:
val1 = 5.5
val2 = 5
val1 == val2

False

In [3]:
val1 = 5.5
val2 = 5
val1 != val2

True

In [4]:
val1 = 5
val2 = 5
val1 != val2

False

In [5]:
val1 = "Python"
val2 = "Python"
val1 == val2

True

In [6]:
val1 = "Python"
val2 = "Python".upper()
val1 == val2

False

In [7]:
val1 = "Python"
val2 = "Python".upper()
val1 != val2

True

In [8]:
val1 = "Python"
val2 = "Python"
val1 != val2

False

In [9]:
val1 = 100
val2 = 100
if val1 == val2:
    print(f"{val1} is equal to {val2}")

100 is equal to 100

In [10]:
val1 = 100
val2 = 100
if val1 == val2:
    print(f"{val1} is equal to {val2}")
elif val1 > val2:
    print(f"{val1} is greater than {val2}")

100 is equal to 100

In [12]:
val1 = 1001
val2 = 100
if val1 == val2: # False
    print(f"{val1} is equal to {val2}")
    
elif val1 > val2:
    print(f"{val1} is greater than {val2}")

elif val1 < val2:
    print(f"{val1} is less than {val2}")

1001 is greater than 100

In [13]:
val1 = 10
val2 = 100
if val1 == val2: # False
    print(f"{val1} is equal to {val2}")
    
elif val1 > val2:
    print(f"{val1} is greater than {val2}")

elif val1 < val2:
    print(f"{val1} is less than {val2}")

10 is less than 100

In [14]:
val1 = 10
val2 = 100
if val1 == val2: # False
    print(f"{val1} is equal to {val2}")
    
elif val1 > val2: # false
    print(f"{val1} is greater than {val2}")

else:
    print(f"{val1} is less than {val2}")

10 is less than 100

In [19]:
val1 = 10
val2 = 100
if val1 == val2: # False
    print(f"{val1} is equal to {val2}")
    
elif val1 > val2: # false
    print(f"{val1} is greater than {val2}")

else val1 < val2:
    print(f"{val1} is less than {val2}")

SyntaxError: expected ':' (3950955462.py, line 9)

In [21]:
val1 = 101
val2 = 100
val3 = 1000
if val1 == val2: # False
    print(f"{val1} is equal to {val2}")
    
elif val1 > val2:  
    print(f"{val1} is greater than {val2}")

elif val3 < val2:
    print(f"{val3} is less than {val2}")
    
else:
    print(f"Tata")

101 is greater than 100

In [22]:
val1 = 10
val2 = 100
if val1 >= val2: 
    print(f"{val1} is greater than or equal to {val2}")
    
# elif val1 > val2:
#     print(f"{val1} is greater than {val2}")

elif val1 < val2:
    print(f"{val1} is less than {val2}")

10 is less than 100

In [23]:
val1 = 100
val2 = 100
if val1 >= val2: 
    print(f"{val1} is greater than or equal to {val2}")

elif val1 < val2:
    print(f"{val1} is less than {val2}")

100 is greater than or equal to 100

In [24]:
val1 = 1001
val2 = 100
if val1 >= val2: 
    print(f"{val1} is greater than or equal to {val2}")

elif val1 < val2:
    print(f"{val1} is less than {val2}")

1001 is greater than or equal to 100

In [25]:
val1 = 10
val2 = 100
if val1 >= val2:  # Either greater or equal to
    print(f"{val1} is greater than or equal to {val2}")

elif val1 < val2:
    print(f"{val1} is less than {val2}")

10 is less than 100

In [30]:
val1 = 10
val2 = 100
if val1 <= val2:  # Either less or equal to
    print(f"{val1} is less than or equal to {val2}")

elif val1 > val2:
    print(f"{val1} is greater than {val2}")

10 is less than or equal to 100

In [31]:
val1 = 100
val2 = 100
if val1 <= val2:  # Either less or equal to
    print(f"{val1} is less than or equal to {val2}")

elif val1 > val2:
    print(f"{val1} is greater than {val2}")

100 is less than or equal to 100

In [32]:
val1 = 1001
val2 = 100
if val1 <= val2:  # Either less or equal to
    print(f"{val1} is less than or equal to {val2}")

elif val1 > val2:
    print(f"{val1} is greater than {val2}")

1001 is greater than 100

### 2. Logical Operators
- 1. and operator
- 2. or  operator
- 1 = True
- 0 = False

In [39]:
0 and 0 # False and false = false
0 and 1 # False and true = false
1 and 0 # True and false = false
1 and 1 # True and true = true

1

In [43]:
1 or 1

1

In [44]:
0 or 0 # False or false = False
0 or 1 # False or true = True
1 or 0 # True or false = True
1 or 1 # True or true = True

1

In [47]:
val1 = 50
val2 = 100
val1 < val2 or val1 > val2 # True or False

True

In [48]:
val1 = 50
val2 = 100
val1 < val2 and val1 > val2 # True and False

False

In [54]:
val1 = 5
val2 = 6
val3 = 10
val4 = 20
val1 < val2 and val1 < val3 and val1 < val4  and val2 > val1 # True and True and True and True = True

True

In [56]:
val1 = 50
val2 = 6
val3 = 10
val4 = 20
val1 < val2 and val1 < val3 and val1 < val4  and val2 > val1 # False and false and false and false

False

In [58]:
val1 = 50
val2 = 6
val3 = 10
val4 = 20
val5 = 20
val5 == val4 and val1 < val2 and val1 < val3 and val1 < val4  and val2 > val1 # true and False and false and false and false

False

In [61]:
val1 = 50
val2 = 30
val3 = 10
if val1 > val2 and val1 > val3: # True and True
    print(f"{val1} is greater than {val2} and {val3}")

50 is greater than 30 and 10

In [63]:
val1 = 50
val2 = 30
val3 = 10
if val1 > val2 and val1 > val3: # True and True
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")

50 is greater than 30 and 10

In [64]:
val1 = 50
val2 = 300
val3 = 10
if val1 > val2 and val1 > val3: # False and True
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")

300 is greater than 50 and 10

In [66]:
val1 = 50
val2 = 300
val3 = 1000
if val1 > val2 and val1 > val3: # False and True
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")
    
else:
    print(f"{val3} is greater than {val1} and {val2}")

1000 is greater than 50 and 300

In [67]:
val1 = 10
val2 = 30
val3 = 10
if val1 > val2 and val1 > val3: # False and True
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")
    
else:
    print(f"{val3} is greater than {val1} and {val2}")

30 is greater than 10 and 10

In [68]:
val1 = 100
val2 = 30
val3 = 10
if val1 > val2 and val1 > val3: # False and True
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")
    
else:
    print(f"{val3} is greater than {val1} and {val2}")

100 is greater than 30 and 10

In [69]:
a = input("Enter value for a:- ")
a

Enter value for a:- 100

'100'

In [70]:
type(a)

str

In [73]:
a = input("Enter value for a:- ")
b = int(a)

Enter value for a:- 50

In [74]:
type(b)

int

In [75]:
a = int(input("Enter value for a:- "))
a

Enter value for a:- 5000

5000

In [76]:
type(a)

int

In [77]:
val1 = input("Enter the value of val1 :- ")
val2 = input("Enter the value of val2 :- ")
val3 = input("Enter the value of val3 :- ")

val1 = int(val1)
val2 = int(val2)
val3 = int(val3)

if val1 > val2 and val1 > val3:
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")
    
else:
    print(f"{val3} is greater than {val1} and {val2}")

Enter the value of val1 :- 1
Enter the value of val2 :- 2
Enter the value of val3 :- 3
3 is greater than 1 and 2

In [78]:
val1 = input("Enter the value of val1 :- ")
val2 = input("Enter the value of val2 :- ")
val3 = input("Enter the value of val3 :- ")

val1 = int(val1)
val2 = int(val2)
val3 = int(val3)

if val1 > val2 and val1 > val3:
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")
    
else:
    print(f"{val3} is greater than {val1} and {val2}")

Enter the value of val1 :- 100
Enter the value of val2 :- 50
Enter the value of val3 :- 0
100 is greater than 50 and 0

In [83]:
val1 = input("Enter the value of val1 :- ")
val2 = input("Enter the value of val2 :- ")
val3 = input("Enter the value of val3 :- ")

val1 = int(val1)
val2 = int(val2)
val3 = int(val3)

print("-"*50)
print(f"Value 1 = {val1}")
print(f"Value 2 = {val2}")
print(f"Value 3 = {val3}")
print("-"*50)

if val1 > val2 and val1 > val3:
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")
    
else:
    print(f"{val3} is greater than {val1} and {val2}")

Enter the value of val1 :- 66
Enter the value of val2 :- 33
Enter the value of val3 :- 122
--------------------------------------------------
Value 1 = 66
Value 2 = 33
Value 3 = 122
--------------------------------------------------
122 is greater than 66 and 33

In [84]:
val1 = 20
val2 = 50
val3 = 10

print("-"*50)
print(f"Value 1 = {val1}")
print(f"Value 2 = {val2}")
print(f"Value 3 = {val3}")
print("-"*50)

if (val1 > val2 and val1 > val3) or val1 == 20: # (false and true) or true = true
    print(f"{val1} is greater than {val2} and {val3}")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3}")
    
else:
    print(f"{val3} is greater than {val1} and {val2}")

--------------------------------------------------
Value 1 = 20
Value 2 = 50
Value 3 = 10
--------------------------------------------------
20 is greater than 50 and 10

In [85]:
(1 and 1) or 1

1

In [86]:
(1 and 0) or 1

1

In [87]:
1 and 0 or 1

1

In [91]:
val1 = 20
val2 = 50
val3 = 10

print("-"*50)
print(f"Value 1 = {val1}")
print(f"Value 2 = {val2}")
print(f"Value 3 = {val3}")
print("-"*50)

if val1 > val2 and (val1 > val3 or val1 == 20): # false and (true or true) = false
    print(f"{val1} is greater than {val2} and {val3} 1")

elif val2 > val1 and val2 > val3:
    print(f"{val2} is greater than {val1} and {val3} 2")
    
else:
    print(f"{val3} is greater than {val1} and {val2} 3 ")

--------------------------------------------------
Value 1 = 20
Value 2 = 50
Value 3 = 10
--------------------------------------------------
50 is greater than 20 and 10 2

### Arithmetic operators

- + -> Addition operator
- - -> Substraction operator
- * -> Multiplication operator
- / -> Division operator
- // -> Floor division operator
- % -> Modulus operator
- ** Exponent operator

Preference of arithmetic operator
() --> Parenthesis
** --> Exponent
*,/,//,+,-

In [92]:
5 / 2

2.5

In [93]:
int(5 / 2)

2

In [95]:
5 // 2 # Floor Division

2

In [96]:
27 % 5

2

In [97]:
25 % 5

0

In [98]:
54 % 5

4

In [101]:
10 % 2  # Even

0

In [102]:
11 % 2  # Odd

1

In [103]:
11 % 2 == 0

False

In [104]:
10 % 2 == 0

True

In [107]:
num = int(input("Enter the number --->  "))
print()
if num % 2 == 0:
    print(f"The number ({num}) is even")
else:
    print(f"The number ({num}) is odd")

Enter the number --->  57

The number (57) is odd

In [110]:
num = 10 
# if statement >> if condition >> else >> else statement
print(f"The number ({num}) is even") if num % 2 == 0 else print(f"The number ({num}) is odd")

The number (10) is even

In [109]:
num = 11
print(f"The number ({num}) is even") if num % 2 == 0 else print(f"The number ({num}) is odd")

The number (11) is odd

In [111]:
5 * 5 * 5

125

In [112]:
5 ** 3

125

In [113]:
10 * 10 * 10 * 10 * 10 * 10

1000000

In [114]:
10 ** 6

1000000

x = 4
y = 5x^3 + 3x^2 - 8x +7

In [122]:
x = 4

y = 5 * (x ** 3) + 3 * (x ** 2) - 8 * x + 7
print(f"y = {y} for x = {x}")

y = 343 for x = 4

In [123]:
x = 7

y = 5 * (x ** 3) + 3 * (x ** 2) - 8 * x + 7
print(f"y = {y} for x = {x}")

y = 1813 for x = 7

In [124]:
x = 5

y = 5 * (x ** 3) + 3 * (x ** 2) - 8 * x + 7
print(f"y = {y} for x = {x}")

y = 667 for x = 5

In [127]:
for x in range(10):
    y = 5 * (x ** 3) + 3 * (x ** 2) - 8 * x + 7
    print(f"y       = {y}       for x = {x}")

y       = 7       for x = 0
y       = 7       for x = 1
y       = 43       for x = 2
y       = 145       for x = 3
y       = 343       for x = 4
y       = 667       for x = 5
y       = 1147       for x = 6
y       = 1813       for x = 7
y       = 2695       for x = 8
y       = 3823       for x = 9

In [128]:
10 * 6

60

In [129]:
10 * 6 / 4

15.0

In [130]:
(10 * 6)

60

In [132]:
(10 * 6) * 4

240

In [133]:
10 * (6 * 4)

240

In [134]:
10 / 6 * 4

6.666666666666667

In [135]:
10 * 6 / 4

15.0

In [136]:
10 / (6 * 4)

0.4166666666666667

### Assignment Operator

=      a = b
a = 5
+=     a += 1 >>     a = a + 1 >> a = 6
-=     a -= 1 >>     a = a - 1 >> a = 4
*=     a *= 2 >>     a = a * 2 >> a = 10
/=     a /= 2 >>     a = a / 2 >> a = 2.5
//=    a //= 2 >>     a = a // 2>> a = 2
%=     a %= 2  >>     a = a % 2 >> a = 1
**=    a **= 2 >>     a = a ** 2>> a = 25

In [137]:
a = 50
print(f"a = {a}")
a = a + 5
print(f"a = {a}")

a = 50
a = 55

In [138]:
a = 50
print(f"a = {a}")
a += 5
print(f"a = {a}")

a = 50
a = 55

In [143]:
a = 0
print(f"a = {a}")
a += 1
print(f"a = {a}")

a = 0
a = 1

In [145]:
count = 0
string = "Machine Learning"
for i in string:
    print(f"{i} {count}")
    count+=1

M 0
a 1
c 2
h 3
i 4
n 5
e 6
  7
L 8
e 9
a 10
r 11
n 12
i 13
n 14
g 15

In [150]:
count = 15
for i in "Python and data science":
    if count > 0:
        print(count)
        count -= 1
    else:
        break

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [151]:
count = 15
for i in "Python and data science":
    if count > 0:
        print(count)
        count -= 2
    else:
        break

15
13
11
9
7
5
3
1

In [152]:
count = 15
for i in "Python and data science":
    if count > 0:
        print(count)
        count -= 3
    else:
        break

15
12
9
6
3

In [168]:
xyz = 100

def fun1():
    x3=2
    y3=4
    global res
    res = x3 + y3
    print(res + xyz)
fun()

106

In [167]:
res

6

In [169]:
def fun23():
    print(res)
fun23()

6