In [1]:
import pandas as pd

## Join Dataframe
- Syntax
    - df_name.join(other, on, how, lsuffix, rsuffix, sort)

In [2]:
df1 = pd.DataFrame({
    "Name" : ["Kabir", "Prajwal", "Rushikesh", "Ritik"],
    "Age" : [21,23,24,22],
    "Locattion" : ["Pune", "Mumbai", "Banglore", "Nagpur"],
    "Salary" : [200000,300000,500000,400000]
    
}, 
    index=["A", "B", "C", "D"]

)

In [4]:
df1

        Name  Age Locattion  Salary
A      Kabir   21      Pune  200000
B    Prajwal   23    Mumbai  300000
C  Rushikesh   24  Banglore  500000
D      Ritik   22    Nagpur  400000

In [3]:
df2 = pd.DataFrame({
    "Name" : ["Kabir", "Ranveer", "Rushikesh", "Kartik"],
    "Age" : [21,25,24,23],
    "Locattion" : ["Pune", "Maisore", "Banglore", "Jalnapur"],
    "Designation" : ["Python Developer","Data Scientist","Java Developer","Software Engineer"]
},
    index = list("CDEF")

)

In [5]:
df2

        Name  Age Locattion        Designation
C      Kabir   21      Pune   Python Developer
D    Ranveer   25   Maisore     Data Scientist
E  Rushikesh   24  Banglore     Java Developer
F     Kartik   23  Jalnapur  Software Engineer

In [6]:
j_method_1 = df1.join(df2,how="right")
j_method_1

ValueError: columns overlap but no suffix specified: Index(['Name', 'Age', 'Locattion'], dtype='object')