# Datetime format

- 10-01-2020
- 10 Jan 2020
- 2020-01-10
- 10/01/2020

In [245]:
import datetime as dt 

current_date = dt.datetime.now()
print(current_date)

2022-09-20 14:22:20.603024

In [246]:
current_date = dt.datetime.today()
print(current_date)

2022-09-20 14:22:20.761122

In [230]:
current_date.date()

datetime.date(2022, 9, 20)

In [231]:
current_date.day

20

In [232]:
current_date.month

9

In [233]:
current_date.year

2022

In [13]:
current_date.weekday()

1

### Timedelta

In [25]:
current_date = dt.datetime.now()
print(current_date)

2022-09-20 12:03:34.416726

In [32]:
new_date = current_date + dt.timedelta(days=32)  # current day = 09 days = 32  = 09 + 32
print(new_date)

2022-10-22 12:03:34.416726

In [36]:
new_year = current_date + dt.timedelta(days=250)
print(new_year)

2023-05-28 12:03:34.416726

In [37]:
new_year = current_date + dt.timedelta(days=365)
print(new_year)

2023-09-20 12:03:34.416726

## Next 10 days

In [44]:
current_date = dt.datetime.today()
dates = current_date.date()
print(dates)

2022-09-20

In [48]:
for i in range(1,11):
    new_date = dates + dt.timedelta(days=i)
    print(f"Date:-    {new_date}")

Date:-    2022-09-21
Date:-    2022-09-22
Date:-    2022-09-23
Date:-    2022-09-24
Date:-    2022-09-25
Date:-    2022-09-26
Date:-    2022-09-27
Date:-    2022-09-28
Date:-    2022-09-29
Date:-    2022-09-30

### Last X days

In [68]:
for i in range(1,11):
    new_date = dates - dt.timedelta(days=i)
    print(f"Last {new_date.day-10} day =     {new_date}")

Last 9 day =     2022-09-19
Last 8 day =     2022-09-18
Last 7 day =     2022-09-17
Last 6 day =     2022-09-16
Last 5 day =     2022-09-15
Last 4 day =     2022-09-14
Last 3 day =     2022-09-13
Last 2 day =     2022-09-12
Last 1 day =     2022-09-11
Last 0 day =     2022-09-10

### Last & Next Ten days

In [320]:
for i in range(-10,10):
    new_date = dates + dt.timedelta(days=i)
    print(f"Last and next 10 days:         {new_date}")

Last and next 10 days:         2022-09-10
Last and next 10 days:         2022-09-11
Last and next 10 days:         2022-09-12
Last and next 10 days:         2022-09-13
Last and next 10 days:         2022-09-14
Last and next 10 days:         2022-09-15
Last and next 10 days:         2022-09-16
Last and next 10 days:         2022-09-17
Last and next 10 days:         2022-09-18
Last and next 10 days:         2022-09-19
Last and next 10 days:         2022-09-20
Last and next 10 days:         2022-09-21
Last and next 10 days:         2022-09-22
Last and next 10 days:         2022-09-23
Last and next 10 days:         2022-09-24
Last and next 10 days:         2022-09-25
Last and next 10 days:         2022-09-26
Last and next 10 days:         2022-09-27
Last and next 10 days:         2022-09-28
Last and next 10 days:         2022-09-29

In [91]:
next_weeks = new_date + dt.timedelta(weeks=2)
print(next_weeks)

2022-10-13

In [92]:
next_weeks = new_date + dt.timedelta(weeks=5)
print(next_weeks)

2022-11-03

In [102]:
next_hour = new_date + dt.datetime(hours=1)
print(next_hour)

TypeError: function missing required argument 'year' (pos 1)

In [110]:
new_time = dt.datetime.now()
print(new_time)

2022-09-20 12:34:04.710381

In [112]:
new_time = new_time + dt.timedelta(hours = 1)
print(new_time)

2022-09-20 14:34:04.710381

In [113]:
new_time = new_time + dt.timedelta(hours = 60)
print(new_time)

2022-09-23 02:34:04.710381

In [114]:
new_time = new_time + dt.timedelta(hours = 365)
print(new_time)

2022-10-08 07:34:04.710381

## strftime()

In [117]:
cur_tm = dt.datetime.now()
print(cur_tm)

2022-09-20 12:41:15.157993

In [118]:
cur_tm.strftime("%m")

'09'

In [123]:
cur_tm.strftime("%b")

'Sep'

In [124]:
cur_tm.strftime("%Y")

'2022'

In [125]:
cur_tm.strftime("%y")

'22'

In [126]:
cur_tm.strftime("%a")

'Tue'

In [127]:
cur_tm.strftime("%A")

'Tuesday'

In [128]:
cur_tm.strftime("%D")

'09/20/22'

In [129]:
cur_tm.strftime("%d")

'20'

In [132]:
cur_tm.strftime('%j')

'263'

In [134]:
cur_tm.strftime('%I')

'12'

In [140]:
cur_tm.strftime('%H:%M:%S %p')

'12:41:15 PM'

In [144]:
cur_tm.strftime('%z')

''

In [153]:
cur_tm.strftime('%c')

'Tue Sep 20 12:41:15 2022'

In [146]:
cur_tm.strftime('%C')

'20'

In [158]:
cur_tm.strftime('%%hello')

'%hello'

In [163]:
cur_tm.strftime('%hello')

'Sepello'

In [176]:
d1 = "25-11-2020"
d2 = "25/11/2020"
d3 = "25 11 2020"
d4 = "25 Nov 2020"
d5 = "25/November/2020"

time = dt.datetime.now()
print(time)

2022-09-20 13:09:47.001784

In [179]:
print(time.date())

2022-09-20

In [196]:
d1 = "25-11-2020"
date_format = "%d-%m-%Y"

new = time.strptime(d1,date_format)
print(new)
print(type(new))

2020-11-25 00:00:00
<class 'datetime.datetime'>

In [202]:
d2 = "Nov-01-2022"
d_format = "%b-%d-%Y"

new = time.strptime(d2,d_format)
print(new)

2022-11-01 00:00:00

In [205]:
date_list = ["17-02-2022","28/03/2022","17-02-22","2022-02-17","2022 Feb 17", "2022 February 17", 
            "2022 Aug 17", "17 Feb 22", "17 Feb 2022", "17/02/2022", "17/02/22", "17-05-2020"]
date_list

['17-02-2022',
 '28/03/2022',
 '17-02-22',
 '2022-02-17',
 '2022 Feb 17',
 '2022 February 17',
 '2022 Aug 17',
 '17 Feb 22',
 '17 Feb 2022',
 '17/02/2022',
 '17/02/22',
 '17-05-2020']

In [206]:
date_format_list = ["%d/%m/%Y","%d-%m-%Y","%d-%m-%y","%Y-%m-%d", "%Y %b %d", "%Y %B %d", "%d %b %y", 
                   "%d %b %y", "%d %b %Y", "%d/%m/%y"]
date_format_list

['%d/%m/%Y',
 '%d-%m-%Y',
 '%d-%m-%y',
 '%Y-%m-%d',
 '%Y %b %d',
 '%Y %B %d',
 '%d %b %y',
 '%d %b %y',
 '%d %b %Y',
 '%d/%m/%y']

In [227]:
for date in date_list:
    for d_format in date_format_list:
        try:
            n_date = time.strptime(date,d_format).date()
            print("date        :- ",date)
            print("format      :- ",date_format)
            print(f"new date   :- {n_date}","\n")
            print("-------------------------")
            break
        except:
            continue

date        :-  17-02-2022
format      :-  %d-%m-%Y
new date   :- 2022-02-17

-------------------------
date        :-  28/03/2022
format      :-  %d-%m-%Y
new date   :- 2022-03-28

-------------------------
date        :-  17-02-22
format      :-  %d-%m-%Y
new date   :- 2022-02-17

-------------------------
date        :-  2022-02-17
format      :-  %d-%m-%Y
new date   :- 2022-02-17

-------------------------
date        :-  2022 Feb 17
format      :-  %d-%m-%Y
new date   :- 2022-02-17

-------------------------
date        :-  2022 February 17
format      :-  %d-%m-%Y
new date   :- 2022-02-17

-------------------------
date        :-  2022 Aug 17
format      :-  %d-%m-%Y
new date   :- 2022-08-17

-------------------------
date        :-  17 Feb 22
format      :-  %d-%m-%Y
new date   :- 2022-02-17

-------------------------
date        :-  17 Feb 2022
format      :-  %d-%m-%Y
new date   :- 2022-02-17

-------------------------
date        :-  17/02/2022
format      :-  %d-%m-%Y
new date   :- 2022-02-17

-------------------------
date        :-  17/02/22
format      :-  %d-%m-%Y
new date   :- 2022-02-17

-------------------------
date        :-  17-05-2020
format      :-  %d-%m-%Y
new date   :- 2020-05-17

-------------------------

In [264]:
c_time = dt.timedelta(days=3)
print(c_time)

3 days, 0:00:00

In [271]:
c_time = dt.datetime.now()
print(c_time)

2022-09-20 14:29:14.514913

In [309]:
c_time = c_time + dt.timedelta(days=5)
print(c_time)

2022-10-13 02:29:14.514913

In [310]:
c_time.strftime("%d")

'13'

In [311]:
c_time.strftime("%Y")

'2022'

In [312]:
c_time.strftime("%y")

'22'

In [318]:
date = "20/02/2022"
dateformat = "%d/%m/%Y"
n_format = c_time.strptime(date,dateformat)
print(n_format)

2022-02-20 00:00:00