# Return Statement

In [4]:
def get_re(a,b):
    add  = a+b
    sub = a - b
    mult = a * b
    div = a / b
    return add, sub, mult, div

addi = get_re(50,20) # we are able to save this output because we are saving this as a tulple
print(addi)

(70, 30, 1000, 2.5)

In [5]:
addi,subt = get_re(50,20) # we are NOT able to save this output because we are using tuple unpackaing
print(addi)               # in this case we need initialise variable names == return result

ValueError: too many values to unpack (expected 2)

In [6]:
addi,subt,multi,divi = get_re(50,20)
print(addi)
print(subt)
print(multi)
print(divi)

70
30
1000
2.5

In [7]:
a,b,v = [1,"yash"]

ValueError: not enough values to unpack (expected 3, got 2)

In [11]:
a,b,v = [1,"yash","kelly"]
print(a)
print(b)
print(v)

1
yash
kelly

In [12]:
a,b,v = {1,"yash","kelly"}
print(a)
print(b)
print(v)

1
kelly
yash

In [13]:
a,b,v = {"one":1,"name":"yash","name":"kelly"}
print(a)
print(b)
print(v)
# we are getting this error because duplicate keys are not allowed in dictionary

ValueError: not enough values to unpack (expected 3, got 2)

In [14]:
a,b,v = {"one":1,"name":"yash","kelly":"name"}
print(a)
print(b)
print(v)

one
name
kelly

In [2]:
a,b,c = frozenset([1,2,3])
print(a)
print(b)
print(c)

1
2
3

In [15]:
a,b,v = {"one":1, "name":"yash", "kelly":"name"}
print(a["one"])
print(b["name"])
print(v["kelly"])

TypeError: string indices must be integers

In [30]:
a,b,c = {"one":1, "name":"yash", "kelly":"name"}
print(a)
print(b)
print(c)
# We can not unpack dictionary

AttributeError: 'str' object has no attribute 'values'

# In python every iterable can be unpack 
## but when it comes to dictionary we can only unpack dictionaries keys() but we can not access its values

#### sum of list by not using functions

In [7]:
def sum_list(nums):
    sumations = 0
    
    for i in nums:
        sumations += i
    return sumations
    
nums = [11,2,3,55,4,10]

result = sum_list(nums)

print(f"The sum of the list is: {result}")

The sum of the list is: 85

In [4]:
nums = [11,2,3,55,4,10]
sum(nums)

85

In [8]:
def get_sum(iterable):
    summation = 0
    for i in iterable:
        summation += i
    return summation

sum1 = get_sum((10,20,30,40,50))
print(f"Summation = {sum1}")

Summation = 150

In [9]:
def get_sum(iterable):
    summation = 0
    for i in iterable:
        summation += i
    return summation

sum1,sum2 = get_sum((10,20,30,40,50))
print(f"Summation = {sum1}")

TypeError: cannot unpack non-iterable int object

In [13]:
def get_sum(iterable):
    summation = 0
    for i in iterable:
        summation += i
    return summation

sum1 = sum2 = sum3= get_sum((10,20,30,40,50))
print(f"Summation 1 = {sum1}")
print(f"Summation 2 = {sum2}")
print(f"Summation 3 = {sum3}")

Summation 1 = 150
Summation 2 = 150
Summation 3 = 150

## positional arguments

In [27]:
def position_arguments(a,b):
    add = a+b
    sub = a-b
    mul = a*b
    div = a//b
    return add, sub, mul, div

addi, subt, mult, divi = position_arguments(200,75)

print(f"Addition: {addi}")
print(f"Subtraction: {subt}")
print(f"multiplication: {mult}")
print(f"division: {divi}")

Addition: 275
Subtraction: 125
multiplication: 15000
division: 2

In [28]:
def position_arguments(a,b):
    add = a+b
    sub = a-b
    mul = a*b
    div = a//b
    return add, sub, mul, div

subt, addi, mult, divi = position_arguments(200,75) ## Have to take care of the order of the position of the arguments

print(f"Addition: {addi}")
print(f"Subtraction: {subt}")
print(f"multiplication: {mult}")
print(f"division: {divi}")

Addition: 125
Subtraction: 275
multiplication: 15000
division: 2

In [36]:
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact *= i
    return fact
  
factorial(5)

120

## finding factorral by recurssive method

In [3]:
def factor_of(x):
    if x == 0:
        return 1
    else:
        return x * factor_of(x-1)   # this fucntion will call till x == 0 # after x == 0 the operation will be 5*4*3*2*1

fact = factor_of(5)
print(fact)

120

In [7]:
fact_1 = factor_of(10)
fact_2 = factor_of(15)
fact_3 = factor_of(20)

print(f"Factor of 10: {fact_1}")
print(f"Factore of 15: {fact_2}")
print(f"Factor of 20: {fact_3}")

Factor of 10: 3628800
Factore of 15: 1307674368000
Factor of 20: 2432902008176640000

In [17]:
f_list = [5, 7, 9]

for x in f_list:
    fact = factor_of(x)
    print(f"Factor of a {x} is: {fact}")

Factor of a 5 is: 120
Factor of a 7 is: 5040
Factor of a 9 is: 362880

## Fibonacci series

In [29]:
def fib_of(m):
    first = 0
    second = 1
    for i in range(m):           # a  b  c
        last = first + second   ## 1  2  3  4  5  6
        first = second           #    a  b  c --> This will shift until x comes
        second = last           # last will become the addition of the previous numbers
        print(last)
        
fib_of(10)

1
2
3
5
8
13
21
34
55
89

In [36]:
def fib_of(m):
    fib_lis = [0,1]
    for i in range(m):           # a  b  c
        last = fib_lis[-2] + fib_lis[-1]  ## 1  2  3  4  5  6
        fib_lis[-2] = fib_lis[-1]            #    a  b  c --> This will shift until x comes
        fib_lis[-1] = last           # last will become the addition of the previous numbers
#         print(last) 
        fib_lis.append(last)
    print(fib_lis)
        
fib_of(10)

[1, 1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 512]

In [39]:
def get_fib(b):
    fib = []
    fib.append(0)
    fib.append(1)
    for i in range(b):
        fib.append(fib[-2] + fib[-1])
    return fib

fib_series = get_fib(10)
print(fib_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [42]:
fib = []
fib.append(0)
fib.append(1)
for i in range(10):
    fib.append(fib[-2] + fib[-1])
    
    
fib

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [46]:
lis = [1,2]

additon = lis[-2] + lis[-1]
print(additon)

3

In [49]:
lis = [1,2]
first = lis[-1]  # 2
second = lis[-2] # 1

print(first)
print(second)

2
1

## minimum of the list

###### Method 1

In [56]:
def find_min(list_num):
    mini = list_num[0]

    for i in list_num:
        if i <= mini:
            mini = i

    print(mini)

lis1 = [10,20,30,500, -1, -50, 50]
find_min(lis1)

-50

###### Method 2

In [53]:
lis1 = [10,20,30,500, -1, -50, 50]

num = 1000
for i in lis1:
    if  i <= num:
        num = i
print(num)

-50

### Find maximum value

###### method 1

In [57]:
def find_max(lis2):
    maxi = lis2[0]

    for i in lis2:
        if  i >= maxi:
            maxi = i
    print(maxi)
    
n = [10,20,30,500, -1, -50, 50, 10000]
find_max(n)

10000

###### Method 2

In [61]:
nu = [10,20,30,500, -1, -50, 50, 10000]

maxim = 0

for i in nu:
    if i > maxim:
        maxim = i
print(maxim)

10000