## List

In [2]:
list1 = [1,2,3,4,5,6]
list1.append(50)
print(list1)

[1, 2, 3, 4, 5, 6, 50]

In [3]:
list1 = [1,2,3,4,5,6]
list1.append(50,20)
print(list1)

TypeError: list.append() takes exactly one argument (2 given)

In [4]:
list1 = [1,2,3,4,5,6]
list1.append(50,"Python")
print(list1)

TypeError: list.append() takes exactly one argument (2 given)

In [5]:
list1 = [1,2,3,4,5,6]
list1.append([50,20])
print(list1)

[1, 2, 3, 4, 5, 6, [50, 20]]

In [7]:
list1 = [1,2,3,4,5,6]
list2 = [7,8,9,4,5,6]
list1.extend(list2)
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 4, 5, 6]
[7, 8, 9, 4, 5, 6]

In [8]:
list1 = [1,2,3,4,5,6]
list2 = {7,8,9,4,5,6}
list1.extend(list2)
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 4, 5, 6, 7, 8, 9]
{4, 5, 6, 7, 8, 9}

In [9]:
list1 = [1,2,3,4,5,6]
list2 = {7:"seven" ,8: "Eight", 9: "nine", 4: "Four", 5: "Five", 6:"Six"}
list1.extend(list2)
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 4, 5, 6]
{7: 'seven', 8: 'Eight', 9: 'nine', 4: 'Four', 5: 'Five', 6: 'Six'}

In [11]:
list1 = [1,2,3,4,5,6]
list2 = {7:"seven" ,8: "Eight", 9: "nine", 4: "Four", 5: "Five", 6:"Six"}
list1.extend(list2,[1,2,3])
print(list1)
print(list2)

TypeError: list.extend() takes exactly one argument (2 given)

In [13]:
list1 = [1,2,3,4,5,6]
list2 = [7,8,9,4,5,6]
list1.extend(list2,[1,2,3])
print(list1)
print(list2)

TypeError: list.extend() takes exactly one argument (2 given)

# insert

In [14]:
list1 = [1,2,3,4,5,6]

list1.insert(2, "Python")
list1

[1, 2, 'Python', 3, 4, 5, 6]

In [16]:
list1 = [2,3,6,4,1,5]
list1.sort()
list1

[1, 2, 3, 4, 5, 6]

In [18]:
list1 = [2,3,6,4,1,5]
list1.sort(reverse=True)
print(list1)

[6, 5, 4, 3, 2, 1]

In [20]:
list1 = [2,3,6,4,1,5]
new_list = sorted(list1)
new_list

[1, 2, 3, 4, 5, 6]

In [21]:
list1 = [2,3,6,4,1,5]
list1.reverse()
list1

[5, 1, 4, 6, 3, 2]

In [23]:
list1 = [2,3,6,4,1,5]
u = list(reversed(list1))
u

[5, 1, 4, 6, 3, 2]

In [26]:
list1 = [2,3,6,4,1,5]
list1[::-1]

[5, 1, 4, 6, 3, 2]

In [28]:
list1 = [2,3,6,4,1,5]

list1[2] = "Python"
list1

[2, 3, 'Python', 4, 1, 5]

In [31]:
new_lis = [2, 3, 'Python', 4, 1, 5]
new_lis.index("Python")
new_lis.index(1)

4

In [32]:
List1=[9,6,7,[1,2,8.2,6],1.2,8,3.2]
List2=[]
for element in List1:
    for j in element:
        List2.append(j)
print(List2)

TypeError: 'int' object is not iterable

In [40]:
new_tuple = tuple(x for x in range(10))
new_tuple

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [53]:
new_tuple1 = tuple(item if item % 2 == 0 else "not prime" for item in range(10))
print(new_tuple1)

(0, 'not prime', 2, 'not prime', 4, 'not prime', 6, 'not prime', 8, 'not prime')

In [54]:
new_tuple3 = tuple(item for item in range(10) if item % 2 == 0)

print(new_tuple3)

(0, 2, 4, 6, 8)

In [58]:
(1,2,3) + (1,2,3)

(1, 2, 3, 1, 2, 3)

In [66]:
new_tuple3 = tuple(item for item in range(10) if item % 2 == 0)

In [67]:
new_tuple3

(0, 2, 4, 6, 8)

In [68]:
sets = {item for item in range(10) if item % 2 == 0}

In [69]:
print(sets)

{0, 2, 4, 6, 8}

In [71]:
sets = frozenset(item for item in range(10) if item % 2 == 0)

In [72]:
sets

frozenset({0, 2, 4, 6, 8})

# symetric difference

In [74]:
set1 = {1,2,3,4,5,6}
set2 = {1,2,3,7,8,9}

new_set = set1.symmetric_difference(set2)
print(new_set)

{4, 5, 6, 7, 8, 9}

In [79]:
pop_set = {4, 5, 6, 7, 8, 9}
pop_item  = pop_set.pop()
pop_set

{5, 6, 7, 8, 9}

In [80]:
print(pop_item)

4

In [87]:
dict1 = {"one":1, "two":2.,"three":3}
dict2 = {"four":4, "five":5, "six":6}
dict3 = {'onee': 1, 'twoe': 2.0, 'threee': 3, 'foure': 4, 'fivee': 5, 'sixe': 6}

list1 = [1,2,3,4,5]
dict4 = dict1 | dict2 | dict3 


print(dict4)

{'one': 1, 'two': 2.0, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'onee': 1, 'twoe': 2.0, 'threee': 3, 'foure': 4, 'fivee': 5, 'sixe': 6}

In [88]:
dict1 = {"one":1, "two":2.,"three":3}
dict2 = {"four":4, "five":5, "six":6}
dict3 = {'onee': 1, 'twoe': 2.0, 'threee': 3, 'foure': 4, 'fivee': 5, 'sixe': 6}

list1 = [1,2,3,4,5]
dict4 = dict1 | dict2 | dict3 | list1


print(dict4)

TypeError: unsupported operand type(s) for |: 'dict' and 'list'

In [95]:
dict1 = {"one":1, "two":2.,"three":3}
dict2 = {"four":4, "five":5, "six":6}
dict3 = {'onee': 1, 'twoe': 2.0, 'threee': 3, 'foure': 4, 'fivee': 5, 'sixe': 6}

list1 = [1,2,3,4,5]
dict1.update(dict2)


print(dict1)

{'one': 1, 'two': 2.0, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

In [103]:
d1 = {"one":2, "two":4.,"three":3}
d2 = {"four":4, "five":5, "six":6}
d3 = {'onee': 1, 'twoe': 2.0, 'threee': 3, 'foure': 4, 'fivee': 5, 'sixe': 6}

list1 = [1,2,3,4,5]
dict(zip(d1,list1))

{'one': 1, 'two': 2, 'three': 3}