In [15]:
class Information:
    def __init__(self, fname, lname, cname, designation):
        self.f_name = fname
        self.l_name = lname
        self.c_name = cname
        self.designation = designation
        print(self.f_name)
        print(self.l_name)
        print(self.c_name)
        self.info = "Employe information"
        
    def fname(self):
        return f"myself {self.f_name}"
    def lname(self):
        return f"My last name is {self.l_name}"
    def cname(self):
        return f"I work at {self.c_name}"
    
    def roll(self):
        return f"I am a {self.designation}"
    
    
    
emp = Information("Yash", "Dhakade", "Amazon", "Data Scientist")
emp.info

print(emp.fname())
print(emp.lname())
print(emp.cname())
print(emp.roll())

Yash
Dhakade
Amazon
myself Yash
My last name is Dhakade
I work at Amazon
I am a Data Scientist

In [16]:
dir(emp)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'c_name',
 'cname',
 'designation',
 'f_name',
 'fname',
 'info',
 'l_name',
 'lname',
 'roll']

In [21]:
emp.__dict__

{'f_name': 'Yash',
 'l_name': 'Dhakade',
 'c_name': 'Amazon',
 'designation': 'Data Scientist',
 'info': 'Employe information'}

In [27]:
class EmpMail():
    def __init__(self, fname, lname,nums):
        self.f_name = fname
        self.l_name = lname
        self.num = str(nums)
        self.email = self.f_name + self.l_name + self.num +'@gmail.com'
        
    def Email(self):
        return self.email
    
    
e = EmpMail("yash","dhakade",123)
e.email
e.Email()

'yashdhakade123@gmail.com'

In [28]:
e2 = EmpMail("yash","dhakade",2250)
e2.Email()

'yashdhakade2250@gmail.com'

In [37]:
class EmployeeDetails():
    def __init__(self, fname, lname, pay):
        self.fname=fname
        self.lname=lname
        self.pay=pay
        self.mail = self.fname.lower() + self.lname.lower() + "@gmail.com"
        
    def get_fullName(self):
        return f"Empoye name is {self.fname.upper()} {self.lname.upper()}"
    def email(self):
        return f"Employe mail is {self.mail}"
        
    def salary_raise(self):
        self.pay = self.pay*5              ## instance variable

In [38]:
Emp = EmployeeDetails("yash", "DhakaDE", 50000000)
Emp.fname
Emp.lname
Emp.mail

'yashdhakade@gmail.com'

In [39]:
Emp.get_fullName()

'Empoye name is YASH DHAKADE'

In [40]:
Emp.email()

'Employe mail is yashdhakade@gmail.com'

In [41]:
Emp.pay

50000000

In [42]:
Emp.salary_raise()

In [43]:
Emp.pay

250000000

In [45]:
e2 = EmployeeDetails("neha", "rastogi", 100000)
e2.email()

'Employe mail is neharastogi@gmail.com'

In [46]:
e2.pay

100000

In [47]:
e2.salary_raise()

In [48]:
e2.pay

500000

In [62]:
class EmployeeDetails:
    raise_amount = 3
    def __init__(self, fname, lname, pay):
        self.fname=fname
        self.lname=lname
        self.pay=pay
        self.mail = self.fname.lower() + self.lname.lower() + "@gmail.com"
        
    def get_fullName(self):
        return f"Empoye name is {self.fname.upper()} {self.lname.upper()}"
    def email(self):
        return f"Employe mail is {self.mail}"
        
    def salary_raise(self):
        self.pay = self.pay * EmployeeDetails.raise_amount              ## instance variable

In [63]:
Emp1 = EmployeeDetails("yash", "DhakaDE", 50000000)
Emp1.fname
Emp1.lname
Emp1.mail

'yashdhakade@gmail.com'

In [64]:
Emp1.get_fullName()

'Empoye name is YASH DHAKADE'

In [65]:
Emp1.pay

50000000

In [66]:
Emp1.salary_raise()

In [67]:
Emp1.pay

150000000

In [68]:
Emp2 = EmployeeDetails("kunal", "mohod", 10000)

In [69]:
Emp2.pay

10000

In [70]:
Emp2.salary_raise()

In [71]:
Emp2.pay

30000

In [74]:
Emp3 = EmployeeDetails("kunal", "mohod", 6000)

In [75]:
Emp3.pay

6000