In [3]:
di1 = {"Key1":"Val1"}
di1

{'Key1': 'Val1'}

# fromkeys()
- dict.fromkeys(sequence, [val])

In [1]:
di = {}

In [2]:
di

{}

In [7]:
result = di.fromkeys(["One","Two","Three"])
result

{'One': None, 'Two': None, 'Three': None}

In [8]:
di

{}

In [9]:
result.values()

dict_values([None, None, None])

In [10]:
result.keys()

dict_keys(['One', 'Two', 'Three'])

In [11]:
di.fromkeys(['One', 'Two', 'Three'],[1,2,3])

{'One': [1, 2, 3], 'Two': [1, 2, 3], 'Three': [1, 2, 3]}

In [12]:
di.fromkeys(['One', 'Two', 'Three'],1)

{'One': 1, 'Two': 1, 'Three': 1}

In [13]:
di.fromkeys(['One', 'Two', 'Three'],1000)

{'One': 1000, 'Two': 1000, 'Three': 1000}

In [14]:
di.fromkeys(['One', 'Two', 'Three'],"Python")

{'One': 'Python', 'Two': 'Python', 'Three': 'Python'}

In [15]:
di.fromkeys(('One', 'Two', 'Three'),"Python")

{'One': 'Python', 'Two': 'Python', 'Three': 'Python'}

In [16]:
di

{}

In [17]:
for i in result.values():
    print(type(i))

<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>

# setdefault
- Return a value with a specified key
- If specified key is not present in the dictionary, then it will gets added.

In [19]:
new_di = {
    "Employee_name" : "Monika",
    "Employee_lname" : "Kabra",
    "Employee_ID" : 10010,
    "Employee_Designation" : "Data Analyst",
    "Employee_Salary" : 1500000,
    "Employee_Location" : "Pune"
}
new_di

{'Employee_name': 'Monika',
 'Employee_lname': 'Kabra',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_Salary': 1500000,
 'Employee_Location': 'Pune'}

In [20]:
new_di.setdefault("Employee_Location")

'Pune'

In [21]:
new_di.setdefault("Employee_Location1")# Key not present

In [22]:
new_di

{'Employee_name': 'Monika',
 'Employee_lname': 'Kabra',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_Salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None}

In [26]:
new_di.setdefault("Employee_Location2","Pune2")

'Pune2'

In [27]:
new_di

{'Employee_name': 'Monika',
 'Employee_lname': 'Kabra',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_Salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Pune2'}

In [29]:
new_di.setdefault("Employee_ID",10011)

10010

In [30]:
new_di.setdefault("Employee_ID_Vendor")

In [31]:
new_di

{'Employee_name': 'Monika',
 'Employee_lname': 'Kabra',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_Salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Pune2',
 'Employee_ID_Vendor': None}

In [32]:
new_di.setdefault("Employee_ID_Vendor1",11199)

11199

In [33]:
new_di

{'Employee_name': 'Monika',
 'Employee_lname': 'Kabra',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_Salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Pune2',
 'Employee_ID_Vendor': None,
 'Employee_ID_Vendor1': 11199}

# copy

In [34]:
new_di

{'Employee_name': 'Monika',
 'Employee_lname': 'Kabra',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_Salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Pune2',
 'Employee_ID_Vendor': None,
 'Employee_ID_Vendor1': 11199}

In [35]:
new_di1 = new_di
new_di1["XYZ"] = 100
new_di

{'Employee_name': 'Monika',
 'Employee_lname': 'Kabra',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_Salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Pune2',
 'Employee_ID_Vendor': None,
 'Employee_ID_Vendor1': 11199,
 'XYZ': 100}

In [37]:
new_di = {'Employee_name': 'Monika',
 'Employee_lname': 'Kabra',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_Salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Pune2',
 'Employee_ID_Vendor': None,
 'Employee_ID_Vendor1': 11199}
new_di2 = new_di.copy()
new_di2["XYZ"] = 100
new_di

{'Employee_name': 'Monika',
 'Employee_lname': 'Kabra',
 'Employee_ID': 10010,
 'Employee_Designation': 'Data Analyst',
 'Employee_Salary': 1500000,
 'Employee_Location': 'Pune',
 'Employee_Location1': None,
 'Employee_Location2': 'Pune2',
 'Employee_ID_Vendor': None,
 'Employee_ID_Vendor1': 11199}