## Fromkeys(iterator, value)

In [3]:
list1= ["one", "Two", "Three", "Four"]

dic1 = dict.fromkeys(list1)
print(dic1)

{'one': None, 'Two': None, 'Three': None, 'Four': None}

###### Note:- if we do not pass an argument then it will assign None value  as a default value

In [7]:
list2 = ["one", "Two", "Three", "Four"]

values = 12,14,56

new_dict = dict.fromkeys(list2, values)
print(new_dict)

{'one': (12, 14, 56), 'Two': (12, 14, 56), 'Three': (12, 14, 56), 'Four': (12, 14, 56)}

In [11]:
list2 = frozenset(["one", "Two", "Three", "Four"])

values = 12,14,56

new_dict = dict.fromkeys(list2, values)
print(new_dict)

{'Two': (12, 14, 56), 'one': (12, 14, 56), 'Three': (12, 14, 56), 'Four': (12, 14, 56)}

In [1]:
names = ["yash", "rutik"]
data = {
    "position": "Data scientist",
    "Location": "USA",
    "Salary": "90000 $",
    "Contact Number": 1234567890
    }

employee_data = dict.fromkeys(names, data)
print(employee_data)

{'yash': {'position': 'Data scientist', 'Location': 'USA', 'Salary': '90000 $', 'Contact Number': 1234567890}, 'rutik': {'position': 'Data scientist', 'Location': 'USA', 'Salary': '90000 $', 'Contact Number': 1234567890}}

In [5]:
employee_data["rutik"]

{'position': 'Data scientist',
 'Location': 'Pune',
 'Salary': 1500000,
 'Contact Number': 7894561230}

In [2]:
employee_data["rutik"]["Location"] = "Pune"
employee_data["rutik"]["Salary"] = 1500000
employee_data["rutik"]["Contact Number"]  = 7894561230

In [3]:
print(employee_data)

{'yash': {'position': 'Data scientist', 'Location': 'Pune', 'Salary': 1500000, 'Contact Number': 7894561230}, 'rutik': {'position': 'Data scientist', 'Location': 'Pune', 'Salary': 1500000, 'Contact Number': 7894561230}}

In [9]:
names = ["yash", "rutik"]
data = {
    "position": "Data scientist",
    "Location": "USA",
    "Salary": "90000 $",
    "Contact Number": 1234567890
    }

employee_data2 = dict.fromkeys(names, data)
print(employee_data2)

{'yash': {'position': 'Data scientist', 'Location': 'USA', 'Salary': '90000 $', 'Contact Number': 1234567890}, 'rutik': {'position': 'Data scientist', 'Location': 'USA', 'Salary': '90000 $', 'Contact Number': 1234567890}}

In [10]:
employee_data2["rutik"]

{'position': 'Data scientist',
 'Location': 'USA',
 'Salary': '90000 $',
 'Contact Number': 1234567890}

In [12]:
employee_data2["rutik"]["Salary"] = 1500000

In [13]:
employee_data2

{'yash': {'position': 'Data scientist',
  'Location': 'USA',
  'Salary': 1500000,
  'Contact Number': 1234567890},
 'rutik': {'position': 'Data scientist',
  'Location': 'USA',
  'Salary': 1500000,
  'Contact Number': 1234567890}}

# creating a dictionary with none values

In [21]:
seq = ["apple", "ball", "cat", "dog", "elephant"]

result_dict = dict.fromkeys(seq)
print(f"Formedormed dictionary with no assign values: {result_dict}")
print("*"*50)
print()

res_dict = dict.fromkeys(seq, ['a','b','c'])
print(f"Formed dictionary with assign values: {res_dict}")

Formedormed dictionary with no assign values: {'apple': None, 'ball': None, 'cat': None, 'dog': None, 'elephant': None}
**************************************************

Formed dictionary with assign values: {'apple': ['a', 'b', 'c'], 'ball': ['a', 'b', 'c'], 'cat': ['a', 'b', 'c'], 'dog': ['a', 'b', 'c'], 'elephant': ['a', 'b', 'c']}

In [23]:
new = dict.fromkeys(('One', 'Two', 'Three'),"Python")
print(new)

{'One': 'Python', 'Two': 'Python', 'Three': 'Python'}

In [25]:
di = {}

new_di = di.fromkeys(('One', 'Two', 'Three'),"Python")
print(new_di)

{'One': 'Python', 'Two': 'Python', 'Three': 'Python'}

# setdefault()

### syntax:- 
###### dict.setdefault( keyname, value )

In [35]:
data = { 
    "name": "Yash",
    "position": "Data scientist",
    "Location": "USA",
    "Salary": "90000 $",
    "Contact Number": 1234567890
    
}
print(data)

{'name': 'Yash', 'position': 'Data scientist', 'Location': 'USA', 'Salary': '90000 $', 'Contact Number': 1234567890}

In [40]:
data.setdefault("work")
print(data)

{'name': 'Yash', 'position': 'Data scientist', 'Location': 'USA', 'Salary': '90000 $', 'Contact Number': 1234567890, 'work': None}

In [43]:
data.setdefault("work1", "Work from home")
print(data)

{'name': 'Yash', 'position': 'Data scientist', 'Location': 'USA', 'Salary': '90000 $', 'Contact Number': 1234567890, 'work': None, 'work1': 'Work from home'}

In [45]:
data1 = { 
    "name": "Yash",
    "position": "Data scientist",
    "Location": "USA",
    "Salary": "90000 $",
    "Contact Number": 1234567890
    
}
print(data1)

{'name': 'Yash', 'position': 'Data scientist', 'Location': 'USA', 'Salary': '90000 $', 'Contact Number': 1234567890}

In [46]:
# if the value is present within a dictionary then it simply going to return a the value 
# associeted with the key
data1.setdefault("name")

'Yash'

In [47]:
# if the value is not present in dictionary then the key will be inserted with a default value None
# we can add value in setdefalult fuction 

data2 = { 
    "name": "Yash",
    "position": "Data scientist",
    "Location": "USA",
    "Salary": "90000 $",
    "Contact Number": 1234567890
    
}
print(data2)

{'name': 'Yash', 'position': 'Data scientist', 'Location': 'USA', 'Salary': '90000 $', 'Contact Number': 1234567890}

In [49]:
data2.setdefault("key", "value")
print(data2)

{'name': 'Yash', 'position': 'Data scientist', 'Location': 'USA', 'Salary': '90000 $', 'Contact Number': 1234567890, 'key': 'value'}

In [50]:
data2.setdefault("key1", )
print(data2)

{'name': 'Yash', 'position': 'Data scientist', 'Location': 'USA', 'Salary': '90000 $', 'Contact Number': 1234567890, 'key': 'value', 'key1': None}

## Fucntions

In [53]:
def addition():
    a = 20
    b = 50
    print(a+b)
addition()

70

In [54]:
print("-"*25)
print("We are learning functions") # 4
print("-"*25)
print()
print("-"*25)
print("We are learning functions") # 4
print("-"*25)
print()
print("-"*25)
print("We are learning functions") # 4       Total lines = 20
print("-"*25)
print()
print("-"*25)
print("We are learning functions") # 4
print("-"*25)
print()
print("-"*25)
print("We are learning functions") # 4
print("-"*25)
print()

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

In [4]:
# to avoide the above repetations of the code we create a funcntion

def func():
    print("-"*25)
    print("We are learning functions") # 4
    print("-"*25)
    print()
func()
func()
func()
func()
func()

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

In [5]:
for _ in range(5):
    func()

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

In [7]:
n = 5
a = 0
while a < n:
    func()
    a += 1

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

-------------------------
We are learning functions
-------------------------

In [27]:
lis = [1,2,3,4]

def addition(li):
    add = 0
    for i in li:
        add += i
    print(add)
    

result = addition(lis)
print(f"the addition of the result is: {result}")

10
the addition of the result is: None

In [15]:
lis = [1,2,3,4]

In [31]:
lis = [1,2,3,4]

def addition(li):
    add = 0
    for i in li:
        add += i
    return add
    

result = addition(lis)
print(f"The addition of the list elements is: {result}")
print(addition([11, 22, 33]))
print(addition([111, 222, 3333]))

The addition of the list elements is: 10
66
3666

# find the average of a list

In [33]:
def avg(list1):
    add = 0
    for i in list1:
        add += i
    return add/len(list1)

numbers = [1,2,3,4,5,6]
result = avg(numbers)
print(f"The average of a list is: {result}")

The average of a list is: 3.5

In [35]:


def even_odd(li_list):
    even = []
    odd = []
    for i in li_list:
        if i % 2 == 0:
            even.append(i)
        else:
            odd.append(i)
    print(f"even list: {even}")
    print(f"odd list: {odd}")
    
li_num = [5,7,4,65,3,5,7,9,0,6,4,2,5,76,9,45,34,65,876]
even_odd(li_num)

even list: [4, 0, 6, 4, 2, 76, 34, 876]
odd list: [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]

In [36]:
def even_odd(li_list):
    even = []
    odd = []
    for i in li_list:
        if i % 2 == 0:
#             even.append(i)
            pass
        else:
            odd.append(i)
    print(f"even list: {even}")
    print(f"odd list: {odd}")
    
li_num = [5,7,4,65,3,5,7,9,0,6,4,2,5,76,9,45,34,65,876]
even_odd(li_num)

even list: []
odd list: [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]

In [37]:
def even_odd(li_list):
    even = []
    odd = []
    for i in li_list:
        if i % 2 == 0:
            even.append(i)
        else:
#             odd.append(i)
            pass
    print(f"even list: {even}")
    print(f"odd list: {odd}")
    
li_num = [5,7,4,65,3,5,7,9,0,6,4,2,5,76,9,45,34,65,876]
even_odd(li_num)

even list: [4, 0, 6, 4, 2, 76, 34, 876]
odd list: []

# get even_odd by list comprehension

In [40]:
def get_even_odd(ev_od):
    
    eve = [i for i in ev_od if i % 2 == 0]
    od = [i for i in ev_od if i % 2 != 0]
    
    print(f"The even_numbers are: {eve}")
    print(f"The od_numbers are: {od}")

get_even_odd([5,7,4,65,3,5,7,9,0,6,4,2,5,76,9,45,34,65,876])

The even_numbers are: [4, 0, 6, 4, 2, 76, 34, 876]
The od_numbers are: [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]

In [42]:
def get_even_odd(ev_od):
    
    eve = [i for i in ev_od if i % 2 == 0]
    od = [i for i in ev_od if i % 2 != 0]
    
    print(f"The even_numbers are: {eve}")
    print(f"The od_numbers are: {od}")

get_even_odd([5,7,4,65,3,5,7,9,0,6,4,2,5,76,9,45,34,65,876])

The even_numbers are: [4, 0, 6, 4, 2, 76, 34, 876]
The od_numbers are: [5, 7, 65, 3, 5, 7, 9, 5, 9, 45, 65]

In [45]:
def learning_return():
    x = 10
    y = 20
    return x + y

learning_return() + 500

530

In [46]:
def learning_return():
    x = 10
    y = 20
    return x + y

learning_return() + "yash"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
def learning_return():
    x = 10
    y = 20
    return x + y

learning_return() + 2.5

32.5

In [48]:
def learning_return():
    x = 10
    y = 20
    return x + y

learning_return() + [1,2,3]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [49]:
2 + [2,5,6]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [52]:
[2,5,6]//2

TypeError: unsupported operand type(s) for //: 'list' and 'int'

In [53]:
[2,5,6]**2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'