In [1]:
import re

## search()
- this method matches the first occurence of a charactes and returns the index of the match
- Syntax 
    - re.search(pattern, text)

In [4]:
text = """Pyhton and data science"""
res = re.search("h",text)
res

In [9]:
res.group()

'h'

In [14]:
text[2:3]

'h'

In [20]:
text = """python and data science python, java python"""
res = re.search("python",text)
print(res)
res.group()

<re.Match object; span=(0, 6), match='python'>

'python'

In [21]:
text[0:6]

'python'

In [24]:
text = """This is the collection of all the valid or invalid adhar numbers
str1 = 1234 5678 8998
str2 = 124 5678 8998
str3 = 1234 5678 898
str4 = 12345678 8998
str5 = 1234 5678 8998
str6 = 134 5678 8998
str7 = 1234 578 8998
str8 = 1234 5678 898
str9 = 14 5678 8998
str10 = 1445 5678 8998
"""
Adhar = re.search("\d{4}\s\d{4}\s\d{4}",text)
print(Adhar)
Adhar.group()

<re.Match object; span=(72, 86), match='1234 5678 8998'>

'1234 5678 8998'

In [28]:
text[72:86]

'1234 5678 8998'

In [29]:
Adhar.start()

72

In [30]:
Adhar.end()

86

In [32]:
Adhar.endpos

278

In [66]:
x = Adhar.expand(re.sub("3", "hii",text))

In [67]:
print(x)

This is the collection of all the valid or invalid adhar numbers
str1 = 12hii4 5678 8998
str2 = 124 5678 8998
strhii = 12hii4 5678 898
str4 = 12hii45678 8998
str5 = 12hii4 5678 8998
str6 = 1hii4 5678 8998
str7 = 12hii4 578 8998
str8 = 12hii4 5678 898
str9 = 14 5678 8998
str10 = 1445 5678 8998

In [68]:
res = re.sub("3", "Hii",text)
print(res)

This is the collection of all the valid or invalid adhar numbers
str1 = 12Hii4 5678 8998
str2 = 124 5678 8998
strHii = 12Hii4 5678 898
str4 = 12Hii45678 8998
str5 = 12Hii4 5678 8998
str6 = 1Hii4 5678 8998
str7 = 12Hii4 578 8998
str8 = 12Hii4 5678 898
str9 = 14 5678 8998
str10 = 1445 5678 8998

In [72]:
text = """This is the collection of all the valid or invalid adhar numbers
str1 = 1234 5678 8998
str2 = 124 5678 8998
str3 = 1234 5678 898
str4 = 12345678 8998
str5 = 1234 5678 8998
str6 = 134 5678 8998
str7 = 1234 578 8998
str8 = 1234 5678 898
str9 = 14 5678 8998
str10 = 1445 5678 8998
str11 = 9860329851
str12 = 9511860272
"""
number = re.search("\d{10}",text)
print(number)
number.group()

<re.Match object; span=(286, 296), match='9860329851'>

'9860329851'

In [73]:
text[286:296]

'9860329851'

In [76]:
number = re.findall("\d{10}",text)
print(number)

['9860329851', '9511860272']

## match()
- This method searches for a match in the biginning of the string only
- Syntax
    - re.match(pattern, text)

In [82]:
text = """This is the collection of all the valid or invalid adhar numbers
str1 = 1234 5678 8998
str2 = 124 5678 8998
str3 = 1234 5678 898
str4 = 12345678 8998
str5 = 1234 5678 8998
str6 = 134 5678 8998
str7 = 1234 578 8998
str8 = 1234 5678 898
str9 = 14 5678 8998
str10 = 1445 5678 8998
str11 = 9860329851
str12 = 9511860272
"""

first = re.match("\w{4}.+\w{2}.+",text)
print(first)
first.group()

<re.Match object; span=(0, 64), match='This is the collection of all the valid or invali>

'This is the collection of all the valid or invalid adhar numbers'

In [98]:
text = """This is the collection of all the valid or invalid adhar numbers
str1 = 1234 5678 8998
str2 = 124 5678 8998
str3 = 1234 5678 898
str4 = 12345678 8998
str5 = 1234 5678 8998
str6 = 134 5678 8998
str7 = 1234 578 8998
str8 = 1234 5678 898
str9 = 14 5678 8998
str10 = 1445 5678 8998
str11 = 9860329851
str12 = 9511860272
"""

first = re.match("\w{4}",text)
print(first)
first.group()

<re.Match object; span=(0, 4), match='This'>

'This'

In [101]:
text = """This is the collection of all the valid or invalid adhar numbers
str1 = 1234 5678 8998
str2 = 124 5678 8998
str3 = 1234 5678 898
str4 = 12345678 8998
str5 = 1234 5678 8998
str6 = 134 5678 8998
str7 = 1234 578 8998
str8 = 1234 5678 898
str9 = 14 5678 8998
str10 = 1445 5678 8998
str11 = 9860329851
str12 = 9511860272
"""

number = re.match(r"\d{4}",text)
print(number)

None

In [102]:
number = re.findall(r"\d{4}",text)
print(number)

['1234', '5678', '8998', '5678', '8998', '1234', '5678', '1234', '5678', '8998', '1234', '5678', '8998', '5678', '8998', '1234', '8998', '1234', '5678', '5678', '8998', '1445', '5678', '8998', '9860', '3298', '9511', '8602']

In [105]:
number = re.search(r"\d{4}",text)
print(number)
number.group()

<re.Match object; span=(72, 76), match='1234'>

'1234'

In [112]:
text = """This is the collection of all the valid or invalid adhar numbers
ASDFG1234J
str1 = 1234 5678 8998
str2 = 124 5678 8998
str3 = 1234 5678 898
str4 = 12345678 8998
str5 = 1234 5678 8998
str6 = 134 5678 8998
str7 = 1234 578 8998
str8 = 1234 5678 898
str9 = 14 5678 8998
str10 = 1445 5678 8998
str11 = 9860329851
str12 = 9511860272
"""

number = re.match(r"\w{5}\d{4}\w",text)
if number:
    print(number.group())
else:
    print("No Match")

No Match

In [111]:
text = """
ASDFG1234J
str1 = 1234 5678 8998
str2 = 124 5678 8998
str3 = 1234 5678 898
str4 = 12345678 8998
str5 = 1234 5678 8998
str6 = 134 5678 8998
str7 = 1234 578 8998
str8 = 1234 5678 898
str9 = 14 5678 8998
str10 = 1445 5678 8998
str11 = 9860329851
str12 = 9511860272
"""

number = re.match(r"\w{5}\d{4}\w",text)
if number:
    print(number.group())
else:
    print("No Match")

No Match

In [110]:
text = """ASDFG1234J
str1 = 1234 5678 8998
str2 = 124 5678 8998
str3 = 1234 5678 898
str4 = 12345678 8998
str5 = 1234 5678 8998
str6 = 134 5678 8998
str7 = 1234 578 8998
str8 = 1234 5678 898
str9 = 14 5678 8998
str10 = 1445 5678 8998
str11 = 9860329851
str12 = 9511860272
"""

number = re.match(r"\w{5}\d{4}\w",text)
if number:
    print(number.group())
else:
    print("No Match")

ASDFG1234J

## sub()
- this method substitues the value with another value
- Syntax
    - re.sub(pattern, replace_pattern, string)

In [117]:
text = "Python and data science"
re.sub(r"P","2",text)

'2ython and data science'

In [118]:
text = "Python and data science"
re.sub(r"\s","<>",text)

'Python<>and<>data<>science'

In [122]:
dates = """
20-05-2022
30.06.2022
15,02,2021
23-jan-2023
05 05 2021
06/02/2023
08//09//2024
08--09--2024
"""
dt = re.sub("[-., /]{1,2}","_",dates)
print(dt)

20_05_2022
30_06_2022
15_02_2021
23_jan_2023
05_05_2021
06_02_2023
08_09_2024
08_09_2024

In [136]:
import datetime as dt
today = dt.datetime.now().date()
mon = today.month
str_month = today.strftime("%b")
str_month

'Oct'

In [139]:
dates = """
20-05-2022
30.06.2022
15,02,2021
23-jan-2023
05 05 2021
06/02/2023
08//09//2024
08--09--2024
"""
month = re.sub("[a-z]{3}", f"{str_month}",dates)
print(month)

20-05-2022
30.06.2022
15,02,2021
23-Oct-2023
05 05 2021
06/02/2023
08//09//2024
08--09--2024

In [174]:
dates = """
20-05-2022
30.06.2022
15,02,2021
23-jan-2023
05 05 2021
06/02/2023
08//09//2024
08--09--2024
"""
pat = re.findall("[-.,/ ]{1,2}\d{2}",dates)
print(pat)
for i in pat:
    if i[0] == "//":
        print(i[0])

['-05', '-20', '.06', '.20', ',02', ',20', '-20', ' 05', ' 20', '/02', '/20', '//09', '//20', '--09', '--20']

In [162]:
'-05'[0]

'-'