# Object Oriented Programming
- class
- object 
    - Our code is more readable
    - The code is reusable
    - Provides a more stured way

- 1. Object :- Real World Entity(Phone, Laptop, chair, Fan, House......)
- 2. Class  :- Blueprient of an object that holds the variables and methods.

- Phone_Design:
    Phone-1
    Phone-2
    Phone-3
    Phone-4
        .
        .
        .
        .
    Phone-n
    
    
- Building_Design:
    House-1
    House-2
    House-3
    House-4
        .
        .
        .
        .
    House-n

# Syntax

In [33]:
class ClassName():
    Variables = "Python"
    def Method1(self):
        print(self)
        print("First Method")
obj1 = ClassName()
obj1

In [34]:
obj1.Variables

'Python'

In [35]:
obj1.Method1()

<__main__.ClassName object at 0x000001C5FDDD7430>
First Method

In [8]:
obj2 = ClassName()
obj3 = ClassName()
obj4 = ClassName()

In [13]:
class TestClass():
    pass

test1 = TestClass() # Creating an instance of a class
test2 = TestClass() # Creating an object of a class
test3 = TestClass()
test4 = TestClass()

In [15]:
class DataGathering():
    def get_data_from_database(self):
        pass
    
    def get_data_from_client_server(self):
        pass

class DataPreprocessing():
    def handle_ouliers(self):
        pass
    
    def get_normalization(self):
        pass
    
    def get_standerdization(self):
        pass

class ModelTraining():
    def logistic_regression(self):
        pass
    
    def knn(self):
        pass
    
    def decision_tree(self):
        pass
    
    def random_forest(self):
        pass

class ModelEveluation():
    def confusion_matrix(self):
        pass
    
    def classification_report(self):
        pass
    
    def accuraccy_scre(self):
        pass

In [16]:
data_gather1 = DataGathering()
data_gather2 = DataGathering()
data_preprocess1 = DataPreprocessing()
data_preprocess2 = DataPreprocessing()
model_training1 = ModelTraining()
model_evaluation = ModelEveluation()

# Class Structure

In [17]:
var1 = 5000                            # Global Variable

class ClassName():                     # Class Name
    x = 1                              # Class Variables
    y = 5.5                            # Class Variables
    z = "First Class"                  # Class Variables
    
    def method1(self):                 # First Method of a class
        print("This is method1")
        var2 = "Data Science"          # Local Variable 
        self.city_name = "Mumbai"      # Instance Variable1
        self.state     = "Maharashtra" # Instance Variable2
        
    def method2(self):                 # Method 2
        print("This is method2")
        var3 = "Machine Learning"      # Local Vartiable
        self.var4 = "NLP"              # Instance variable 
        self.method1()
        print("Variable 1 from method1",self.city_name)
        print("Variable 2 from method2",self.x)

In [18]:
Obj1 = ClassName() # Creating an instance or an object of a class

In [22]:
Obj1.method1()

This is method1

In [23]:
Obj1.city_name1

AttributeError: 'ClassName' object has no attribute 'city_name1'

In [24]:
li.append1()

AttributeError: 'list' object has no attribute 'append1'

In [25]:
Obj1.city_name

'Mumbai'

In [26]:
Obj1.state

'Maharashtra'

In [27]:
Obj1.y

5.5

In [28]:
Obj1.z

'First Class'

In [19]:
print(var1)

5000

In [29]:
Obj1.method2()

This is method2
This is method1
Variable 1 from method1 Mumbai
Variable 2 from method2 1

In [21]:
li = []
li.append(100)
li

[100]

### Self
- Self is nothing but a keyword, We can use any keword name, but you have to follow the same keyword name entire the class
- It allows to access the variables and methods of each object
- Self keyword is used to represent an instance of a class
- It helps to distinguish between local variables and instance variables

# Employee Details

In [38]:
class EmpDetails():
    location = "Pune"
    
    def emp_name():
        pass
    
    def emp_salary():
        pass
    
    def emp_company():
        pass
    
    def emp_designation():
        pass
    
    
emp1 = EmpDetails()
emp2 = EmpDetails()

In [39]:
emp1.location

'Pune'

In [41]:
emp2.location

'Pune'

In [42]:
li1 = []
li2 = []
li1.append(100)
li2.append(10000)

In [44]:
EmpDetails.location

'Pune'

In [49]:
class EmpDetails():
    location = "Pune"
    
    def emp_name(self):
        print("We are in the class method and trying to ptint the object")
        print(self)
    
    def emp_salary():
        pass
    
    def emp_company():
        pass
    
    def emp_designation():
        pass
    
    
emp1 = EmpDetails()
emp2 = EmpDetails()

In [50]:
print(emp1)

<__main__.EmpDetails object at 0x000001C5FFB88580>

In [51]:
emp1.emp_name()

We are in the class method and trying to ptint the object
<__main__.EmpDetails object at 0x000001C5FFB88580>

In [52]:
"0x000001C5FFB88580" == "0x000001C5FFB88580"

True

In [53]:
print(emp2)

<__main__.EmpDetails object at 0x000001C5FFB8AAD0>

In [54]:
"0x000001C5FFB88580" == "0x000001C5FFB8AAD0"

False

In [55]:
print(emp2)
emp2.emp_name()

<__main__.EmpDetails object at 0x000001C5FFB8AAD0>
We are in the class method and trying to ptint the object
<__main__.EmpDetails object at 0x000001C5FFB8AAD0>

In [57]:
"0x000001C5FFB8AAD0" == "0x000001C5FFB8AAD0" # Self

True

In [72]:
class EmpDetails():
    location = "Pune"
    
    def emp_name(self,name):
        print(self)
        print(f"Employee Name = {name}")
    def emp_salary(self,salary):
        print(f"The salary of {name} is {salary}")
    
    def emp_company():
        pass
    
    def emp_designation():
        pass
    
    
emp1 = EmpDetails()
emp2 = EmpDetails()

In [73]:
print(emp1)

emp1.emp_name("Shrikar")

<__main__.EmpDetails object at 0x000001C5FE24A4D0>
<__main__.EmpDetails object at 0x000001C5FE24A4D0>
Employee Name = Shrikar

In [74]:
emp2.emp_name("Chetan")

<__main__.EmpDetails object at 0x000001C5FE24ACB0>
Employee Name = Chetan

In [75]:
print(emp2)

<__main__.EmpDetails object at 0x000001C5FE24ACB0>

In [76]:
emp1.emp_salary(1500000)

NameError: name 'name' is not defined

In [77]:
class EmpDetails():
    location = "Pune"
    
    def emp_name(self,name):
        self.name = name
        print(f"Employee Name = {name}")
    def emp_salary(self,salary):
        print(f"The salary of {self.name} is {salary}")
    
    def emp_company():
        pass
    
    def emp_designation():
        pass
    
    
emp1 = EmpDetails()
emp2 = EmpDetails()

In [78]:
emp1.emp_name("Shrikar")

Employee Name = Shrikar

In [79]:
emp1.emp_salary(15000000)

The salary of Shrikar is 15000000

In [80]:
emp2.emp_salary(100000)

AttributeError: 'EmpDetails' object has no attribute 'name'

In [81]:
emp3 = EmpDetails()

In [82]:
emp3.emp_name("Rishabh")

Employee Name = Rishabh

In [83]:
emp3.emp_salary(1700000)

The salary of Rishabh is 1700000

In [85]:
emp3.emp_salary(1500000)

The salary of Rishabh is 1500000