# Nested if-else
- if statement inside if

In [4]:
str1 = "Python"
if str1.istitle(): # True
    print("Title case")
else:
    print("Not a title case")

Title case

In [6]:
str1 = "PYthon"
if str1.istitle(): # False
    print("Title case")
else:
    print("Not a title case")

Not a title case

In [8]:
str1 = "PYthon"
if len(str1) > 5: # True
    print("Length is greater than 5")
    
    if str1.istitle(): # False
        print("Title case")
        
    else:
        print("Not a title case")
        
else:
    print("Length is less than 5")

Length is greater than 5
Not a title case

In [9]:
str1 = "Python"
if len(str1) > 5: # True
    print("Length is greater than 5")
    
    if str1.istitle(): # True
        print("Title case")
        
    else:
        print("Not a title case")
        
else:
    print("Length is less than 5")

Length is greater than 5
Title case

In [10]:
str1 = "Pyth"
if len(str1) > 5: # False
    print("Length is greater than 5")
    
    if str1.istitle():
        print("Title case")
        
    else:
        print("Not a title case")
        
else:
    print("Length is less than 5")

Length is less than 5

In [12]:
str1 = "Pyth"
if len(str1) > 5: # False
    print("Length is greater than 5")
    
    if str1.startswith("P"):
        print("startswith P")
        if str1.istitle():
            print("Title case")

        else:
            print("Not a title case")
    else:
        print("Does not starts with P")

else:
    print("Length is less than 5")

Length is less than 5

In [13]:
str1 = "Python"
if len(str1) > 5: # True
    print("Length is greater than 5")
    
    if str1.startswith("P"): # True
        print("startswith P")
        
        if str1.istitle(): # True
            print("Title case")

        else:
            print("Not a title case")
    else:
        print("Does not starts with P")

else:
    print("Length is less than 5")

Length is greater than 5
startswith P
Title case

In [14]:
str1 = "PyThon"
if len(str1) > 5: # True
    print("Length is greater than 5")
    
    if str1.startswith("P"): # True
        print("startswith P")
        
        if str1.istitle(): # False
            print("Title case")

        else:
            print("Not a title case")
    else:
        print("Does not starts with P")

else:
    print("Length is less than 5")

Length is greater than 5
startswith P
Not a title case

In [15]:
str1 = "CyThon"
if len(str1) > 5: # True
    print("Length is greater than 5")
    
    if str1.startswith("P"): # False
        print("startswith P")
        
        if str1.istitle(): 
            print("Title case")

        else:
            print("Not a title case")
    else:
        print("Does not starts with P")

else:
    print("Length is less than 5")

Length is greater than 5
Does not starts with P

In [16]:
num = 130
if num > 100: #True
    print("num is greater than 100")
    if num > 150:
        print("num is greater than 150")
    else:
        if num > 120:
            print("num is greater than 120")
        else:
            print("num is less than 120")
else:
    print("num is less than 100")

num is greater than 100
num is greater than 120

In [17]:
num = 115
if num > 100: #True
    print("num is greater than 100")
    if num > 150:
        print("num is greater than 150")
    else:
        if num > 120: # False
            print("num is greater than 120")
        else:
            print("num is less than 120")
else:
    print("num is less than 100")

num is greater than 100
num is less than 120

In [18]:
# Loan status >> Approved / Declined ?
# Cibil_SCore,age,salary

In [19]:
cibil_score = 800
age = 35
salary = 75000

if cibil_score > 750: # True
    print(f"Cibil score is greater than 750")
    
    if age > 24 and age < 60: # True and True >> True
        print("Age in a range")
        
        if salary > 45000: # True 
            print("Salary is greater than 45000")
            print("-"*15)
            print("Loan Approved")
            print("-"*15)

Cibil score is greater than 750
Age in a range
Salary is greater than 45000
---------------
Loan Approved
---------------

In [22]:
cibil_score = 500
age = 23
salary = 85000

if cibil_score > 750: # True
    print(f"Cibil score is greater than 750")
    
    if age > 24 and age < 60: # True and True >> True
        print("Age in a range")
        
        if salary > 45000: # True 
            print("Salary is greater than 45000")
            print("-"*15)
            print("Loan Approved")
            print("-"*15)
        else:
            print("Declined by salary")
            
    else:
        print("Declined by Age")
else:
    print("Declined by Cibit Score")

Declined by Cibit Score

In [24]:
cibil_score = 900
age = 28
salary = 85000

if cibil_score > 750: 
    print(f"Cibil score is greater than 750")
    
    if age > 24 and age < 60:
        print("Age in a range")
        
        if salary > 45000: 
            print("Salary is greater than 45000")
            print("-"*15)
            print("Loan Approved")
            print("-"*15)
        else:
            print("Declined by salary")
            
    else:
        print("Declined by Age")
else:
    print("Declined by Cibit Score")

Cibil score is greater than 750
Age in a range
Salary is greater than 45000
---------------
Loan Approved
---------------

## Short hand if

In [25]:
num1 = 100
num2 = 50
if num1 > num2:
    print(f"{num1} is greater than {num2}")

100 is greater than 50

In [26]:
if num1 > num2:print(f"{num1} is greater than {num2}")

100 is greater than 50

In [27]:
for i in [7,3,56,3,1,5,7,3,3,5,7,4]:
    if i > 5 : print(i)

7
56
7
7

## Short hand if else

In [28]:
num1 = 100
num2 = 500
if num1 > num2:
    print(f"{num1} is greater than {num2}")
else:
    print(f"{num2} is greater than {num1}")

500 is greater than 100

In [30]:
num1 = 100
num2 = 500
print(f"{num1} is greater than {num2}") if num1 > num2 else print(f"{num2} is greater than {num1}")

500 is greater than 100

In [31]:
num1 = 100
num2 = 50
print(f"{num1} is greater than {num2}") if num1 > num2 else print(f"{num2} is greater than {num1}")

100 is greater than 50

In [32]:
num1 = 100
num2 = 500
print(f"{num1} is greater than {num2}") if num1 > num2 else print(f"{num2} is greater than {num1}")

500 is greater than 100

In [33]:
for i in [1,7,3,8,4,9]:
    print(i) if i > 5 else print("num is small")

num is small
7
num is small
8
num is small
9

In [35]:
[i if i > 5 else "Small num" for i in [1,7,3,8,4,9]]

['Small num', 7, 'Small num', 8, 'Small num', 9]

In [36]:
[i if i > 5 for i in [1,7,3,8,4,9]]

SyntaxError: expected 'else' after 'if' expression (831370425.py, line 1)

In [37]:
[i for i in [1,7,3,8,4,9] if i > 5]

[7, 8, 9]