### MySQL

- we wirte query on workbench / jupyter notebook 
- we we have relational database  (RDBMS)
- we have structured table (structure of the table is fixed)

### MongoDB

- we wirte pytnon code in compass/ jupyter notebook
- we have Non Relational databse
- we have unstructured table

mysql            ==     mongodb
database         ==     database
tables           ==     collection
rows / records   ==     document
columns.         ==     keys

### import libraries to work on mongodb

- import pymongo
- import pandas as pd

In [ ]:
Ex :- 
emp :
    empid,empname,salary, loc   contact
    1001. rohit.  80000.  pune  null
    1002. snehal. 90000.  pune. 8983720070
    1003  dhiraj  '70000' pune. no field
    1004  neha.   60000.  pune. mobno/email
    
{contact:{'mobno':value,'email':value}}

### Step 1. create a Connection

In [ ]:
client = pymongo.MongoClient('mongodb://localhost:27017')
client

### Operations in mongo db

1. Create database  
2. create collection
3. insert data
4. read data
5. update data
6. delete data

In [ ]:
databases >> database >> collections >> documents >> key: value

### 1. Create a database/ use a database

In [ ]:
db = client["database_name"]
db

### 2. Create collection in a database

In [ ]:
coll = db["collection_name"]
coll

In [ ]:
db.list_collections_name()

### 3. Insert documents

1. insert_one() :- this will insert one document 
    - collection_name.insert_one({key:value})
    
2. insert_many() :- this will insert many documents
    - collection_name.insert_many([{},{}])

create database:
    connection_name['database_name']
    
create collection:
    database_name['collection_name']
    
insert document:
    insert_one(): used to insert a single document
        collection_name.insert_one({key:value})
    
    insert_many(): used to insert multiple documents
        collection_name.insert_many([{key:value},{key:value}])
    
read data :
    find_one(): used to read a single document
        collection_name.find_one({filter condition},{select})
    without filter condition: read the first document of the collection
    with filter condition   : read the first matched document
        
    find(): used to read multiple documents
        collection_name.find({filter condition},{select})
    without filter condition: read all documents of the collection
    with filter condition   : read all matched documents
        
update data:
    update_one(): update a single docuemnt
        collection_name.update_one({filter condition},{'$set'{'key':'value'}})
    without filter condition: update the first document of the collection
    with filter condition   : update the first matched document
   
    update_many(): update multiple documents
        collection_name.update_many({filter condition},{'$set':{'key':'value'}})
    without filter condition: update all documents of the collection
    with filter condition   : update all matched documents
    
delete data:
    delete_one() : delete single document
        collection_name.delete_one({filter condition})
    without filter condition: delete the first document of the collection
    with filter condition   : delete the first matched document
        
    delete_many(): delete multiple documents
        collection_name.delete_many({filter condition})
    without filter condition: delete all documents of the collection
    with filter condition   : delete all matched documents