# factorial of a number

5! = ?

In [1]:
def factorial(num):
    if num == 1:
        return 1
    else:
        return (num * factorial(num - 1)) ## by calling function inside of a function is called recursion 
    
factorial(5)

120

In [4]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        # recursive call to the function
        return (x * factorial(x-1))
factorial(5)

120

In [14]:
item = 6

factorial = 1
for i in range(1, item + 1):
    factorial *= i  # factorial = factorial + i
    
print(factorial)

720

In [12]:
# item = 2.5

factorial = 1
for i in [1.2, 2.5, 3.5]:
    factorial *= i
    
print(factorial)

10.5

0        = 0
1        = 1 
0 + 1    = 1
1 +1     = 2
1+2      = 3
2+3      = 5

5 + 3    = 8

# fibonachi series

In [32]:
n = 15

first = 0
second = 1
print(first,end=" ")
print(second,end=" ")

for i in range(2, n + 1):
    new = first + second
    first = second
    second = new
    
    print(new,end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610

In [33]:
for i in range(5):
    print(i)

0
1
2
3
4

In [41]:
for i in range(5): # 0,1,2,3,4
    
    for j in range(5): # 0,1,2,3,4
        print(i,end=" ")
        print(j,end=" ")

0
0 0
1 0
2 0
3 0
4 1
0 1
1 1
2 1
3 1
4 2
0 2
1 2
2 2
3 2
4 3
0 3
1 3
2 3
3 3
4 4
0 4
1 4
2 4
3 4
4

In [46]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits: 
        print(x, y)
    
    print()

red apple
red banana
red cherry

big apple
big banana
big cherry

tasty apple
tasty banana
tasty cherry

In [50]:
for i in range(5): # 0,1,2,3,4
    for j in range(2): # 0,1
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1

In [52]:
for i in range(2): # 0,1
    for j in range(5): # 0,1,2,3,4
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4

In [53]:
for i in range(4):         # 0, 1, 2, 3
    for j in range(2):     # 0, 1
        for k in range(3): # 0, 1, 2
            print(i,j,k)

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
1 1 2
2 0 0
2 0 1
2 0 2
2 1 0
2 1 1
2 1 2
3 0 0
3 0 1
3 0 2
3 1 0
3 1 1
3 1 2

In [2]:
# i          i  j  k   i  j  k   i  j  k
# i = 0 ==== 0, 0, 0 - 0, 0, 1 - 0, 0, 2 
# j = 1 ==== 0, 1, 0 - 0, 1, 1 - 0, 1, 2       

# i = 1 ==== 1, 0, 0 - 1, 0, 1 - 1, 0, 2 
# j = 1      1, 1, 0 - 1, 1, 1 - 1, 1, 2

# i = 2 ==== 2, 0, 0   2, 0, 1 - 2, 0, 2
# j = 1 ==== 2, 1 ,0   2, 1, 1 - 2, 1, 2

# i = 3 ==== 3, 0, 0   3, 0, 1   3, 0, 2
# j = 1 ==== 3, 1, 0   3, 1, 1   3, 1, 2

In [3]:
for i in range(4):       # 0, 1, 2, 3
    for j in range(3):   # 0, 1, 2
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2

In [ ]:
#          i     j
# i = 0,   0     0
#          0,    1
#          0,    2


# i = 1    1     0
#          1     1
#          1     2


# i = 2    2,    0
#          2,    1
#          2,    2

# i = 3    3,    0
#          3,    1
#          3,    2