# Datetime Module
- 10-01-2020
- 10 Jan 2020
- 2020-01-10
- 10/02/2020

# Current Datetime

In [2]:
import datetime

In [3]:
current_datetime = datetime.datetime.now()
print(current_datetime)

2022-09-20 15:41:17.020017

In [4]:
current_datetime_today = datetime.datetime.today()
print(current_datetime_today)

2022-09-20 15:41:18.203341

In [5]:
current_datetime_today.year

2022

In [6]:
type(current_datetime_today)

datetime.datetime

In [7]:
type(current_datetime)

datetime.datetime

In [8]:
current_datetime_today.month

9

In [9]:
current_datetime_today.day

20

In [11]:
current_datetime_today.date()

datetime.date(2022, 9, 20)

In [12]:
current_datetime_today.hour

6

In [13]:
current_datetime_today.minute

41

In [15]:
current_datetime.today().date()

datetime.date(2022, 9, 20)

In [16]:
current_datetime.today().time()

datetime.time(6, 44, 56, 598099)

# Timedelta

In [22]:
current_date = datetime.datetime.today().date()
current_date

datetime.date(2022, 9, 20)

In [24]:
new_date = current_date + datetime.timedelta(days=1)
new_date

datetime.date(2022, 9, 21)

In [25]:
new_date = current_date + datetime.timedelta(days=3)
new_date

datetime.date(2022, 9, 23)

In [26]:
new_date = current_date + datetime.timedelta(days=7)
new_date

datetime.date(2022, 9, 27)

In [27]:
new_date = current_date + datetime.timedelta(days=30)
new_date

datetime.date(2022, 10, 20)

In [28]:
new_date = current_date + datetime.timedelta(days=365)
new_date

datetime.date(2023, 9, 20)

# Next 10 days

In [29]:
for i in range(1,11):
    new_date = current_date + datetime.timedelta(days=i)
    print("New_date = ",new_date)

New_date =  2022-09-21
New_date =  2022-09-22
New_date =  2022-09-23
New_date =  2022-09-24
New_date =  2022-09-25
New_date =  2022-09-26
New_date =  2022-09-27
New_date =  2022-09-28
New_date =  2022-09-29
New_date =  2022-09-30

# Last 10 days

In [30]:
for i in range(1,11):
    new_date = current_date - datetime.timedelta(days=i)
    print("New_date = ",new_date)

New_date =  2022-09-19
New_date =  2022-09-18
New_date =  2022-09-17
New_date =  2022-09-16
New_date =  2022-09-15
New_date =  2022-09-14
New_date =  2022-09-13
New_date =  2022-09-12
New_date =  2022-09-11
New_date =  2022-09-10

# Last & Next 10 days

In [66]:
for i in range(-10,10):
    new_date = current_date + datetime.timedelta(days=i)
    print("New_date = ",new_date)

New_date =  2022-09-10
New_date =  2022-09-11
New_date =  2022-09-12
New_date =  2022-09-13
New_date =  2022-09-14
New_date =  2022-09-15
New_date =  2022-09-16
New_date =  2022-09-17
New_date =  2022-09-18
New_date =  2022-09-19
New_date =  2022-09-20
New_date =  2022-09-21
New_date =  2022-09-22
New_date =  2022-09-23
New_date =  2022-09-24
New_date =  2022-09-25
New_date =  2022-09-26
New_date =  2022-09-27
New_date =  2022-09-28
New_date =  2022-09-29

In [32]:
new_date = current_date + datetime.timedelta(weeks=1)
print("New_date = ",new_date)

New_date =  2022-09-27

In [33]:
new_date = current_date + datetime.timedelta(weeks=-1)
print("New_date = ",new_date)

New_date =  2022-09-13

days = 0
seconds = 0
microseconds = 0
milliseconds = 0
minutes = 0
hours = 0
weeks = 0

In [34]:
curr_time = datetime.datetime.today()
curr_time

datetime.datetime(2022, 9, 20, 6, 59, 30, 550022)

In [35]:
curr_time + datetime.timedelta(hours = 5)

datetime.datetime(2022, 9, 20, 11, 59, 30, 550022)

In [36]:
curr_time + datetime.timedelta(hours = 1)

datetime.datetime(2022, 9, 20, 7, 59, 30, 550022)

# strftime()
- string from time object(time to string)

In [37]:
curr_time = datetime.datetime.today()
curr_time

datetime.datetime(2022, 9, 20, 7, 3, 20, 264954)

In [38]:
type(curr_time)

datetime.datetime

In [39]:
curr_time.strftime('%Y')

'2022'

In [41]:
type(curr_time.year)

int

In [45]:
curr_time.year

2022

In [46]:
curr_time.strftime('%Y')

'2022'

In [64]:
# Year
print(curr_time.strftime('%Y')) # Year = '2022'
print(curr_time.strftime('%y')) # Year = 22

# Month
print(curr_time.strftime('%B')) # Month = September
print(curr_time.strftime('%b')) # Month = Sep
print(curr_time.strftime('%m')) # Month = 09

# Date 
print(curr_time.strftime('%d')) # Date = 20

# Weekdays 
print(curr_time.strftime('%A')) # Weekdays = Tuesday
print(curr_time.strftime('%a')) # Weekdays = Tue
print(curr_time.strftime('%w')) # Weekdays = 2 sun = 0, monday = 1

# Day Number 
print(curr_time.strftime('%j')) # Day Number (nth day of the current year) = 263

# Week Number 
print(curr_time.strftime('%U')) # Day Number (nth week of the current year) = 38

# AM/PM
print(curr_time.strftime('%p'))

2022
22
September
Sep
09
20
Tuesday
Tue
2
263
38
AM

In [77]:
any_day = datetime.datetime(1896,5,7,10,0)
any_day

datetime.datetime(1896, 5, 7, 10, 0)

In [78]:
any_day.strftime('%A')

'Thursday'

In [79]:
any_day.strftime('%j')

'128'

In [80]:
any_day.strftime('%B')

'May'

In [88]:
any_day = datetime.datetime(1896,8,7)
any_day

datetime.datetime(1896, 8, 7, 0, 0)

In [89]:
any_day.strftime("%Y-%b-%d")

'1896-Aug-07'

In [90]:
any_day.strftime("%b-%Y-%d")

'Aug-1896-07'

In [92]:
any_day.strftime("%Y-%b-%d")

'1896-Aug-07'

In [93]:
any_day.strftime("%Y/%b/%d")

'1896/Aug/07'

In [94]:
any_day.strftime("%Y %b %d")

'1896 Aug 07'

In [100]:
date_str = any_day.strftime("%d-%m-%Y")
date_str

'07-08-1896'

In [102]:
date_str[-4:]

'1896'

# strptime()
- String points to time(string to time object)

In [103]:
d1 = "25-11-2020"
d2 = "25/11/2020"
d3 = "25 11 2020"
d4 = "25 Nov 2020"
d5 = "25/November/2020"

In [108]:
d1 = "25-11-2020"
date_format = "%d-%m-%Y"
new_date = datetime.datetime.strptime(d1,date_format)
new_date

datetime.datetime(2020, 11, 25, 0, 0)

In [105]:
type(new_date)

datetime.datetime

In [109]:
d1 = "25/11/2020"
date_format = "%d-%m-%Y"
new_date = datetime.datetime.strptime(d1,date_format)
new_date

ValueError: time data '25/11/2020' does not match format '%d-%m-%Y'

In [111]:
d1 = "25/11/2020"
date_format = "%d/%m/%Y"
new_date = datetime.datetime.strptime(d1,date_format).date()
new_date

datetime.date(2020, 11, 25)

In [112]:
d3 = "25 11 2020"
date_format = "%d %m %Y"
new_date = datetime.datetime.strptime(d3,date_format).date()
new_date

datetime.date(2020, 11, 25)

In [113]:
d4 = "25 Nov 20"
date_format = "%d %b %y"
new_date = datetime.datetime.strptime(d4,date_format).date()
new_date

datetime.date(2020, 11, 25)

In [115]:
d5 = "25/November/2020"
date_format = "%d/%B/%Y"
new_date = datetime.datetime.strptime(d5,date_format).date()
new_date

datetime.date(2020, 11, 25)

In [1]:
date_list = ["17-02-2022","28/03/2022","17-02-22","2022-02-17","2022 Feb 17", "2022 February 17", 
            "2022 Aug 17", "17 Feb 22", "17 Feb 2022", "17/02/2022", "17/02/22", "17-05-2020"]
date_list

['17-02-2022',
 '28/03/2022',
 '17-02-22',
 '2022-02-17',
 '2022 Feb 17',
 '2022 February 17',
 '2022 Aug 17',
 '17 Feb 22',
 '17 Feb 2022',
 '17/02/2022',
 '17/02/22',
 '17-05-2020']

In [2]:
date_list = ["17-02-2022","28/03/2022","17-02-22","2022-02-17","2022 Feb 17", "2022 February 17", 
            "2022 Aug 17", "17 Feb 22", "17 Feb 2022", "17/02/2022", "17/02/22", "17-05-2020"]
date_list

['17-02-2022',
 '28/03/2022',
 '17-02-22',
 '2022-02-17',
 '2022 Feb 17',
 '2022 February 17',
 '2022 Aug 17',
 '17 Feb 22',
 '17 Feb 2022',
 '17/02/2022',
 '17/02/22',
 '17-05-2020']

In [135]:
date_format_list = ["%d/%m/%Y","%d-%m-%Y","%d-%m-%y","%Y-%m-%d", "%Y %b %d", "%Y %B %d", "%d %b %y", 
                   "%d %b %y", "%d %b %Y", "%d/%m/%y"]
date_format_list

['%d/%m/%Y',
 '%d-%m-%Y',
 '%d-%m-%y',
 '%Y-%m-%d',
 '%Y %b %d',
 '%Y %B %d',
 '%d %b %y',
 '%d %b %y',
 '%d %b %Y',
 '%d/%m/%y']

In [137]:
for date in date_list:
    for date_format in date_format_list:
        try:
            new_date = datetime.datetime.strptime(date,date_format).date()
            print(f"Date     ---> {date}")
            print(f"Format   ---> {date_format}")
            print(f"New Date ---> {new_date}")
            print("-------------------------")
            break
        except:
            continue

Date     ---> 17-02-2022
Format   ---> %d-%m-%Y
New Date ---> 2022-02-17
-------------------------
Date     ---> 28/03/2022
Format   ---> %d/%m/%Y
New Date ---> 2022-03-28
-------------------------
Date     ---> 17-02-22
Format   ---> %d-%m-%y
New Date ---> 2022-02-17
-------------------------
Date     ---> 2022-02-17
Format   ---> %Y-%m-%d
New Date ---> 2022-02-17
-------------------------
Date     ---> 2022 Feb 17
Format   ---> %Y %b %d
New Date ---> 2022-02-17
-------------------------
Date     ---> 2022 February 17
Format   ---> %Y %B %d
New Date ---> 2022-02-17
-------------------------
Date     ---> 2022 Aug 17
Format   ---> %Y %b %d
New Date ---> 2022-08-17
-------------------------
Date     ---> 17 Feb 22
Format   ---> %d %b %y
New Date ---> 2022-02-17
-------------------------
Date     ---> 17 Feb 2022
Format   ---> %d %b %Y
New Date ---> 2022-02-17
-------------------------
Date     ---> 17/02/2022
Format   ---> %d/%m/%Y
New Date ---> 2022-02-17
-------------------------
Date     ---> 17/02/22
Format   ---> %d/%m/%y
New Date ---> 2022-02-17
-------------------------
Date     ---> 17-05-2020
Format   ---> %d-%m-%Y
New Date ---> 2020-05-17
-------------------------

In [125]:
for i in range(100):
    if i == 3:
        break
    print(i)

0
1
2