Mysql :

workbench/jupyter notebook
relational database
structured data
tables

MongoDB:
compass/jupyter notebook
non relational database
unstructured data
json >> dictionary >> key : value

In [ ]:
emp :
    empid,empname,salary, loc   contact
    1001. rohit.  80000.  pune  null
    1002. snehal. 90000.  pune. 8983720070
    1003  dhiraj  '70000' pune. no field
    1004  neha.   60000.  pune. mobno/email

In [ ]:
{contact:{'mobno':value,'email':value}}

In [ ]:
mysql      == mongodb
database   == database
tables     == collection
rows.      == document
columns.   == keys

### import libraries

In [1]:
import pymongo
import pandas as pd

### create connection

In [2]:
client=pymongo.MongoClient('mongodb://localhost:27017')
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### operations

In [ ]:
1. create database
2. create collection
3. insert data
4. read data
5. update data
6. delete data

In [ ]:
databases >> database >> collections >> documents >> key: value

### 1. create database/use database

In [60]:
db=client['engg_data']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'engg_data')

In [5]:
client.list_database_names()

['admin', 'config', 'emp', 'local']

### 2. create collection

In [61]:
coll=db['student']
coll

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'engg_data'), 'student')

In [7]:
db.list_collection_names()

[]

### 3. insert document

In [ ]:
insert_one() : insert a single document
insert_many(): insert multiple documents

#### 1. insert_one()

In [ ]:
collection_name.insert_one({key:value})

In [62]:
coll.insert_one({'rollno':101,'stud_name':'rohit','cgpa':9,'loc':'pune'})

In [9]:
db.list_collection_names()

['student']

In [10]:
client.list_database_names()

['admin', 'config', 'emp', 'engg_data', 'local']

In [63]:
coll.insert_one({'rollno':102,'stud_name':'snehal','cgpa':8,'loc':'pune'})

In [64]:
coll.insert_one({'rollno':103,'stud_name':'rohit','cgpa':7,'loc':'pune','contact':8983720070})

In [65]:
coll.insert_one({'rollno':103,'stud_name':'rohit','cgpa':7,'loc':'pune',
                 'contact':{'mob':8983720070,'email':'rohit@gmail.com'}})

#### 2. insert_many()

In [ ]:
collection_name.insert_many([{},{}])

In [14]:
coll.insert_many([{'rollno':104,'stud_name':'goldi'},
                 {'rollno':105,'stud_name':'akash','loc':'mumbai'}])

### 2. read data

In [ ]:
find_one(): return a single document
find()    : return multiple documents

#### 1. find_one()

In [ ]:
collection_name.find_one({where condition},{select})
without filter condition: returns first document of the collection
with filter condition   : return the first matched document

In [15]:
coll.find_one({})

{'_id': ObjectId('63a1c0ae65e1e6f2d4a09b41'),
 'rollno': 101,
 'stud_name': 'rohit',
 'cgpa': 9,
 'loc': 'pune'}

In [16]:
coll.find_one({},{'_id':0})

{'rollno': 101, 'stud_name': 'rohit', 'cgpa': 9, 'loc': 'pune'}

In [17]:
coll.find_one({},{'_id':0,'loc':0})

{'rollno': 101, 'stud_name': 'rohit', 'cgpa': 9}

In [18]:
coll.find_one({},{'_id':0,'loc':0,'cgpa':0})

{'rollno': 101, 'stud_name': 'rohit'}

In [20]:
coll.find_one({},{'loc':1,'cgpa':1})

{'_id': ObjectId('63a1c0ae65e1e6f2d4a09b41'), 'cgpa': 9, 'loc': 'pune'}

In [21]:
coll.find_one({},{'_id':0,'loc':1,'cgpa':1})

{'cgpa': 9, 'loc': 'pune'}

In [22]:
coll.find_one({},{'_id':0,'loc':0,'cgpa':1})

OperationFailure: Cannot do inclusion on field cgpa in exclusion projection, full error: {'ok': 0.0, 'errmsg': 'Cannot do inclusion on field cgpa in exclusion projection', 'code': 31253, 'codeName': 'Location31253'}

In [23]:
coll.find_one({},{'_id':0,'loc':0,'cgpa':0})

{'rollno': 101, 'stud_name': 'rohit'}

In [ ]:
20 keys : read 4 keys : to specify 1 for these 4 keys
20 keys : skip 4 keys : to specify 0 for these 4 keys

In [24]:
coll.find_one({'rollno':103})

{'_id': ObjectId('63a1c18065e1e6f2d4a09b43'),
 'rollno': 103,
 'stud_name': 'rohit',
 'cgpa': 7,
 'loc': 'pune',
 'contact': 8983720070}

In [25]:
coll.find_one({'rollno':103},{'_id':0})

{'rollno': 103,
 'stud_name': 'rohit',
 'cgpa': 7,
 'loc': 'pune',
 'contact': 8983720070}

In [26]:
coll.find_one({'loc':'pune'},{'_id':0})

{'rollno': 101, 'stud_name': 'rohit', 'cgpa': 9, 'loc': 'pune'}

In [39]:
coll.find_one({'contact.email':'rohit@gmail.com'},{'_id':0})

{'rollno': 103,
 'stud_name': 'rohit',
 'cgpa': 7,
 'loc': 'pune',
 'contact': {'mob': 8983720070, 'email': 'rohit@gmail.com'},
 'branch': 'comp'}

### find()

In [ ]:
collection_name.find({filter condition},{select})
without filter condition: returns all documents of the collection
with filter condition   : return the all matched documents

In [28]:
data=coll.find({},{'_id':0})
list(data)

[{'rollno': 101, 'stud_name': 'rohit', 'cgpa': 9, 'loc': 'pune'},
 {'rollno': 102, 'stud_name': 'snehal', 'cgpa': 8, 'loc': 'pune'},
 {'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 7,
  'loc': 'pune',
  'contact': 8983720070},
 {'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 7,
  'loc': 'pune',
  'contact': {'mob': 8983720070, 'email': 'rohit@gmail.com'}},
 {'rollno': 104, 'stud_name': 'goldi'},
 {'rollno': 105, 'stud_name': 'akash', 'loc': 'mumbai'}]

In [29]:
data=coll.find({'rollno':103},{'_id':0})
list(data)

[{'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 7,
  'loc': 'pune',
  'contact': 8983720070},
 {'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 7,
  'loc': 'pune',
  'contact': {'mob': 8983720070, 'email': 'rohit@gmail.com'}}]

In [30]:
data=coll.find({'loc':'pune'},{'_id':0})
list(data)

[{'rollno': 101, 'stud_name': 'rohit', 'cgpa': 9, 'loc': 'pune'},
 {'rollno': 102, 'stud_name': 'snehal', 'cgpa': 8, 'loc': 'pune'},
 {'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 7,
  'loc': 'pune',
  'contact': 8983720070},
 {'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 7,
  'loc': 'pune',
  'contact': {'mob': 8983720070, 'email': 'rohit@gmail.com'}}]

In [31]:
data=coll.find({'cgpa':{'$gt':7}})
list(data)

[{'_id': ObjectId('63a1c0ae65e1e6f2d4a09b41'),
  'rollno': 101,
  'stud_name': 'rohit',
  'cgpa': 9,
  'loc': 'pune'},
 {'_id': ObjectId('63a1c14165e1e6f2d4a09b42'),
  'rollno': 102,
  'stud_name': 'snehal',
  'cgpa': 8,
  'loc': 'pune'}]

In [ ]:
lt: less than
gte: greater than equal to
lte: less than equal to
ne : not equal to
in : specify multiple possible values

### update data

In [ ]:
update_one(): update a single document
update_many():update multiple documents

#### 1. update_one()

In [ ]:
collection_name.update_one({where condition},{'$set':{'key':value}})
without filter condition: update first document of the collection
with filter condition   : update the first matched document

In [32]:
coll.update_one({},{'$set':{'loc':'mumbai'}})

In [33]:
coll.update_one({'rollno':103},{'$set':{'loc':'chennai'}})

In [34]:
coll.update_one({},{'$set':{'contact':8990786756}})

### 2. update_many()

In [ ]:
collection_name.update_many({where condition},{'$set':{'key':value}})
without filter condition: update all documents of the collection
with filter condition   : update the all matched documents

In [35]:
coll.update_many({},{'$set':{'branch':'comp'}})

In [36]:
coll.update_many({},{'$set':{'branch':'civil'}})

In [37]:
coll.update_many({'loc':'pune'},{'$set':{'branch':'comp'}})

In [38]:
coll.update_one({'loc':'chennai'},{'$set':{'cgpa':6}})

### sort the data

In [41]:
data=coll.find({},{'_id':0}).sort('cgpa')
list(data)

[{'rollno': 104, 'stud_name': 'goldi', 'branch': 'civil'},
 {'rollno': 105, 'stud_name': 'akash', 'loc': 'mumbai', 'branch': 'civil'},
 {'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 6,
  'loc': 'chennai',
  'contact': 8983720070,
  'branch': 'civil'},
 {'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 7,
  'loc': 'pune',
  'contact': {'mob': 8983720070, 'email': 'rohit@gmail.com'},
  'branch': 'comp'},
 {'rollno': 102,
  'stud_name': 'snehal',
  'cgpa': 8,
  'loc': 'pune',
  'branch': 'comp'},
 {'rollno': 101,
  'stud_name': 'rohit',
  'cgpa': 9,
  'loc': 'mumbai',
  'contact': 8990786756,
  'branch': 'civil'}]

In [42]:
data=coll.find({},{'_id':0}).sort('cgpa',-1)
list(data)

[{'rollno': 101,
  'stud_name': 'rohit',
  'cgpa': 9,
  'loc': 'mumbai',
  'contact': 8990786756,
  'branch': 'civil'},
 {'rollno': 102,
  'stud_name': 'snehal',
  'cgpa': 8,
  'loc': 'pune',
  'branch': 'comp'},
 {'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 7,
  'loc': 'pune',
  'contact': {'mob': 8983720070, 'email': 'rohit@gmail.com'},
  'branch': 'comp'},
 {'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 6,
  'loc': 'chennai',
  'contact': 8983720070,
  'branch': 'civil'},
 {'rollno': 104, 'stud_name': 'goldi', 'branch': 'civil'},
 {'rollno': 105, 'stud_name': 'akash', 'loc': 'mumbai', 'branch': 'civil'}]

### limit()

In [45]:
data=coll.find({},{'_id':0}).limit(2)
list(data)

[{'rollno': 101,
  'stud_name': 'rohit',
  'cgpa': 9,
  'loc': 'mumbai',
  'contact': 8990786756,
  'branch': 'civil'},
 {'rollno': 102,
  'stud_name': 'snehal',
  'cgpa': 8,
  'loc': 'pune',
  'branch': 'comp'}]

In [46]:
data=coll.find({},{'_id':0}).sort('cgpa').limit(2).skip(2)
list(data)

[{'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 6,
  'loc': 'chennai',
  'contact': 8983720070,
  'branch': 'civil'},
 {'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 7,
  'loc': 'pune',
  'contact': {'mob': 8983720070, 'email': 'rohit@gmail.com'},
  'branch': 'comp'}]

In [47]:
data=coll.find({},{'_id':0}).sort('cgpa').skip(2)
list(data)

[{'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 6,
  'loc': 'chennai',
  'contact': 8983720070,
  'branch': 'civil'},
 {'rollno': 103,
  'stud_name': 'rohit',
  'cgpa': 7,
  'loc': 'pune',
  'contact': {'mob': 8983720070, 'email': 'rohit@gmail.com'},
  'branch': 'comp'},
 {'rollno': 102,
  'stud_name': 'snehal',
  'cgpa': 8,
  'loc': 'pune',
  'branch': 'comp'},
 {'rollno': 101,
  'stud_name': 'rohit',
  'cgpa': 9,
  'loc': 'mumbai',
  'contact': 8990786756,
  'branch': 'civil'}]

### delete data

In [ ]:
delete_one(): delete a single document
delete_many() : delete multiple documents

#### 1. delete_one()

In [ ]:
collection_name.delete_one({filter condition})
without filter condition: delete first document of the collection
with filter condition   : deletes the first matched document

In [48]:
coll.delete_one({})

In [49]:
coll.delete_one({'rollno':103})

#### delete_many()

In [ ]:
collection_name.delete_many({filter condition})
without filter condition: delete all documents of the collection
with filter condition   : deletes all matched documents

In [50]:
coll.delete_many({'branch':'civil'})

In [51]:
coll.delete_many({})

### drop collection

In [ ]:
collection_name.drop()

In [52]:
coll.drop()

### drop database

In [ ]:
client.drop_database('engg_data')

### import a csv file into mongodb collection

In [55]:
data=pd.read_csv('emp.csv')
df=data.to_dict(orient='records')
db=client['db_test']
db.emp_data.insert_many(df)

### import json file into mongo collection

In [56]:
import json

In [59]:
f=open('iris.json')
data=json.load(f)
db.iris.insert_many(data)

### export collection into dataframe

In [67]:
data=coll.find({})
data1=list(data)
df=pd.DataFrame(data1)
df

,_id,rollno,stud_name,cgpa,loc,contact
0,63a1d0aa65e1e6f2d4a09bf4,101,rohit,9,pune,NaN
1,63a1d0ae65e1e6f2d4a09bf5,102,snehal,8,pune,NaN
2,63a1d0b065e1e6f2d4a09bf6,103,rohit,7,pune,8983720070
3,63a1d0b265e1e6f2d4a09bf7,103,rohit,7,pune,"{'mob': 8983720070, 'email': 'rohit@gmail.com'}"

### summary

In [ ]:

create database:
    connection_name['database_name']
    
create collection:
    database_name['collection_name']
    
insert document:
    insert_one(): used to insert a single document
    collection_name.insert_one({key:value})
    
    insert_many(): used to insert multiple documents
    collection_name.insert_many([{key:value},{key:value}])
    
read data :
    find_one(): used to read a single document
    collection_name.find_one({filter condition},{select})
    without filter condition: read the first document of the collection
    with filter condition   : read the first matched document
        
    find(): used to read multiple documents
    collection_name.find({filter condition},{select})
    without filter condition: read all documents of the collection
    with filter condition   : read all matched documents
        
update data:
    update_one(): update a single docuemnt
    collection_name.update_one({filter condition},{'$set'{'key':'value'}})
    without filter condition: update the first document of the collection
    with filter condition   : update the first matched document
   
    update_many(): update multiple documents
    collection_name.update_many({filter condition},{'$set':{'key':'value'}})
    without filter condition: update all documents of the collection
    with filter condition   : update all matched documents
    
delete data:
    delete_one() : delete single document
    collection_name.delete_one({filter condition})
    without filter condition: delete the first document of the collection
    with filter condition   : delete the first matched document
        
    delete_many(): delete multiple documents
    collection_name.delete_many({filter condition})
    without filter condition: delete all documents of the collection
    with filter condition   : delete all matched documents