# comment >> single #

## Double >>##

### tripple >> #

#### four times >>> #

##### five times >>> #

###### six times >>> #

####### seven times >>> #

In [2]:
number = 100
number

100

In [6]:
number1 = 200
print(number1)
number2 = 300
number2

200

300

In [7]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [10]:
# we can not use ( . ) between two variables e.g:--> new.var
new_var = "yash"
new_var

'yash'

In [13]:
list = 12
list

12

In [14]:
type(list)

int

In [16]:
a = [1,2.3]
print(type(a))

<class 'list'>

In [17]:
# see what would happen if we try to use built in functions as a variable name

min([1,2,3,4,5])

1

In [18]:
# we try to assign a value to built in function
min = 500
min

500

#### then we try to find the min. value from the list
#### see how it's giving me an error

In [22]:
min([1,2,3,4,5])

TypeError: 'int' object is not callable

In [24]:
list = 45
list

45

In [26]:
list((1,2,3,4))

TypeError: 'int' object is not callable

In [2]:
a = 50
a

50

In [4]:
a = 20
a

20

In [8]:
a = a + 50

In [9]:
a

70

In [14]:
a = "string"
type(a)

str

In [15]:
a = 123
type(a)

int

In [17]:
"string" + 25

TypeError: can only concatenate str (not "int") to str

In [39]:
v = 250
c = 45
c /= v
print(c)

0.18

In [41]:
g = 18
c = 8
g *= c
print(g)

144

In [2]:
name = "Rockey"
print(name*2)

RockeyRockey

In [46]:
a = 1,2,3,4,5,"python","data science",[1,2,"usa", (1,2,3)]
print(a)

(1, 2, 3, 4, 5, 'python', 'data science', [1, 2, 'usa', (1, 2, 3)])

In [51]:
ans = 0
b = 20
ans /= b
ans

# del keyword permanently delete the item.. 
del b, a


print(a,b)

NameError: name 'a' is not defined

In [27]:
z = 20
z /= 2
z

10.0

### Remember when we use floor_division to devide float value then it will always return value in a float format
#### Note :  but there is exception for that, when it comes to intiger value, 
#### the floor division function will return the expected float value in intiger format

In [36]:
a = 77.5
b = 27.5
div_f = a//b
print(f"The div_floor value is {div_f}")

The div_floor value is 2.0

In [38]:
a = 77
b = 27
div_f = a//b
print(f"The div_floor value is {div_f}")

The div_floor value is 2

In [53]:
if "30".isdigit():
    
    if int('30') == 30:
        print("The number is 3")
        if True:
            print("Its true")
    print("Hello")
    
print("Hello2")

The number is 3
Its true
Hello
Hello2

# see the difference between print("*", end=" ") and print("*")

In [63]:
# if we only use print("*") then it will print the 1 * in every new line
for i in range(5):
    for j in range(5):
        print("*")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [64]:
for i in range(5):
    for j in range(5):
        print("*",end=" ")

* * * * * * * * * * * * * * * * * * * * * * * * *

### if we use print("*",end=" "), this going to print space between the stars and print's the * in one line 
### however print() will print the 5 * in each line {print() ---> \n} 

##### basically it  ( end = " "  )   print's the new line at the end of the print statement

In [67]:
for i in range(5):
    for j in range(5):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *