In [1]:
dict1 = {
    "Employee Name" : "Komal",
    "Company Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
dict1

{'Employee Name': 'Komal',
 'Company Name': 'eClerx',
 'Salary': '1500000',
 'Designation': 'Data Scientist'}

In [2]:
dict1.pop("Salary")

'1500000'

In [3]:
dict1

{'Employee Name': 'Komal',
 'Company Name': 'eClerx',
 'Designation': 'Data Scientist'}

In [5]:
dict1 = {
    "Employee Name" : "Komal",
    "Company Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
dict1.popitem()

('Designation', 'Data Scientist')

In [6]:
dict1

{'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000'}

In [7]:
dict1 = {
    "Employee Name" : "Komal",
    "Company Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
dict1

{'Employee Name': 'Komal',
 'Company Name': 'eClerx',
 'Salary': '1500000',
 'Designation': 'Data Scientist'}

In [8]:
dict1.clear()

In [9]:
dict1

{}

In [14]:
dict1 = {
    "Employee_Name" : "Komal",
    "Company_Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
dict1

{'Employee_Name': 'Komal',
 'Company_Name': 'eClerx',
 'Salary': '1500000',
 'Designation': 'Data Scientist'}

In [16]:
del dict1["Employee_Name"]

In [17]:
dict1

{'Company_Name': 'eClerx',
 'Salary': '1500000',
 'Designation': 'Data Scientist'}

In [18]:
dict1 = {
    "Employee_Name" : "Komal",
    "Company_Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
dict1

{'Employee_Name': 'Komal',
 'Company_Name': 'eClerx',
 'Salary': '1500000',
 'Designation': 'Data Scientist'}

In [19]:
del dict1

In [20]:
dict1

NameError: name 'dict1' is not defined

In [23]:
dict1 = {
    "Employee_Name" : "Komal",
    "Company_Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}

In [24]:
dict2 = {
    "Employee Name" : "Omkar",
    "Company Name"  : "TCS",
    "Salary"        : "2000000",
    "Designation"   : "ML Engineer"
}

In [25]:
employee_info = {
    "ABC11" : dict1,
    "ABC12" : dict2,
    "ABC13" : {
        'Employee Name': "Akshay",
        'Company Name' : "MiraFra",
        "Salary"       : (1500000,1700000,2000000),
        'Designation'  : "Data Analyst",
        "Location"     : {
            "City"     : "Pune",
            "State"    : "Maharashtra",
            "PinCode"  : "411001"
        }
    }
}
print(employee_info)

{'ABC11': {'Employee_Name': 'Komal', 'Company_Name': 'eClerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}, 'ABC12': {'Employee Name': 'Omkar', 'Company Name': 'TCS', 'Salary': '2000000', 'Designation': 'ML Engineer'}, 'ABC13': {'Employee Name': 'Akshay', 'Company Name': 'MiraFra', 'Salary': (1500000, 1700000, 2000000), 'Designation': 'Data Analyst', 'Location': {'City': 'Pune', 'State': 'Maharashtra', 'PinCode': '411001'}}}

In [31]:
for i in employee_info["ABC13"]["Salary"]:
    print(i, type(i))

1500000 <class 'int'>
1700000 <class 'int'>
2000000 <class 'int'>

In [35]:
employee_info["ABC13"]["Salary"] = 5000000

In [36]:
employee_info

{'ABC11': {'Employee_Name': 'Komal',
  'Company_Name': 'eClerx',
  'Salary': '1500000',
  'Designation': 'Data Scientist'},
 'ABC12': {'Employee Name': 'Omkar',
  'Company Name': 'TCS',
  'Salary': '2000000',
  'Designation': 'ML Engineer'},
 'ABC13': {'Employee Name': 'Akshay',
  'Company Name': 'MiraFra',
  'Salary': 5000000,
  'Designation': 'Data Analyst',
  'Location': {'City': 'Pune', 'State': 'Maharashtra', 'PinCode': '411001'}},
 'Salary': 5000000}

In [37]:
dict1

{'Employee_Name': 'Komal',
 'Company_Name': 'eClerx',
 'Salary': '1500000',
 'Designation': 'Data Scientist'}

In [38]:
dict2

{'Employee Name': 'Omkar',
 'Company Name': 'TCS',
 'Salary': '2000000',
 'Designation': 'ML Engineer'}

# sortign a dictionary by it's keys
- just sorting
- reverse sorting

In [43]:
lang_popularity = {'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

new_values = lang_popularity.keys()
print(new_values)
sorted_dict = sorted(new_values)
print(sorted_dict)

dict_keys(['Python', 'Java', 'C', 'R', 'GoLang'])
['C', 'GoLang', 'Java', 'Python', 'R']

In [45]:
lang_popularity = {'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

new_values = lang_popularity.keys()
print(new_values)
sorted_dict = sorted(new_values, reverse=True)
print(sorted_dict)

dict_keys(['Python', 'Java', 'C', 'R', 'GoLang'])
['R', 'Python', 'Java', 'GoLang', 'C']

## sorting a dictionary by it's values

- just sorting
- reverse sorting

In [49]:
lang_popularity = {'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

short = sorted(lang_popularity.values())
print(short)
print()
reverse_sort = sorted(lang_popularity.values(), reverse=True)
print(reverse_sort)

[70, 75, 79, 89, 95]

[95, 89, 79, 75, 70]

In [51]:
lang_popularity = {'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

sort_items = sorted(lang_popularity.items())
print(sort_items)
print()
reverse_sort_items = sorted(lang_popularity.items(), reverse=True)
print(reverse_sort_items)

[('C', 75), ('GoLang', 70), ('Java', 89), ('Python', 95), ('R', 79)]

[('R', 79), ('Python', 95), ('Java', 89), ('GoLang', 70), ('C', 75)]