# List
- 1. Mutable (Values can be changed/changable) ---> add,delete, update
- 2. Allow Duplicate items
- 3. Orderd data type
- 4. Enclosed by []
- 5. Variable length (any change reflectsd on it's length)
- 6. More memory required (due to insertion order)
- 7. More functional
- 8. Collection of any data types
- 9. List is slower than tuple

# Tuple
- 1. Immutable Data Type (Unchangable)
- 2. Allows Duplicate items
- 3. Orderd
- 4. Enclosed by ()
- 5. fixed length
- 6. Requires less memory
- 7. Less functional
- 8. Collection of any data types
- 9. Tuple is faster than list

In [1]:
# LIST :- it is slow because list require memory to remember items by insertion order 
# TUPLE :-  it is faster than list because it does not need to remember the insertion order

# How to create a Tuple

In [3]:
tup1 = 1,2,3,4,5
print(tup1,type(tup1))

(1, 2, 3, 4, 5) <class 'tuple'>

In [4]:
tup1 = 1
print(tup1,type(tup1))

1 <class 'int'>

In [5]:
tup1 = 1,
print(tup1,type(tup1))

(1,) <class 'tuple'>

In [6]:
tup1 = (1,)
print(tup1,type(tup1))

(1,) <class 'tuple'>

In [7]:
tup1 = ("Python",)
print(tup1,type(tup1))

('Python',) <class 'tuple'>

In [8]:
tup1 = (1,2,3,4,5)
print(tup1,type(tup1))

(1, 2, 3, 4, 5) <class 'tuple'>

Ways
1. enclosing all elements by ()       --->   tup1 = (1,2,3,4,5)
2. by one element with comma          --->   tup1 = 1,  ,  tup1 = (1,)
3. all elements with comma without () --->   tup1 = 1,2,3,4,5

# indexing and slicing

In [9]:
tuple1 = (1,2,3,4,5)
tuple1

(1, 2, 3, 4, 5)

In [11]:
tuple1[0]
tuple1[1]
tuple1[2]
tuple1[3]
tuple1[4]

5

In [13]:
tuple1

(1, 2, 3, 4, 5)

In [18]:
tuple1[-1]
tuple1[-2]
tuple1[-3]
tuple1[-4]
tuple1[-5]

1

In [19]:
tuple1[:]

(1, 2, 3, 4, 5)

In [20]:
tuple1[1:3]

(2, 3)

In [21]:
tuple1[1:3:-1]

()

In [22]:
tuple1[1:5:2]

(2, 4)

In [23]:
tuple1[::-1]

(5, 4, 3, 2, 1)

In [24]:
tuple1[::-2]

(5, 3, 1)

In [26]:
tuple1[-1:-5:-1]

(5, 4, 3, 2)

# Delete items

In [27]:
# Can we change a single item ?

In [28]:
tuple1

(1, 2, 3, 4, 5)

In [29]:
tuple1[1] = 100

TypeError: 'tuple' object does not support item assignment

In [30]:
li = [1,2,3]
li[0] = 100
li

[100, 2, 3]

In [31]:
tuple1 = (11,22,33,44,55)
del tuple1[0]

TypeError: 'tuple' object doesn't support item deletion

In [32]:
li = [1,2,3]
del li[0] 
li

[2, 3]

In [33]:
del tuple1
tuple1

NameError: name 'tuple1' is not defined

In [39]:
tuple1 = (11,22,33,44,55)
tu_li = list(tuple1)
del tu_li[0]
print(tu_li)
tuple2 = tuple(tu_li) # Constructor
print(tuple2)

[22, 33, 44, 55]
(22, 33, 44, 55)

In [41]:
tuple1

(11, 22, 33, 44, 55)

In [43]:
del tuple1
tuple1

NameError: name 'tuple1' is not defined

In [44]:
tuple2

(22, 33, 44, 55)

# Tuple Operations

In [45]:
tup1 = (1,2,3)
tup2 = 4,5,6
tup1 + tup2

(1, 2, 3, 4, 5, 6)

In [46]:
tup1 = (1,2,3)
tup2 = 4,5,6,"Python"
tup1 + tup2

(1, 2, 3, 4, 5, 6, 'Python')

In [47]:
tup1 = (1,2,3)
tup2 = 4,5,6,"Python"
tup2 + tup1

(4, 5, 6, 'Python', 1, 2, 3)

In [48]:
tup1 = (1,2,3)
tup2 = 4,5,6,"Python"
tup2 + tup2 + tup2

(4, 5, 6, 'Python', 4, 5, 6, 'Python', 4, 5, 6, 'Python')

In [49]:
tup1 = (1,2,3)
tup2 = 4,5,6,"Python"
tup2 * 3

(4, 5, 6, 'Python', 4, 5, 6, 'Python', 4, 5, 6, 'Python')

In [51]:
tup1 = (1,2,3)
tup2 = 4,5,6,"Python",[1,2]
print(tup2 * 3)

(4, 5, 6, 'Python', [1, 2], 4, 5, 6, 'Python', [1, 2], 4, 5, 6, 'Python', [1, 2])

In [52]:
"Hi" + "Bye"

'HiBye'

In [54]:
"Hi" * 3

'HiHiHi'

# Access items using for loop

In [55]:
tup1 = ("Pune","Mumbai","Hbad","Chennai","Gujrat","Maharashtra","Delhi")
tup1

('Pune', 'Mumbai', 'Hbad', 'Chennai', 'Gujrat', 'Maharashtra', 'Delhi')

In [56]:
for item in tup1:
    print("We are learning tuple")

We are learning tuple
We are learning tuple
We are learning tuple
We are learning tuple
We are learning tuple
We are learning tuple
We are learning tuple

In [57]:
for item in tup1:
    print(f"Item = {item}")

Item = Pune
Item = Mumbai
Item = Hbad
Item = Chennai
Item = Gujrat
Item = Maharashtra
Item = Delhi

In [58]:
index = 0
for item in tup1:
    print(f"Index = {index} , Item = {item}")
    index += 1

Index = 0 , Item = Pune
Index = 1 , Item = Mumbai
Index = 2 , Item = Hbad
Index = 3 , Item = Chennai
Index = 4 , Item = Gujrat
Index = 5 , Item = Maharashtra
Index = 6 , Item = Delhi

In [81]:
for index,item in enumerate(tup1): # 1st iteration->index,item = 0,Pune
                                   # 2nd iteration->index,item = 1,Mumbai
                                   # 3rd iteration->index,item = 2,Hbad
    print(f"Index = {index} , Item = {item}")

Index = 0 , Item = Pune
Index = 1 , Item = Hbad
Index = 2 , Item = Chennai
Index = 3 , Item = Gujrat
Index = 4 , Item = Mumbai
Index = 5 , Item = Maharashtra
Index = 6 , Item = Delhi
Index = 7 , Item = Pune
Index = 8 , Item = Pune

In [61]:
tup1

('Pune', 'Mumbai', 'Hbad', 'Chennai', 'Gujrat', 'Maharashtra', 'Delhi')

In [62]:
"Pune" in tup1

True

In [63]:
"pune" in tup1

False

In [65]:
if "Pune" in tup1: # True
    print("Pune is present")
else:
    print("Pune is not present")

Pune is present

In [66]:
if "pune" in tup1: # False
    print("pune is present")
else:
    print("pune is not present")

pune is not present

# Functions of tuple
- count
- index

In [67]:
tup1 = ("Pune","Mumbai","Hbad","Chennai","Gujrat","Maharashtra","Delhi")
tup1.count("Pune")

1

In [68]:
tup1 = ("Pune","Mumbai","Hbad","Chennai","Gujrat","Maharashtra","Delhi","Pune","Pune")
tup1.count("Pune")

3

In [69]:
tup1 = ("Pune","Mumbai","Hbad","Chennai","Gujrat","Maharashtra","Delhi","Pune","Pune")
tup1.count("pune")

0

# index

In [70]:
tup1 = ("Pune","Mumbai","Hbad","Chennai","Gujrat","Maharashtra","Delhi","Pune","Pune")
tup1.index("Pune")

0

In [71]:
tup1 = ("Pune","Mumbai","Hbad","Chennai","Gujrat","Maharashtra","Delhi","Pune","Pune")
tup1.index("Hbad")

2

In [73]:
tup1 = ("Pune","Mumbai","Hbad","Chennai","Gujrat","Maharashtra","Delhi","Pune","Pune")
tup1.index("hbad")

ValueError: tuple.index(x): x not in tuple

In [79]:
tup1 = ("Pune","Hbad","Chennai","Gujrat","Mumbai","Maharashtra","Delhi","Pune","Pune")
city_name = "Mumbai"
if city_name in tup1: # True
    print(f"{city_name} is present and its index = {tup1.index(city_name)}")
else:
    print(f"{city_name} is not present in a given tuple" )

Mumbai is present and its index = 4

In [80]:
tup1 = ("Pune","Hbad","Chennai","Gujrat","Mumbai","Maharashtra","Delhi","Pune","Pune")
city_name = "Bombay"
if city_name in tup1: # False
    print(f"{city_name} is present and its index = {tup1.index(city_name)}")
else:
    print(f"{city_name} is not present in a given tuple" )

Bombay is not present in a given tuple

In [91]:
for a,b in enumerate(["1","2"]):
    print(f"{a} --> {b}")

0 --> 1
1 --> 2

# Tuple Constructor

In [92]:
num_tup = (1,2,3,4,5)
type(num_tup)

tuple

In [94]:
li1 = [1,2,3,4,5,6]
print(li1,type(li1))
tup1 = tuple(li1)
print(tup1,type(tup1))

[1, 2, 3, 4, 5, 6] <class 'list'>
(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [96]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [97]:
tuple("Hello")

('H', 'e', 'l', 'l', 'o')

In [98]:
tuple({1,7,6,3,5,7})

(1, 3, 5, 6, 7)

In [100]:
number = (1,2,3,4,5)
print(number)
list1 = list(number)
list1[0] = "Python"
number = tuple(list1)
number

(1, 2, 3, 4, 5)

('Python', 2, 3, 4, 5)

In [101]:
number = (1,2,3,4,5)
print(number)
list1 = list(number)
list1.extend(list1)
number = tuple(list1)
number

(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
number = (1,2,3,4,5)
print(number)
list1 = list(number)
list1.extend(list1)
number = tuple(list1)
number

In [102]:
number = (1,2,3,4,5)
print(number)
list1 = list(number)
list1.append(["Python","DS","ML"])
number = tuple(list1)
number

(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5, ['Python', 'DS', 'ML'])

# Copy

In [103]:
tup1 = (3,4,5,6)
tup2 = tup1
print(tup1,id(tup1))
print(tup2,id(tup2))

(3, 4, 5, 6) 3127150379072
(3, 4, 5, 6) 3127150379072

In [104]:
tup1 = (3,4,5,6)
tup2 = tup1
print(tup1)
print(tup2)

li1 = list(tup2)
li1.append("Python")

tup3 = tuple(li1)

print(tup1)
print(tup2)
print(tup3)

(3, 4, 5, 6)
(3, 4, 5, 6)
(3, 4, 5, 6)
(3, 4, 5, 6)
(3, 4, 5, 6, 'Python')

In [105]:
tup1 = (4, 5, ['Python', 'DS', 'ML'])
len(tup1)

3

In [106]:
tup1[2][2]

'ML'

In [108]:
tup1[2][1] = tup1[2][1].lower()

tup1

(4, 5, ['Python', 'ds', 'ML'])

# Deep Copy

In [109]:
import copy

In [110]:
tup1 = (4, 5, ['Python', 'DS', 'ML'])
tup2 = tup1

tup1[2][0] = tup1[2][0].upper()

print(tup1)
print(tup2)

(4, 5, ['PYTHON', 'DS', 'ML'])
(4, 5, ['PYTHON', 'DS', 'ML'])

In [111]:
tup1 = (4, 5, ['Python', 'DS', 'ML'])
tup2 = copy.deepcopy(tup1)

tup1[2][0] = tup1[2][0].upper()

print(tup1)
print(tup2)

(4, 5, ['PYTHON', 'DS', 'ML'])
(4, 5, ['Python', 'DS', 'ML'])

In [112]:
domains = ['PYTHON', 'DS', 'ML',"NLP","DL"]
new_li = [i.lower() for i in domains]
new_li

['python', 'ds', 'ml', 'nlp', 'dl']

In [113]:
domains = ['PYTHON', 'DS', 'ML',"NLP","DL"]
new_tu = (i.lower() for i in domains)
new_tu

In [114]:
domains = ['PYTHON', 'DS', 'ML',"NLP","DL"]
new_tu = list(i.lower() for i in domains)
new_tu

['python', 'ds', 'ml', 'nlp', 'dl']

In [115]:
domains = ['PYTHON', 'DS', 'ML',"NLP","DL"]
new_tu = tuple(i.lower() for i in domains)
new_tu

('python', 'ds', 'ml', 'nlp', 'dl')

In [116]:
domains = ['PYTHON', 'DS', 'ML',"NLP","DL"]
new_tu = (i.lower() for i in domains)
new_tu

In [120]:
list(reversed([4,6,3]))

[3, 6, 4]

In [121]:
tuple(reversed([4,6,3]))

(3, 6, 4)

In [122]:
[i for i in range(1,11) if i%2 == 0]

[2, 4, 6, 8, 10]

In [124]:
tuple(i for i in range(1,11) if i%2 == 0)

(2, 4, 6, 8, 10)

In [125]:
tuple(i + 500 for i in range(1,11) if i%2 == 0)

(502, 504, 506, 508, 510)