# List
- Mutable (Values can be changed/changable) ---> add,delete, update
- Allow Duplicate items
- Orderd data type
- Enclosed by []
- Variable length (any change reflectsd on it's length)
- More memory required (due to insertion order)
- More functional
- Collection of any data types
- List is slower than tuple


# Tuple
- Immutable Data Type (Unchangable)
- Allows Duplicate items
- Orderd
- Enclosed by ()
- fixed length
- Requires less memory
- Less functional
- Collection of any data types
- Tuple is faster than list

# Tuple

### we can define tuples by

 - 1. comma after a element                                     ---> 1,  , tup1 = (1,)
 - 2. assigining only characters or numbers to variables        ---> a = 1,2,3,4  = (1,2,3,4)
 - 3. enclosing elements by ()                                  ---> a = (1,2,3,4)

In [13]:
 # way 1.  by comma after element
tup1 = 1,
print(tup1, type(tup1))

(1,) <class 'tuple'>

In [14]:
g = 1
print(g, type(g))

1 <class 'int'>

In [15]:
# way 2. without using ()
a = 1,2,3,4
print(a, type(a))

(1, 2, 3, 4) <class 'tuple'>

In [16]:
# way 3. by using ()
v = (1,2,3,4)
print(v, type(v))

(1, 2, 3, 4) <class 'tuple'>

In [25]:
i =(1,2,3,4, "Python", "science")
i[0]
# i[1]

1

In [31]:
i[-1:-4:-1]

('science', 'Python', 4)

In [29]:
i[-4:-1:-1]

()

In [1]:
tuple1 = (1,2,3,1,2,3,1,2,3)
print(tuple1)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [4]:
tuple1 = (2,1,4,6,1,2,3)
print(tuple1[-3:-5:-1])

(1, 6)

# delete a items from the tuple

In [5]:
tuple1

(2, 1, 4, 6, 1, 2, 3)

In [6]:
del tuple1[0]

TypeError: 'tuple' object doesn't support item deletion

In [19]:
tup = (1,2,3,"python", "ML", "DL")
print("It was a tuple at first: ",tup)
print("*"*60)

new_tuple = list(tup)
print("we convert tuple into list: ",new_tuple)
print("*"*80)

new_tuple[0] = "Yash"
print(f"we changed the 0th item from the list{new_tuple}")

print("*"*80)

tup1 = tuple(new_tuple)
print(f"we convert the list into tuple again: {tup1}")

It was a tuple at first:  (1, 2, 3, 'python', 'ML', 'DL')
************************************************************
we convert tuple into list:  [1, 2, 3, 'python', 'ML', 'DL']
********************************************************************************
we changed the 0th item from the list['Yash', 2, 3, 'python', 'ML', 'DL']
********************************************************************************
we convert the list into tuple again: ('Yash', 2, 3, 'python', 'ML', 'DL')

In [22]:
# operation on tuple 
tup

(1, 2, 3, 'python', 'ML', 'DL')

In [25]:
tup + tup

(1, 2, 3, 'python', 'ML', 'DL', 1, 2, 3, 'python', 'ML', 'DL')

In [27]:
print(tup * 3, end=" ")

(1, 2, 3, 'python', 'ML', 'DL', 1, 2, 3, 'python', 'ML', 'DL', 1, 2, 3, 'python', 'ML', 'DL')

In [31]:
tuple1

(2, 1, 4, 6, 1, 2, 3)

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

In [36]:
cities = ("Pune","Mumbai","Hbad","Chennai","Gujrat","Maharashtra","Delhi","Pune","Pune")
for index, city in enumerate(cities):
    print(index, city)

0 Pune
1 Mumbai
2 Hbad
3 Chennai
4 Gujrat
5 Maharashtra
6 Delhi
7 Pune
8 Pune

In [43]:
for index, city in enumerate(cities):
    if cities.count(city) > 1:
        print(index, city)

0 Pune
7 Pune
8 Pune

# Function in tuple

- index
- count

In [49]:
cities = ("Pune","Mumbai","Hbad","Chennai","Gujrat","Maharashtra","Delhi","Pune","Pune")

print(cities.index("Pune"))

print(cities.count("Pune"))

0
3

In [53]:
# if the item not present in the tuple and to avoid error

if "florida" in cities:
    print(cities.index("florida"))
else:
    print("city is not present in the tuple")

city is not present in the tuple

# tuple constructor

- syntax 
  -  tuple = tuple(tuple_list)

In [56]:
cities = ["Pune","Mumbai","Hbad","Chennai","Gujrat","Maharashtra","Delhi","Pune","Pune"]

new_city = tuple(cities)
print(new_city)

('Pune', 'Mumbai', 'Hbad', 'Chennai', 'Gujrat', 'Maharashtra', 'Delhi', 'Pune', 'Pune')

In [57]:
# can we change the elements which is a list inside of tuple

tp1 = (4, 5, ['Python', 'DS', 'ML'])

print(tp1)

(4, 5, ['Python', 'DS', 'ML'])

In [58]:
tp1[2] = "Python"
print(tp1)

TypeError: 'tuple' object does not support item assignment

In [59]:
tp1[2][1] = "Yash"
print(tp1)

(4, 5, ['Python', 'Yash', 'ML'])

# shallow copy

In [90]:
tp1 = (4, 5, ['Python', 'DS', 'ML'])
print(tp1)
tp = tp1
print("*"*50)
print(tp)

print("*"*50)

tp[2][0] = "Batman"

print(f"Original object: {tp, id(tp)}")    # changes reflected both in copied as well as original objects
print(f"Copied Object:   {tp1, id(tp1)}")  # changes reflected both in copied as well as original objects

print("Changes reflected on both the objects")

(4, 5, ['Python', 'DS', 'ML'])
**************************************************
(4, 5, ['Python', 'DS', 'ML'])
**************************************************
Original object: ((4, 5, ['Batman', 'DS', 'ML']), 1804379323584)
Copied Object:   ((4, 5, ['Batman', 'DS', 'ML']), 1804379323584)
Changes reflected on both the objects

# deepcopy

In [85]:
import copy

tp1 = (4, 5, ['Python', 'DS', 'ML'])
tp_nw = copy.deepcopy(tp1)
print(tp_nw)
print("*"*50)

tp_nw[2][0] = "Batman"

print(f"Original Object: {tp1}, {id(tp1)}")     # there's nothing change in original object
print(f"Copied object : {tp_nw}, {id(tp_nw)}") # changes reflected only in copied object

(4, 5, ['Python', 'DS', 'ML'])
**************************************************
Original Object: (4, 5, ['Python', 'DS', 'ML']), 1804379323584
Copied object : (4, 5, ['Batman', 'DS', 'ML']), 1804379320896

# Nested if-else statement

In [95]:
# write a program for voting

age = int(input("Enter your age: "))

if age >= 18:
    user_id = int(input("enter your id: "))
    if user_id == 123:
        print("please make a vote!")
    else:
        print("Id is incorrect")
else:
    print("You are under age, You can not vote")

Enter your age: 17
You are under age, You can not vote

In [110]:
# write a program for leap year

year = int(input("Enter a year: "))
if year % 4 == 0:
    
    if year % 100 == 0:
        
        if year % 400 == 0:
            print("leap year")
            
        else:
            print("not leap year")
    else:
        print("leap year")
    
else:
    print("not a leap year")

Enter a year: 2024
leap year

In [117]:
string = "python"

if len(string) > 5:
    print(f"{len(string)} ok")
    
    if string.startswith("p"):
        print("perfect starting")
        print("string has passed all required conditions")
        
    else:
        print("starting is wrong ")
        print("string has failed all required conditions")
else:
    print("length is less than 5")

6 ok
perfect starting
string has passed all required conditions

In [120]:
# WAP for bank account

card = input("Enter your card: ")

if card == "mastercard":
    password = int(input("Enter your password: "))
    
    if password == 123456:
        print("welcome to the bank")
        
    else:
        print("Wrong password!")
    
else:
    print("your card is wrong!")

Enter your card: mastercard
Enter your password: 123
Wrong password!