In [4]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)
print(x)
print("The first white-space character is located in position:", x.start())

<re.Match object; span=(3, 4), match=' '>
The first white-space character is located in position: 3

In [28]:
txt = "The rain in Spain"

y = re.search("\w",txt)
print(y)
print(y.start())

<re.Match object; span=(0, 1), match='T'>
0

In [29]:
txt = "The rain in Spain"

y = re.search("\w",txt)
print(y)
print(y.end())

<re.Match object; span=(0, 1), match='T'>
1

In [26]:
txt = "   The rain in Spain"

y = re.search("\d",txt)
print(y)
# print(y.start())

None

In [15]:
text = """12345645789"""
h = re.search("3",text)
print(h)

<re.Match object; span=(2, 3), match='3'>

In [17]:
txt = "   The rain in Spain"

y = re.search("USA",txt)
print(y)
# print(y.start())

None

In [30]:
txt = "   The rain in Spain"
y = re.search("\Z",txt)
print(y)

<re.Match object; span=(20, 20), match=''>

In [31]:
txt = "The rain in Spain"

y = re.findall("Spain\Z",txt)
print(y)

['Spain']

In [32]:
txt = "The rain in Spain"

y = re.findall("rain\Z",txt)
print(y)

[]

In [35]:
txt = "The rain in Spain"

y = re.findall("n\Z",txt)
print(y)

['n']

## split()

In [37]:
txt = "The rain in Spain"

y = re.split("T",txt)
print(y)

['', 'he rain in Spain']

In [38]:
"The rain in Spain".split("i")

['The ra', 'n ', 'n Spa', 'n']

In [39]:
txt = "The rain in Spain"

y = re.split("i",txt)
print(y)

['The ra', 'n ', 'n Spa', 'n']

In [54]:
txt = "The rain in Spain"

y = re.split("\s",txt, 1)
print(y)

['The', 'rain in Spain']

In [62]:
txt = "The rain in Spain"

y = re.split("\s",txt, 1)
print(y)

['The', 'rain in Spain']

In [65]:
text = """Learning algorithms work on the basis that strategies, algorithms, and inferences that 
worked well in the past are likely to 98886746636637758869609870967 continue working well in the future. These inferences can 
be obvious!@#@$#%$#"""

y = re.split("\s",text, 5)
print(y)

['Learning', 'algorithms', 'work', 'on', 'the', 'basis that strategies, algorithms, and inferences that \nworked well in the past are likely to 98886746636637758869609870967 continue working well in the future. These inferences can \nbe obvious!@#@$#%$#']

In [71]:
txt = "The rain in Spain"

replace = re.sub("\s","%",txt)
replace

'The%rain%in%Spain'

In [77]:
txt = "The rain in Spain"

replace = re.sub("i","%",txt)
replace

'The ra%n %n Spa%n'

In [76]:
txt = "The rain in Spain"

replace = re.sub("i","%",txt,count=1)
replace

'The ra%n in Spain'

In [78]:
txt = "The rain in Spain"

replace = re.sub("i","%",txt,count=2)
replace

'The ra%n %n Spain'