# set
- it is a unorded data type 
- it is immutable (can not change items)
- duplicates items are not allowed 
- length can be varies according its element
- can not be access by indexing and slicing 
- has more functionality 
- store unique values
- elements are enclosed by {    }
- set constructor 
  - syntax:- 
    - set(iterator)

In [3]:
# ways to assign sets

set1 = {"Python", "Data", "Science", "ML"}
set1

{'Data', 'ML', 'Python', 'Science'}

In [6]:
se1 = set([1,2,3,4,5,6])
print(se1)

{1, 2, 3, 4, 5, 6}

In [7]:
# create an empty set

empty_set = set()
type(empty_set)

set

In [11]:
empty_set1 = {}
type(empty_set1)

dict

In [26]:
list1 = [1,2,3,4,5,6]
print("list: ",list1)

print("^"*50)

se = set(list1)
print("set: ",se,"se = set(list1)")
print()

print("OR".center(20))

se1 = set([7, 8, 9])
print()
print("set: ",se1,"by se1 = set([7, 8, 9])")

list:  [1, 2, 3, 4, 5, 6]
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
set:  {1, 2, 3, 4, 5, 6} se = set(list1)

         OR

set:  {8, 9, 7} by se1 = set([7, 8, 9])

In [19]:
# Indexing and slicing does not work

access_set = {"Python", "Data", "Science", "ML"}

access_set[1]
access_set[0]

TypeError: 'set' object is not subscriptable

#### if we can't acces the elements from the set then how we can acces the elements from the set itself without any functions

In [31]:
access = {"Python", "Data", "Science", "Scientist", 1, 2, 3, 4, 5}
print(access)
print()
for i in access:
    print(i)

{'Scientist', 2, 3, 4, 1, 5, 'Science', 'Python', 'Data'}

Scientist
2
3
4
1
5
Science
Python
Data

In [38]:
for i in access:
    if i == "Python":
        print(i)
        
        
#     else:
#         print(i)

Python

In [39]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [40]:
s = {4,7,8,9,2,1,3}
print(s)

{1, 2, 3, 4, 7, 8, 9}

In [41]:
ord("D")

68

In [42]:
ord("a")

97

In [51]:
set1 = {3,1,2}
set2 = {44,55,66}

set1.update(set2)

print(set1)
print(set2)

{1, 2, 3, 66, 55, 44}
{66, 44, 55}

In [56]:
set1 = {3,1,2}
set2 = {44,55,66}

set2.update(set1)

print(set1)

print(set2)

{1, 2, 3}
{1, 66, 2, 3, 55, 44}

In [57]:
print(True)

True

In [61]:
True + True

2

In [65]:
add_ele = {1,2,3}

add_ele.add(4)
add_ele.add(8)
add_ele

{1, 2, 3, 4, 8}

In [67]:
add_ele = {1,2,3}

li = [4,5,6,7,8,9]

for i in li:
    
    add_ele.add(i)
    
print(add_ele)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y) 

print(z)

{'banana', 'cherry', 'google', 'apple', 'microsoft'}

In [69]:
x = {"apple", "banana", "cherry", "apple"}
x

{'apple', 'banana', 'cherry'}

In [71]:
x = {1,2,5,6,8}

y = {9,7,8,1,2,3,5,6}

z = x.union(y)

print(z)

{1, 2, 3, 5, 6, 7, 8, 9}

In [79]:
x = {5,6,1,2}

y = {9,7,8,1,2,3,5,6}


added = []

for i in x:
    if i in y:
        added.append(i)
        
        
for i in y:
    if i not in x:
        added.append(i)

print(added)

[1, 2, 5, 6, 3, 7, 8, 9]

In [110]:
x = {5,6,1,2}

y = [9,7,8,1,2,3,5,6]


added = []

for i in x:
    if i in y:
        added.append(i)
        
        
for i in y:
    if i not in x:
        added.append(i)

print(set(added))

{1, 2, 3, 5, 6, 7, 8, 9}

In [3]:
a = {1,2,3}

b = a.add(4)

print(b)

None

In [8]:
d = {1,2,3,4}
f = {1,2,3,5,66,77,88}

d.update(f)

print(d)

{1, 2, 3, 4, 66, 5, 77, 88}

In [9]:
f.update(d)

print(f)

{1, 66, 3, 2, 5, 4, 77, 88}

In [10]:
d = {1,2,3,4}
f = {1,2,3,5,66,77,88}

g = d.union(f)

print(g)

{1, 2, 3, 4, 66, 5, 77, 88}

In [11]:
set1 = {'a','b','c','d'}
set2 = {'e','f','g','h'}
set1 |= set( {'e','f','g','h'})
set1

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}

In [14]:
set1 = {1,2,3}

set2 = {4,5,6}

set1 |= set({7,8,9})

print(set1)

{1, 2, 3, 7, 8, 9}

In [17]:
set1 = {1,2,3}

set4 = set({4,5,6,1})

print(set4)

{1, 4, 5, 6}

In [20]:
d = {1,2,3,4}
f = {1,2,3,5,66,77,88}
j = {7,8,9}
h = {"pyhton", "data","science"}

d.update(f,j,h)

print(d)

{1, 2, 3, 4, 66, 5, 7, 8, 9, 77, 'data', 'science', 'pyhton', 88}

### intersection

In [33]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,2}
s3 = {7,8,5,1,2}

s = s1.intersection(s2,s3)

print(s)

{2, 5}

In [40]:
k = {1,2,3,4}
j = {4,5,6,8,3}
d = {4,50,60,30,3}

new = []

for i in k:
    if i in j and i in d:
        new.append(i)
        
print(set(new))

{3, 4}

In [34]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

p = s1.difference(s2)
print(p)

{1, 2, 3}

In [1]:
li1 = [True,True,True,True,True,True,False,False,False,False,False]
any(li1)

True

In [2]:
all(li1)

False

In [3]:
li2 = [True,True,True,True,True,True]
all(li2)

True

In [4]:
li3 = [False,False,False,False,False]
all(li3)

False

In [5]:
li3 = [False,False,False,False,False]
any(li3)

False

In [8]:
li3 = [False,False,False,False,False]
any(li3)

False

In [10]:
set([10,12,13],[1,2,3])

TypeError: set expected at most 1 argument, got 2

In [11]:
set([10,12,13,[1,2,3]])

TypeError: unhashable type: 'list'

In [21]:
s2 = {4,5,6,"kaka",7,8,"python"}

s2.pop()

'python'

In [25]:
s2 = {4,5,6,"kaka",7,8,"python"}

s2.discard("mama")
s2

{4, 5, 6, 7, 8, 'kaka', 'python'}

In [26]:
s2 = {4,5,6,"kaka",7,8,"python"}

s2.discard("kaka")
s2

{4, 5, 6, 7, 8, 'python'}

In [34]:
s2 = {4,5,6,7,8}

new_s2 = {i if i % 2 == 0 else "can not convert" for i in s2 }
print(new_s2)
print(type(new_s2))

{8, 'can not convert', 4, 6}
<class 'set'>