In [1]:
strn = "122sdfA shjl536 df4232tg 12iLsad kKDJF"
import re

re.findall(r"[a-zA-Z]*\d+\b", strn)

['shjl536']

In [2]:
text = "Exercises number 1, 12, 13, and 345 are important"
re.findall("\d{1,3}",text)

['1', '12', '13', '345']

In [3]:
text = 'The quick brown fox jumps over the lazy dog.'
ser = 'fox', 'dog', 'horse'

for i in ser:
    for j in re.finditer(i, text):
        print(i)
else:
    print("Match Not Found")

fox
dog
Match Not Found

In [6]:
txt = 'Python exercises, PHP exercises, C# exercises'
imp = "exercises"

re.findall(imp,txt)

['exercises', 'exercises', 'exercises']

In [5]:
txt = 'Python exercises, PHP exercises, C# exercises'
imp = "exercises"

for i in re.finditer(imp,txt):
    start_1 = i.start()
    end_1 = i.end()
    print(i.group(), start_1,end_1)

exercises 7 16
exercises 22 31
exercises 36 45

In [1]:
def Factorial(num):
    if num == 1:
        return num
    else:
        return num * Factorial(num-1)
    
Factorial(5)

120

In [18]:
fact = 1
x = 5
facto = []
for i in range(1,x+1):
    facto.append(fact*i)

TypeError: multiply() takes from 2 to 3 positional arguments but 1 were given

In [12]:
 1 * 2 * 3 *4 *5

120

In [20]:
def fac(x):
    fact = 1
    x = 5
    for i in range(1,x+1):
        fact*=i
    return fact

fac(5)

120

In [24]:
n = 661
rev = 0

while n > 0:
    a = n % 10
    rev = rev * 10 + a
    n = n // 10
print(rev)

166

In [27]:
from functools import reduce

nums = lambda n :reduce(lambda x, _ : x+[x[-1] + x[-2]], range(1,n), [0,1])
nums(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [28]:
fibo = lambda n : reduce(lambda x, _ : x + [x[-1] + x[-2]], range(1,n), [0,1])

fibo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [35]:
reduce(lambda x,y : x+y, range(1,10))

45

In [36]:
text = """Machine learning (ML) is a type of artificial intelligence (AI)
that allows software applications to become more accurate at predicting outcomes
without being explicitly programmed to do so.
Machine learning algorithms use historical data as input to predict new output values."""

In [40]:
with open("text.txt", 'w') as f:
    f.write(text)
    
with open("text.txt", 'r') as f:
    content  = f.readlines()
    print(content[-1])

Machine learning algorithms use historical data as input to predict new output values.

In [42]:
with open("text.txt", 'r') as f:
    content  = f.readlines()
    
cnt = 0
for  i in content:
    cnt += 1
print(cnt)

4

In [43]:
import os

os.makedirs("new/python/machine")

In [1]:
n = 5

for i in range(n):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [11]:
n = 5

for i in range(n):
    for j in range(i):
        print(" ", end=" ")
        
    for j in range(i,n):
        print("*", end=" ")
        
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [13]:
n = 5

for i in range(n):
    for j in range(i,n):
        print("*", end=" ")
        
    for j in range(i):
        print(" ", end=" ")
        
    print()

* * * * *
* * * *
* * *
* *
*

In [18]:
li = [1,2,3,4,5,6,7,8,9]

for num in range(2,10):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        print(num)

2
3
5
7

In [19]:
for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

NameError: name 'lower' is not defined

In [20]:
li = [1,2,3,4,5,6,7,8,9]

for num in li:
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        print(num)

1
2
3
5
7

In [30]:
li = [1,2,3,4,5,6,7,8,9]
nums = set()
for num in li:
    for j in range(2,num):
        if (num % j) == 0:
            break
        else:
            nums.add(num)
            
print(nums)

{9, 3, 5, 7}

In [34]:
prime = set()
for num in range(1,51):
    for i in range(2,num):
        if num % i == 0:
            break
        else:
            prime.add(num)
print(prime)

{3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49}

63