### Exercise 1: Convert two lists into a dictionary

In [2]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dic = dict(zip(keys, values))
print(dic)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### Exercise 2: Merge two Python dictionaries into one

In [4]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

method_1 = dict1 | dict2
print(method_1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

##### using **kwargs

In [12]:
method_2 = {**dict1, **dict2}
print(method_2)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

##### update method

In [14]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#### Exercise 3: Print the value of key ‘history’ from the below dict

In [15]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [21]:
sampleDict["class"]["student"]["marks"]["history"]

80

#### Exercise 4: Initialize dictionary with default values

In [22]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

###### mehtod_1

In [23]:
dict_1 = {}
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

for i in employees:
    dict_1.update({i:defaults})
print(dict_1)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

###### method_2

In [29]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
dict_2 = dict.fromkeys(employees, defaults)

dict_2

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

### Q 5. Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

In [3]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
print(sample_dict)

# Keys to extract
keys = ["name", "salary"]

# output
{'name': 'Kelly', 'salary': 8000}

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}

{'name': 'Kelly', 'salary': 8000}

In [1]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict["name"] 
sample_dict["salary"]
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}

###### Method 1

In [2]:
del sample_dict["age"]
del sample_dict["city"]

In [3]:
print(sample_dict)

{'name': 'Kelly', 'salary': 8000}

###### Method 2

In [4]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

In [8]:
new_dict = {}
for i in sample_dict.keys():
    if i == "name":
        new_dict.update({i:sample_dict[i]})
    elif i == "salary":
        new_dict.update({i:sample_dict[i]})
print(new_dict)

{'name': 'Kelly', 'salary': 8000}

###### Method 3

In [11]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

name_list = ["name", "salary"]

new_dic = {key : sample_dict[key] for key in name_list}

print(new_dic)

{'name': 'Kelly', 'salary': 8000}

In [12]:
for key in name_list:
    print(key)

name
salary

### Q 6: Delete a list of keys from a dictionary

In [15]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

print(f"Before deleting a keys: {sample_dict}")
print()

del_keys = ["name", "salary"]

for k in del_keys:
    del sample_dict[k]
print(f"After deleting a keys: {sample_dict}")

Before deleting a keys: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}

After deleting a keys: {'age': 25, 'city': 'New york'}

## Q.7 Write a Python program to check if value 200 exists in the following dictionary

In [1]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

for val in sample_dict.values():
    if val == 200:
        print(f"{val} is present in a dictionary")

# 200 present in a dict

200 is present in a dictionary

## Q 8. Write a program to rename a key city to a location in the following dictionary.

In [13]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}


del sample_dict["city"]

sample_dict.update({"Location": "New york"})

print(sample_dict)

# output:- 
## {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

In [14]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [22]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

dict1 = sample_dict.pop("city")
sample_dict['Location']=dict1
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

### Q 9: Get the key of a minimum value from the following dictionary

In [25]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

print(min(sample_dict))

Math

## Q 10. Write a Python program to change Brad’s salary to 8500 in the following dictionary.

In [31]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict["emp3"]["salary"] = 8500

print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}