# List Functions

## 1. append()
- Syntax :-
    - list_name.append(value)
    
- We are allowed to add one value/item in a list and the new item will gets added at the last index

In [2]:
li = []
print(li)

[]

In [3]:
li.append("Python")

['Python']

In [7]:
li.append("Data Scnence") # Ran this cell for 3 times
li

['Python', 'Data Scnence', 'Data Scnence', 'Data Scnence']

In [43]:
num_list = []
print(num_list)

# 1st iteration
num_list.append(10)
print(num_list)

# 2nd iteration
num_list.append(20)
print(num_list)

# 3rd iteration
num_list.append(30)
print(num_list)

[]
[10]
[10, 20]
[10, 20, 30]

In [44]:
num_list = [10, 20, 30]
print(num_list)

# 1st iteration
num_list.append(100)
print(num_list)

# 2nd iteration
num_list.append(200)
print(num_list)

# 3rd iteration
num_list.append(300)
print(num_list)

[10, 20, 30]
[10, 20, 30, 100]
[10, 20, 30, 100, 200]
[10, 20, 30, 100, 200, 300]

In [45]:
num_list = [10, 20, 30, 100, 200, 300]
print(num_list)

# 1st iteration
num_list.append("Python")
print(num_list)

# 2nd iteration
num_list.append('DS')
print(num_list)

# 3rd iteration
num_list.append('ML')
print(num_list)

[10, 20, 30, 100, 200, 300]
[10, 20, 30, 100, 200, 300, 'Python']
[10, 20, 30, 100, 200, 300, 'Python', 'DS']
[10, 20, 30, 100, 200, 300, 'Python', 'DS', 'ML']

In [46]:
range(10)

range(0, 10)

In [48]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
new_li  = []
for i in range(1,11):
    new_li.append(i)
    print(new_li)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
new_li  = []
new_li.append([1,2,3])

In [55]:
new_li.append(4,5,6)

TypeError: list.append() takes exactly one argument (3 given)

In [54]:
new_li.append(100)
new_li

[[1, 2, 3], [4, 5, 6], 100]

## 2. extend()
- Syntax :- 
    - list_name.extend()

In [57]:
li1 = [1,2,3,4,5]
li2 = [10,20,30]
print(f"List1 = {li1}")
print(f"List2 = {li2}")
print()
li1.extend(li2)
print()
print(f"List1 = {li1}")
print(f"List2 = {li2}")

List1 = [1, 2, 3, 4, 5]
List2 = [10, 20, 30]


List1 = [1, 2, 3, 4, 5, 10, 20, 30]
List2 = [10, 20, 30]

In [58]:
li1 = [1,2,3,4,5]
li2 = [10,20,30]
print(f"List1 = {li1}")
print(f"List2 = {li2}")
print()
li2.extend(li1)
print()
print(f"List1 = {li1}")
print(f"List2 = {li2}")

List1 = [1, 2, 3, 4, 5]
List2 = [10, 20, 30]


List1 = [1, 2, 3, 4, 5]
List2 = [10, 20, 30, 1, 2, 3, 4, 5]

In [59]:
li1 = [1,2,3,4,5]
li2 = [10,20,30]
print(f"List1 len = {len(li1)}")
print(f"List2 len = {len(li2)}")
print()
li2.extend(li1)
print()
print(f"List1 len = {len(li1)}")
print(f"List2 len = {len(li2)}")

List1 len = 5
List2 len = 3


List1 len = 5
List2 len = 8

In [60]:
li1 = [1,2,3,4,5]
li2 = [10,20,30]
print(f"List1 len = {len(li1)}")
print(f"List2 len = {len(li2)}")
print()
li1.extend(li2)
print()
print(f"List1 len = {len(li1)}")
print(f"List2 len = {len(li2)}")

List1 len = 5
List2 len = 3


List1 len = 8
List2 len = 3

In [62]:
li1 = [1,2,3,4,5]
li2 = ["Pytho","Data","Science"]
print(f"List1 = {li1}")
print(f"List2 = {li2}")
print()
li1.extend(li2)
print()
print(f"List1 = {li1}")
print(f"List2 = {li2}")

List1 = [1, 2, 3, 4, 5]
List2 = ['Pytho', 'Data', 'Science']


List1 = [1, 2, 3, 4, 5, 'Pytho', 'Data', 'Science']
List2 = ['Pytho', 'Data', 'Science']

In [63]:
li1 = [1,2,3,4,5]
li2 = ["Pytho","Data","Science"]
print(f"List1 = {li1}")
print(f"List2 = {li2}")
print()
li1.extend(li1)
print()
print(f"List1 = {li1}")
print(f"List2 = {li2}")

List1 = [1, 2, 3, 4, 5]
List2 = ['Pytho', 'Data', 'Science']


List1 = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
List2 = ['Pytho', 'Data', 'Science']

In [64]:
li1 = [1,2,3,4,5]
li2 = ["Pytho","Data","Science"]
print(f"List1 = {li1}")
print(f"List2 = {li2}")
print()
li2.extend(li2)
print()
print(f"List1 = {li1}")
print(f"List2 = {li2}")

List1 = [1, 2, 3, 4, 5]
List2 = ['Pytho', 'Data', 'Science']


List1 = [1, 2, 3, 4, 5]
List2 = ['Pytho', 'Data', 'Science', 'Pytho', 'Data', 'Science']

In [65]:
li1 = [1,2,3,4,5]
li2 = ["Pytho","Data","Science"]
li1 + li2

[1, 2, 3, 4, 5, 'Pytho', 'Data', 'Science']

In [66]:
li1 = [1,2,3,4,5]
li2 = ["Pytho","Data","Science"]
li2 + li1

['Pytho', 'Data', 'Science', 1, 2, 3, 4, 5]

In [67]:
li1 = [1,2,3,4,5]
li2 = ["Pytho","Data","Science"]
li2 + li2

['Pytho', 'Data', 'Science', 'Pytho', 'Data', 'Science']

In [68]:
li1 = [1,2,3,4,5]
li2 = ["Pytho","Data","Science"]
li1 + li1

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## 3. insert()
- Syntax:- 
    - list_name.insert(index,value)

In [70]:
li1 = [1,2,3,4,5]
li1.insert(0,100)
print(f"Updated list = {li1}")

Updated list = [100, 1, 2, 3, 4, 5]

In [71]:
li1[0]

100

In [72]:
li1 = [1,2,3,4,5]
li1.insert(3,100)
print(f"Updated list = {li1}")

Updated list = [1, 2, 3, 100, 4, 5]

In [73]:
li1 = [1,2,3,4,5]
li1.insert(3,[100,200])
print(f"Updated list = {li1}")

Updated list = [1, 2, 3, [100, 200], 4, 5]

In [75]:
li1 = [1,2,3,4,5]
li1.insert(3,(100,200))
print(f"Updated list = {li1}")

Updated list = [1, 2, 3, (100, 200), 4, 5]

In [76]:
li1 = [1,2,3,4,5]
li1.insert(10,(100,200))
print(f"Updated list = {li1}")

Updated list = [1, 2, 3, 4, 5, (100, 200)]

In [78]:
list(range(1,51))
even_list = []
odd_list = []
for num in list(range(1,51)):
    if num % 2 == 0:
        even_list.append(num)
    else:
        odd_list.append(num)
print(even_list)
print(odd_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [86]:
list(range(1,51))
even_list=[]
odd_list=[]

for val in list(range(1,51)):
    if val%2 == 0:
#         print(f"{val} is Even")
        even_list.append(val)
    else:
#         print(f"{val} is Even")
        odd_list.append(val)
    
print(odd_list,even_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49] [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [87]:
square_list = []
for num in range(1,11):
    square_list.append(num * num)
    print(square_list)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
square_list = []
for num in range(1,11):
    square_list.append(num ** 2)
    print(square_list)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [89]:
li = [1,5,3,7,9,6,3,6,8,90]
square_list = []
for num in li:
    square_list.append(num ** 2)
    print(square_list)

[1]
[1, 25]
[1, 25, 9]
[1, 25, 9, 49]
[1, 25, 9, 49, 81]
[1, 25, 9, 49, 81, 36]
[1, 25, 9, 49, 81, 36, 9]
[1, 25, 9, 49, 81, 36, 9, 36]
[1, 25, 9, 49, 81, 36, 9, 36, 64]
[1, 25, 9, 49, 81, 36, 9, 36, 64, 8100]

In [90]:
li = [1,5,3,7,9,6,3,6,8,90]
cube_list = []
for num in li:
    cube_list.append(num ** 3)
    print(cube_list)

[1]
[1, 125]
[1, 125, 27]
[1, 125, 27, 343]
[1, 125, 27, 343, 729]
[1, 125, 27, 343, 729, 216]
[1, 125, 27, 343, 729, 216, 27]
[1, 125, 27, 343, 729, 216, 27, 216]
[1, 125, 27, 343, 729, 216, 27, 216, 512]
[1, 125, 27, 343, 729, 216, 27, 216, 512, 729000]

## Delete items from list
- 1. remove 
- 2. pop
- 3. clear
- 4. del keyword

### 1. remove()
- list_name.remove(item)

In [91]:
li = [1,2,3,4,5]
print(f"List without modification --> {li}")

li.remove(3)
print(f"List after modification   --> {li}")

List without modification --> [1, 2, 3, 4, 5]
List after modification   --> [1, 2, 4, 5]

In [92]:
li = [1,2,3,4,5]
print(f"List without modification --> {li}")

li.remove(2)
print(f"List after modification   --> {li}")

li.remove(3)
print(f"List after modification   --> {li}")

li.remove(4)
print(f"List after modification   --> {li}")

List without modification --> [1, 2, 3, 4, 5]
List after modification   --> [1, 3, 4, 5]
List after modification   --> [1, 4, 5]
List after modification   --> [1, 5]

In [94]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
student_names.remove("Sakshi")
student_names

['Pankaj', 'Saurabh', 'Sahil', 'Nikita']

In [95]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
student_names.remove("Saksdi")
student_names

ValueError: list.remove(x): x not in list

In [96]:
"Pankaj" in student_names

True

In [98]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
sub_list = ["Pankaj","Sauradh"]
for name in sub_list:
    student_names.remove(name)
    print(student_names)

['Saurabh', 'Sahil', 'Nikita', 'Sakshi']

ValueError: list.remove(x): x not in list

In [101]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
sub_list = ["Pankaj","Sauradh"]
for name in sub_list:
    if name in student_names:
        student_names.remove(name)
        print(name, "Removed from origina list")
    else: 
        print(name,"Element not found")

print(student_names)

Pankaj Removed from origina list
Sauradh Element not found
['Saurabh', 'Sahil', 'Nikita', 'Sakshi']

### 2. pop()
- list_name.pop(index)
- default index = -1

In [102]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
print(f"Original list = {student_names}")
student_names.pop()
print(f"Modified list = {student_names}")

Original list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']
Modified list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita']

In [103]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
print(f"Original list = {student_names}")
student_names.pop(1)
print(f"Modified list = {student_names}")

Original list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']
Modified list = ['Pankaj', 'Sahil', 'Nikita', 'Sakshi']

In [104]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
print(f"Original list = {student_names}")
student_names.pop(-3)
print(f"Modified list = {student_names}")

Original list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']
Modified list = ['Pankaj', 'Saurabh', 'Nikita', 'Sakshi']

In [107]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
print(f"Original list = {student_names}")
student_names.pop(10)
print(f"Modified list = {student_names}")

Original list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']

IndexError: pop index out of range

In [109]:
help("ValueError")

Help on class ValueError in module builtins:

class ValueError(Exception)
 |  Inappropriate argument value (of correct type).
 |
 |  Method resolution order:
 |      ValueError
 |      Exception
 |      BaseException
 |      object
 |
 |  Built-in subclasses:
 |      UnicodeError
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseException:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __setstate__(...)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  with_traceback(...)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args

### 3. clear()

In [110]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
print(f"Original list = {student_names}")
student_names.clear()
print(f"Modified list = {student_names}")

Original list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']
Modified list = []

## 4. del keyword

In [111]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
print(f"Original list = {student_names}")
student_names[2]
# print(f"Modified list = {student_names}")

Original list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']

'Sahil'

In [112]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
print(f"Original list = {student_names}")
del student_names[2]
print(f"Modified list = {student_names}")

Original list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']
Modified list = ['Pankaj', 'Saurabh', 'Nikita', 'Sakshi']

In [113]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
print(f"Original list = {student_names}")
del student_names[-1]
print(f"Modified list = {student_names}")

Original list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']
Modified list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita']

In [114]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
print(f"Original list = {student_names}")
del student_names[0]
print(f"Modified list = {student_names}")

Original list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']
Modified list = ['Saurabh', 'Sahil', 'Nikita', 'Sakshi']

In [115]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
print(f"Original list = {student_names}")
del student_names[10]
print(f"Modified list = {student_names}")

Original list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']

IndexError: list assignment index out of range

In [116]:
xyz

NameError: name 'xyz' is not defined

In [117]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
print(f"Original list = {student_names}")
del student_names
print(f"Modified list = {student_names}")

Original list = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']

NameError: name 'student_names' is not defined

In [118]:
num = 10
print(num)
del num
print(num)

10

NameError: name 'num' is not defined

In [122]:
lst=[1,2]
del lst[1,2]
lst[1]

TypeError: list indices must be integers or slices, not tuple