# Sorting

## 1. Ascending Order

In [1]:
number = [5,4,6,7,8,9,3,2,1]
print(f"Original List       = {number}")
number.sort()
print(f"Sorted numberd list = {number}")

Original List       = [5, 4, 6, 7, 8, 9, 3, 2, 1]
Sorted numberd list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
number = [5,4,6,7,8,9,3,2,1,5.5,9.9]
print(f"Original List       = {number}")
number.sort()
print(f"Sorted numberd list = {number}")

Original List       = [5, 4, 6, 7, 8, 9, 3, 2, 1, 5.5, 9.9]
Sorted numberd list = [1, 2, 3, 4, 5, 5.5, 6, 7, 8, 9, 9.9]

In [3]:
number = [5,4,6,7,8,9,3,2,1,5.5,9.9,"Python"]
print(f"Original List       = {number}")
number.sort()
print(f"Sorted numberd list = {number}")

Original List       = [5, 4, 6, 7, 8, 9, 3, 2, 1, 5.5, 9.9, 'Python']

TypeError: '<' not supported between instances of 'str' and 'float'

#### comparision between string and float/int will not happen

In [4]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
print(f"Original List       = {student_names}")
student_names.sort()
print(f"Sorted numberd list = {student_names}")

Original List       = ['Pankaj', 'Saurabh', 'Sahil', 'Nikita', 'Sakshi']
Sorted numberd list = ['Nikita', 'Pankaj', 'Sahil', 'Sakshi', 'Saurabh']

In [5]:
sub_name = ["Phy","Che","Math","Bio","Eng"]
print(f"Original List       = {sub_name}")
sub_name.sort()
print(f"Sorted numberd list = {sub_name}")

Original List       = ['Phy', 'Che', 'Math', 'Bio', 'Eng']
Sorted numberd list = ['Bio', 'Che', 'Eng', 'Math', 'Phy']

## 2. Descending Order

In [6]:
sub_name = ["Phy","Che","Math","Bio","Eng"]
print(f"Original List       = {sub_name}")
sub_name.sort()
print(f"Sorted numberd list = {sub_name}")

Original List       = ['Phy', 'Che', 'Math', 'Bio', 'Eng']
Sorted numberd list = ['Bio', 'Che', 'Eng', 'Math', 'Phy']

In [8]:
sub_name = ["Phy","Che","Math","Bio","Eng"]
print(f"Original List              = {sub_name}")
sub_name.sort()
print(f"Sorted numberd list in Asc = {sub_name}")
print(f"Sorted numberd list in Dec = {sub_name[::-1]}")

Original List              = ['Phy', 'Che', 'Math', 'Bio', 'Eng']
Sorted numberd list in Asc = ['Bio', 'Che', 'Eng', 'Math', 'Phy']
Sorted numberd list in Dec = ['Phy', 'Math', 'Eng', 'Che', 'Bio']

In [10]:
sub_name = ["Phy","Che","Math","Bio","Eng"]
print(f"Original List              = {sub_name}")
sub_name.sort(reverse=True)
print(f"Sorted numberd list in Dec = {sub_name}")

Original List              = ['Phy', 'Che', 'Math', 'Bio', 'Eng']
Sorted numberd list in Dec = ['Phy', 'Math', 'Eng', 'Che', 'Bio']

In [26]:
x = ["Paa","Pab"]
x[0]
x[1]
x[0] < x[1]

True

In [17]:
strn = "niranjan123"
#strn1 = int(strn)

num = ""

alpha = ""

for char in strn:
    
    if char <= '0' or char >= '9':
        alpha += char

    else:
        num += char
        
print(' '.join(num))
print()
print("".join(alpha))

1 2 3

niranjan

In [30]:
ord("0") # < ord("1")

48

In [18]:
[range(1,10),range(11,20)]

[range(1, 10), range(11, 20)]

In [19]:
for i in [range(1,10),range(11,20)]:
    print(i)

range(1, 10)
range(11, 20)

In [20]:
for i in [range(1,10),range(11,20)]:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19