In [1]:
lis = [1,2,3]
lis.insert(0, " ")

In [2]:
lis

[' ', 1, 2, 3]

In [3]:
list(range(1,51))
even_list = []
odd_list = []

In [1]:
even_list = []
odd_list = []

for num in list(range(1,51)):
    
    if num % 2 == 0:
        even_list.append(num)
        
    else:
        odd_list.append(num)

print(f"even list is: {even_list}")
print(f"odd lis is: {odd_list}")

even list is: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
odd lis is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [5]:
ord("n")

110

In [6]:
ord("9")

57

In [3]:
li = ["yash", "rutik", "kunal", "anagha","samruddhi"]

for index, item in enumerate(li):
    print(f"{index}   :::   {item}")

0   :::   yash
1   :::   rutik
2   :::   kunal
3   :::   anagha
4   :::   samruddhi

In [4]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
odd_num = list(range(1,11,2))
even_num  = list(range(2,11,2))
print(f"even_numbers: {even_num}")
print(f"odd_numbers: {odd_num}")

even_numbers: [2, 4, 6, 8, 10]
odd_numbers: [1, 3, 5, 7, 9]

In [15]:
student_names = ["Pankaj","Saurabh","Sahil","Nikita","Sakshi"]
for val in range(len(student_names)):
    print(f"Name  :::  {student_names[val]}")

Name  :::  Pankaj
Name  :::  Saurabh
Name  :::  Sahil
Name  :::  Nikita
Name  :::  Sakshi

In [18]:
for index, val in enumerate(range(len(student_names))):
    print(f"At {index}  :::  {student_names[val]}")

At 0  :::  Pankaj
At 1  :::  Saurabh
At 2  :::  Sahil
At 3  :::  Nikita
At 4  :::  Sakshi

In [22]:
# How to manupilate string
for val in range(len(student_names)):
    print(val ** 3)

0
1
8
27
64

In [27]:
# separate the intiger and characters different 
li = [1, 2, 3, 4.4, 5.5, 6.6, 'Python', 'And', 'Data', 'Science', 'With', 'Machine', 'Learning',5+5j]

for item in li:
    if type(item) == int:
        print(f"{item} is intiger")
        
    elif type(item) == str:
        print(f"{item} is string")
    
    elif type(item) == float:
        print(f"{item} is float")
    else:
        print(f"{item} The number is with another data type")

1 is intiger
2 is intiger
3 is intiger
4.4 is float
5.5 is float
6.6 is float
Python is string
And is string
Data is string
Science is string
With is string
Machine is string
Learning is string
(5+5j) The number is with another data type

In [34]:
check = [1, 2, 3, 4.4, 5.5, 6.6, 'Python', 'And', 'Data', 'Science', 'With', 'Machine', 'Learning',5+5j]

for item in check:
    
    if str(item).isnumeric():
        print(f"{item} is intiger")
        
    elif str(item).isalpha():
        print(f"{item} is alpha")
    
    elif not str(item).isalpha() and not str(item).isnumeric() and not complex(item):
        print(f"{item} is float")
        
    else:
        print(f"{item} has another data type")

1 is intiger
2 is intiger
3 is intiger
4.4 has another data type
5.5 has another data type
6.6 has another data type
Python is alpha
And is alpha
Data is alpha
Science is alpha
With is alpha
Machine is alpha
Learning is alpha
(5+5j) has another data type

In [39]:
li = []
li.append("yash")

In [41]:
li.append({"yash",1})

In [42]:
li

['yash', {1, 'yash'}]

In [47]:
s = {1, 'yash'}
s

{1, 'yash'}

In [59]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]


l1.extend(l2)
l1.extend(l3)

print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
w = [1,2,3,4,4.5,6.5,2.5,"yash", "dhakade"]

w.insert(4," ")

In [64]:
w

[1, 2, 3, 4, ' ', 4.5, 6.5, 2.5, 'yash', 'dhakade']

In [66]:
w.remove(3)

In [67]:
w

[1, 2, 4, ' ', 4.5, 6.5, 2.5, 'yash', 'dhakade']

In [75]:
m = [1,2,3,4]
m.insert(2,2.5)
print(m)

[1, 2, 2.5, 3, 4]

In [80]:
lis = [1,2,3,4,5,6]

lis1 = lis.pop(2)

print(lis)

print(lis1)

[1, 2, 4, 5, 6]
3

In [82]:
help("ValueError")

Help on class ValueError in module builtins:

class ValueError(Exception)
 |  Inappropriate argument value (of correct type).
 |
 |  Method resolution order:
 |      ValueError
 |      Exception
 |      BaseException
 |      object
 |
 |  Built-in subclasses:
 |      UnicodeError
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseException:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __setstate__(...)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  with_traceback(...)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args

In [86]:
w = [1,2,3,4,4.5,6.5,2.5,"yash", "dhakade"]
w.clear()
w

[]

In [93]:
w = [1,2,3,4,4.5,6.5,2.5,"yash", "dhakade"]
del w[7] 
del w[3]
w

[1, 2, 3, 4.5, 6.5, 2.5, 'dhakade']

In [95]:
w1 = [1,2,3,4,4.5,6.5,2.5,"yash", "dhakade"]

In [102]:
print(w1)
a = w1.reverse()
print(a)

[1, 2, 3, 4, 4.5, 6.5, 2.5, 'yash', 'dhakade']
None

In [73]:
my_list = [3, 1, 6, 2]
my_list.sort()
print(my_list)

[1, 2, 3, 6]

In [74]:
my_list = [3, 1, 6, 2]
my_list = my_list.sort()
print(my_list)

None

# Assending order

In [111]:
string = [4,5,8,9,7,8,2,1,2]

b = string.sort()
print(b)
string

None

[1, 2, 2, 4, 5, 7, 8, 8, 9]

In [105]:
string = [4,5,8,9,7,8,2,1,2]
set(string)

{1, 2, 4, 5, 7, 8, 9}

In [112]:
x = sorted(string)
print(x)

[1, 2, 2, 4, 5, 7, 8, 8, 9]

In [118]:
c = ["Lemone", "Mango", "pineapple", "Apple"]
print(c)
print()
c.sort()
print()
print(c)

['Lemone', 'Mango', 'pineapple', 'Apple']


['Apple', 'Lemone', 'Mango', 'pineapple']

In [120]:
c.sort(reverse=True)

c

['pineapple', 'Mango', 'Lemone', 'Apple']

In [121]:
number = [5,4,6,7,8,9,3,2,1,5.5,9.9,"Python"]
print(f"Original List       = {number}")
number.sort()
print(f"Sorted numberd list = {number}")

Original List       = [5, 4, 6, 7, 8, 9, 3, 2, 1, 5.5, 9.9, 'Python']

TypeError: '<' not supported between instances of 'str' and 'float'

In [1]:
w1 = [1,2,3,4,4.5,6.5,2.5,"yash", "dhakade"]

"yash" not in w1

False

In [2]:
"yash" in w1

True

In [3]:
w1

[1, 2, 3, 4, 4.5, 6.5, 2.5, 'yash', 'dhakade']

In [13]:
#l1  = [1,2,3,4,5]
l1 = "python and data science"
for index, i in enumerate(l1):
    print(index, i)

0 p
1 y
2 t
3 h
4 o
5 n
6
7 a
8 n
9 d
10
11 d
12 a
13 t
14 a
15
16 s
17 c
18 i
19 e
20 n
21 c
22 e

In [14]:
l1 = ['python', 'and', 'data', 'science',"learning", "with", "data", "science"]
for char in l1:
    print(char)

python
and
data
science
learning
with
data
science

In [12]:
for index, char in enumerate(l1):
    print(index ,char)

0 python
1 and
2 data
3 science

In [55]:
l1 = ['python', 'and', 'data', 'science',"learning", "with", "data", "science"]

for index, word in enumerate(l1):
    if index % 2 != 0:
        print(index, word)

1 and
3 science
5 with
7 science

In [61]:
l1 = ['python', 'and', 'data', 'science',"learning", "with", "data", "science"]
for word in l1:
    if len(word) % 2 != 0:
        print(word)

and
science
science

In [68]:
for i in range(0,len(l1)):
    if i % 2 == 1:
        print(l1[i])

and
science
with
science

In [34]:
l1[1::2]

['and', 'science', 'with', 'science']

In [ ]:
li = []

In [20]:
l1 =[1,2,3,4,5,6,7,8]
for i in l1:
    if i%2!=0:
        print(f"odd position is {i}")

odd position is 1
odd position is 3
odd position is 5
odd position is 7

In [32]:
l1 = ['python', 'and', 'data', 'science',"learning", "with", "data", "science"]
count_even = 0
count_odd = 0
for i in l1:

    if i % 2 == 0:
        
        print("hii")
        
#         count_even = count_even + 1
        
    else:
        
        print("bye")
#         count_odd = count_odd + 1
        
print(count_even)
print(count_odd)

TypeError: not all arguments converted during string formatting

In [100]:
e = list(range(0,3))
e.append(5)
e

[0, 1, 2, 5]

In [169]:
r = ["python", "and", "data"]
r.append("science")
r

['python', 'and', 'data', 'science']

In [168]:
len(r)

29

In [174]:
y = ["python", "and", "data"]

'python and data s c i e n c e'

In [183]:
u = "science "

u += "python"
u

'science python'

In [191]:
h = [1,2,3]
l2 = [4,5,6]
h.extend(l2)

In [185]:
h

[1, 2, 3, 4, 5, 6]

In [186]:
l2.extend(h)

In [187]:
l2

[4, 5, 6, 1, 2, 3, 4, 5, 6]

In [272]:
g = [1,4,5,6]
g.clear()
g

[]

In [200]:
l = [1,2,3,4,5]
l.insert(2,200)
l

[1, 2, 200, 3, 4, 5]

In [207]:
o = ["python", "science"]
o.insert(2,"data")

In [208]:
o

['python', 'science', 'data']

In [210]:
(x:= [1, 2, 31]).extend(x)
print(x)

[1, 2, 31, 1, 2, 31]

In [221]:
(x:= 1)

1

In [223]:
if (a := 10) == 10:
    print("Yes")

Yes

In [233]:
if a := 10:
    print("yes")

yes

In [257]:
l = [1,2,3,3,4,5]

l.remove(3)
l.remove(3)
l

[1, 2, 4, 5]

In [265]:
l = [1,2,3,4,5]
a = l.pop(1)
print(a)
l

2

[1, 3, 4, 5]

In [254]:
l = [1,2,3,4,5]

del l[2]

l

[1, 2, 4, 5]

In [270]:
help("list.popitem()")

No Python documentation found for 'list.popitem()'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [273]:
f = [4,5,8,9,6,3,2,1]
f.sort()
f

[1, 2, 3, 4, 5, 6, 8, 9]

In [277]:
d = ["a", "c", "j", "h"]
w = d.sort()
w

In [278]:
d = ["a", "c", "j", "h"]
w = sorted(d)
w

['a', 'c', 'h', 'j']

In [279]:
f = [-4,-8,-9,-5,4.5,8.5]
f.sort()
f

[-9, -8, -5, -4, 4.5, 8.5]

In [282]:
f = [-4,-8,-9,-5,4.5,8.5]
f.sort(reverse=True)
f

[8.5, 4.5, -4, -5, -8, -9]