In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("play_tennis.csv")
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [6]:
data.sort_values("outlook")

    day   outlook  temp humidity    wind play
2    D3  Overcast   Hot     High    Weak  Yes
6    D7  Overcast  Cool   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
9   D10      Rain  Mild   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes

In [7]:
data.value_counts("play")

play
Yes    9
No     5
dtype: int64

#### 1. Play Entropy

In [24]:
# Yes = 9
# No = 5 

# Total = 14

# Entropy E(s)
E = -(9/14) * np.log2(9/14) - (5/14) * np.log2(5/14)
print(f" Play E(S) = {E}")
## E(S) = 0.940

 Play E(S) = 0.9402859586706311

In [21]:
## Case 1: - If the the Number of Yes's and no's were equal
# Yes = 5
# No = 5
E2 = -(5/10) * np.log2(5/10) - (5/10) * np.log2(5/10)
print(f" Play E(S) = {E2}")

 Play E(S) = 1.0

In [23]:
## Case 2: - If the the Number of Yes's = 14 and no's = 0
# Yes = 14
# No = 0
E2 = -(14/14) * np.log2(14/14) - 0
# E2 = -(14/14) * np.log2(14/14) - (0/14) * np.log2(0/14)

print(f" Play E(S) = {E2}")

 Play E(S) = -0.0

## 2. OutLook

#### 1. Overcast

In [46]:
Entropy_OverCast = 0
Entropy_Sunny = 0.970
Entropy_Rain = 0.970

IG_Outlook = 0.247

In [33]:
data.groupby(data["outlook"]).get_group("Overcast")

    day   outlook  temp humidity    wind play
2    D3  Overcast   Hot     High    Weak  Yes
6    D7  Overcast  Cool   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes

In [91]:
# Yes = 4
# No = 0

Entropy_overcast = -(4/4) * np.log2(4/4) - 0
print(f" Entropy_overcast = {Entropy_overcast}")

 Entropy_overcast = -0.0

In [43]:
data.groupby(data["outlook"]).get_group("Sunny")

    day outlook  temp humidity    wind play
0    D1   Sunny   Hot     High    Weak   No
1    D2   Sunny   Hot     High  Strong   No
7    D8   Sunny  Mild     High    Weak   No
8    D9   Sunny  Cool   Normal    Weak  Yes
10  D11   Sunny  Mild   Normal  Strong  Yes

In [44]:
# Yes = 2
# No = 3
Entropy_Sunny = -(2/5) * np.log2(2/5) - (3/5) * np.log2(3/5)
print(f" Entropy_Sunny = {Entropy_Sunny}")

 Entropy_Sunny = 0.9709505944546686

In [36]:
data.groupby(data["outlook"]).get_group("Rain")

    day outlook  temp humidity    wind play
3    D4    Rain  Mild     High    Weak  Yes
4    D5    Rain  Cool   Normal    Weak  Yes
5    D6    Rain  Cool   Normal  Strong   No
9   D10    Rain  Mild   Normal    Weak  Yes
13  D14    Rain  Mild     High  Strong   No

In [69]:
# Yes = 3
# No = 2
Entropy_Rain = -(3/5) * np.log2(3/5) - (2/5) * np.log2(2/5)
print(f" Entropy_Rain = {Entropy_Sunny}")

 Entropy_Rain = 0.97

### Infromation Gain for the OutLook

In [77]:
# number of overcast = 4
# total element in target = 14 

# number of Sunny = 5
# total element in target = 14 

# number of Rain = 5
# total element in target = 14 

Information_outlook = (4/14) * 0 + (5/14) * 0.970 + (5/14) * 0.970

IG_outlook = 0.940 - Information_outlook
IG_outlook

0.2471428571428571

## 3. Tempreture

In [ ]:
Entropy_Hot = 0.636
Entropy_cool = 0.562
Entropy_mild = 0.693

In [47]:
data.groupby(data["temp"]).get_group("Mild")

    day   outlook  temp humidity    wind play
3    D4      Rain  Mild     High    Weak  Yes
7    D8     Sunny  Mild     High    Weak   No
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
13  D14      Rain  Mild     High  Strong   No

In [75]:
# Yes = 4
# No = 2
Entropy_mild = -(4/6) * np.log(4/6) - (2/6) * np.log(2/6)
print(f" Entropy_mild = {Entropy_mild}")

 Entropy_mild = 0.6365141682948128

In [56]:
data.groupby(data["temp"]).get_group("Cool")

  day   outlook  temp humidity    wind play
4  D5      Rain  Cool   Normal    Weak  Yes
5  D6      Rain  Cool   Normal  Strong   No
6  D7  Overcast  Cool   Normal  Strong  Yes
8  D9     Sunny  Cool   Normal    Weak  Yes

In [76]:
# Yes = 3
# No = 1
Entropy_cool = -(3/4) * np.log(3/4) - (1/4) * np.log(1/4)
print(f" Entropy_cool = {Entropy_cool}")

 Entropy_cool = 0.5623351446188083

In [50]:
data.groupby(data["temp"]).get_group("Hot")

    day   outlook temp humidity    wind play
0    D1     Sunny  Hot     High    Weak   No
1    D2     Sunny  Hot     High  Strong   No
2    D3  Overcast  Hot     High    Weak  Yes
12  D13  Overcast  Hot   Normal    Weak  Yes

In [74]:
# Yes = 2
# No  = 2
Entropy_Hot = -(2/4) * np.log(2/4) + (2/4) * np.log(2/4)
print(f"Entropy_Hot = {Entropy_Hot}")

Entropy_Hot = 0.0

### Infromation Gain for Tempreture

In [92]:
Entropy_mild = 0.636
Entropy_cool = 0.562
Entropy_mild = 0.693

# Infromation_Gain = E(S) - [Weigted_avg. + Entropy of each attribute]

# number of Hot = 4
# total element in target = 14 

# number of Cool = 4
# total element in target = 14 

# number of Mild = 6
# total element in target = 14 

Information_Temp = (4/14) * 0.636 + (4/14) * 0.562 + (6/14) * 0.693

IG_Temp = 0.940 - Information_Temp
IG_Temp

0.3007142857142857

## 4. humidity

In [ ]:
Entropy_High = 0.682
Entropy_Normal = 0.410

In [58]:
data.groupby(data["humidity"]).get_group("High")

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
7    D8     Sunny  Mild     High    Weak   No
11  D12  Overcast  Mild     High  Strong  Yes
13  D14      Rain  Mild     High  Strong   No

In [59]:
# Yes = 3
# No  = 4
Entropy_High = -(3/7) * np.log(3/7) - (4/7) * np.log(4/7)
print(f"Entropy_High = {Entropy_High}")

Entropy_High = 0.6829081047004717

In [60]:
data.groupby(data["humidity"]).get_group("Normal")

    day   outlook  temp humidity    wind play
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes

In [61]:
# Yes = 6
# No  = 1
Entropy_Normal = -(6/7) * np.log(6/7) - (1/7) * np.log(1/7)
print(f"Entropy_Normal = {Entropy_Normal}")

Entropy_Normal = 0.410116318288409

In [93]:
Entropy_High = 0.682
Entropy_Normal = 0.410

# Infromation_Gain = E(S) - [Weigted_avg. + Entropy of each attribute]

# number of High = 7
# total element in target = 14 

# number of Normal = 7
# total element in target = 14 

Information_humidity = (7/14) * 0.682 + (7/14) * 0.410

IG_humidity = 0.940 - Information_humidity
IG_humidity

0.3939999999999999

### 5. wind

In [ ]:
Entropy_wind = 0.562
Entropy_strong = 0.0

In [63]:
data.groupby(data["wind"]).get_group("Weak")

    day   outlook  temp humidity  wind play
0    D1     Sunny   Hot     High  Weak   No
2    D3  Overcast   Hot     High  Weak  Yes
3    D4      Rain  Mild     High  Weak  Yes
4    D5      Rain  Cool   Normal  Weak  Yes
7    D8     Sunny  Mild     High  Weak   No
8    D9     Sunny  Cool   Normal  Weak  Yes
9   D10      Rain  Mild   Normal  Weak  Yes
12  D13  Overcast   Hot   Normal  Weak  Yes

In [97]:
# Yes = 6
# No  = 2
Entropy_weak = -(6/8) * np.log(6/8) - (2/8) * np.log(2/8)
print(f"Entropy_weak = {Entropy_weak}")

Entropy_weak = 0.5623351446188083

In [65]:
data.groupby(data["wind"]).get_group("Strong")

    day   outlook  temp humidity    wind play
1    D2     Sunny   Hot     High  Strong   No
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
13  D14      Rain  Mild     High  Strong   No

In [96]:
# Yes = 3
# No  = 3
Entropy_strong = -(3/6) * np.log(3/6) - (3/6) * np.log(3/6)
print(f"Entropy_strong = {Entropy_strong}")

Entropy_strong = 0.6931471805599453

In [98]:
Entropy_Weak = 0.562
Entropy_Strong = 0.693

# Infromation_Gain = E(S) - [Weigted_avg. + Entropy of each attribute]

# number of Weak = 8
# total element in target = 14 

# number of Strong = 6
# total element in target = 14 

Information_wind = (8/14) * 0.562 + (6/14) * 0.693

IG_wind = 0.940 - Information_wind
IG_wind

0.32185714285714284

In [ ]:
Information gain:
    
    1. Outlook = 0.248
    2. Temp    = 0.300
    3. Humidity= 0.393
    4. Windy   = 0.321