# Set

string : Orderd, Immutable, Allowed Duplicate, ""
list   : Orderd, Mutable  , Allowed Duplicate, []
tuple  : Orderd, Immutable, Allowed Duplicate, ()
set    : Unorderd, Mutable, Duplicates are not allowed, {}

## Set Functions

- 1. add()
- 2. update()
- 3. union()
- 4. remove()
- 5. discard()
- 6. pop()
- 7. clear()
- 8. intersection()
- 9. intersection_update()
- 10. difference()
- 11. difference_update()
- 12. symmetric_difference()
- 13. symmetric_difference_update()
- 14. issubset()
- 15. issuperset()
- 16. isdisjoint()

In [2]:
set1 = {}
type(set1)

dict

In [10]:
di1 = dict()
print(di1)
type(di1)

{}

dict

In [4]:
di = {"Name":"Dhanashri","Batch":"30_july"}
di

{'Name': 'Dhanashri', 'Batch': '30_july'}

In [3]:
# To create an empty set
set1 = set()
type(set1)

set

In [5]:
set1 = {1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [6]:
set1 = {1,2,3,4,5}
type(set1)

set

In [7]:
set1 = {1}
type(set1)

set

In [11]:
li = [1,1,1,2,2,3,4,5,6,7,8]
li

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8]

In [12]:
set1 = {1,1,1,2,2,3,4,5,6,7,8}
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
li = [1,1,1,2,2,3,4,5,6,7,8,2.3,5.6,4.4,"A","AB","ABC"]
li

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 2.3, 5.6, 4.4, 'A', 'AB', 'ABC']

In [14]:
set1 = {1,1,1,2,2,3,4,5,6,7,8,2.3,5.6,4.4,"A","AB","ABC"}
set1

{1, 2, 2.3, 3, 4, 4.4, 5, 5.6, 6, 7, 8, 'A', 'AB', 'ABC'}

In [15]:
set1[0]

TypeError: 'set' object is not subscriptable

In [29]:
for i in set1:
    print(i)

AB
1
2
3
4
5
6
7
8
2.3
5.6
4.4
ABC
A