In [1]:
import pandas as pd
import numpy as np

In [2]:
dataf = pd.ExcelFile("Book1.xlsx")

In [3]:
dataf.sheet_names

['Sheet1', 'Sheet2']

In [10]:
dataf.parse("Sheet1")

       dates
0 2022-12-01
1 2022-12-02

In [11]:
dataf.parse("Sheet2")

   Names
0  Akash
1   Yash

In [14]:
import re
ls=["S_patil@gmail.com","Srk@.yahoo.in.com", "gdf.03@ybl.com"]

for i in ls:
    print(re.findall("^[A-Za-z0-9][_\S].+",i))

['S_patil@gmail.com']
['Srk@.yahoo.in.com']
['gdf.03@ybl.com']

In [16]:
df = pd.read_excel("Book1.xlsx")

In [17]:
df

       dates
0 2022-12-01
1 2022-12-02

In [18]:
df.tail(1)

       dates
1 2022-12-02

In [19]:
df.tail(1).replace({"2022-12-02": "2022-12-22"})

       dates
1 2022-12-22