In [1]:
text = """Machine learning (ML) is a field of inquiry devoted to understanding and building methods 
that 'learn', that is, methods that leverage data to improve performance on some set of tasks.
It is seen as a part of artificial intelligence."""

In [2]:
with open("text.txt", 'w') as file:
    file.write(text)

In [3]:
with open("text.txt", "r") as original:
    with open("text_2.txt", "w") as copi:
        for text in original:
            copi.write(text)

In [4]:
try :
    with open("test.txt", "r") as file:
        cnt = file.read()
except FileNotFoundError:
    print("file is not present\nCreating a new file....")
    with open("test.txt", "w") as file_1:
        file_1.write("hello guy's, How are you doing...")
        
else:
    print("No Error in try block !")
    
finally :
    print("yeahh!!!")

No Error in try block !
yeahh!!!

In [5]:
try :
    with open("test.txt", "r") as file:
        cnt = file.read()
        print(cnt)
except :
    print("file is not present\nCreating a new file....")
    with open("test.txt", "w") as file_1:
        file_1.write("hello guy's, How are you doing...")
        
else:
    print("line from try block file\nNo Error in try block !")
finally :
    print("yeahh!!!")

hello guy's, How are you doing...
line from try block file
No Error in try block !
yeahh!!!

In [6]:
import traceback

try:
    print(var)
except:
    print(traceback.print_exc())

None

Traceback (most recent call last):
  File "C:\Users\yashd\AppData\Local\Temp\ipykernel_8020\94952617.py", line 4, in <module>
    print(var)
NameError: name 'var' is not defined

In [7]:
try :
    with open("test.txt", "r") as file:
        cnt = file.read()
except SyntaxError as SE:
    print("file is not present\nCreating a new file....")
    with open("test.txt", "w") as file_1:
        file_1.write("hello guy's, How are you doing...")
        
else:
    print("No Error in try block !")
    
finally :
    print("yeahh!!!")

No Error in try block !
yeahh!!!

In [8]:
try :
    with open("test.txt", "r") as file:
        cnt = file.read()
except FileNotFoundError as FNE:
    print("file is not present\nCreating a new file....")
    with open("test.txt", "w") as file_1:
        file_1.write("hello guy's, How are you doing...")
        
else:
    print("No Error in try block !")
    
finally :
    print("yeahh!!!")

No Error in try block !
yeahh!!!

In [9]:
import datetime as dt

dt.datetime.now()

datetime.datetime(2022, 12, 16, 20, 38, 53, 630239)

In [10]:
date = "Jan 1 2014 2:43PM"
formt = "%b %d %Y %I:%M%p"
dt.datetime.strptime(date, formt).date()

datetime.date(2014, 1, 1)

In [12]:
# date = "2014, 1, 1,"

# dt.datetime.date().strftime("%d %b %Y")

In [13]:
dt.date(2014, 2, 1).strftime("%B %d %Y")

'February 01 2014'

In [14]:
dt.date(2014, 2, 1).strftime("%A")

'Saturday'

In [15]:
dt.date(2014, 2, 1) - dt.timedelta(5)

datetime.date(2014, 1, 27)

In [16]:
dt.datetime.now().date()

datetime.date(2022, 12, 16)

In [17]:
res = dt.date(2022, 12, 3) - dt.timedelta(5)
res.strftime("%A")

'Monday'

In [18]:
import pandas as pd

In [19]:
times = []
for i in range(10):
    time = dt.datetime.now().date() + dt.timedelta(days=i)
    times.append(time)
pd.DataFrame(data=times, columns=["Time"])

         Time
0  2022-12-16
1  2022-12-17
2  2022-12-18
3  2022-12-19
4  2022-12-20
5  2022-12-21
6  2022-12-22
7  2022-12-23
8  2022-12-24
9  2022-12-25

In [20]:
import pandas as pd

In [21]:
file = pd.ExcelFile("Book1.xlsx")
file.sheet_names

['Sheet1', 'Sheet2']

In [22]:
file.parse("Sheet1")

       dates
0 2022-12-01
1 2022-12-02

In [23]:
file.parse("Sheet2")

   Names
0  Akash
1   Yash

In [24]:
file.parse("Sheet1").tail(1).replace({"2022-12-02": "2023-03-28"})

       dates
1 2023-03-28

In [25]:
# import re
# ls=["S_patil@gmail.com","Srk@.yahoo.in.com  gdf.03@ybl.com"]
# list1=re.split(" ", str(ls))

# text = " ".join(list1)
# # print(text)
# re.findall(r"\w.+@gmail.\w+", text)

In [39]:
import re 
ls=["S_patil@gmail.com","Srk@.yahoo.in.com  gdf.03@ybl.com"]
try :
    re.findall("\w+.\w+@\w+.\w+", ls)
except:
    list1=re.split(" ", str(ls))
    text = " ".join(list1)
finally:
    result = re.findall(r"\w+.\w+@\w+.\w+", text)
    print(result)

['S_patil@gmail.com', 'gdf.03@ybl.com']