## List Functions
- append()
- extend()
- insert()
- remove()
- pop()
- clear()
- del key
- reverse()
- sort()
- index()
- count()

# Built-in functions
- sorted()
- reversed()
- sum()
- min()
- max()

# List Comprehension
- new_list = [expression for var_name in list]

## max()

In [1]:
num_li = [4,5,6,7,44,55,33,2,8,9,4,4]
max(num_li)

55

In [2]:
num_li = [4,5,6,7,44,55,33,2,8,9,4,4000]
max(num_li)

4000

## min()

In [5]:
num_li = [4,5,6,7,44,55,33,2,8,9,4,4]
min(num_li)

2

In [6]:
num_li = [4,5,6,7,-44,55,33,2,8,9,4,4]
min(num_li)

-44

## sum()

In [7]:
num_li = [1,2,3,4,5]
sum(num_li)

15

In [8]:
num_li = [1,1,1,1,1]
sum(num_li)

5

In [9]:
num_li = [1,1,1,1,1,"Hi"]
sum(num_li)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
num_li = list(range(1,11))
sum(num_li)

55

In [11]:
add=0
for i in range(1,11):
    add+=i
print(add)

55

# Nested List

In [12]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
print(f"List   = {list1}")
print(f"Length = {len(list1)}")

List   = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Length = 3

In [15]:
list1 = [[1,2],[3,4,5,6],[7,8,9,10,11]]
print(f"List   = {list1}")
print(f"Length = {len(list1)}")

for sub_li in list1:
    print(sub_li)

List   = [[1, 2], [3, 4, 5, 6], [7, 8, 9, 10, 11]]
Length = 3
[1, 2]
[3, 4, 5, 6]
[7, 8, 9, 10, 11]

In [18]:
list1 = [[1,2],[3,4,5,6],[7,8,9,10,11]]
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])

[1, 2]
[3, 4, 5, 6]
[7, 8, 9, 10, 11]

IndexError: list index out of range

In [20]:
list1 = [[1,2],[3,4,5,6],[7,8,9,10,11]]
print(list1[0],list1[0][0])
print(list1[1],list1[1][0])
print(list1[2],list1[2][0])

[1, 2] 1
[3, 4, 5, 6] 3
[7, 8, 9, 10, 11] 7

In [21]:
list1 = [[1,2],[3,4,5,6],[7,8,9,10,11]]
print(list1[0],list1[0][-1])
print(list1[1],list1[1][-1])
print(list1[2],list1[2][-1])

[1, 2] 2
[3, 4, 5, 6] 6
[7, 8, 9, 10, 11] 11

In [24]:
list1 = [[1,2],[3,4,5,6],[7,8,9,10,11]]
print(list1[-1],list1[-1][0:3])

[7, 8, 9, 10, 11] [7, 8, 9]

# Copy

In [26]:
a = 5
b = a
print(a)
print(b)

5
5

In [28]:
a = [5,6,7,8,9,10]
b = a
print("List1 = ",a)
print("List2 = ",b)

List1 =  [5, 6, 7, 8, 9, 10]
List2 =  [5, 6, 7, 8, 9, 10]

In [29]:
id(a)

2733644630400

In [30]:
id(b)

2733644630400

In [33]:
a = [5,6,7,8,9,10]
b = a
print("List1 = ",a)
print("List2 = ",b)

a.extend(b)

print("-"*50)
print("List1 = ",a)
print("List2 = ",b)

List1 =  [5, 6, 7, 8, 9, 10]
List2 =  [5, 6, 7, 8, 9, 10]
--------------------------------------------------
List1 =  [5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10]
List2 =  [5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10]

In [34]:
a = [5,6,7,8,9,10]
b = a
print("List1 = ",a)
print("List2 = ",b)

a[1] = "Six"

print("-"*50)
print("List1 = ",a)
print("List2 = ",b)

List1 =  [5, 6, 7, 8, 9, 10]
List2 =  [5, 6, 7, 8, 9, 10]
--------------------------------------------------
List1 =  [5, 'Six', 7, 8, 9, 10]
List2 =  [5, 'Six', 7, 8, 9, 10]

# Shallow copy

In [35]:
a = [5,6,7,8,9,10]
b = a.copy()
print("List1 = ",a)
print("List2 = ",b)

print(id(a))
print(id(b))

List1 =  [5, 6, 7, 8, 9, 10]
List2 =  [5, 6, 7, 8, 9, 10]
2733644278336
2733677599296

In [38]:
a = [5,6,7,8,9,10]
b = a.copy()
print("List1 = ",a)
print("List2 = ",b)

b[1] = "Six"

print("-"*50)
print("List1 = ",a)
print("List2 = ",b)

List1 =  [5, 6, 7, 8, 9, 10]
List2 =  [5, 6, 7, 8, 9, 10]
--------------------------------------------------
List1 =  [5, 6, 7, 8, 9, 10]
List2 =  [5, 'Six', 7, 8, 9, 10]

In [39]:
a = [5,6,7,8,9,10]
b = a.copy()
print("List1 = ",a)
print("List2 = ",b)

a.append("Python")

print("-"*50)
print("List1 = ",a)
print("List2 = ",b)

List1 =  [5, 6, 7, 8, 9, 10]
List2 =  [5, 6, 7, 8, 9, 10]
--------------------------------------------------
List1 =  [5, 6, 7, 8, 9, 10, 'Python']
List2 =  [5, 6, 7, 8, 9, 10]

In [40]:
li1 = [[1,2],[3,4],[5,6]]
li2 = li1.copy()
print("List1 = ",li1)
print("List2 = ",li2)

List1 =  [[1, 2], [3, 4], [5, 6]]
List2 =  [[1, 2], [3, 4], [5, 6]]

In [43]:
li1 = [[1,2],[3,4],[5,6]]
li2 = li1.copy()
print("List1 = ",li1)
print("List2 = ",li2)

li1[0][0] = "One"

print("*"*40)
print("List1 = ",li1)
print("List2 = ",li2)

List1 =  [[1, 2], [3, 4], [5, 6]]
List2 =  [[1, 2], [3, 4], [5, 6]]
****************************************
List1 =  [['One', 2], [3, 4], [5, 6]]
List2 =  [['One', 2], [3, 4], [5, 6]]

In [44]:
li1 = [100,[1,2],[3,4],[5,6]]
li2 = li1.copy()
print("List1 = ",li1)
print("List2 = ",li2)

li1[0] = "Python"

print("*"*40)
print("List1 = ",li1)
print("List2 = ",li2)

List1 =  [100, [1, 2], [3, 4], [5, 6]]
List2 =  [100, [1, 2], [3, 4], [5, 6]]
****************************************
List1 =  ['Python', [1, 2], [3, 4], [5, 6]]
List2 =  [100, [1, 2], [3, 4], [5, 6]]

In [45]:
li1 = [100,[1,2],[3,4],[5,6]]
li2 = li1.copy()
print("List1 = ",li1)
print("List2 = ",li2)

li1[-1][-1] = "Six"

print("*"*40)
print("List1 = ",li1)
print("List2 = ",li2)

List1 =  [100, [1, 2], [3, 4], [5, 6]]
List2 =  [100, [1, 2], [3, 4], [5, 6]]
****************************************
List1 =  [100, [1, 2], [3, 4], [5, 'Six']]
List2 =  [100, [1, 2], [3, 4], [5, 'Six']]

In [46]:
li1 = [100,[1,2],[3,4],[5,6]]
li2 = li1.copy()
print("List1 = ",li1)
print("List2 = ",li2)

li1[-1]= "Six"

print("*"*40)
print("List1 = ",li1)
print("List2 = ",li2)

List1 =  [100, [1, 2], [3, 4], [5, 6]]
List2 =  [100, [1, 2], [3, 4], [5, 6]]
****************************************
List1 =  [100, [1, 2], [3, 4], 'Six']
List2 =  [100, [1, 2], [3, 4], [5, 6]]

## DeepCopy

In [47]:
import copy

In [48]:
li1 = [[1,2],[3,4],[5,6]]
li2 = copy.deepcopy(li1)
print("List1 = ",li1)
print("List2 = ",li2)

List1 =  [[1, 2], [3, 4], [5, 6]]
List2 =  [[1, 2], [3, 4], [5, 6]]

In [49]:
li1 = [[1,2],[3,4],[5,6]]
li2 = copy.deepcopy(li1)
print("List1 = ",li1)
print("List2 = ",li2)

li1[1][0] = "Three"

print("*"*40)
print("List1 = ",li1)
print("List2 = ",li2)

List1 =  [[1, 2], [3, 4], [5, 6]]
List2 =  [[1, 2], [3, 4], [5, 6]]
****************************************
List1 =  [[1, 2], ['Three', 4], [5, 6]]
List2 =  [[1, 2], [3, 4], [5, 6]]

In [51]:
li1 = [[1,2],[3,4],[5,6]]
li2 = li1.copy()
print("List1 = ",li1)
print("List2 = ",li2)

li1[1][0] = "Three"

print("*"*40)
print("List1 = ",li1)
print("List2 = ",li2)

List1 =  [[1, 2], [3, 4], [5, 6]]
List2 =  [[1, 2], [3, 4], [5, 6]]
****************************************
List1 =  [[1, 2], ['Three', 4], [5, 6]]
List2 =  [[1, 2], ['Three', 4], [5, 6]]

In [50]:
li1 = [100,[1,2],[3,4],[5,6]]
li2 = copy.deepcopy(li1)
print("List1 = ",li1)
print("List2 = ",li2)

li1[0] = "Python"

print("*"*40)
print("List1 = ",li1)
print("List2 = ",li2)

List1 =  [100, [1, 2], [3, 4], [5, 6]]
List2 =  [100, [1, 2], [3, 4], [5, 6]]
****************************************
List1 =  ['Python', [1, 2], [3, 4], [5, 6]]
List2 =  [100, [1, 2], [3, 4], [5, 6]]

In [54]:
li1 = [[1,2],[3,4],[5,6]]
print(type(li1))
for i in li1:
    print(type(i))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [56]:
li1 = [[1,2],[3,4],[5,6]]
for i in li1:
    print(i)
    for j in i:
        print(j)

[1, 2]
1
2
[3, 4]
3
4
[5, 6]
5
6

# List Constructor

In [57]:
tup1 = (1,2,3)
type(tup1)

tuple

In [61]:
tup1 = (1,2,3)
print(tup1,type(tup1))

li1 = list(tup1) # List constructor
print(li1,type(li1))

(1, 2, 3) <class 'tuple'>
[1, 2, 3] <class 'list'>

In [62]:
set1 = {1,2,3}
print(set1,type(set1))

li1 = list(set1) # List constructor
print(li1,type(li1))

{1, 2, 3} <class 'set'>
[1, 2, 3] <class 'list'>

In [63]:
str1 = "Data Science"
print(str1,type(str1))

li1 = list(str1) # List constructor
print(li1,type(li1))

Data Science <class 'str'>
['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e'] <class 'list'>

In [66]:
"".join(['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e'])

'Data Science'

In [72]:
str1 = "Data Science" # D-a-t-a
print("-".join(list(str1)))

D-a-t-a- -S-c-i-e-n-c-e

In [73]:
str1 = "Data Science"
char_li = []
for i in str1:
    char_li.append(i)
char_li

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [74]:
"-".join(char_li)

'D-a-t-a- -S-c-i-e-n-c-e'

In [77]:
"D-a-t-a- -S-c-i-e-n-c-e" == 'D-a-t-a- -S-c-i-e-n-c-e'

True

# List Comprehension
- new_list = [expression for var_name in list]

In [90]:
li = [10,20,30,40,50]
new_li1 = []
for val in li:
    new_li1.append(val - 5)
    print(new_li1)

[5]
[5, 15]
[5, 15, 25]
[5, 15, 25, 35]
[5, 15, 25, 35, 45]

In [91]:
li = [10,20,30,40,50]
new_li2 = [val - 5 for val in li]
new_li2

[5, 15, 25, 35, 45]

In [93]:
sub_list = ["Math","Phy","Chem","Bio","Eng"] # Mathing, phying
ing_li = []
for sub_name in sub_list:
    ing_li.append(sub_name + "ing")
ing_li

['Mathing', 'Phying', 'Cheming', 'Bioing', 'Enging']

In [96]:
ing_li2 = [i + "ing" for i in sub_list]
ing_li2

['Mathing', 'Phying', 'Cheming', 'Bioing', 'Enging']

In [97]:
ing_li2 = [i.upper() for i in sub_list]
ing_li2

['MATH', 'PHY', 'CHEM', 'BIO', 'ENG']

In [98]:
ing_li2 = [i.lower() for i in sub_list]
ing_li2

['math', 'phy', 'chem', 'bio', 'eng']

In [99]:
list1 = list(range(1,16))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [101]:
even_list1 = []
for i in list1:
    if i % 2 == 0:
        even_list1.append(i)
    print(even_list1)
print(f"Even number list {even_list1}")

[]
[2]
[2]
[2, 4]
[2, 4]
[2, 4, 6]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12]
[2, 4, 6, 8, 10, 12, 14]
[2, 4, 6, 8, 10, 12, 14]
Even number list [2, 4, 6, 8, 10, 12, 14]

In [103]:
even_list2 = [i for i in list1 if i%2 == 0]
even_list2

[2, 4, 6, 8, 10, 12, 14]

In [104]:
odd_list1 = []
for i in list1:
    if i % 2 != 0:
        odd_list1.append(i)
print(f"Odd number list {odd_list1}")

Odd number list [1, 3, 5, 7, 9, 11, 13, 15]

In [105]:
odd_list2 = [i for i in list1 if i%2!=0]
odd_list2

[1, 3, 5, 7, 9, 11, 13, 15]

In [106]:
squared_li = [i ** 2 for i in [2, 4, 6, 8, 10, 12, 14]]
squared_li

[4, 16, 36, 64, 100, 144, 196]

In [107]:
squared_li = [i ** 3 for i in [2, 4, 6, 8, 10, 12, 14]]
squared_li

[8, 64, 216, 512, 1000, 1728, 2744]

In [108]:
sub_list = ["Math","Phy","Chem","Bio","Eng"]
new_li = [i.upper() for i in sub_list if i.startswith("C")]
new_li

['CHEM']

In [109]:
sub_list = ["Math","Phy","Chem","Bio","Eng"]
new_li = [i.upper() for i in sub_list if not i.startswith("C")]
new_li

['MATH', 'PHY', 'BIO', 'ENG']

In [112]:
li = [3,5,8,33,55,2,1,3,5,77,8,68]
square_li = [i ** 2 for i in li if i > 10]
square_li

[1089, 3025, 5929, 4624]

In [3]:
li = [3,5,8,33,55,2,1,3,5,77,8,68]
even_square_li = [i ** 2 for i in li if i > 10 and i % 2 == 0]
even_square_li

[4624]