# sorted(list_name)

In [8]:
num_li = [4,5,6,7,44,55,33,2,8,9]
print(num_li)
print()
a= sorted(num_li,reverse=True)
print(a)

[4, 5, 6, 7, 44, 55, 33, 2, 8, 9]

[55, 44, 33, 9, 8, 7, 6, 5, 4, 2]

In [5]:
a

[55, 44, 33, 9, 8, 7, 6, 5, 4, 2]

# Reverse

In [15]:
num_list = [1,2,3,4,5,6,7,8,9, "pythoh", "data", "science"]
num_list.reverse()
num_list

['science', 'data', 'pythoh', 9, 8, 7, 6, 5, 4, 3, 2, 1]

# reversed

In [23]:
num_li = [4, 5, 6, 7, 44, 55, 33, 2, 8, 9]
f= list(reversed(num_li))
print(f)

[9, 8, 2, 33, 55, 44, 7, 6, 5, 4]

# index

In [36]:
num_li = [4, 4, 5, 6, 7, 44, 55, 33, 2, 8, 9]

print(num_li.index(44))
print(num_li.index(4))

5
0

# max

In [2]:
k = [1,2,3,5,8,9,4,55,10,80]
m = max(k)
m

80

# max

In [5]:
k = [1,2,3,5,8,9,4,55,10,80]
minu = min(k)
print(minu)

1

# sum

In [6]:
add = sum(k)
print(add)

177

# Nested list

In [15]:
n = [1,2,3, [4,5,6], [7,8,9,[10,11,12]]]
print(n[-1], n[-1][0])
print(n[-1], n[-1][1])
print(n[-1], n[-1][2])

[7, 8, 9, [10, 11, 12]] 7
[7, 8, 9, [10, 11, 12]] 8
[7, 8, 9, [10, 11, 12]] 9
[7, 8, 9, [10, 11, 12]] [10, 11, 12]

In [16]:
print(n[-1], n[-1][1])

[7, 8, 9, [10, 11, 12]] 8

In [23]:
print(n[-1], n[-1][3][0])
print(n[-1], n[-1][3][1])
print(n[-1], n[-1][3][2])

[7, 8, 9, [10, 11, 12]] 10
[7, 8, 9, [10, 11, 12]] 11
[7, 8, 9, [10, 11, 12]] 12

# copy

In [3]:
a = [5,6,7,8,9,10] 
b =a
print(a)
print()
print(b)

[5, 6, 7, 8, 9, 10]

[5, 6, 7, 8, 9, 10]

In [4]:
id(a)

2264664421120

In [5]:
id(b)

2264664421120

In [6]:
id(a) == id(b)

True

In [14]:
a = [5,6,7,8,9,10] 
b =a
print(f"original list {a}")
print(f"modified list : {b}")

a[-1] = "python"


print("*"*50)
print(f"original list {a}")
print(f"modified list : {b}")

original list [5, 6, 7, 8, 9, 10]
modified list : [5, 6, 7, 8, 9, 10]
**************************************************
original list [5, 6, 7, 8, 9, 'python']
modified list : [5, 6, 7, 8, 9, 'python']

# Shallow copy
- Shallow Copy stores the references of objects to the original memory address. 
- Shallow Copy reflects changes made to the new/copied object in the original object. if there is a nested list element.
- shallow copy dosen't reflects changes made to the new/copied objects in the original object. if it is not a nested element or list

In [18]:
# list1 is a original copy object
# list2 is a nw/copied object

list1 = [5,6,7,8,9,10] 
list2 = list1.copy()
print(f"original list {list1} , {id(list1)}")

print(f"copied list : {list2},  {id(list2)}")


list1[-1] = "python"


print("*"*50)
print(f"original list {list1} , {id(list1)}")

print(f"copied list : {list2},  {id(list2)}")

original list [5, 6, 7, 8, 9, 10] , 2557848291776
copied list : [5, 6, 7, 8, 9, 10],  2557849034048
**************************************************
original list [5, 6, 7, 8, 9, 'python'] , 2557848291776
copied list : [5, 6, 7, 8, 9, 10],  2557849034048

In [15]:
list1 = [5,6,7,8,9,[10,11,12]] 
list2 = list1.copy()
print(f"original list {list1} , {id(list1)}")

print(f"copied list : {list2},  {id(list2)}")


list1[-1][0] = "Science"


print("*"*50)
print(f"original list {list1} , {id(list1)}")

print(f"copied list : {list2},  {id(list2)}")

original list [5, 6, 7, 8, 9, [10, 11, 12]] , 2557848379840
copied list : [5, 6, 7, 8, 9, [10, 11, 12]],  2557848292800
**************************************************
original list [5, 6, 7, 8, 9, ['Science', 11, 12]] , 2557848379840
copied list : [5, 6, 7, 8, 9, ['Science', 11, 12]],  2557848292800

# DeepCopy

- syntax
   - var = copy.deepcopy(list1) 
- Deep copy stores copies of the object's value.
- Deep copy doesn't reflect changes made to the new/copied object in the original object.

In [19]:
import copy

In [22]:
list1 = [5,6,7,8,9,[10,11,12]]
list2 = copy.deepcopy(list1)

print(f"original list {list1} , {id(list1)}")
print(f"copied list : {list2},  {id(list2)}")

list1[-1][2] = "Yash"

print("*"*50)

print(f"original list {list1} , {id(list1)}")
print(f"copied list : {list2},  {id(list2)}")

original list [5, 6, 7, 8, 9, [10, 11, 12]] , 2557850249408
copied list : [5, 6, 7, 8, 9, [10, 11, 12]],  2557811887232
**************************************************
original list [5, 6, 7, 8, 9, [10, 11, 'Yash']] , 2557850249408
copied list : [5, 6, 7, 8, 9, [10, 11, 12]],  2557811887232

In [23]:
list1 = [5,6,7,8,9,[10,11,12]]
list2 = copy.deepcopy(list1)

print(f"original list {list1} , {id(list1)}")
print(f"copied list : {list2},  {id(list2)}")

list2[-1][2] = "Yash"

print("*"*50)

print(f"original list {list1} , {id(list1)}")
print(f"copied list : {list2},  {id(list2)}")

original list [5, 6, 7, 8, 9, [10, 11, 12]] , 2557850423104
copied list : [5, 6, 7, 8, 9, [10, 11, 12]],  2557846772672
**************************************************
original list [5, 6, 7, 8, 9, [10, 11, 12]] , 2557850423104
copied list : [5, 6, 7, 8, 9, [10, 11, 'Yash']],  2557846772672

# List comprehension
- syntax 
  - new_list = [new_list for item in list]
  
- conditional syntax
    - new_list = [new_list for item in list if condition]

In [26]:
list_com = [1,2,3,4,5]

new_list = [i**2 for i in list_com]
new_list

[1, 4, 9, 16, 25]

In [27]:
list_com = [1,2,3,4,5]

new_list = [i**2 for i in list_com if i % 2 != 0]
new_list

[1, 9, 25]

In [30]:
list_com = [1,2,3,4,5]

new_list = [i**2 for i in list_com if i % 2 != 0]
new_list

[1, 9, 25]

In [9]:
lis1 = ["yash", "shailendra", "pooja","vaibhav", "ankush", "somnath"]
lis2 = lis1.copy()

print("original ",lis1, id(lis1))
print("duplicate",lis2, id(lis2))

lis1[-1] = "science"

print("*"*50)

print("original ",lis1, id(lis1))
print("duplicate",lis2, id(lis2))

original  ['yash', 'shailendra', 'pooja', 'vaibhav', 'ankush', 'somnath'] 1950743598144
duplicate ['yash', 'shailendra', 'pooja', 'vaibhav', 'ankush', 'somnath'] 1950726730112
**************************************************
original  ['yash', 'shailendra', 'pooja', 'vaibhav', 'ankush', 'science'] 1950743598144
duplicate ['yash', 'shailendra', 'pooja', 'vaibhav', 'ankush', 'somnath'] 1950726730112

In [21]:
lis1 = [1,2,3,4,[7,8,9]]
lis2 = lis1.copy()

print("original ",lis1, id(lis1))
print("duplicate",lis2, id(lis2))

lis1[-1] = "science"

print("*"*50)

print("original ",lis1, id(lis1))
print("duplicate",lis2, id(lis2))

original  [1, 2, 3, 4, [7, 8, 9]] 1950743744640
duplicate [1, 2, 3, 4, [7, 8, 9]] 1950744918080
**************************************************
original  [1, 2, 3, 4, 'science'] 1950743744640
duplicate [1, 2, 3, 4, [7, 8, 9]] 1950744918080

In [10]:
lis1 = [1,2,3,4,[7,8,9]]
lis2 = lis1.copy()

print("original ",lis1, id(lis1))
print("duplicate",lis2, id(lis2))

lis1[-1][0] = "science"

print("*"*50)

print("original ",lis1, id(lis1))
print("duplicate",lis2, id(lis2))

original  [1, 2, 3, 4, [7, 8, 9]] 1950728049280
duplicate [1, 2, 3, 4, [7, 8, 9]] 1950743869568
**************************************************
original  [1, 2, 3, 4, ['science', 8, 9]] 1950728049280
duplicate [1, 2, 3, 4, ['science', 8, 9]] 1950743869568

In [18]:
import copy

In [20]:
lis1 = [1,2,3,4,[7,8,9]]
lis2 = copy.deepcopy(lis1)

print("original ",lis1, id(lis1))
print("duplicate",lis2, id(lis2))

lis1[-1][0] = "science"

print("*"*50)

print("original ",lis1, id(lis1))
print("duplicate",lis2, id(lis2))

original  [1, 2, 3, 4, [7, 8, 9]] 1950747237184
duplicate [1, 2, 3, 4, [7, 8, 9]] 1950750861056
**************************************************
original  [1, 2, 3, 4, ['science', 8, 9]] 1950747237184
duplicate [1, 2, 3, 4, [7, 8, 9]] 1950750861056

In [22]:
g = [1,2,3,4,5]

u = tuple(g)
u

(1, 2, 3, 4, 5)

In [24]:
s = set(g)
s

{1, 2, 3, 4, 5}

In [25]:
even_list = []
for i in range(1,11):
    if i % 2 == 0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10]

In [32]:
even = [i for i in range(1,11) if i % 2 == 0]

In [33]:
even

[2, 4, 6, 8, 10]

In [34]:
li = [3,5,8,33,55,2,1,3,5,77,8,68]
even_square_li = [i ** 2 for i in li if i > 10 and i % 2 != 0]
even_square_li

[1089, 3025, 5929]