In [1]:
set1 = {1,2,3}
type(set1)

set

In [2]:
set1 = set()
type(set1)

set

In [3]:
set1 = {1,2,3,3,3,3,3}
set1

{1, 2, 3}

In [4]:
set1 = {1,2,3,3,3,3,5.5,3.5,"Python","DataScience"}
set1

{1, 2, 3, 3.5, 5.5, 'DataScience', 'Python'}

In [5]:
list1 = [1,2,3,3,3,3,5.5,3.5,"Python","DataScience"]
print(len(list1))
set1 = {1,2,3,3,3,3,5.5,3.5,"Python","DataScience"}
len(set1)

10

7

True = 1
False = 0

In [7]:
li1 = [True,True,True,True,True,True,False,False,False,False,False]
print(len(li1))

11

In [9]:
s1 = {True,True,True,True,True,True,False,False,False,False,False}
print(s1,len(s1))

{False, True} 2

In [10]:
li1 = [True,True,False,False,False,1,1,1,0,0,0]
print(li1,len(li1))

[True, True, False, False, False, 1, 1, 1, 0, 0, 0] 11

In [11]:
s1 = {True,True,False,False,False,1,1,1,0,0,0}
print(s1,len(s1))

{False, True} 2

# Set constructor

In [12]:
list1 = [1,2,3,3,3,3,5.5,3.5,"Python","DataScience"]
print(list1,len(list1))

set1 = set(list1)
print(set1,len(set1))

[1, 2, 3, 3, 3, 3, 5.5, 3.5, 'Python', 'DataScience'] 10
{1, 2, 3.5, 3, 5.5, 'DataScience', 'Python'} 7

In [13]:
list1 = [1,2,3,3,3,3,5.5,3.5,"Python","DataScience"]
print(list1,len(list1))

set1 = set(list1)
print(set1,len(set1))

list2 = list(set1)
print(list2,len(list2))

[1, 2, 3, 3, 3, 3, 5.5, 3.5, 'Python', 'DataScience'] 10
{1, 2, 3.5, 3, 5.5, 'DataScience', 'Python'} 7
[1, 2, 3.5, 3, 5.5, 'DataScience', 'Python'] 7

In [17]:
list1 = [4,5,87,3,2,44,44,55,8,55,8]
list2 = list(set(list1))
list2

[2, 3, 4, 5, 8, 44, 55, 87]

In [18]:
t1 = (4,5,87,3,2,44,44,55,8,55,8)
t2 = tuple(set(t1))
t2

(2, 3, 4, 5, 8, 44, 55, 87)

In [19]:
set("Python and Data Science")

{' ', 'D', 'P', 'S', 'a', 'c', 'd', 'e', 'h', 'i', 'n', 'o', 't', 'y'}

In [20]:
list("Python and Data Science")

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e']

In [31]:
type(["Python and Data Science","ML",30])

list

In [28]:
set("Python and Data Science","ML",30)

TypeError: set expected at most 1 argument, got 3

In [27]:
set([10,12,13])

{10, 12, 13}

In [32]:
list(1,2)

TypeError: list expected at most 1 argument, got 2

# How to access set items  
- No indexing or slicing in set

In [33]:
set1 = {"Python","R","Java","GoLang","C","C++"}
set1

{'C', 'C++', 'GoLang', 'Java', 'Python', 'R'}

In [34]:
set1[0]

TypeError: 'set' object is not subscriptable

In [36]:
set1[1:7]

TypeError: 'set' object is not subscriptable

In [45]:
set1 = {"Python","R","Java","GoLang","C","C++"}
print("Language set = ",set1)

for val in set1:
    print("Language Name = ",val)

Language set =  {'R', 'Java', 'GoLang', 'C', 'C++', 'Python'}
Language Name =  R
Language Name =  Java
Language Name =  GoLang
Language Name =  C
Language Name =  C++
Language Name =  Python

In [46]:
li = [1,2,3]
i = 0
while i < len(li):
    print(li[i])
    i += 1

1
2
3

In [44]:
cnt = 0
length = len(set1)
i = 0
while i < length:
    if val == "R" and cnt < length:
        print(val)
    cnt += 1

KeyboardInterrupt:

In [50]:
val = "R"
if val in set1:
    print(val)

R

# Set Functions

In [51]:
list1 = [4,5,6,7,8,9]
list2 = [7,8,9,10,11,12]
list3 = []
for i in list1:
    if i in list2:
        list3.append(i)
print(list3)

[7, 8, 9]

In [54]:
list1 = [4,5,6,7,8,9] # 4,5,6
list2 = [7,8,9,10,11,12] # 10,11,12
list3 = []
for i in list1:
    if i not in list2:
        list3.append(i)
for i in list2:
    if i not in list1:
        list3.append(i)

print(list3)

[4, 5, 6, 10, 11, 12]

#  How to add items in a set
### 1. add()
- Used to add only one item in a set

In [55]:
set1 = {1,2,3,4,5}
set1.add(666)

In [56]:
set1

{1, 2, 3, 4, 5, 666}

In [58]:
set1 = {1,2,3,4,5}
set1.add("Python")
set1

{1, 2, 3, 4, 5, 'Python'}

In [59]:
set1 = {"Python","R","Java","GoLang","C","C++"}
set1.add(".Net")
set1

{'.Net', 'C', 'C++', 'GoLang', 'Java', 'Python', 'R'}

## 2. update()

In [61]:
set1 = {"Python","R","Java"}
set2 = {"GoLang","C","C++"}

set1.update(set2)

print("Set1 ------>",set1)
print("Set2 ------>",set2)

{'R', 'Java', 'GoLang', 'C', 'C++', 'Python'}
{'C++', 'C', 'GoLang'}

In [63]:
set1 = {"Python","R","Java"}
set2 = {"GoLang","C","C++"}

set2.update(set1)

print("Set1 ------>",set1)
print("Set2 ------>",set2)

Set1 ------> {'R', 'Java', 'Python'}
Set2 ------> {'R', 'Java', 'Python', 'GoLang', 'C++', 'C'}

In [64]:
set1 = {"Python","R","Java"}
set2 = {"GoLang","C","C++"}

set2.update(set2)

print("Set1 ------>",set1)
print("Set2 ------>",set2)

Set1 ------> {'R', 'Java', 'Python'}
Set2 ------> {'C++', 'C', 'GoLang'}

In [69]:
set1 = {1,2,3}
set2 = {44,55,66}

set2.update(set1)

print("Set1 ------>",set1)
print("Set2 ------>",set2)

Set1 ------> {1, 2, 3}
Set2 ------> {1, 66, 2, 3, 55, 44}

In [70]:
set1 = {1,2,3}
set2 = {44,55,66}

set1.update(set2)

print("Set1 ------>",set1)
print("Set2 ------>",set2)

Set1 ------> {1, 2, 3, 66, 55, 44}
Set2 ------> {66, 44, 55}

In [71]:
set1 = {1,2,3,4,5}
set2 = {4,5,44,55,66}

set1.update(set2)

print("Set1 ------>",set1)
print("Set2 ------>",set2)

Set1 ------> {1, 2, 3, 4, 5, 66, 44, 55}
Set2 ------> {66, 4, 5, 55, 44}

In [73]:
set1 = {1,2,3,4,5}
set2 = [4,5,44,55,66]

set1.update(set2) # list,tuple,set

print("Set1 ------>",set1)
print("Set2 ------>",set2)

Set1 ------> {1, 2, 3, 4, 5, 66, 55, 44}
Set2 ------> [4, 5, 44, 55, 66]

In [74]:
set1 = {1,2,3,4,5}
set2 = (4,5,44,55,66)

set1.update(set2) # list,tuple,set

print("Set1 ------>",set1)
print("Set2 ------>",set2)

Set1 ------> {1, 2, 3, 4, 5, 66, 55, 44}
Set2 ------> (4, 5, 44, 55, 66)

In [75]:
set1 = {1,2,3,4,5}
set2 = (4,5,44,55,66)

set1.update("Python") # list,tuple,set

print("Set1 ------>",set1)
print("Set2 ------>",set2)

Set1 ------> {'h', 1, 2, 3, 4, 5, 'n', 't', 'o', 'P', 'y'}
Set2 ------> (4, 5, 44, 55, 66)

## 3. Union
- Return a new set

In [80]:
set1 = {1,2,3,4,5}
set2 = {4,5,44,55,66}

set3 = set1.union(set2)

print("Set1 ------>",set1)
print("Set2 ------>",set2)
print("Set3 ------>",set3)

Set1 ------> {1, 2, 3, 4, 5}
Set2 ------> {66, 4, 5, 55, 44}
Set3 ------> {1, 2, 3, 4, 5, 66, 44, 55}

In [81]:
set1 = {1,2,3,4,5}
set2 = {44,55,66}

set3 = set1.union(set2)

print("Set1 ------>",set1)
print("Set2 ------>",set2)
print("Set3 ------>",set3)

Set1 ------> {1, 2, 3, 4, 5}
Set2 ------> {66, 44, 55}
Set3 ------> {1, 2, 3, 4, 5, 66, 55, 44}

In [82]:
set1 = {1,2,3,4,5}
set2 = {4,5,44,55,66}

set3 = set2.union(set1)

print("Set1 ------>",set1)
print("Set2 ------>",set2)
print("Set3 ------>",set3)

Set1 ------> {1, 2, 3, 4, 5}
Set2 ------> {66, 4, 5, 55, 44}
Set3 ------> {1, 66, 2, 4, 5, 3, 44, 55}

In [83]:
set1 = {1,2,3,4,5}
set2 = {44,55,66}
set4 = {11,22,33,44,55}

set3 = set1.union(set2,set4)

print("Set1 ------>",set1)
print("Set2 ------>",set2)
print("Set3 ------>",set3)

Set1 ------> {1, 2, 3, 4, 5}
Set2 ------> {66, 44, 55}
Set3 ------> {1, 2, 3, 4, 5, 66, 33, 11, 44, 22, 55}