# .title()

In [5]:
# this function will make a string in title format means it will convert all words first latter capital letter
name = input("Enter your full name: ").title()
name

Enter your full name: yash dhakade

'Yash Dhakade'

In [18]:
"Yash Dhakade How Are You".title().lower().upper()

'yash dhakade how are you'

# .swapcase()
 - This function will invert the string 
 - means if the string is in caplital letter then new_string will be in small letter and vise vrsa

In [27]:
string = " \"yash\": How Are Your \"priya\" How Have you Been Doing ?"
string.swapcase()

' "YASH": hOW aRE yOUR "PRIYA" hOW hAVE YOU bEEN dOING ?'

In [30]:
string.     lower()

' "yash": how are your "priya" how have you been doing ?'

In [31]:
string.upper()

' "YASH": HOW ARE YOUR "PRIYA" HOW HAVE YOU BEEN DOING ?'

In [37]:
string.lower().upper().title()

' "Yash": How Are Your "Priya" How Have You Been Doing ?'

# .lstrip()
- Remove all leading spaces
- meaning the the space before the string within a quote will be removed

In [42]:
# before l-strip

new_string = "        I am learning a python language"
new_string

'        I am learning a python language'

In [41]:
# after l-strip

new_string.lstrip()

'I am learning a python language'

In [50]:
###### can it will remove the  space after the a string  or all spaces?
# - No, this function will only ignor the leading space

string = "      I am learning a python language       "

In [51]:
string.lstrip()

'I am learning a python language       '

# .rstrip()
- remove all the trailing whitespaces

In [55]:
###### can it will remove the  space before the a string  or all spaces?
# - No, this function will only ignor the trailing space
# - means after the string not even a leading space

string = "      I am learning a python language       "
string.rstrip()

'      I am learning a python language'

# .strip()
- this function will ignore all the spaces that may present in leading and trailling 
 - Note. this will not change the spaces that are present between words

In [60]:
string = "      I am learning a python language       "
string.strip()

'I am learning a python language'

# .replace() 
- this function is used for replace old string to new string
- syntax = replace("old_string", "new_string", count)
- however count is optional,  and bydefault the value of count is all

In [62]:
name = "yash dhakade how are you ?"
print(name)

yash dhakade how are you ?

In [63]:
name.replace('a', 'A',2)

'yAsh dhAkade how are you ?'

In [67]:
print(name.replace('a','A'))
print(name.replace('o',"O"))

yAsh dhAkAde how Are you ?
yash dhakade hOw are yOu ?

In [84]:
repl = "yash dhakade"

lenght1 = len(repl) - 7
lenght2 = len(repl) - 8
print(lenght1)
print(lenght2)

string12 = repl[:lenght1].replace("y","a") + repl[lenght2:]
print(string12)

5
4
aash  dhakade