## dataframe information

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()

1. df.info()
2. df.index
3. df.columns
4. df.describe()
5. df.isna()
6. df.isna().sum()
7. df.isnull()
8 .df.head()
9. df.tail()
10. df.value_counts()
11. df.sort_values()
12.df.sort_index()
13.df.drop()
14. df.dropna() # thres
15. df.reset_index(drop=True/False)
16. df.fillna()
    - mean()
    - median()
    - mode() --> from scipy  import stats
    - min()
    - max()
17. df["ColumnLable"].tolist()
18. df.shape
19. df.size
20. df.axes()
21. df.dtypes()
22. df.set_index() :- It will set a feature as a index

# accesing dataframe

1. df.iloc[rowIndex, columnIndex]
2. df.loc["rowLable", "ColumnLable"]
3. df[:,:]

### To get a series of column
1. df[["ColumnLable"]] --> single series
2. df[["ColumnLablelist"]] --> miltiple series

## Get categorical data from data frame

1. df.groupby()
2. df.groupby().first()
3. df.groupby().nth(RowIndex)
4. df.groupby().get_group()
5. df[df["ColumnLable"] == "sub_category"]
6. df.loc[df["ColumnLable"] == "sub_category"]

# Daily uses
1. df["ColumnLable].value_counts()
2. df["ColumnLable].value_counts().to_dict() 
3. df["ColumnLable].unique()
4. df["ColumnLable].nunique() 
5. df.replace()
6. df.rename()
7. df.insert()
8. df.astype()
9. df.copy()

# importing data

- pd.read_csv()
- pd.read_excel()
- pd.read_json()

## Acces All NaN rows and columns

- df[df["ColumnLable"].isna()]
- df[df.isna().any(axis=1/0)]
- df[df["ColumnLable"].isnull()]
- df[df.isnull().any(axis=1/0)]

# Applying Functions
- df.apply(func)

## joining dataframe
- df.append()
- df.concat()
- df.merge()
- df.join()

## connecting sql to pandas

In [ ]:
- syntax 
    - engine = sa.create_engine("mysql + pymysql://<username>:<password>@<host:port>/<dbname>[ <options>]")

engine = sa.create_engine("mysql+pymysql://root:Y45hDhakade123@localhost:3306/datas")
engine

### reading sql files

- 1. read table only
    - df = pd.read_sql_table("table_name", engine)

- 2. read query only
    - df = pd.read_sql_query("sql_query", engine)
    
- 3. read table as wll as sql_query
    - df = pd.read_sql("sql_query / table_name", engine)

### Saving file to sql

- syntax :-
    df_name.to_sql(name="table_name", con=engine_name,index=False,if_exists="append / replace")