## Lambda functions

In [2]:
x = lambda x,y : x + y

x

In [3]:
x = lambda x,y : x + y
x(20,50)

70

In [4]:
# there is no need to assign a variable name to lambda function because it is a anoynomus function
(lambda x,y : x * y)(20,5)

100

In [8]:
y = lambda x,y=2 : x*y

y(140)

280

In [20]:
def user_ID(fname="user_fname", lname="user_lname"):
    return fname + "." + lname + "@gmail.com"

user_ID( lname="Dhakade", fname="Yash")

'Yash.Dhakade@gmail.com'

In [23]:
user = lambda fname, lname : fname + "." + lname + "@gmail.com"

user("yash","dhakade")

'yash.dhakade@gmail.com'

In [25]:
user = lambda fname="user_fname", lname="user_lname" : fname + "." + lname + "@gmail.com"

user()

'user_fname.user_lname@gmail.com'

## lambda function by using List comprehension

In [26]:
lis = [1,2,3,4,5,6,7,8,9]
new_list = []
for i in lis:
    new_list.append(i**2)
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
def square(lis):
    new_list = [i**2 for i in lis]
    return new_list

square(lis)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
lis = [1,2,3,4,5,6,7,8,9]
table = lambda lis : [i**2 for i in lis]

square(lis)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
square([4,5,6])

[16, 25, 36]

In [36]:
for i in range(2,3):
    for j in [1,2,3,4,5,6,7,8,9,20]:
        print(i*j)

2
4
6
8
10
12
14
16
18
40

In [51]:
square_odd = lambda lis : [x**2 for x in lis if x%2 != 0]

square_odd([7,8,9,4,5,6,2,3])

[49, 81, 25, 9]

In [53]:
square_odd([7,8,9,4,5,6,1,2,3])

[49, 81, 25, 1, 9]

## Short hand if-else statement

In [54]:
a = 20
b = 15

print(f"{a} is smaller than {b}" if a < b else f"{a} is greater than {b}")

20 is greater than 15

In [55]:
def short_if(a,b):
    return f"{a} is smaller than {b}" if a < b else f"{a} is greater than {b}" 

a = 202
b = 1551
short_if(a,b)

'202 is smaller than 1551'

In [62]:
compair = lambda a, b : f" if s- {a} is greater than {b}" if a > b else f"else s- {b} is gretter than {a}"

In [63]:
compair(200, 100)

' if s- 200 is greater than 100'

In [64]:
compair(200,1000)

'else s- 1000 is gretter than 200'