# Delete items from dictionary
- 1. pop
- 2. popitem
- 3. clear
- 4. del

In [1]:
dict1 = {
    "Employee Name" : "Komal",
    "Company Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
dict1

{'Employee Name': 'Komal',
 'Company Name': 'eClerx',
 'Salary': '1500000',
 'Designation': 'Data Scientist'}

# 1. pop()
- dictionary.pop(key)

In [3]:
dict1 = {
    "Employee Name" : "Komal",
    "Company Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
dict1

{'Employee Name': 'Komal',
 'Company Name': 'eClerx',
 'Salary': '1500000',
 'Designation': 'Data Scientist'}

In [5]:
dict1.pop("Designation")
print(dict1)

{'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000'}

In [7]:
dict1 = {
    "Employee Name" : "Komal",
    "Company Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
print(dict1)
dict1.pop("Company Name")
print()
print(dict1)

{'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}

{'Employee Name': 'Komal', 'Salary': '1500000', 'Designation': 'Data Scientist'}

# 2. popitem()
- It will remove the last inserted item

In [8]:
dict1 = {
    "Employee Name" : "Komal",
    "Company Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
print(dict1)
dict1.popitem()
print()
print(dict1)

{'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}

{'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000'}

In [9]:
dict1 = {
    "Employee Name" : "Komal",
    "Company Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
print(dict1)
dict1.popitem()
print()
print(dict1)
dict1.popitem()
print()
print(dict1)

{'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}

{'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000'}

{'Employee Name': 'Komal', 'Company Name': 'eClerx'}

# 3. clear()

In [10]:
dict1 = {
    "Employee Name" : "Komal",
    "Company Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
print(dict1)
dict1.clear()
print()
print(dict1)

{'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}

{}

# 4. del keyword

In [11]:
dict1 = {
    "Employee Name" : "Komal",
    "Company Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
print(dict1)
del dict1
print()
print(dict1)

{'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}

NameError: name 'dict1' is not defined

In [12]:
dict1 = {
    "Employee Name" : "Komal",
    "Company Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}
print(dict1)
del dict1["Company Name"]
print()
print(dict1)

{'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}

{'Employee Name': 'Komal', 'Salary': '1500000', 'Designation': 'Data Scientist'}

# Nested Dictionary
- Dictionary in dictionary

In [13]:
dict1 = {
    "Employee Name" : "Komal",
    "Company Name"  : "eClerx",
    "Salary"        : "1500000",
    "Designation"   : "Data Scientist"
}

In [14]:
dict2 = {
    "Employee Name" : "Omkar",
    "Company Name"  : "TCS",
    "Salary"        : "2000000",
    "Designation"   : "ML Engineer"
}

In [16]:
employee_info = {
    "ABC11" : dict1,
    "ABC12" : dict2
}
print(employee_info)

{'ABC11': {'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}, 'ABC12': {'Employee Name': 'Omkar', 'Company Name': 'TCS', 'Salary': '2000000', 'Designation': 'ML Engineer'}}

In [21]:
li = [[1,2,3],[11,22,33],[111,222,333]]
li[1][1]

22

In [17]:
dict1

{'Employee Name': 'Komal',
 'Company Name': 'eClerx',
 'Salary': '1500000',
 'Designation': 'Data Scientist'}

In [18]:
dict1["Company Name"]

'eClerx'

In [22]:
employee_info["ABC12"]

{'Employee Name': 'Omkar',
 'Company Name': 'TCS',
 'Salary': '2000000',
 'Designation': 'ML Engineer'}

In [23]:
employee_info["ABC12"]["Company Name"]

'TCS'

In [24]:
employee_info["ABC12"]["Salary"]

'2000000'

In [26]:
employee_info = {
    "ABC11" : dict1,
    "ABC12" : dict2,
    "ABC13" : {
        'Employee Name': "Akshay",
        'Company Name' : "MiraFra",
        "Salary"       : [1500000,1700000,2000000],
        'Designation'  : "Data Analyst" 
    }
}
print(employee_info)

{'ABC11': {'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}, 'ABC12': {'Employee Name': 'Omkar', 'Company Name': 'TCS', 'Salary': '2000000', 'Designation': 'ML Engineer'}, 'ABC13': {'Employee Name': 'Akshay', 'Company Name': 'MiraFra', 'Salary': [1500000, 1700000, 2000000], 'Designation': 'Data Analyst'}}

In [27]:
employee_info["ABC13"]

{'Employee Name': 'Akshay',
 'Company Name': 'MiraFra',
 'Salary': [1500000, 1700000, 2000000],
 'Designation': 'Data Analyst'}

In [28]:
employee_info["ABC13"]["Salary"]

[1500000, 1700000, 2000000]

In [29]:
employee_info["ABC13"]["Salary"][0]

1500000

In [30]:
employee_info["ABC13"]["Salary"][1]

1700000

In [31]:
employee_info["ABC13"]["Salary"][2]

2000000

In [33]:
employee_info["ABC13"]["Salary"][-1] = 2100000

In [34]:
employee_info["ABC13"]["Salary"][-1]

2100000

In [35]:
employee_info

{'ABC11': {'Employee Name': 'Komal',
  'Company Name': 'eClerx',
  'Salary': '1500000',
  'Designation': 'Data Scientist'},
 'ABC12': {'Employee Name': 'Omkar',
  'Company Name': 'TCS',
  'Salary': '2000000',
  'Designation': 'ML Engineer'},
 'ABC13': {'Employee Name': 'Akshay',
  'Company Name': 'MiraFra',
  'Salary': [1500000, 1700000, 2100000],
  'Designation': 'Data Analyst'}}

In [36]:
employee_info = {
    "ABC11" : dict1,
    "ABC12" : dict2,
    "ABC13" : {
        'Employee Name': "Akshay",
        'Company Name' : "MiraFra",
        "Salary"       : [1500000,1700000,2000000],
        'Designation'  : "Data Analyst",
        "Location"     : {
            "City"     : "Pune",
            "State"    : "Maharashtra",
            "PinCode"  : "411001"
        }
    }
}
print(employee_info)

{'ABC11': {'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}, 'ABC12': {'Employee Name': 'Omkar', 'Company Name': 'TCS', 'Salary': '2000000', 'Designation': 'ML Engineer'}, 'ABC13': {'Employee Name': 'Akshay', 'Company Name': 'MiraFra', 'Salary': [1500000, 1700000, 2000000], 'Designation': 'Data Analyst', 'Location': {'City': 'Pune', 'State': 'Maharashtra', 'PinCode': '411001'}}}

In [37]:
employee_info["ABC13"]["Location"]

{'City': 'Pune', 'State': 'Maharashtra', 'PinCode': '411001'}

In [38]:
employee_info["ABC13"]["Location"]["State"]

'Maharashtra'

In [39]:
employee_info["ABC13"]["Location"]["PinCode"] = 411002

In [40]:
employee_info

{'ABC11': {'Employee Name': 'Komal',
  'Company Name': 'eClerx',
  'Salary': '1500000',
  'Designation': 'Data Scientist'},
 'ABC12': {'Employee Name': 'Omkar',
  'Company Name': 'TCS',
  'Salary': '2000000',
  'Designation': 'ML Engineer'},
 'ABC13': {'Employee Name': 'Akshay',
  'Company Name': 'MiraFra',
  'Salary': [1500000, 1700000, 2000000],
  'Designation': 'Data Analyst',
  'Location': {'City': 'Pune', 'State': 'Maharashtra', 'PinCode': 411002}}}

In [41]:
type(employee_info["ABC13"]["Location"]["PinCode"])

int

In [42]:
employee_info = {
    "ABC11" : dict1,
    "ABC12" : dict2,
    "ABC13" : {
        'Employee Name': "Akshay",
        'Company Name' : "MiraFra",
        "Salary"       : (1500000,1700000,2000000),
        'Designation'  : "Data Analyst",
        "Location"     : {
            "City"     : "Pune",
            "State"    : "Maharashtra",
            "PinCode"  : "411001"
        }
    }
}
print(employee_info)

{'ABC11': {'Employee Name': 'Komal', 'Company Name': 'eClerx', 'Salary': '1500000', 'Designation': 'Data Scientist'}, 'ABC12': {'Employee Name': 'Omkar', 'Company Name': 'TCS', 'Salary': '2000000', 'Designation': 'ML Engineer'}, 'ABC13': {'Employee Name': 'Akshay', 'Company Name': 'MiraFra', 'Salary': (1500000, 1700000, 2000000), 'Designation': 'Data Analyst', 'Location': {'City': 'Pune', 'State': 'Maharashtra', 'PinCode': '411001'}}}

In [43]:
employee_info["ABC13"]["Salary"]

(1500000, 1700000, 2000000)

In [44]:
type(employee_info["ABC13"]["Salary"])

tuple

In [45]:
employee_info["ABC13"]["Salary"][0] = 1600000

TypeError: 'tuple' object does not support item assignment

In [47]:
for i in employee_info["ABC13"]["Salary"]:
    print(i + 5)

1500005
1700005
2000005

In [49]:
lang_name = ["Python","Java","C","R","GoLang"]
popularity = [95, 89, 75, 79, 70]

In [54]:
for L in lang_name:
    for P in popularity:
        print(P)
    print()

95
89
75
79
70

95
89
75
79
70

95
89
75
79
70

95
89
75
79
70

95
89
75
79
70

In [51]:
lang_dict = {}
for L in lang_name:
    for P in popularity:
        lang_dict[L] = P
    print(lang_dict)

{'Python': 70}
{'Python': 70, 'Java': 70}
{'Python': 70, 'Java': 70, 'C': 70}
{'Python': 70, 'Java': 70, 'C': 70, 'R': 70}
{'Python': 70, 'Java': 70, 'C': 70, 'R': 70, 'GoLang': 70}

In [58]:
lang_dict = {}
for index,lang in enumerate(lang_name):
    lang_dict[lang] = popularity[index]
    print(lang_dict)

{'Python': 95}
{'Python': 95, 'Java': 89}
{'Python': 95, 'Java': 89, 'C': 75}
{'Python': 95, 'Java': 89, 'C': 75, 'R': 79}
{'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

In [62]:
lang_dict = {}
for i in range(0,len(lang_name)):
    print(lang_name[i],popularity[i])

Python 95
Java 89
C 75
R 79
GoLang 70

In [64]:
lang_dict = {}
for i in range(0,len(lang_name)):
    lang_dict.update({lang_name[i]:popularity[i]})
    print(lang_dict)

{'Python': 95}
{'Python': 95, 'Java': 89}
{'Python': 95, 'Java': 89, 'C': 75}
{'Python': 95, 'Java': 89, 'C': 75, 'R': 79}
{'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

# Sort dictionary
## 1. sort dictionary by using keys

In [65]:
lang_popularity = {'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}
lang_popularity

{'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

In [66]:
lang_popularity.keys()

dict_keys(['Python', 'Java', 'C', 'R', 'GoLang'])

In [68]:
sorted_keys = sorted(lang_popularity.keys())
sorted_keys

['C', 'GoLang', 'Java', 'Python', 'R']

In [69]:
sorted_keys = sorted(lang_popularity.keys(),reverse=True)
sorted_keys

['R', 'Python', 'Java', 'GoLang', 'C']

In [71]:
for i in sorted_keys:
    print("Language -",i)

Language - R
Language - Python
Language - Java
Language - GoLang
Language - C

In [74]:
sorted_dict = {}
for i in sorted_keys:
    sorted_dict.update({i : lang_popularity[i]})
    print(sorted_dict)

{'R': 79}
{'R': 79, 'Python': 95}
{'R': 79, 'Python': 95, 'Java': 89}
{'R': 79, 'Python': 95, 'Java': 89, 'GoLang': 70}
{'R': 79, 'Python': 95, 'Java': 89, 'GoLang': 70, 'C': 75}

In [72]:
lang_popularity

{'Python': 95, 'Java': 89, 'C': 75, 'R': 79, 'GoLang': 70}

In [77]:
sorted_keys = sorted(lang_popularity.keys())

In [78]:
sorted_dict = {}
for i in sorted_keys:
    sorted_dict.update({i : lang_popularity[i]})
    print(sorted_dict)

{'C': 75}
{'C': 75, 'GoLang': 70}
{'C': 75, 'GoLang': 70, 'Java': 89}
{'C': 75, 'GoLang': 70, 'Java': 89, 'Python': 95}
{'C': 75, 'GoLang': 70, 'Java': 89, 'Python': 95, 'R': 79}