# Loop In Python
- We have two types of loop in python
- 1. For Loop
- 2. While Loop

# For Loop
- For loop works like an iterator(It is an object used to traverse over the iterable)
- Sequence ---> String, List, tuple, set, dict, range, arrays, dataframes
- Syntax :-

for variable_name in sequence:
    Statement-1
    Statement-2
    Statement-3
        .
        .
    Statement-n-1
    Statement-n
    
for index, item in enumerate(sequence):
    Statement-1
    Statement-2
    Statement-3
        .
        .
    Statement-n-1
    Statement-n

In [1]:
# Want to print the statement for 5 times
print("Python & Data Science")
print("Python & Data Science")
print("Python & Data Science")
print("Python & Data Science")
print("Python & Data Science")

Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science

In [2]:
# Want to print the statement for 10 times
print("Python & Data Science")
print("Python & Data Science")
print("Python & Data Science")
print("Python & Data Science")
print("Python & Data Science")
print("Python & Data Science")
print("Python & Data Science")
print("Python & Data Science")
print("Python & Data Science")
print("Python & Data Science")

Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
print(0)
print(1)
print(2)
print(3)
print(4)

0
1
2
3
4

In [5]:
for i in range(5): # 0,1,2,3,4
    print("Python & Data Science")

Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science

In [6]:
for i in range(10): # 0,1,2,3,4,5,6,7,8,9
    print("Python & Data Science")

Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science
Python & Data Science

## For loop on String

In [8]:
string = "Data Science"
len(string)
for char in string: # 12
    print(char)

D
a
t
a

S
c
i
e
n
c
e

In [9]:
string = "Data Science"
len(string) # 12
for char in range(len(string)): # 12 times
    print(char)

0
1
2
3
4
5
6
7
8
9
10
11

In [11]:
"Python"[0]

'P'

In [10]:
string = "Data Science"
len(string) # 12
for char in range(len(string)): # 12 times
    print(string[char])

D
a
t
a

S
c
i
e
n
c
e

In [13]:
string = "Python"
for char in string: # 6 times
    print("This is Data Science class",char)

This is Data Science class P
This is Data Science class y
This is Data Science class t
This is Data Science class h
This is Data Science class o
This is Data Science class n

In [14]:
string = "Python"
for index,char in enumerate(string): # 6 times
    print(index,char)

0 P
1 y
2 t
3 h
4 o
5 n

In [15]:
string = "Python"
for index,char in enumerate(string): # 6 times
    print(index,char,string[index])

0 P P
1 y y
2 t t
3 h h
4 o o
5 n n

In [16]:
string = "Python"
for index,char in enumerate(string): # 6 times
    print(f"The char on the index = {index} is {char}")

The char on the index = 0 is P
The char on the index = 1 is y
The char on the index = 2 is t
The char on the index = 3 is h
The char on the index = 4 is o
The char on the index = 5 is n

In [17]:
index

5

In [18]:
char

'n'

## For loop on List

In [20]:
li = [11,22,33,44,55]
for item in range(len(li)):
    print(item)

0
1
2
3
4

In [21]:
li[0]

11

In [22]:
li = [11,22,33,44,55]
for item in range(len(li)):
    print(li[item])

11
22
33
44
55

In [23]:
li = [11,22,33,44,55]
for item in li:
    print(item)

11
22
33
44
55

In [24]:
li = [11,22,33,44,55]
for index,item in enumerate(li):
    print(index,item)

0 11
1 22
2 33
3 44
4 55

In [25]:
li = [11,22,33,44,55]
for index,item in enumerate(li):
    print(index,item,li[index])

0 11 11
1 22 22
2 33 33
3 44 44
4 55 55

In [26]:
li = [11,22,33,44,55]
for index,item in enumerate(li):
    print(f"The item on the index = {index} is {item}")

The item on the index = 0 is 11
The item on the index = 1 is 22
The item on the index = 2 is 33
The item on the index = 3 is 44
The item on the index = 4 is 55

In [28]:
li = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML"]
for value in li:
    if type(value) == int:
        print(f"The value ({value}) is of int type")

The value (1) is of int type
The value (2) is of int type
The value (3) is of int type
The value (4) is of int type
The value (5) is of int type

In [2]:
li = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML"]
for value in li:
    if type(value) == int:
        print(f"The value ({value}) is of int type")
        
    elif type(value) == float:
        print(f"The value ({value}) is of float type")
    
    else:
        print(f"The value ({value}) is of string type")

The value (1) is of int type
The value (2) is of int type
The value (3) is of int type
The value (4) is of int type
The value (5) is of int type
The value (2.3) is of float type
The value (4.5) is of float type
The value (4.6) is of float type
The value (Python) is of string type
The value (DS) is of string type
The value (9.9) is of float type
The value (ML) is of string type

In [4]:
li = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML",999,888]
int_li = []
float_li = []
string_li = []
for value in li:
    if type(value) == int:
        int_li.append(value)
        
    elif type(value) == float:
        float_li.append(value)
    
    else:
        string_li.append(value)
        
        
print(f"Int list    = {int_li}")
print(f"Float list  = {float_li}")
print(f"String list = {string_li}")

Int list    = [1, 2, 3, 4, 5, 999, 888]
Float list  = [2.3, 4.5, 4.6, 9.9]
String list = ['Python', 'DS', 'ML']

In [5]:
li = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML",999,888]
int_li = []
float_li = []
string_li = []
for value in li:
    if type(value) == int:
        int_li.append(value)
        
    elif type(value) == float:
        float_li.append(value)
    
    else:
        string_li.append(value.lower())
        
        
print(f"Int list    = {int_li}")
print(f"Float list  = {float_li}")
print(f"String list = {string_li}")

Int list    = [1, 2, 3, 4, 5, 999, 888]
Float list  = [2.3, 4.5, 4.6, 9.9]
String list = ['python', 'ds', 'ml']

In [8]:
li = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML",999,888]
int_li = []
float_li = []
string_li = []
for value in li:
    if type(value) == int:
        int_li.append(value)
        
    elif type(value) == float:
        float_li.append(value)
    
    else:
        lower_str = value.lower()
        string_li.append(lower_str)
        
        
print(f"Int list    = {int_li}")
print(f"Float list  = {float_li}")
print(f"String list = {string_li}")

Int list    = [1, 2, 3, 4, 5, 999, 888]
Float list  = [2.3, 4.5, 4.6, 9.9]
String list = ['python', 'ds', 'ml']

In [10]:
li = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML",999,888]
int_li = []
float_li = []
string_li = []
int_cnt = 0
for value in li:
    if type(value) == int:
        int_li.append(value)
        int_cnt += 1
        
    elif type(value) == float:
        float_li.append(value)
    
    else:
        lower_str = value.lower()
        string_li.append(lower_str)
        
        
print(f"Int list    = {int_li},{int_cnt},{len(int_li)}")
print(f"Float list  = {float_li}")
print(f"String list = {string_li}")

Int list    = [1, 2, 3, 4, 5, 999, 888],7,7
Float list  = [2.3, 4.5, 4.6, 9.9]
String list = ['python', 'ds', 'ml']

#  Loop Control Statements
- Used for controlling the flow of the loop
1. break
2. continue
3. pass

### 1. break statement
- Used to exit the for loop.

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [14]:
for i in range(50):
    if i == 10:
        break
    print("i --------->",i)

i ---------> 0
i ---------> 1
i ---------> 2
i ---------> 3
i ---------> 4
i ---------> 5
i ---------> 6
i ---------> 7
i ---------> 8
i ---------> 9

In [16]:
for i in range(50):
    print("i --------->",i)
    if i == 10:
        break

i ---------> 0
i ---------> 1
i ---------> 2
i ---------> 3
i ---------> 4
i ---------> 5
i ---------> 6
i ---------> 7
i ---------> 8
i ---------> 9
i ---------> 10

In [21]:
print("Welome to PVR!")
order_qty = int(input("How many tickets u want ?"))
for i in range(1,order_qty+1):
    print(f"Congratulation!. Your order number = {i}, is confirmed...")
    
print("Enjoy your movie....")

Welome to PVR!
How many tickets u want ?10
Congratulation!. Your order number = 1, is confirmed...
Congratulation!. Your order number = 2, is confirmed...
Congratulation!. Your order number = 3, is confirmed...
Congratulation!. Your order number = 4, is confirmed...
Congratulation!. Your order number = 5, is confirmed...
Congratulation!. Your order number = 6, is confirmed...
Congratulation!. Your order number = 7, is confirmed...
Congratulation!. Your order number = 8, is confirmed...
Congratulation!. Your order number = 9, is confirmed...
Congratulation!. Your order number = 10, is confirmed...
Enjoy your movie....

In [22]:
print("Welome to PVR!")
order_qty = int(input("How many tickets u want ?"))
for i in range(1,order_qty+1):
    print(f"Congratulation!. Your order number = {i}, is confirmed...")
    
print("Enjoy your movie....")

Welome to PVR!
How many tickets u want ?5
Congratulation!. Your order number = 1, is confirmed...
Congratulation!. Your order number = 2, is confirmed...
Congratulation!. Your order number = 3, is confirmed...
Congratulation!. Your order number = 4, is confirmed...
Congratulation!. Your order number = 5, is confirmed...
Enjoy your movie....

In [23]:
print("Welome to PVR!")
order_qty = int(input("How many tickets u want ?"))
for i in range(1,order_qty+1):
    print(f"Congratulation!. Your order number = {i}, is confirmed...")
    
print("Enjoy your movie....")

Welome to PVR!
How many tickets u want ?50
Congratulation!. Your order number = 1, is confirmed...
Congratulation!. Your order number = 2, is confirmed...
Congratulation!. Your order number = 3, is confirmed...
Congratulation!. Your order number = 4, is confirmed...
Congratulation!. Your order number = 5, is confirmed...
Congratulation!. Your order number = 6, is confirmed...
Congratulation!. Your order number = 7, is confirmed...
Congratulation!. Your order number = 8, is confirmed...
Congratulation!. Your order number = 9, is confirmed...
Congratulation!. Your order number = 10, is confirmed...
Congratulation!. Your order number = 11, is confirmed...
Congratulation!. Your order number = 12, is confirmed...
Congratulation!. Your order number = 13, is confirmed...
Congratulation!. Your order number = 14, is confirmed...
Congratulation!. Your order number = 15, is confirmed...
Congratulation!. Your order number = 16, is confirmed...
Congratulation!. Your order number = 17, is confirmed...
Congratulation!. Your order number = 18, is confirmed...
Congratulation!. Your order number = 19, is confirmed...
Congratulation!. Your order number = 20, is confirmed...
Congratulation!. Your order number = 21, is confirmed...
Congratulation!. Your order number = 22, is confirmed...
Congratulation!. Your order number = 23, is confirmed...
Congratulation!. Your order number = 24, is confirmed...
Congratulation!. Your order number = 25, is confirmed...
Congratulation!. Your order number = 26, is confirmed...
Congratulation!. Your order number = 27, is confirmed...
Congratulation!. Your order number = 28, is confirmed...
Congratulation!. Your order number = 29, is confirmed...
Congratulation!. Your order number = 30, is confirmed...
Congratulation!. Your order number = 31, is confirmed...
Congratulation!. Your order number = 32, is confirmed...
Congratulation!. Your order number = 33, is confirmed...
Congratulation!. Your order number = 34, is confirmed...
Congratulation!. Your order number = 35, is confirmed...
Congratulation!. Your order number = 36, is confirmed...
Congratulation!. Your order number = 37, is confirmed...
Congratulation!. Your order number = 38, is confirmed...
Congratulation!. Your order number = 39, is confirmed...
Congratulation!. Your order number = 40, is confirmed...
Congratulation!. Your order number = 41, is confirmed...
Congratulation!. Your order number = 42, is confirmed...
Congratulation!. Your order number = 43, is confirmed...
Congratulation!. Your order number = 44, is confirmed...
Congratulation!. Your order number = 45, is confirmed...
Congratulation!. Your order number = 46, is confirmed...
Congratulation!. Your order number = 47, is confirmed...
Congratulation!. Your order number = 48, is confirmed...
Congratulation!. Your order number = 49, is confirmed...
Congratulation!. Your order number = 50, is confirmed...
Enjoy your movie....

In [25]:
print("Welome to PVR!")
order_qty = int(input("How many tickets u want ?"))
stock = 5
for i in range(1,order_qty+1):
    print(f"Congratulation!. Your order number = {i}, is confirmed...")
    if i == stock:
        break
    
print("Enjoy your movie....")

Welome to PVR!
How many tickets u want ?7
Congratulation!. Your order number = 1, is confirmed...
Congratulation!. Your order number = 2, is confirmed...
Congratulation!. Your order number = 3, is confirmed...
Congratulation!. Your order number = 4, is confirmed...
Congratulation!. Your order number = 5, is confirmed...
Enjoy your movie....

In [26]:
print("Welome to PVR!")
order_qty = int(input("How many tickets u want ?"))
stock = 5
for i in range(1,order_qty+1):
    print(f"Congratulation!. Your order number = {i}, is confirmed...")
    if i == stock:
        print("Sorry. Out of stock")
        break
    
print("Enjoy your movie....")

Welome to PVR!
How many tickets u want ?10
Congratulation!. Your order number = 1, is confirmed...
Congratulation!. Your order number = 2, is confirmed...
Congratulation!. Your order number = 3, is confirmed...
Congratulation!. Your order number = 4, is confirmed...
Congratulation!. Your order number = 5, is confirmed...
Sorry. Out of stock
Enjoy your movie....

In [27]:
li = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML"]
for value in li:
    if type(value) == int:
        print(f"The value ({value}) is of int type")
        
    elif type(value) == float:
        
        print(f"The value ({value}) is of float type")
    
    else:
        print(f"The value ({value}) is of string type")

The value (1) is of int type
The value (2) is of int type
The value (3) is of int type
The value (4) is of int type
The value (5) is of int type
The value (2.3) is of float type
The value (4.5) is of float type
The value (4.6) is of float type
The value (Python) is of string type
The value (DS) is of string type
The value (9.9) is of float type
The value (ML) is of string type

In [28]:
li = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML"]
for value in li:
    if type(value) == int:
        print(f"The value ({value}) is of int type")
        
    elif type(value) == float:
        break
    
    else:
        print(f"The value ({value}) is of string type")

The value (1) is of int type
The value (2) is of int type
The value (3) is of int type
The value (4) is of int type
The value (5) is of int type

In [29]:
li = [1,1.2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML"]
for value in li:
    if type(value) == int:
        print(f"The value ({value}) is of int type")
        
    elif type(value) == float:
        break
    
    else:
        print(f"The value ({value}) is of string type")

The value (1) is of int type

In [30]:
number_li = [1,2,6,9,6,90,8,7,9,6,77,443,5,6,78,56,4]
for number in number_li:
    print(number)

1
2
6
9
6
90
8
7
9
6
77
443
5
6
78
56
4

In [31]:
number_li = [1,2,6,9,6,90,8,7,9,6,77,443,5,6,78,56,4]
for number in number_li:
    if number > 100:
        break
    print(number)

1
2
6
9
6
90
8
7
9
6
77

### 2. continue
- Used to stop/skip the current iteration only.
- Continues with next statements

In [33]:
number_li = [1,2,6,9,6,90,8,7,9,6,77,443,5,6,78,56,4]
for number in number_li:
    if number > 75:
        break
    print(number)

1
2
6
9
6

In [35]:
number_li = [1,2,6,9,6,90,8,7,9,6,77,443,5,6,78,56,4]
for number in number_li:
    if number > 75: #78 = True
        continue
    print(number)

1
2
6
9
6
8
7
9
6
5
6
56
4

In [37]:
li = [1.1,2.2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML"]
for value in li:
    if type(value) == int:
        print(f"The value ({value}) is of int type")
        
    elif type(value) == float:
        continue
    
    else:
        print(f"The value ({value}) is of string type")

The value (3) is of int type
The value (4) is of int type
The value (5) is of int type
The value (Python) is of string type
The value (DS) is of string type
The value (ML) is of string type

In [39]:
li = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML"]
for value in li:
    if type(value) == int:
        print(f"The value ({value}) is of int type")
        
    else:
        continue

The value (1) is of int type
The value (2) is of int type
The value (3) is of int type
The value (4) is of int type
The value (5) is of int type

In [40]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [41]:
print("Welome to PVR!")
order_qty = int(input("How many tickets u want ?"))
lucky_number = 3
for i in range(1,order_qty+1):
    if i == lucky_number:
        print("Congratulations. You are the lucky customer today")
        continue
    print(f"Congratulation!. Your order number = {i}, is confirmed...")
    
print("Enjoy your movie....")

Welome to PVR!
How many tickets u want ?10
Congratulation!. Your order number = 1, is confirmed...
Congratulation!. Your order number = 2, is confirmed...
Congratulations. You are the lucky customer today
Congratulation!. Your order number = 4, is confirmed...
Congratulation!. Your order number = 5, is confirmed...
Congratulation!. Your order number = 6, is confirmed...
Congratulation!. Your order number = 7, is confirmed...
Congratulation!. Your order number = 8, is confirmed...
Congratulation!. Your order number = 9, is confirmed...
Congratulation!. Your order number = 10, is confirmed...
Enjoy your movie....

### 3. pass statement
- PlaceHolder

In [42]:
for i in range(5):
    print(i)
    pass

0
1
2
3
4

In [46]:
for i in range(5):
    pass
    print(i)
    pass

0
1
2
3
4

In [44]:
for i in range(5):
    print("Welcome to python")
    print(i)
#     pass

Welcome to python
0
Welcome to python
1
Welcome to python
2
Welcome to python
3
Welcome to python
4

In [45]:
for i in range(5):
    print("Welcome to python")
    print(i)
    print("Hi")

Welcome to python
0
Hi
Welcome to python
1
Hi
Welcome to python
2
Hi
Welcome to python
3
Hi
Welcome to python
4
Hi

In [49]:
for i in range(5):
    if i != 3:
        print(i)

0
1
2
4

In [50]:
for i in range(5):
    if i != 3:
        print(i)
    else:

SyntaxError: incomplete input (2980949836.py, line 4)

In [51]:
for i in range(5):
    if i != 3:
        print(i)
    else:
        pass

0
1
2
4

In [52]:
class Prduct1:

SyntaxError: incomplete input (2178781912.py, line 2)

In [58]:
class Product1:
    pass

In [59]:
p1 = Product1()

In [60]:
p1

In [67]:
class Product1:
    def welcome_page(self):
        
    
    def login_page(self):
        pass
    
    def get_loginID(self):
        pass
    
    def get_password(self):
        pass

IndentationError: expected an indented block after function definition on line 2 (1867518065.py, line 5)

In [68]:
class Product1:
    def welcome_page(self):
        pass
    
    def login_page(self):
        pass
    
    def get_loginID(self):
        pass
    
    def get_password(self):
        pass

In [69]:
p1 = Product1()

In [70]:
p1.get_loginID()
p1.get_password()
p1.welcome_page()
p1.login_page()

# for-else 
- Else block will execute only when the loop completes it all iterations.

In [71]:
for i in range(5):
    print(i)
print("All values printed")

0
1
2
3
4
All values printed

In [4]:
for i in range(5):
    if i == 3:
        break
        
    print(i)
print("All values printed")

0
1
2
All values printed

In [83]:
for i in range(5):
    if i == 3:
        break
        
    print(i)
    
else:
    print("All values printed")

0
1
2

In [2]:
for i in range(5):
    if i == 30:
        break
    print(i)
    
else:
    print("All values printed")

0
1
2
3
4
All values printed

In [85]:
for i in range(5):
        
    print(i)
print("All iterations completed")

0
1
2
3
4
All iterations completed

In [86]:
for i in range(5):
    if i == 3:
        break
    print(i)
print("All iterations completed")

0
1
2
All iterations completed

In [6]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print("All iterations completed")

0
1
2

In [89]:
int(input())

90

90

In [97]:
number = 123
c_n = number % 10
print(c_n)
number // 10

3

12

In [102]:
List=[1,2,3,7,5,7,6,7]
for i in List:
  if i==7: continue
  print(f"element{i}=index{List.index(i)}")