In [1]:
for i in range(10): # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
    print(f"i = {i}")

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9

In [3]:
str1 = "python and data science"
for i in range(5):             # 0, 1, 2, 3, 4
    print(str1)

python and data science
python and data science
python and data science
python and data science
python and data science

In [9]:
# loop throgh a string
string = "python and data science"
print("length of the string is: ",len(string))
for i in string: # while looping through string it will iterate char by char and print it on a next line
    print(i)

length of the string is:  23
p
y
t
h
o
n

a
n
d

d
a
t
a

s
c
i
e
n
c
e

In [12]:
string1 = "Python and data science"

for item in range(len(string1)): # we can use this length of string1 numbers as a index of that characters
    print(item)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [11]:
# accesign items through range function

string = "Python and data science"

for item in range(len(string)):
    print(string[item])

P
y
t
h
o
n

a
n
d

d
a
t
a

s
c
i
e
n
c
e

In [17]:
str2 = "Python"

for index,item in enumerate(str2):
    print(f"{index} = {item}")

0 = P
1 = y
2 = t
3 = h
4 = o
5 = n

# Loop control statement

### break
### continue
### pass

In [30]:
li = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML",999,888]
for item in li:
    
    if item == 4:
        continue
    elif item == "Python":
        break
    else:
        pass
    
    print(item)

1
2
3
5
2.3
4.5
4.6

## continue 
- This statement will skip the current value or item and continue the flow of for loop

In [34]:
conti = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML",999,888]

for i in conti:
    if i == "Python":
        continue    # this statement has skiped the current value "python"
    print(i,end=" ")

1 2 3 4 5 2.3 4.5 4.6 DS 9.9 ML 999 888

## break
- This statement will completely break the flow of for loop

In [39]:
break_flow = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML",999,888]

for item in break_flow:
    if item == "DS":
        break    # as he encounter the item he breaks the flow of list
    print(item, end=" ")

1 2 3 4 5 2.3 4.5 4.6 Python

## pass
- This statement is use for to avoides the error from the unwnted written block or just to leave a space for future references
- when coder desides not to write in  a perticular block of statement in that case he can use pass statement. this will written no  error

In [40]:
pass_flow = [1,2,3,4,5,2.3,4.5,4.6,"Python","DS",9.9,"ML",999,888]
for jetm in pass_flow:
    pass

# for-else
- Else block will execute only when the loop completes it all iterations.

In [61]:
for i in range(5):
    if i == 3:
        break
        
    print(i)
print("All values printed")

0
1
2
All values printed

In [51]:
for i in range(5):
    if i == 3:
        
        break
        
    print(i)
    
else:
    print("All conditions has been satisfied")

0
1
2

In [59]:
for i in range(5):
    if i == 30:
        
        break
        
    print(i)
    
else:
    print("All conditions has been satisfied")

0
1
2
3
4
All conditions has been satisfied

3 2 1

In [73]:
number = 31
r_1 = number % 10
print(r_1)

1

In [75]:
num = 13

TypeError: 'int' object is not subscriptable

Please provide the number to be reversed: 32
230

In [83]:
31 % 10

1

In [84]:
(0 * 10) + 1

1

In [86]:
31 // 10

3

0

2
51
2 2 51